.km-close-modal-wrapper {
    position: absolute;
    top: -30px;
    right: 0px;
}
.km-modal-close-text {
    text-transform: uppercase;
    color: #FFF;
    font-size: 12px;
}
.km-modal-close-icon {
    vertical-align: middle;
    margin-top: -1px;
    color: #FFF;
    height: 17px;
}
.km-close-modal-wrapper:hover {
    cursor: pointer;
}
