a {
    background-color: transparent;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: initial;
}
.list-inline {
    margin-left: -5px;
}
.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
#tab-chat {
    height: 100%;
}
#chat {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.applozic-chat-container {
    height: 100%;
}
span.km-contact-search-tab img {
    width: 36px;
    height: 36px;
}
/*  .km-container {
                    left: 200px !important;
                    right: 200px !important;
                    top: 100px !important;
                } */

#cust-info {
    color: black;
    background: whitesmoke;
    right: 0;
    width: 240px;
    margin-top: 20px;
    float: right;
    height: inherit;
}
.km-group-detail-box,
.km-user-detail-box {
    padding: 10px 10px 0;
    position: relative;
    background-color: #F0F0F0;
    margin: 0;
}
.km-group-info-tab .km-box-body,
.km-user-info-tab .km-box-body {
    background-color: #F0F0F0;
    display: block;
    height: auto;
}
.km-group-info-tab .km-box-top .blk-lg-10,
.km-group-create-tab .km-box-top .blk-lg-10,
.km-user-info-tab .km-box-top .blk-lg-10 {
    width: 250px;
}
.km-title-wrapper {
    position: fixed;
    background-color: #fff;
    z-index: 1;
    width: 100%;
}
.km-user-name-sec .km-user-title {
    vertical-align: middle;
    line-height: 29px;
    height: 29px;
    text-align: left;
    font-weight: normal;
    font-size: 14px;
    border-top-right-radius: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: 0.5px;
    color: #5a5858;
    font-family: 'OpenSans', sans-serif;
}
.km-user-name-sec a {
    border-left: 1px solid #ddd;
    line-height: 35px;
}
.km-user-name-sec a.vis {
    display: initial !important;
}
.km-user-info-tab .km-box-top .blk-lg-2,
.km-user-create-tab .km-box-top .blk-lg-2 {
    width: 29px;
}
.km-user-info-tab .km-box-top .blk-lg-10,
.km-user-create-tab .km-box-top .blk-lg-10 {
    width: 250px;
}
.km-user-detail-box {
    padding: 10px 10px 0;
    position: relative;
    background-color: #F0F0F0;
    margin: 0;
    display: flex;
}
.km-user-sub-sec {
    padding: 10px 0;
    position: relative;
    vertical-align: baseline;
    outline: none;
}
.km-user-icon-sec {
    /* padding-bottom: 10px; */
    width: 25%
}
.km-user-info-list li {
    float: left;
    width: 100%;
    background-color: white;
    padding: 4px;
    border-bottom: 1px solid whitesmoke;
    min-height: 32px;
}
.km-user-icon-sec .km-user-icon {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
.km-user-icon-box img {
    /* width: 100%; */
    /* height: 100%; */
    overflow: hidden;
    height: 53px;
    width: 53px;
    border-radius: 110px;
}
.km-user-info-inner {
    padding-left: 16px;
    padding-right: 15px;
    padding-top: 12px;
}
.km-customer-title-panel{
    background-color: #d8d8d8;
    font-size: 12px;
    letter-spacing: 0.4px;
    text-align: left;
    color: #5a5858;
    padding-left: 13px;
    font-family: 'OpenSans', sans-serif;
}
.km-clearbit-title-panel {
    background-color: #d8d8d8;
    font-size: 12px;
    letter-spacing: 0.4px;
    text-align: left;
    color: #5a5858;
    padding-left: 13px;
    font-family: 'OpenSans', sans-serif;
}
.km-sidebar-info-panel {
    background-color: #d8d8d8;
    font-size: 12px;
    letter-spacing: 0.4px;
    text-align: left;
    color: #5a5858;
    padding-left: 13px;
    font-family: 'OpenSans', sans-serif;
}
.km-clearbit-user-full-name {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.6px;
    text-align: left;
    color: #5a5858;
    margin-bottom: 0;
}
.km-clearbit-user-bio {
    font-size: 12px;
    letter-spacing: 0.4px;
    text-align: left;
    color: #7a7777;
    margin-bottom: 0;
}
.km-clearbit-user-data {
    font-size: 12px;
    letter-spacing: 0.4px;
    text-align: left;
    color: #898686;
    margin-bottom: 0;
}
.km-clearbit-user-industry {
    font-size: 12px;
    letter-spacing: 0.4px;
    color: #5a5858;
}
.clearbit-industry-details {
    font-size: 12px !important;
    letter-spacing: 0.4px !important;
    text-align: left !important;
    color: #898686 !important;
    margin-right: 22px !important;
}
.km-clearbit-logo-wrapper {
    display: flex
}
.km-clearbit-location-icon {
    width: 11px;
    height: 11px;
    margin-top: 5px;
    margin-right: 7px;
    margin-bottom: 5px;
}
.km-clearbit-domain-icon {
    width: 11px;
    height: 11px;
    margin-top: 5px;
    margin-right: 7px;
    margin-bottom: 5px;
}
.km-clearbit-user-domain{
    margin-bottom: 0;
}
.km-clearbit-logo-wrapper > #domain-link {
    text-decoration: none;
}
.km-clearbit-logo-wrapper > a:hover {
    color:none !important;
}
.km-clearbit-divider{
    margin-bottom: 15px;
    margin-top: 15px;
    height: 2px;
    border: solid 1px #cecece;
}
.km-clearbit-company-description-wrapper{
    padding-top: 16px;
}
.km-clearbit-user-social-info-wrapper {
    display: flex;
    margin-bottom: 17px;
}
.km-clearbit-user-domain-location-wrapper {
    margin-top: 10px
}
.km-cl-icon {
    height: 32px;
    width: 32px;
}
.km-cl-icon-wrapper {
    margin-left: 10px
}
.km-clearbit-social-icon {
    height: 32px;
    width: 32px;
}
.km-user-icon-box {
    position: relative;
    /* width: 120px; */
    height: 95px;
    /* height: 120px; */
    /* border-radius: 50%; */
    overflow: hidden;
    margin: 0 auto;
    vertical-align: baseline;
    outline: none;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.km-nav-panel .km-nav-link,
.km-nav-panel .km-nav-link.active {
    padding-left: 8px !important;
    padding-right: 8px !important;
}
#km-user-info-tab .km-alpha-contact-image {
    border-radius: 110px;
}
#km-user-info-tab .km-alpha-contact-image {
    height: 53px;
    width: 53px;
    max-width: 110px;
    margin-right: 0;
    line-height: 110px !important;
    font-size: 25px !important;
}
#km-user-info-tab .km-alpha-contact-image .km-contact-icon {
    font-weight: bold;
    vertical-align: middle;
    height: 110px;
    line-height: 53px;
    display: block;
}
ul#km-contact-search-list li,
ul#km-group-search-list li {
    padding: 12px 15px;
    background: white;
    border-bottom: 1px solid #F3F3F3 !important;
    cursor: pointer;
}
#km-contact-search-input-box,
#km-group-search-input-box,
#km-assigned-search-input-box {
    padding-left: 8px;
}
.km-nav-tab{
       font-size: 16px !important;
        color: #434e54 !important;
    }
.km-li-nav-tab{
    color: #28343a;
    padding: 2px;
    text-decoration: none !important;
    }
.km-form-group {
    margin-bottom: 0px;
    float: left;
    border-bottom: 1px solid #F3F3F3 !important;
    height: 40px;
}
/*
.km-container .left .km-box-top [class*="blk-"] {
  line-height: 47px !important;
}*/
#km-visitors-cell .km-contact-search-tab img {
    float: left;
    width: 43px;
    height: 43px;
    margin-right: 12px;
    border: 1px solid #ddd;
    border-radius: 50%;
}
/*#km-group-search-list .km-contact-search-tab {
          color: #444 !important;
          border-radius: 0;
          border-bottom: 1px solid #F3F3F3 !important;
          line-height: 18px;
          padding: 5px;
          background-color: #fff !important;
          text-decoration: none;
        }*/

#km-toolbar {
    padding: 0 10px;
    min-height: 49px;
    text-align: left;
    border-bottom: 1px solid #F3F3F3;
}

#km-toolbar .form-group {
  margin-bottom: 0;
  margin-top: 8px;
}

#km-toolbar .row {
  align-items: baseline;
}


#kommunicate-panel-tabs li.active {
  background: white;
}

.km-message-inner-left .km-box-top{
  background: whitesmoke;
}

/*
.conversation-section {
  background-image: url('/applozic/images/chat-bg.png');
}*/

#km-message-cell {
    background-image: url('/applozic/images/chat-bg-horizontal.png');
    margin: 0;
    padding: 0;
    background-size: 500px 600px;
  /*  opacity: 0.5; */
}

.km-container .right .bubble.km-msg-left .km-msg-box {
  background-color: whitesmoke;
}

.km-msg-center .km-msg-box {
    background: whitesmoke;
}

#takeover-from-bot {
    display: none;
}
/* #km-user-info-list a{
    position: relative;
    padding: 10px 15px;
    display: initial;
} */



/* css for tab , reply, integration, modal  */
.inteagration-forward-text {
	font-size: 14px;
	letter-spacing: 0.5px;
    color: #969699;
    margin-right: 5px;
}
.km-sidebox-tab-reply {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.4px;
    color: #808081;
    cursor: pointer;
    padding: 1px;
}
.km-sidebox-forward-tab-integration{
    margin-left: 20px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.4px;
    color: #808081;
    cursor: pointer;
    padding: 1px;
}
.km-sidebox-tab{
    border-bottom: 1px solid #dbd7d7;
    /* margin-bottom: 14px; */
}
.active-tab-integration{
    color: #5c5aa7;
    border-bottom: 2px solid #5c5aa7;
}
.active-tab-reply{
    color: #5c5aa7;
    border-bottom: 2px solid #5c5aa7;
}
.km-fullview-integration-logo{
    height: 9px;
    margin-right: 8px;
    margin-bottom: 3px;
}

.conversation-integration-modal-title {
    font-family: 'OpenSans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.3px;
    color: #6c6a6a;
    padding-bottom: 10px;
}
.integration-conversation-title {
    font-size: 14px;
    letter-spacing: 1.1px;
    color: #7d7f81;
}
.conversation-integration-description-logo {
    margin-right: 25px;
    margin-left: 4px;
}
.conversation-integration-title-divider {
    margin-right: -1.2rem;
    margin-left: -1.2rem;
    height: 1px;
    opacity: 0.36;
    background-color: #d8d8d8;
    border: 1px solid #a5b0bd;
    margin-bottom: 52px;
}
.integration-conversation-note{
    font-size: 14px; 
    letter-spacing: 1.1px;
    color: #7d7f81;
}
.integration-conversation-note-msg-text-area{
    opacity: 0.63;
    border-radius: 4px;
    border: solid 1px #9cb3de;
    margin-left: 58px;
    padding: 8px;
}
.integration-conversation-note-wrapper {
    display: flex;
}
.integration-conversation-title-input {
    width: 400px;
    height: 35px;
    opacity: 0.63;
    border-radius: 4px;
    border: 1px solid #9cb3de;
    margin-left: 7px;
    padding: 8px;
}
.create-ticket-btn-wrapper {
    margin-top: 81px;
    text-align: right;
}
.km-sidebox-third-party-integration{
    margin-top: 11px;
    margin-bottom: 2px;
}
.km-write-box {
    margin-top: 7px;
}
.km-sidebar-display-name {
  font-size: 14px;  
  letter-spacing: 0.5px;
  text-align: left;
  text-align: center;
}
.km-user-info-metadata-wrapper{
    display: flex;
    padding: 8px 14px 5px 14px;
    flex-direction: column;
}
.km-user-info-meatadata-value-wrapper {
    margin-left: 20px;
}
.km-user-info-metadata{
    margin-bottom: 0 !important;
    padding-bottom: 2px;
}

