a {
    background-color: transparent;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: initial;
}
.list-inline {
    margin-left: -5px;
}
.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
#tab-chat {
    height: 100%;
}
#chat {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.applozic-chat-container {
    height: 100%;
}
span.mck-contact-search-tab img {
    width: 36px;
    height: 36px;
}
/*  .mck-container {
                    left: 200px !important;
                    right: 200px !important;
                    top: 100px !important;
                } */

#cust-info {
    color: black;
    background: whitesmoke;
    right: 0;
    width: 240px;
    margin-top: 20px;
    float: right;
    height: inherit;
}
.mck-group-detail-box,
.mck-user-detail-box {
    padding: 10px 10px 0;
    position: relative;
    background-color: #F0F0F0;
    margin: 0;
}
.mck-group-info-tab .mck-box-body,
.mck-user-info-tab .mck-box-body {
    background-color: #F0F0F0;
}
.mck-group-info-tab .mck-box-top .blk-lg-10,
.mck-group-create-tab .mck-box-top .blk-lg-10,
.mck-user-info-tab .mck-box-top .blk-lg-10 {
    width: 250px;
}
.mck-user-name-sec .mck-user-title {
    vertical-align: middle;
    line-height: 29px;
    height: 29px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    border-top-right-radius: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.mck-user-name-sec a {
    border-left: 1px solid #ddd;
    line-height: 35px;
}
.mck-user-name-sec a.vis {
    display: initial !important;
}
.mck-user-info-tab .mck-box-top .blk-lg-2,
.mck-user-create-tab .mck-box-top .blk-lg-2 {
    width: 29px;
}
.mck-user-info-tab .mck-box-top .blk-lg-10,
.mck-user-create-tab .mck-box-top .blk-lg-10 {
    width: 250px;
}
.mck-user-detail-box {
    padding: 10px 10px 0;
    position: relative;
    background-color: #F0F0F0;
    margin: 0;
}
.mck-user-sub-sec {
    padding: 10px 0;
    position: relative;
    vertical-align: baseline;
    outline: none;
}
.mck-user-icon-sec {
    padding-bottom: 10px;
}
.mck-user-info-list li {
    float: left;
    width: 100%;
    background-color: white;
    padding: 4px;
    border-bottom: 1px solid whitesmoke;
    min-height: 32px;
}
.mck-user-icon-sec .mck-user-icon {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
.mck-user-icon-box img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.mck-user-icon-box {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    vertical-align: baseline;
    outline: none;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.mck-nav-panel .mck-nav-link,
.mck-nav-panel .mck-nav-link.active {
    padding-left: 8px !important;
    padding-right: 8px !important;
}
#mck-user-info-tab .mck-alpha-contact-image {
    border-radius: 110px;
}
#mck-user-info-tab .mck-alpha-contact-image {
    height: 110px;
    width: 110px;
    max-width: 110px;
    margin-right: 0;
    line-height: 110px !important;
    font-size: 25px !important;
}
#mck-user-info-tab .mck-alpha-contact-image .mck-contact-icon {
    font-weight: bold;
    vertical-align: middle;
    height: 110px;
    line-height: 110px;
    display: block;
}
ul#mck-contact-search-list li,
ul#mck-group-search-list li {
    padding: 12px 15px;
    background: white;
    border-bottom: 1px solid #F3F3F3 !important;
    cursor: pointer;
}
#mck-contact-search-input-box,
#mck-group-search-input-box,
#mck-assigned-search-input-box {
    padding-left: 8px;
}
.mck-form-group {
    margin-bottom: 0px;
    float: left;
    border-bottom: 1px solid #F3F3F3 !important;
    height: 40px;
}
/*
.mck-container .left .mck-box-top [class*="blk-"] {
  line-height: 47px !important;
}*/
#mck-visitors-cell .mck-contact-search-tab img {
    float: left;
    width: 43px;
    height: 43px;
    margin-right: 12px;
    border: 1px solid #ddd;
    border-radius: 50%;
}
/*#mck-group-search-list .mck-contact-search-tab {
          color: #444 !important;
          border-radius: 0;
          border-bottom: 1px solid #F3F3F3 !important;
          line-height: 18px;
          padding: 5px;
          background-color: #fff !important;
          text-decoration: none;
        }*/

#km-toolbar {
    padding: 0 10px;
    min-height: 49px;
    text-align: left;
    border-bottom: 1px solid #F3F3F3;
}

#km-toolbar .form-group {
  margin-bottom: 0;
  margin-top: 8px;
}

#km-toolbar .row {
  align-items: baseline;
}


#kommunicate-panel-tabs li.active {
  background: white;
}

.mck-nav-tab{
    font-size: 16px !important;
    color: #434e54 !important;
}
.li-nav-tab{
    color: #28343a;
    padding: 2px;
    text-decoration: none !important;
}

.mck-message-inner-left .mck-box-top{
  background: whitesmoke;
}

/*
.conversation-section {
  background-image: url('/applozic/images/chat-bg.png');
}*/

#mck-message-cell {
    background-image: url('/applozic/images/chat-bg-horizontal.png');
    margin: 0;
    padding: 0;
    background-size: 500px 600px;
  /*  opacity: 0.5; */
}

.mck-container .right .bubble.mck-msg-left .mck-msg-box {
  background-color: whitesmoke;
}

.mck-msg-center .mck-msg-box {
    background: whitesmoke;
}
