.km-sidemodal {
	
	line-height: 18px;
	min-width: 360px;
	right: 0px !important;
	left: auto !important;
	margin: 0px !important;
	border: 0px !important;
	z-index: 22435000 !important;
	box-shadow: none !important;
	border-radius: 0px !important;
	height: 420px !important;
	top: auto;
	bottom: 0 !important
}
.km-sidemodal .km-modal-dialog {
	margin: 0;
	
	transform: translate3d(0, 0, 0);
	position: absolute;
	bottom:10px;
	right: 0;
	left: auto;
	width: 300px;
}
.km-modal-color{
	color:white;
}
.km-modal-title{
	margin-left:20px;
}
.km-sidemodal .km-modal-content {
	border: 0;
	display: table;
	/* width: 100%; */
	right: 0;
	bottom: 0;
	height: 100%;
	border-spacing: 0;
	outline: 0;
	table-layout: fixed;
	box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 8px 17px rgba(0, 0, 0, 0.2);
	border-radius: 0;
	position: relative;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}
.km-modal-header {
	padding: 0 15px 0 15px;
	border-bottom: none;
	width: 330px;
	height: 63.7px;
	border-radius: 8px;
	background-color: #5c5aa7;
  
}
.km-modal-body .km-modal-error {
	background-color: #FFDFDF;
	color: #885E5E;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #FFCFCF;
	font-size: 12px !important;
	text-align: center;
}
.km-modal-body .km-modal-success, .km-modal-response {
	background-color: #FFFFFF;
	color: #3c763d;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #BFE0EC;
	font-size: 12px !important;
	text-align: center;
}
.km-modal input, .km-modal textarea, .km-modal select {
	height: 36px;
	border-radius: 3px;
	border: solid 1px #a1a1a1;
}
.km-first-input{
	margin:36px;
}

.km-modal textarea {
	resize: none;
}

.km-modal-body  a:hover {
	color: #11505d;
	text-decoration: underline;
}
.km-modal .km-section-title {
	width: 249px;
	height: 57px;
	font-family: Roboto;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.8px;
	text-align: center;
	color: #565658;
	margin-top: 48px;
	margin-bottom: 36px;
}
.km-start-conversation{
	width: 100%;
	height: 40px;
	border-radius: 26px;
	background-color: #5c5aa7;
	margin-top: 45px;
	color:white;
}
#km-form-chat-login{
	margin:15px;
}
.km-modal-span{
	margin-left: 32px;
    width: 249px;
    height: 57px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.8px;
    text-align: center;
    color: #565658;
}

.km-modal-backdrop {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	background-color: #000
}.km-modal {
	margin-left: 5px;
	margin-right: 5px;
	font-size: 12px;
	line-height: 18px;
	border: solid 1px #333;
	vertical-align: middle;
	text-align: left;
	box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.5);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #333;
	border: 0 !important;
}.km-modal-body {
	position: relative;
	padding: 15px;
	width: 330px;
	height: 492px;
	background-color: #ffffff;
	box-shadow: 2px 2px 5px 2px rgba(49, 48, 48, 0.5);
}.km-form-control {
	display: block;
	margin-bottom: 15px;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}
#km-chat-login-modal{
	bottom:0 !important;
	top: auto !important;
	position: fixed;
	display: none;
	margin-right: 118PX!important;
}