


.km-typing-wrapper{
    background: #e6e5ec;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 10px 10px 3px;
    margin: 1px 1px 10px 61px;
    height: 25px;
	width: 62px;
}

.km-typing-indicator{
	width: 8px;
    height: 8px;
    background: #777;
    display: inline-block;
    border-radius: 50%;
	margin-left: 10px;
}

.km-typing-indicator {
  animation-name: km-typing-anim;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.km-typing-indicator:nth-child(2){
      animation-delay: .2s;

}
.km-typing-indicator:nth-child(3){
      animation-delay: .4s;

}

@keyframes km-typing-anim{
  0%{
	background:rgb(221, 221, 221);
	transform:scale(1);
  }
  50%{
  background:black;
  transform:scale(1.4);

}
    100%{
	background:rgb(221, 221, 221);
	transform:scale(1);

  }
}