---
layout:
---
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="growth calculator, startup growth calculator, calculate growth rate,  monthly recurring revenue, mrr calculator, mrr projections, revenue projections, week on week revenue, month on month growth">
    <meta name="description" content="This Startup Growth Calculator tool helps you project your revenue growth based on your current monthly recurring revenue and growth rate.">
    <meta name="og:description" content="This Startup Growth Calculator tool helps you project your revenue growth based on your current monthly recurring revenue and growth rate.">
    <meta name="author" content="">
    <meta http-equiv=”content-language” content=”en-us”>
    <meta property="og:title" content="Startup Growth Rate Calculator by Kommunicate" />
    <meta property="og:image" content="/assets/resources/images/Kommunicate.jpg" />

    <title>Startup Growth Rate Calculator by Kommunicate</title>

    {% include homepage-ab-2-headtag.html %}

</head>

<body id="page-top">
    {% include homepage-ab-2-nav-header.html %}
    {% include_relative /sections/growth-calculator-body.html %}
    {% include homepage-growth-footer.html %}


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <script type="text/javascript" src="/assets/resources/js/main-homepage.js"></script>
    <script type="text/javascript" src="/assets/resources/js/growth-calculator.js"></script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5bb21f3024399359"></script>
    ​<script type="text/javascript">
        var addthis_config = addthis_config || {};
        addthis_config.data_track_addressbar = false;
        addthis_config.data_track_clickback = false;
    </script>


</body>

</html>