
.km-demo-chat-box {
    position: relative;
    width: 368px;
    height: auto;
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow: 2px 3px 10px 2px rgba(139, 133, 133, 0.5);
    margin-bottom: 69px;
    padding-bottom: 20px;
    max-height: 500px;
    min-height: 445px;
}

.km-chat-box-header {
    width: 100%;
    height: 60px;
    border-radius: 8px 8px 0 0;
    display: flex;
    align-items: center;
    color: #fff;
}

.km-chat-box-img {
    display: inline-block;
    margin-left: 15px;
}

.km-chat-box-img img {
    height: 40px;
    width: 40px;
}

.chat-backarrow {
    height: 3px;
    display: block;
    width: 20px;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: right;
}

.km-chat-box-back-button {
    position: relative;
    width: 38px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.km-chat-box-name {
    height: 16px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.6px;
    align-self: flex-start;
    margin: 12px 0 0 10px;
}

.km-chat-box-status {
    height: 16px;
    font-size: 14px;
    letter-spacing: 0.8px;
    color: #f1eded;
    font-weight: 300;
    margin-top: -6px;
}

.km-chat-box-close {
    width: 38%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-self: flex-end;
}

.km-chat-box-converstaions {
    padding-top: 28px;
}

.km-message-left {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.km-conversation-img img {
    width: 30px;
    height: 30px;
    margin-left: 30px;
}

.km-conversation-img {
    align-self: flex-start;
}

.km-conversation-content {
    max-width: 236px;
    border-radius: 5px;
    background-color: #e6e5ec;
    padding: 12px;
    margin-left: 10px;
    font-size: 14px;
    line-height: 1.36;
    letter-spacing: 0.5px;
    color: #646262;
}

.km-message-right {
    margin-bottom: 10px;
    margin-left: 102px;
}

.km-message-right .km-conversation-content {
    color: #fff;
}

.km-chat-icon {
    position: absolute;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    float: right;
    bottom: -69px;
    box-shadow: 0 2px 5px 1px rgba(107, 104, 104, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    right: 0;
}

.km-chat-icon-img img {
    margin-top: 0px;
    width: auto;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    vertical-align: middle;
    border-style: none;
    object-fit: contain;
}

.km-chat-icon svg {
    /* height: 30px; */
    width: 28px;
}
.away-message--demo-wrapper{
    width: 90%;
    margin: 90px auto 0;
    text-align: center;
    color: #9b9b9b;
}
.live-chat-demo-textbox{
    width: 90%;
    border: 1px solid #ddd;
    border-radius: 6px;
    margin: 0 auto;
    padding: 12px 8px;
    display: flex;
    margin-top: 32px;
    align-items: flex-start;
    justify-content: flex-end;
}
