body {
    font-family: 'Roboto', sans-serif;
}
.integration-description-title {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.3px;
    text-align: left;
    color: #6c6a6a;
    padding-bottom: 10px;
}
.integration-description-logo{
    margin-right: 25px;
    margin-left: 4px;
}
.title-divider {
    margin-right: -1.2rem;
    margin-left: -1.2rem;
    height: 1px;
    opacity: 0.36;
    background-color: #d8d8d8;
    border: 1px solid #a5b0bd;
}
.integration-instructions {
    font-size: 12px;
    color: #8f8b8b;
    letter-spacing: 1px;
    margin: 0;
}
.instructions-title {
    font-size: 12px;
    color: #8f8b8b;
    letter-spacing: 1px;
}
.integration-instruction-set {
    margin-top: 14px;
    margin-left: 24px;
}
.token-title{
    font-size: 12px;
    color: #7d7f81;
    font-weight: 600;
    letter-spacing: 1px;
}
.integration-save-btn{
    margin-left: 380px;
    padding-right: 16px;
    
}
.integration-save-delete-wrapper {
    margin-left: 4px;
    margin-top: 120px;
    /* position: absolute; */
    bottom: 0;
    display: flex;
    align-items: flex-end;
    
}
.token-input-wrapper {
    margin-left: 24px;
    margin-top: 51px;
}
.integration-token-input {
    width: 238px;
    height: 35px;
    opacity: 0.63;
    border-radius: 4px;
    border: solid 1px #9cb3de;
    margin-left: 18px;
    margin-bottom: 120px;
    padding: 8px;
}
.zendesk-token-input-wrapper {
    margin-left: 24px;
}
.zendesk-integration-save-delete-wrapper {
    margin-left: 4px;
    margin-top: 20px;
    display: flex;
    align-items: flex-end;
}
.zendesk-integration-save-btn {
    margin-left: 418px;
    padding-right: 16px;
}
.zendesk-email-input {
    width: 238px;
    height: 35px;
    opacity: 0.63;
    border-radius: 4px;
    border: solid 1px #9cb3de;
    margin-left: 68px;
    padding: 8px;
}
.zendesk-access-token-input{
    width: 238px;
    height: 35px;
    opacity: 0.63;
    border-radius: 4px;
    border: solid 1px #9cb3de;
    margin-left: 18px;
    padding: 8px;
}
.zendesk-subdoamin-input{
    width: 238px;
    height: 35px;
    opacity: 0.63;
    border-radius: 4px;
    border: solid 1px #9cb3de;
    margin-left: 2px;
    padding: 8px;
}
.zendesk-domain {
    font-size: 12px;
    color: #8f8b8b ;
    letter-spacing: 1px ;
    font-weight: 400;
}
.zendesk-domain-https {
    margin-left: 35px;
    font-size: 12px;
    color: #8f8b8b ;
    letter-spacing: 1px ;
    font-weight: 400;

}
.delete-confirmation-wrapper{
    margin-left: 4px;
    margin-top: 20px;
    display: flex;
    
}
.delete-question{
    padding-top: 8px;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0.8px;
    text-align: left;
    color: #6a6666;
}
.yes-or-no-btn-wrapper{
    margin-left: 51px;
    padding-right: 16px;
}
.no-integration-btn{
    margin-left: 12px
}
.integration-api-support{
    font-size: 14px;
    color: #8f8b8b;
    letter-spacing: 1px;
    margin: 0;
}
.integration-api-support-link{
    color: #8f8b8b;
    font-weight: 500;
    text-decoration: none !important;
}
.integration-api-support-link {
    color: #8f8b8b !important;
}