.dashboard-card {
  border-radius: 4px;
  border: solid 1px #e1dbdb;
  background-color: #ffffff;
  
  /* padding: 0px 20px 20px; */
}
.dashboard-card .row {
    margin: 0;
}
.dashboard-card div[class^="col-"] {
    padding: 0;
}
.graph-card {
    padding: 20px;
}
.card-main-header {
    color: black;
    background: #CCE7F8;
    display: inline-block;
    width: auto;
    padding: 2px 10px 2px 10px;
    margin: 10px auto 0 10px;
}
.card-main-title {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #696b6b;
    margin-bottom: 10px;
}
.filter-dropdown-wrapper {
    border-bottom: solid 1px #e1dbdb;
    height: 45px;
    padding-top: 4px;
    padding-left: 5px;
}
.filter-dropdown-wrapper .Select-control {
    width: 67% !important;
}

.card-count-title {
  font-size: 18px;
  letter-spacing: 0.7px;
  text-align: left;
  color: #8b8b8e;
}
.card-count {
  font-size: 20x;
  font-weight: 500;
  letter-spacing: 0.8px;
  text-align: left;
  color: #505154;
}
.card-stats-value {
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.9px;
    color: #5c5aa7;
}
.card-sub-title {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #9da2a2;
}
.card-stats {
    background-color: #fff;
    position: relative;
    transition: all .2s ease-in-out;
}
.card-stats:hover {
    background-color: #fbfbfb;
    cursor: pointer;
}
/* .card-stats.active {
    border-top: 3px solid #5c5aa7;
}
.card-stats.active .card-main-title,   .card-stats.active .card-stats-value {
    font-weight: 500;
} */
.card-stats.card-stats--users {
    border-top-left-radius: 4px;
}
.card-stats.card-stats--mau {
    border-top-right-radius: 0px;
}
.card-stats.card-stats--messages {
    border-top-right-radius: 4px;
}
.vertical-line {
    position: absolute;
    width: 1px;
    height: 80%;
    top: 9%;
    right: 0;
    background-color: #cfcaca;
}
.card-block {
    padding: 13px;
}

.card-stats-month {
    margin: 0;
    padding: 1px 8px;
    border-radius: 3px;
    background-color: #CCE7F8;
    color: #3a3a3a;
    display: inline-block;
    margin-bottom: 4px;
    min-width: 1px;
}
.card-inner-block {
    border-top: 3px solid transparent;
    padding-top: 13px;
    padding-left:11px;
    padding-bottom: 19px;
}
.card-inner-block.active {
    border-top-color: #5c5aa7;
    background-color: #fbfbfb; 
}
.card-inner-block.active > h4 {
    color: #5c5aa7;
    font-weight: bold;
     
}
.card-inner-block.active .card-time-digit {
    color: #5c5aa7;
    font-weight: bold;
     
}
.card-inner-block.active .card-time-text {
    color: #5c5aa7;
    font-weight: bold;
     
}
.card-inner-block.active > p {
    color: #5c5aa7;
     
}
.card-time-digit {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.8px;
  text-align: left;
  color: #505154;
}
.card-time-text{
  font-size: 12px;
  color: #505154;
  letter-spacing: 0.6px;
}

@media (max-width:991px) {
    .card-stats--mau .vertical-line {
        display: none;
    }
    .card-stats--messages {
        border-top-right-radius: 0px;
    }
    .card-stats--mau {
        border-top-right-radius: 0px;
    }
    .card-stats.card-stats--messages {
        border-top-right-radius: 0px;
    }
}
@media (max-width:575px) {
    .vertical-line {
        display: none;
    }
    .card-stats--messages {
        border-top-right-radius: 0px;
    }
    .card-stats--users {
        border-top-right-radius: 4px;
    }
    .card-stats.card-stats--mau {
        border-top-right-radius: 0px;
    }
    .card-stats {
        border-bottom: 1px solid #cfcaca;
    }
}

@media only screen and (min-width:992px) {
    .early-bird-card {
        width: 80%;
        margin: 0 auto;
    }
}