.dashboard-card {
  border-radius: 4px;
  border: solid 1px #e1dbdb;
  background-color: #ffffff;
  
  /* padding: 0px 20px 20px; */
}
.dashboard-card .row {
    margin: 0;
}
.dashboard-card div[class^="col-"] {
    padding: 0;
}
.graph-card {
    padding: 20px;
}
.card-main-header {
    color: black;
    background: #CCE7F8;
    display: inline-block;
    width: auto;
    padding: 2px 10px 2px 10px;
    margin: 10px auto 0 10px;
}
.card-main-title {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #696b6b;
    margin-bottom: 10px;
}
.filter-dropdown-wrapper {
    border-bottom: solid 1px #e1dbdb;
    height: 45px;
    padding-top: 4px;
    padding-left: 5px;
}
.filter-dropdown-wrapper .Select-control {
    width: 67% !important;
}

.card-count-title {
  font-size: 18px;
  letter-spacing: 0.7px;
  text-align: left;
  color: #8b8b8e;
}
.card-count {
  font-size: 20x;
  font-weight: 500;
  letter-spacing: 0.8px;
  text-align: left;
  color: #505154;
}
.card-stats-value {
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.9px;
    color: #5c5aa7;
}
.card-sub-title {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #9da2a2;
}
.card-stats {
    background-color: #fff;
    position: relative;
    transition: all .2s ease-in-out;
}
.card-stats:hover {
    background-color: #fbfbfb;
    cursor: pointer;
}
/* .card-stats.active {
    border-top: 3px solid #5c5aa7;
}
.card-stats.active .card-main-title,   .card-stats.active .card-stats-value {
    font-weight: 500;
} */
.card-stats.card-stats--users {
    border-top-left-radius: 4px;
}
.card-stats.card-stats--mau {
    border-top-right-radius: 0px;
}
.card-stats.card-stats--messages {
    border-top-right-radius: 4px;
}
.vertical-line {
    position: absolute;
    width: 1px;
    height: 80%;
    top: 9%;
    right: 0;
    background-color: #cfcaca;
}
.card-block {
    padding: 13px;
}

.card-stats-month {
    margin: 0;
    padding: 1px 8px;
    border-radius: 3px;
    background-color: #CCE7F8;
    color: #3a3a3a;
    display: inline-block;
    margin-bottom: 4px;
    min-width: 1px;
}
.card-inner-block {
    border-top: 3px solid transparent;
    padding-top: 13px;
    padding-left:11px;
    padding-bottom: 19px;
}
.card-inner-block.active {
    border-top-color: #5c5aa7;
    background-color: #fbfbfb; 
}
.card-inner-block.active > h4 {
    color: #5c5aa7;
    font-weight: bold;
     
}
.card-inner-block.active .card-time-digit {
    color: #5c5aa7;
    font-weight: bold;
     
}
.card-inner-block.active .card-time-text {
    color: #5c5aa7;
    font-weight: bold;
     
}
.card-inner-block.active > p {
    color: #5c5aa7;
     
}
.card-time-digit {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.8px;
  text-align: left;
  color: #505154;
}
.card-time-text{
  font-size: 12px;
  color: #505154;
  letter-spacing: 0.6px;
  font-weight: 400;
}
.dashboard-chart-checkbox-section {
    padding-right: 10px !important;
    text-align: right;
}
.dashboard-chart-checkbox {
    margin-top: 5px;
    margin-right: 10px;
}
.chart-checkbox-text {
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #7d7d80;
}
/* The container */
.dashboard-chart-checkbox-label {
    /* display: block; */
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #7d7d80;
    position: relative;
    padding-left: 25px;
    margin-top: 7px;
    /* margin-bottom: 12px; */
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.dashboard-chart-checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.chart-checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 17px;
    width: 17px;
    background-color: #fff;
    border: 2px solid #9E9E9E;
    /* transition: color 250ms cubic-bezier(.4,.0,.23,1); */
}

/* On mouse-over, add a grey background color */
/* .dashboard-chart-checkbox-label:hover input ~ .chart-checkmark {
    background-color: #ccc;
} */

/* When the checkbox is checked, add a blue background */
.dashboard-chart-checkbox-label input:checked ~ .chart-checkmark {
    background-color: #5c5aa7;
    border-color: #5c5aa7;
    border-radius: 2px;
}

/* Create the chart-checkmark/indicator (hidden when not checked) */
.chart-checkmark::after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the chart-checkmark when checked */
.dashboard-chart-checkbox-label input:checked ~ .chart-checkmark::after {
    display: block;
}

/* Style the chart-checkmark/indicator */
.dashboard-chart-checkbox-label .chart-checkmark::after {
    left: 4px;
    top: 0px;
    width: 6px;
    height: 11px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.dashboard-chart-checkbox-label input:disabled ~ .chart-checkmark {
    opacity: 0.5;
}
.time-zone-text {
    text-align: right;
    padding-top: 5px;
    font-size: 14px;
    color: #8b8b8e;
}

/* Styles for Lock in Feature restriction based on Pricing */
.agent-restriction .Select-menu-outer .Select-menu .Select-option:not(:first-child) {
	pointer-events: none;
	position: relative;
}
.agent-restriction .Select-menu-outer .Select-menu .Select-option:not(:first-child)::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background-color: #fff;
	width: 100%;
	height: 100%;
	z-index: 3;
	opacity: 0.4;
}

.agent-restriction .Select-menu-outer .Select-menu .Select-option:not(:first-child)::after {
	content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0Ij4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMTggOGgtMVY2YzAtMi43Ni0yLjI0LTUtNS01UzcgMy4yNCA3IDZ2Mkg2Yy0xLjEgMC0yIC45LTIgMnYxMGMwIDEuMS45IDIgMiAyaDEyYzEuMSAwIDItLjkgMi0yVjEwYzAtMS4xLS45LTItMi0yem0tNiA5Yy0xLjEgMC0yLS45LTItMnMuOS0yIDItMiAyIC45IDIgMi0uOSAyLTIgMnptMy4xLTlIOC45VjZjMC0xLjcxIDEuMzktMy4xIDMuMS0zLjEgMS43MSAwIDMuMSAxLjM5IDMuMSAzLjF2MnoiIGZpbGw9IiMyZmMzNTkiLz48L3N2Zz4=);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 10px;
	z-index: 5;
}
/* .tooltip-for-lock {
    position: relative;
}
.tooltip-for-lock .tooltip-span {
    display: none;
}
.agent-restriction .Select-menu-outer .Select-menu .Select-option:not(:first-child):hover ~ .tooltip-span {
    display:block;
    position:fixed;
    overflow:hidden;
}
.agent-restriction .Select-menu-outer .Select-menu .Select-option:not(:first-child):hover + .tooltip-span {
    display:block;
    position:fixed;
    overflow:hidden;
}
.agent-restriction .Select-menu-outer .Select-menu .Select-option:not(:first-child):hover  .tooltip-span {
    display:block;
    position:fixed;
    overflow:hidden;
} */ 




@media only screen and (min-width:992px) {
    .early-bird-card {
        width: 80%;
        margin: 0 auto;
    }
}