.km-card-list-wrapper {
  border: 1px solid #e6e6e6;  
  opacity: 0.76;
  border-radius: 3px;
  box-shadow: inset 0 -2px 0 0 rgba(230, 230, 230, 0.96);
  height: 71px;
  margin-bottom: 12px
}
.km-card-list-wrapper {
    display: flex;
}
.km-card-icon-wrapper {
    width: 20%;
    align-items: center;
    display: flex;
    justify-content: flex-start;
}
.km-card-icon-wrapper svg {
    display: block;
    margin: 0 auto
}
.km-card-title {
  margin-top: 12px;
  margin-bottom: 0;
  font-size: 18px;
  letter-spacing: 0.7px;
  color: #353536;
}
.km-card-content {
  margin-bottom: 0;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #656568;
}
.km-card-list-container:hover {
    cursor:pointer;
    
}
.km-card-list-container {
    position: relative;
}
.km-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}