.skip-install-on-boarding-modal {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #5553b7;
}
.skip-install-on-boarding-modal:hover{
    cursor:pointer;
    text-decoration: underline;
}
.skip-install-on-boarding-modal-wrapper{
    text-align: center;
    margin-top: 60px;
}
.installation-modal-wrapper{
    text-align: center;
}
.installation-modal-title {
  font-size: 28px;
  line-height: 1.04;
  letter-spacing: 1.1px;
  color: #000000;
  margin-bottom: 2px;
}
.installation-modal-sub-title {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #5a5757;
  margin-bottom: 50px;
}
.install-modal-description-1{
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.9px;
  color: #313131;
}
.install-modal-description-2 {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.5px;
    color: #404042;
    margin-top: 20px;
}
.install-modal-link a{
  font-weight: normal;
  color: #5553b7;
}
.install-modal-head-tag {
  font-weight: normal;
  color: #38393a;
  margin-top: 15px;
}
.install-modal-copy-code-button-wrapper button {
    position: absolute;
    right: 16px;
    top: 69px;
}
.install-modal-wrapper {
    position: relative;
}
.install-modal-wrapper textarea {
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    background-color: #f9f9f9;
}
.modal-install-btn-wrapper {
    text-align: right;
}
.install-modal-done-btn {
    margin-left: 30px;
}
.on-boarding-send-instruction-modal input {
    width: 499px;
    height: 36px;
    border: 1px solid #dad3d3;
    border-radius: 4px;
    background-color: #ffffff;
    padding: 8px;
}
.on-boarding-send-instruction-modal input::placeholder {    
  font-size: 14px;
  letter-spacing: 0.3px;
  color: #aeaaaa;
}
.on-boarding-send-instruction-modal-go-btn {
    margin-left: 13px;
}
.on-boarding-send-instruction-btn-set {
    text-align: right;
}
.on-boarding-send-instruction-btn-set {
    margin-top: 65px;
}
.on-boarding-send-instruction-modal {
    margin-left: 13px;
}
.on-boarding-modal-back-btn {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #5553b7;
}
.on-boarding-modal-back-btn:hover{
    cursor:pointer;
}
.on-boarding-modal-back-btn svg {
    vertical-align: middle;
    margin-top: -1px;
}
.on-boarding-send-instruction-btn-set > .on-boarding-modal-back-btn {
    margin-right: 13px;
}
.on-boarding-send-instruction-modal-description {
  font-size: 14px;
  letter-spacing: 0.5px;
  color: #636364;
}
