*{font-family: 'Roboto', sans-serif;}

@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 40px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
  margin-left: 20px;
}
.option-input:hover {
  background: #c7c7c7;
}
.option-input:checked {
  background: #20a8d8;
}
.option-input:checked::before {
  height: 40px;
  width: 40px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 26.66667px;
  text-align: center;
  line-height: 40px;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #20a8d8;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}

.step-1-circle {
  background-color: #20a8d8;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-top: -18px;
  margin-right: -12px;
}

.custom-progress-bar-1 {
  width:50%;
  height:10px;
  padding:3px;
  border-radius: 5px 0 0 5px;
}

.step-2-circle {
  background-color: #C0C0C0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-top: -18px;
  margin-left: -12px;
}

.custom-progress-bar-2 {
  width:50%;
  height:10px;
  padding:3px;
  border-radius: 0 5px 5px 0;
}
