#root {
    position: relative;
}
.setup-pages-bg {
    background-color: #f5f5f5;
    flex-direction: row;
}
.setup-pages-bg form {
    z-index: 2;
}
.setup-pages-bg .container {
    box-shadow: 0 2px 14px 0 rgba(137, 133, 133, 0.5);
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 653px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.setup-pages-bg::after {
    position: absolute;
    content: '';
    height: 100%;
    z-index: -1;
    width: 100%;
    background-color: #fff;
    bottom: 0px;
    left: 0;
}
.card {
    margin-top: 0px !important;
}
.col-md-6.card {
    margin-top: 0px !important;
    padding: 0px 85px 35px;
}
.setup-heading {
    font-size: 28px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    color: #565555;
    margin-top: 10px;
}
.setup-sub-heading {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    color: #7b7b7d;
}

.steps-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    left: 20px;
}
.step-1, .step-2, .step-3 {
    width: 40px;
    height: 7px;
    margin-right: 10px;
}
.steps-container p {
    margin-top: -22px;
    color: #fff;
    margin-bottom: 0px;
    font-size: 14px;
}
.filled {
    background-color: #FFF;
}
.empty {
    opacity: 0.26;
    background-color: #ffffff;
}
.empty p {
    display: none;
}
.visited {
    background-color: #fff;
}
.visited p {
    display: none;
}


.step-1-submit-btn {
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    /* font-weight: 500; */
    letter-spacing: 0.4px;
    width: 100%;
    margin-top: 30px;
}
.steps-card-block {
    padding: 0px 35px 35px;
}

.km-url-error {
    position: relative;
    left: 0;
}

.km-label1 {
    top: 11px!important;
    font-size: 16px!important;
    color: #afafaf!important;
}
.km-label3 {
    top: 12px!important;
    left: 109px !important;
}

.step-2-div {
    padding: 0px;
}
.step-2-div .setup-heading{
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 30px;
}

.setup-pages-bg .multiemail-button-link {
    text-decoration: underline;
}
.setup-pages-bg .multiemail-button-link:hover {
    text-decoration: underline;
}

.setup-pages-bg .button-link-container {
    margin-top: 10px;
}

.setup-pages-bg .code-container.col-md-10 {
    width: 100%;
}

.setup-sub-heading a {
    color: #5c5aa7;
    text-decoration: underline;
    font-weight: 500;
}

.step-3-form .setup-sub-heading {
    margin-bottom: 20px;
}

.step-3-form .step-1-submit-btn {
    max-width: 370px;
    margin-left: auto;
    margin-right: auto;
}
.step-3-div-card.col-md-6.card {
    padding: 0;
}
.setup-pages-bg .outer-box {
    padding-top: 10px;
    padding-bottom: 10px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  /* border: 1px solid green;
  -webkit-text-fill-color: green;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset; */
  transition: background-color 5000s ease-in-out 0s;
}

.react-phone-number-input__icon-image {
    vertical-align: top;
}
.rrui__select__button {
    border-color: transparent;
}
.rrui__select__button:focus, .rrui__select__native-expanded:focus + .rrui__select__button {
    border-bottom-color: transparent;
}
.rrui__select__arrow {
    color: #989898;
}
.rrui__input, .rrui__input-label {
    height: 44px;
}
.react-phone-number-input__phone {
    font-size: 16px;
    padding: 10px;
    display: block;
    width: 100%;
    color: #000;
    /* border: solid 1px #a1a1a1; */
    border-radius: 4px;
    opacity: 0.9;
    background-color: #fff;
    line-height: 24px;
}
.react-phone-number-input__row {
    position: relative;
    height: 44px;
    font-size: 16px;
    padding: 6.6px 8px; 
    width: 100%;
    color: #000;
    border: solid 1px #a1a1a1;
    border-radius: 4px;
    opacity: 1;
    background-color: transparent;
}
.rrui__input-field, .rrui__select__button {
    border: none;
}
.react-phone-number-input__country.rrui__select--collapsed {
    margin-left: 0.5em;
}

.react-phone-number-input.input {
    padding: 0;
    border: 0;
}
.react-phone-number-input .input {
    border: 0;
}
.react-phone-number-input .input ~ .label-for-input, .react-phone-number-input #number-input ~ .label-for-input {
    left: 59px;
}
.react-phone-number-input .input:focus ~ .label-for-input, .select:focus ~ .label-for-input, .select:valid ~ .label-for-input, .react-phone-number-input .input:valid ~ .label-for-input, .react-phone-number-input .input:not(:placeholder-shown) ~ .label-for-input {
    left: 9px;
}
.rrui__input-field:focus, .rrui__select__button:focus, .rrui__select__native-expanded:focus + .rrui__select__button {
    border: none;
}

.react-phone-number-input__country.rrui__select--expanded ~ .label-for-input {
    display: none;
}
.react-phone-number-input__country .rrui__select__autocomplete {
    padding-left: 10px;
    border-radius: 4px;
}
.rrui__select__options:not(.rrui__select__options--menu) {
    width: calc(100% + 2px);
}
.rrui__select__options--left-aligned {
    left: -1px;
}

.react-phone-number-input--focus .react-phone-number-input__row {
    outline: none;
    border: solid 1px #5c5aa7;
    color: #000;
}
.react-phone-number-input__row .input {
    padding: 10px;
    height: 44px;
    background: transparent;
}
.react-phone-number-input__input:-webkit-autofill {
    box-shadow: none;
}

/* New Signup page Design */
.setup-pages-bg .setup-pages-form-container {
    -ms-flex: 5 1 0%;
    flex: 5 1 0%;
    background-color: #fff;
    padding-top: 50px;
}
.setup-pages-bg .setup-pages-form-container.setup-pages-install-script-instruction {
    height: 100vh;
    overflow-y: scroll;
}
.setup-pages-bg .setup-pages-testimonial-container {
    -ms-flex: 3 1 0%;
    flex: 3 1 0%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.setup-pages-bg .setup-pages-form-container .card {
    width: 100%;
    padding: 0 34px;
}

.setup-pages-bg .setup-pages-form-container .setup-pages-form-fields-container {
    max-width: 500px;
    width: 70%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    margin: 100px auto 0;
    min-height: 100%;
}
.setup-pages-bg .setup-pages-form-container .setup-pages-form-fields-container.invite-link-setup-page {
    max-width: 992px;
    width: 70%;
}

.setup-pages-bg .setup-btn-group p {
    font-size: 14px;
    letter-spacing: 0.6px;
    color: #717173;
    text-align: center;
    margin-top: 5px;
}


@media (max-width: 991px) {
    .setup-pages-bg .setup-pages-testimonial-container {
        display: none;
    }
}
@media (max-width:576px) {
    .setup-pages-bg .setup-pages-form-container .setup-pages-form-fields-container {
        width: 100%;
    }
}