.conversation-404-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
}
.conversation-404-row {
    text-align: center;
}
.conversation-404-row svg {
    display: block;
    margin: 0 auto;
}
.converastion404-link {
    color: #4831d9
}
.converastion404-link:hover {
    color: #4831d9;
    text-decoration: none;
}
.conversation-404-row > h5 {
    margin-top: 33px;
}
.conversation-404-row > p {
    margin-top: 20px;
}