node_modules
# package-lock.json
.DS_Store/*
.DS_Store
webplugin/build/*
webplugin/css/app/bin/
webplugin/build/test.txt
webplugin/css/app/style/
/test-results/
/playwright-report/
/playwright/.cache/
# yarn.lock
.sass-cache/*

# Sentry Config File
.sentryclirc
