{
    "trailingComma":"es5",
    "tabWidth": 4,
    "semi": true,
    "quoteProps": "consistent",
    "singleQuote": true,
    "insertPragma": false,
    "requirePragma": false,
    "printWidth": 100
}
