.km-sidemodal {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	display: block;
	position: fixed!important;
	right: 25px!important;
	max-height: calc(100% - 10px)!important;
	left: auto!important;
	border: 0!important;
	padding-left: 0!important;
	z-index: 22435000!important;
	line-height: 18px;
	width: 379px;
	bottom: 25px;
	border-radius: 6px;
	text-rendering: optimizeLegibility;
	-webkit-box-shadow: 0 1.5rem 2rem rgba(0,0,0,.3);
	box-shadow: 0 1.5rem 2rem rgba(0,0,0,.3);
}
.km-sidemodal .km-modal-dialog {
	border-radius: 6px;
	overflow: hidden;
	height: 100%;
}
.km-modal-color{
	color:white;
}
.km-modal-title{
	margin-left:20px;
	display: flex;
    align-items: center;
    justify-content: center;
}
.km-sidemodal .km-modal-content {
	border-spacing: 0;
	outline: 0;
	border-radius: 6px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	height: 100%;
}
.km-modal-header {
	padding: 0 15px 0 15px;
	border-bottom: none;
	width: 330px;
	height: 63.7px;
	border-radius: 8px;
	background-color: #5c5aa7;

}
.km-modal-body .km-modal-error {
	background-color: #FFDFDF;
	color: #885E5E;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #FFCFCF;
	font-size: 12px !important;
	text-align: center;
}
.km-modal-body .km-modal-success, .km-modal-response {
	background-color: #FFFFFF;
	color: #3c763d;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #BFE0EC;
	font-size: 12px !important;
	text-align: center;
}
.km-modal input, .km-modal textarea, .km-modal select {
	height: 36px;
	border-radius: 3px;
	border: solid 1px #a1a1a1;
}
.km-first-input{
	margin:36px;
}

.km-modal textarea {
	resize: none;
}

.km-modal-body  a:hover {
	color: #11505d;
	text-decoration: underline;
}
.km-modal .km-section-title {
	width: 100%;
	height: 57px;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.8px;
	text-align: center;
	color: #565658;
	margin-top: 48px;
	margin-bottom: 36px;
}
.km-start-conversation{
	width: 100%;
	height: 40px;
	border-radius: 26px;
	background-color: #716fb3;
	margin-top: 45px;
	color:white;
}

.km-start-conversation.focus, .km-start-conversation:focus, .km-start-conversation:hover, .km-start-conversation:active, .km-start-conversation:visited{
	color: #fbfbfb;
  	text-decoration: none;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
	transition: all 0.3s ease-in-out;
  	outline: none !important;
	border: none;
}

.km-start-conversation[disabled], .km-start-conversation[disabled]:focus, .km-start-conversation[disabled]:hover, .km-start-conversation[disabled]:active, .km-start-conversation[disabled]:visited{
	pointer-events: none;
  	outline: none !important;
	border: none;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
	transition: all 0.3s ease-in-out;
}

#km-form-chat-login{
	margin:15px;
	padding-bottom: 35px;
}
.km-modal-span{
	margin: 20px auto;
	width: 100%;
    height: 57px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.8px;
    text-align: center;
    color: #565658;
}

.km-modal-backdrop {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	background-color: #000
}
.km-modal-body {
	padding: 15px;
	height: calc(100% - 61px);
	border-radius: 0px 0px 6px 6px;
	background-color: #fff;
	overflow-y: scroll;
}
.km-sidemodal--modal-header {
	padding: 0 10px;
	 min-height: 60px;
	 text-align: left;
	 border-bottom: 1px solid #e5e5e5;
	 background-color: #716fb3;
	 color: #fff;
	display: flex;
    align-items: center;
    justify-content: space-between;
	border-radius: 6px 6px 0px 0px;
}
.km-form-control {
	display: block;
	margin-bottom: 15px;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}
input.km-form-control::placeholder {
	color: #BFBABA;
}
.km-form-control:focus{
	outline:none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

#km-tab-title {
	text-transform: capitalize;
	display: inline-block;
	vertical-align: middle;
	font-weight: 400;
}

.km-form-group-container {
	width: 100%;
}

.km-input-width {
	width: 100%;
}

@media (max-width: 600px){ 
	.km-sidemodal {
		width: 100%;
		height: auto;
		max-height: 100% !important;
		right: 0px !important;
		bottom: 0px;
		top: 0;
		left: 0 !important;
		border-radius: 0px !important;
	}
}

.km-close-sidebox{
	border-radius: 6px;
	transition: background-color .2s ease-in-out;
}
.km-modal .mck-preleadcollection-textarea {
	overflow-y: scroll;
	height: 123px;
}