{
    "plugins": [
        "babel-plugin-styled-components",
        "@babel/plugin-transform-modules-commonjs",
        "@babel/plugin-syntax-dynamic-import"
    ],
    "presets": [
        ["@babel/preset-env", {
            "modules": false
        }],
        "@babel/preset-react"
    ]
}