.km-logo-rest-pages {
    display: none;
}

.km-logo-home-page {
    display: block;
}

.nav-kommunicate-logo {
    height: 40px;
    width: auto;
}

.page-links-ul li>a,
.page-links-ul li>a:hover {
    color: #000;
}

.nav-signup-button {
    /* background-color: #2dd35c; */
    color: #2dd35c !important;
    border-color: #2dd35c;
    transition: all 0.3s ease !important;
}

.nav-signup-button:hover {
    background-color: #2dd35c;
    color: #fff !important;
    border-color: #2dd35c;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.24);
}

.alternatives-freshchat-landing-page {
    padding: 100px 0px 0px;
    margin: 0;
    overflow: hidden;
}

.hero-section {
    margin-top: 60px;
}

.hero-text {
    font-size: 46px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 4.5px;
    color: #4a4a4a;
    margin-top: 0px;
}
.hero-pretext {
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1px;
    color: #4a4a4a;
    margin-bottom: 10px;
    margin-top: 80px;
}
.hero-subtext {
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.42;
    letter-spacing: 1.4px;
    color: #6c6c6c;
    margin-bottom: 40px;
    margin-top: 20px;
}

.itunes-link {
    background-color: #62d45d;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.15;
    letter-spacing: 0.8px;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 4px;
    transition: all 0.3s ease-out;
}

.itunes-link:hover,
.itunes-link:focus {
    color: #fff;
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.3);
}

.freshchat-landing-page-bg-container {
    position: relative;
}
.freshchat-landing-page-bg-bottom {
    position: absolute;
    bottom: 0;
    right: -80px;
    /* max-width: 700px; */
    width: 900px;
    height: auto;
    z-index: -1;
}


.alternatives-freshchat-automation-section {
    padding: 50px 0px 0px;
}
.section-heading {
    font-size: 38px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.24;
    letter-spacing: normal;
    color: #4f4c4c;
    margin-bottom: 0px;
}
.section-sub-heading {
    font-size: 22px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #6c6c6c;
}
.section-hr {
    width: 10%;
    border-top: 3px solid #6556d7;
    margin-bottom: 80px;
}
.automation-data-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.automation-data-container .automation-icon-container {
    min-width: 95px;
}
.automation-data-container .automation-icon-container svg{
    width: auto;
    height: 75px;
    margin-right: 15px;
}
.automation-data-container .automation-text-container p{
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.61;
    letter-spacing: normal;
    color: #4a4a4a;
}
.alternatives-freshchat-integrate-sdk-section {
    padding: 0px 0px 0px;
    background-color: rgba(244, 248, 251, 0.7);
}
.sdk-list-container {
    width: 50%;
    margin: 0 auto;
}
.sdk-list span>svg {
    width: 19px;
    height: auto;
    vertical-align: baseline;
    margin-right: 15px;
}
.sdk-list{
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.45;
    letter-spacing: normal;
    color: #4a4a4a;
    margin-bottom: 30px;
}
.alternatives-freshchat-integrations-section {
    background-image: url(/assets/resources/images/customers-testimonail-bg-2.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
    padding: 80px 0px;
    overflow: hidden;
    position: relative;
}
.alternatives-freshchat-integrations-section .integration-feature-list-container {
    margin-top: 40px;
}
.alternatives-freshchat-integrations-section .integration-feature-list, .alternatives-freshchat-integrate-sdk-section  .integration-feature-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.alternatives-freshchat-integrations-section .integration-feature-list .svg-checkmark svg, .alternatives-freshchat-integrate-sdk-section .integration-feature-list .svg-checkmark svg {
    width: 20px;
    height: auto;
    margin-top: 6px;
    margin-right: 15px;
}
.alternatives-freshchat-integrations-section .div-circle {
    position: absolute;
    bottom: 0;
    right: -75px;
    background-color: #F4F8FB;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.alternatives-freshchat-integrations-section .integration-section-svg #Group_8 {
    transform: translate(-170px, 110px);
}
.alternatives-freshchat-integrations-section .integration-section-svg #Group_16 {
    transform: translate(40px, -40px);
}

.footer-cta-section {
    background: transparent;
}
.footer-cta-section .container {
    border-radius: 10px;
    background-color: #595ca8;
    box-shadow: 4px 4px 25px 0 rgba(0, 0, 0, 0.25);
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
.footer-cta-section .container .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.footer-cta-section .footer-cta-title {
    text-align: left;
}
.footer-section {
    background: transparent;
}
.footer-cta-section .container {
    position: relative;
}
.footer-lines-shape {
    display: block;
    position: absolute;
    top: -60px;
    left: -60px;
    width: 170px;
    height: auto;
    z-index: -1;
}
.alternatives-freshchat-automation-section .swirl-shape {
    margin-bottom: -1px;
    margin-top: 100px;
}
@media only screen and (min-width: 1200px) {
    .footer-cta-section .footer-cta-title {
        padding-left: 90px;
    }
}
@media only screen and (min-width: 992px) and (max-width:1199px) {
    .footer-cta-section .footer-cta-title {
        padding-left: 50px;
    }
}
@media only screen and (min-width: 768px) and (max-width:991px) {
    .footer-cta-section .footer-cta-title {
        padding-left: 20px;
    }
    .alternatives-freshchat-landing-page {
        padding-bottom: 80px;
    }
    .freshchat-landing-page-bg-bottom {
        position: absolute;
        bottom: -20px;
        right: -30px;
        /* max-width: 700px; */
        width: 600px;
        height: auto;
        z-index: -1;
    }
    .sdk-list-container {
        width: 76%;
    }
}
@media only screen and (max-width:767px) {
    .footer-cta-section .footer-cta-title {
        padding-left: 0px;
        text-align: center;
    }
    .footer-lines-shape {
        display: none;
    }
    .hero-section {
        margin-top: 0px;
    }
    .hero-pretext {
        margin-top: 20px;
        font-size: 18px;
    }
    .freshchat-landing-page-bg-container {
        margin-top: 80px;
    }
    .hero-text {
        font-size: 36px;
    }
    .hero-subtext {
        font-size: 18px;
    }
    .automation-data-container {
        flex-direction: column;
        align-items: center;
    }
    .automation-text-container {
        text-align: center;
    }
    .sdk-list-container {
        width: 90%;
    }
    .alternatives-freshchat-quotes-section .section-heading, .alternatives-freshchat-quotes-2-section .section-heading {
        font-size: 32px !important;
    }
    .section-heading {
        font-size: 32px;
    }
    .section-sub-heading {
        font-size: 20px;
    }
    .alternatives-freshchat-integrations-section {
        background: transparent;
    }
}
@media only screen and (max-width:450px) and (min-width:300px) {
    .freshchat-landing-page-bg-bottom {
        position: absolute;
        bottom: 10px;
        right: 10px;
        /* max-width: 700px; */
        width: 400px;
        height: auto;
        z-index: -1;
    }
}

.alternatives-freshchat-quotes-section .section-heading, .alternatives-freshchat-quotes-2-section .section-heading {
    background-color: #cce7f8;
    margin-top: 5px;
    font-size: 38px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
}
.alternatives-freshchat-quotes-section, .alternatives-freshchat-quotes-2-section {
    padding: 80px 0px;
}
.alternatives-freshchat-quotes-2-section a{
    color: #5f65d0;
}
.alternatives-freshchat-quotes-2-section a>span{
    font-size: 30px;
}
.alternatives-freshchat-quotes-section .section-heading:first-child, .alternatives-freshchat-quotes-2-section .section-heading:first-child {
    max-width: 1050px;
    margin: 5px auto 0px;
}
.alternatives-freshchat-quotes-section .section-heading:last-child {
    max-width: 910px;
    margin: 5px auto 0px;
}
.alternatives-freshchat-quotes-2-section .section-heading:last-child {
    max-width: 350px;
    margin: 5px auto 0px;
}
