* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
::selection {
    background-color: #5c5aa7;
    color: #ffffff;
}
html * {
    font-family: 'Roboto', 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
}
body {
    -webkit-font-smoothing: antialiased;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
}

.feature-bot-integration-section, .feature-conversation-section, .feature-message-shortcut-section, .feature-dashboard-section, .feature-welcome-messsage-section {
    height: 600px;  
}
.features-landing-page-section {
    padding: 120px 0px;
    /* background-color: #654df7; */
    background-image: linear-gradient(286deg, #a6a8d3, #6252d8 72%, #4831d9);
}
.features-title {
    font-size: 42px;
    font-weight: bold;
    letter-spacing: 0.2px;
    color: #fdfdfd;
}
.features-sub-title {
    font-size: 20px;
    letter-spacing: 1px;
    color: #fdfdfd;
}
.features-landing-page-section svg {
    width: auto;
    height: 240px;
    margin: 0 auto;
    position: absolute;
    right: 50%;
    top: 7px;
    transform: translateX(50%);
}

.flex {
    height: 600px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
    /* border-bottom: 1px solid #c86dd7; */
}
.feature-dashboard-section .flex {
    border: none;
}
.flex .flex-cell {
    flex: 1;
}
.flex .flex-cell:first-child {
    padding-right: 30px;
}

/* .message-shortcut-svg, .dashboard-svg, .conversations-svg, .bot-integration-svg, .welcome-message-svg {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 5px;
} */
/* .features-section-title {
    background-image: linear-gradient(264deg, #3023ae, #c86dd7);
  font-size: 32px;
  letter-spacing: 0.9px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.3;
} */
.features-section-title {
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.9px;
    color: #525152;
}
.features-section-description {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.28;
    letter-spacing: 0.9px;
    color: #8c898b;
}
/******CTA Section Code*******/

.form-submit-btn {
    display: inline-block;
    padding: 14px 20px;
    letter-spacing: 0.015em;
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    color: #ffffff;
    text-decoration: none;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    border-radius: 6px;
    -webkit-appearance: none;
    text-decoration: none;
    border: none;
    flex: 0 1 auto;
    background-color: #2dd35c;
  }
.form-submit-btn:hover {
    background-color: #1aaa42;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  }
  .form-submit-btn:focus {
    outline: none;
  }
.homepage-beta-cta-section .cta-email-pre-signup {
    background: transparent;
    width: 50%;
    color: #000;
    font-size: 16px;
    padding: 15px 16px 15px 14px;
    margin: 0;
    border-radius: 6px;
    outline: none;
    height: 47px;
    box-shadow: none;
    /* margin-right: 5px; */
    border: none;
    flex: 1 0 auto;
  }
  
  .pre-signup-form {
    background-color: white;
      border-radius: 6px;
      padding-top: 3px;
      padding-bottom: 3px;
      padding-left: 3px;
      padding-right: 3px;
      display: flex;
      /* border: 2px solid #007fff; */
      width: 50%;
      margin: 0 auto;
  }
  .homepage-beta-cta-section .pre-signup-form {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3), 0px -2px 8px 0 rgba(0, 0, 0, 0.3);
  }
  .homepage-beta-cta-section .form-submit-btn {
    color: #fff;
    background-color: #2dd35c;
  }
  .homepage-beta-cta-section .form-submit-btn:hover {
    background-color: #1aaa42;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  }
  .homepage-beta-cta-section {
    background: #f5f7fa;
    /* background-image: url(/assets/resources/images/kommunicate-cta-section-bg.jpg); */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    padding: 0px 0px;
    position: relative;
    /* margin-bottom: 70px; */
  }
  
  .homepage-beta-cta-section .row {
    margin: 0px;
    padding: 40px 0px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
  }
  
  .cta-section-text {
    color: #5C5AA7;
    font-weight: 300;
    font-size: 32px;
    margin-bottom: 60px;
    margin-top: 0px;
  }
  
  .cta-section-cta-btn {
    border-radius: 96px;
    width: 234px;
    height: 49px;
    background: rgba(116, 127, 252, 1);
    color: #fff;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    padding: 15px 25px;
  }
  
  .cta-section-cta-btn:hover, .cta-section-cta-btn:active, .cta-section-cta-btn:focus {
    background: rgba(73, 83, 227, 1);
    box-shadow: none;
    color: #fff;
  }





@media (max-width:350px) {
    .features-cta-section {
        margin-bottom: 130px;
    }
}
@media only screen and (max-width: 568px) {
    .pre-signup-form br {
        display: block;
    }
    .form-submit-btn {
        font-size: 16px;
        width: 100%;
    }
    .cta-email-pre-signup {
        width: 100% !important;
    }
}
@media (max-width:560px) {
    .cta-email-pre-signup {
        border-radius: 6px;
    }
     .features-cta-section .cta-email-pre-signup {
        border-radius: 6px;
    }
    .form-submit-btn {
        flex: 0 0 100%;
        margin-top: 15px;
        border-radius: 6px;
    }
    .homepage-beta-cta-section .cta-email-pre-signup {
        border-radius: 6px;
    }
    .homepage-beta-cta-section .pre-signup-form {
        box-shadow:none;
    }
    .why-kommunicate-section .cta-email-pre-signup, .homepage-beta-cta-section .cta-email-pre-signup {
      border: 1px solid #7B7979;
    }
}
@media (max-width:767px) {
    .pre-signup-form {
        width: 100%;
        flex-wrap: wrap;
    }
    .features-cta-section {
        height: 350px;
        position: relative;
    }
    .flex .flex-cell {
        flex: 0 0 100%;
        padding-top: 40px;
        padding-bottom: 40px;
        text-align: center;
    }
    .flex .flex-cell:first-child {
        padding-right: 0px;
    }
    .features-landing-page-section .col-lg-7 {
        text-align: center;
    }
    .feature-bot-integration-section, .feature-conversation-section, .feature-message-shortcut-section, .feature-dashboard-section, .feature-welcome-messsage-section, .flex {
        height: auto;
    }
    .homepage-beta-cta-section {
        /* height: 350px; */
   padding-top: 40px;
   position: relative;
   padding-bottom: 60px;
 }
 .pre-signup-form {
     width: 100%;
     flex-wrap: wrap;
     background-color: transparent;
 }
 .menu-btn-icon {
     fill: #FFF !important;
 }
 .sticky .menu-btn-icon {
     fill: #5C5AA7 !important;
 }
 .features-landing-page-section svg {
    margin: 0px auto;
    position: relative;
    right: auto;
    top: 55px;
    transform: none;
 }
 .features-landing-page-section {
     padding-bottom: 50px;
 }
}
@media (min-width:768px) {
    .feature-actionable-message-section .flex, .feature-conversation-section .flex, .feature-integrations-section .flex, .feature-message-shortcut-section .flex {
        flex-direction: row-reverse;
    }
    .feature-actionable-message-section .flex-cell, .feature-conversation-section .flex-cell, .feature-integrations-section .flex-cell, .feature-message-shortcut-section .flex-cell {
        text-align: left;
        padding-left: 50px;
    }
    .homepage-beta-cta-section {
        height: 550px;
      }
}
@media (min-width:768px) and (max-width:991px) {
    .features-cta-section .pre-signup-form {
        width: 75%;
    }
    .homepage-beta-cta-section .pre-signup-form {
        width: 75%;
    }
    .features-landing-page-section svg {
        width: auto;
        height: 280px;
        margin: 0 auto;
        position: absolute;
        right: 50%;
        top: 14px;
        transform: translateX(50%);
    }
}
@media (min-width:992px) and (max-width:1199px) {
    .features-landing-page-section svg {
        width: auto;
        height: 240px;
        margin: 0 auto;
        position: absolute;
        right: 50%;
        top: 53px;
        transform: translateX(50%);
    }
}

.km-logo-final-logo-0 {
    fill: #ffffff !important;
}
.sticky .km-logo-final-logo-0 {
    fill: #5c5aa7 !important;
}
.page-links-ul li:first-child>a {
    font-weight: bold;
}
#chat-widget-copy-10 {
    fill: #FFFFFF !important;
}
.page-links-ul li:nth-child(3)>a:hover #chat-widget-copy-10{
    fill: rgba(255, 255, 255, 0.5) !important;
}


.nav-login-button {
    color: #ffffff;
}
.nav-login-button:hover {
    color: rgba(255, 255, 255, 0.5);
}


.hr {
    width: 50%;
    margin: 20px auto;
    border-top: 1px solid rgba(82, 79, 79, 0.32);
}