* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
::selection {
    background-color: #747ffc;
    color: #ffffff;
}
html * {
    font-family: 'Open Sans',sans-serif !important;
}
body {
    -webkit-font-smoothing: antialiased;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
}

.feature-bot-integration-section, .feature-conversation-section, .feature-message-shortcut-section, .feature-dashboard-section, .feature-welcome-messsage-section {
    height: 600px;  
}
.features-landing-page-section {
    padding: 120px 0px;
    background-color: #654df7;
}
.features-title {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 0.2px;
    color: #fdfdfd;
}
.features-sub-title {
    font-size: 20px;
    letter-spacing: 1px;
    color: #fdfdfd;
}
.features-landing-page-section svg {
    width: auto;
    height: 150px;
    margin: 0 auto;
}

.flex {
    height: 600px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid #c86dd7;
}
.feature-dashboard-section .flex {
    border: none;
}
.flex .flex-cell {
    flex: 1;
}
.flex .flex-cell:first-child {
    padding-right: 30px;
}

.message-shortcut-svg, .dashboard-svg, .conversations-svg, .bot-integration-svg, .welcome-message-svg {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 5px;
}
.features-section-title {
    background-image: linear-gradient(264deg, #3023ae, #c86dd7);
  font-size: 32px;
  letter-spacing: 0.9px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.3;
}
.features-section-description {
    font-size: 22px;
  letter-spacing: 0.9px;
  color: #666466;
}





.features-cta-section {
    background: #f6f7fc;
    height: 260px;
    padding: 0px 0px;
    position: relative;
    margin-bottom: 70px;
    padding-top: 60;
}
.features-cta-section::before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 150%;
    content: '';
    /* -webkit-transform: skewY(5deg);
    -ms-transform: skewY(5deg);
    transform: skewY(5deg); */
    background-color: #f6f7fc;
}
.features-cta-section .row {
    margin: 0px;
    padding: 40px 0px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
}

.cta-section-text {
    background: -webkit-linear-gradient(left, rgb(200,109,215) 31%,rgb(48,35,174) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 300;
    font-size: 32px;
    margin-bottom: 60px;
    margin-top: 0px;
    line-height: 1.3;
}

.cta-section-cta-btn {
    border-radius: 96px;
    width: 234px;
    height: 49px;
    background: rgba(116, 127, 252, 1);
    color: #fff;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    padding: 15px 25px;
}

.cta-section-cta-btn:hover, .cta-section-cta-btn:active, .cta-section-cta-btn:focus {
    background: rgba(73, 83, 227, 1);
    box-shadow: none;
    color: #fff;
}

.pre-signup-form {
    /*background-color: white;*/
    border-radius: 100px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    /*border: 2px solid #007fff;*/
    width: 50%;
    margin: 0 auto;
}
.pre-signup-form br {
    display: none;
}
.signup-success-msg-div, .signup-error-msg-div1 {
    background-color: white;
    text-align: center;
    width: 100%;
    border-radius: 26px;
    /*border: 1px solid #5d5ba8;*/
}
.signup-error-msg-div2 {
    text-align: center;
    width: 100%;
    border-radius: 26px;
}
.signup-error-msg-div2 .signup-error-msg-text1 {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #2CA23C;
}
.signup-success-msg-text {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.signup-error-msg-text1 {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #2CA23C;
}
.cta-email-pre-signup {
    background: #fff;
    width: 50%;
    color: #5c5aa7;
    font-size: 18px;
    padding: 15px 16px 15px 14px;
    margin: 0;
    border-radius: 26px 0px 0px 26px;
    outline: none;
    height: 47px;
    box-shadow: none;
    /*margin-right: 5px;*/
    border: 1px solid #7B7979;
    flex: 1 0 auto;
    box-shadow: 0 3px 6px rgba(36,129,215,.05),0 2px 3px rgba(36,129,215,.04);
}
.features-cta-section .cta-email-pre-signup {
    background: transparent;
    width: 50%;
    color: #000;
    font-size: 16px;
    padding: 15px 16px 15px 14px;
    margin: 0;
    border-radius: 26px 0px 0px 26px;
    outline: none;
    height: 47px;
    box-shadow: none;
    /*margin-right: 5px;*/
    border: 1px solid #7B7979;
    flex: 1 0 auto;
}
.form-submit-btn {
    display: inline-block;
    padding: 14px 20px;
    /*    border: 2px solid #fff;*/
    /*    text-transform: uppercase;*/
    letter-spacing: 0.015em;
    font-size: 18px;
    /* background-color: #fff; */
    font-weight: 500;
    line-height: 1;
    color: rgb(255, 255, 255);
    text-decoration: none;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    border-radius: 0px 26px 26px 0px;
    -webkit-appearance: none;
    text-decoration: none;
    border: none;
    flex: 0 1 auto;
    background: #5C5AA7;
background: -moz-linear-gradient(left, rgb(200,109,215) 0%, rgb(48,35,174) 100%);
background: -webkit-linear-gradient(left, rgb(200,109,215) 0%,rgb(48,35,174) 100%);
background: linear-gradient(to right, rgb(200,109,215) 0%,rgb(48,35,174) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c86dd7', endColorstr='#3023ae',GradientType=1 );
    box-shadow: 0 3px 6px rgba(36,129,215,.05),0 2px 3px rgba(36,129,215,.04);
}
.form-submit-btn:focus {
    outline: none;
}
.features-cta-section .form-submit-btn {
    color: rgba(255, 255, 255, 1);
    background: rgb(200,109,215); /* Old browsers */
    background: -moz-linear-gradient(left, rgb(200,109,215) 0%, rgb(48,35,174) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgb(200,109,215) 0%,rgb(48,35,174) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgb(200,109,215) 0%,rgb(48,35,174) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c86dd7', endColorstr='#3023ae',GradientType=1 ); /* IE6-9 */
}

@media (max-width:350px) {
    .features-cta-section {
        margin-bottom: 130px;
    }
}
@media only screen and (max-width: 568px) {
    .pre-signup-form br {
        display: block;
    }
    .form-submit-btn {
        font-size: 16px;
        width: 100%;
    }
    .cta-email-pre-signup {
        width: 100% !important;
    }
}
@media (max-width:560px) {
    .cta-email-pre-signup {
        border-radius: 26px;
    }
     .features-cta-section .cta-email-pre-signup {
        border-radius: 26px;
    }
    .form-submit-btn {
        flex: 0 0 100%;
        margin-top: 15px;
        border-radius: 26px;
    }
}
@media (max-width:767px) {
    .pre-signup-form {
        width: 100%;
        flex-wrap: wrap;
    }
    .features-cta-section {
        height: 350px;
        position: relative;
    }
    .flex .flex-cell {
        flex: 0 0 100%;
        padding-top: 40px;
        padding-bottom: 40px;
        text-align: center;
    }
    .flex .flex-cell:first-child {
        padding-right: 0px;
    }
    .features-landing-page-section .col-lg-7 {
        text-align: center;
    }
    .feature-bot-integration-section, .feature-conversation-section, .feature-message-shortcut-section, .feature-dashboard-section, .feature-welcome-messsage-section, .flex {
        height: auto;
    }
}
@media (min-width:768px) {
    .feature-welcome-message-section .flex, .feature-conversation-section .flex {
        flex-direction: row-reverse;
    }
    .feature-welcome-message-section .flex-cell, .feature-conversation-section .flex-cell {
        text-align: left;
        padding-left: 50px;
    }
}
@media (min-width:768px) and (max-width:991px) {
    .features-cta-section .pre-signup-form {
        width: 75%;
    }

}

.page-links-ul li:first-child>a {
    font-weight: bold;
}
#chat-widget-copy-10 {
    fill: #FFFFFF !important;
}
.page-links-ul li:nth-child(3)>a:hover #chat-widget-copy-10{
    fill: rgba(255, 255, 255, 0.5) !important;
}

.nav-login-button {
    color: #ffffff;
}
.nav-login-button:hover {
    color: rgba(255, 255, 255, 0.5);
}

.sticky {
    background-color: #654df7;
  }