.helpcenter-landing-video{
    max-width: 644px;
    margin: 90px 20px 190px 25px;
    border-radius: 4px;
    box-shadow: 4px 4px 10px -1px rgba(0,0,0,0.23);
    min-height: 300px;
}

.free-forever.helpcenter{
    margin: 60px 0 40px;
}
.free-forever.helpcenter>span{
    font-size: 32px;
}
.helpcenter-features-text{
    width: 50%;
    padding-right: 12px; 
}
.helpcenter-features-text.reverse{
    width: 50%;
    padding-right: 0px; 
    padding-left: 12px;
    text-align: right; 
}
.helpcenter-features-img{
    width: 50%;
}
.helpcenter-features-img img{
    max-height: 400px;
    margin: 0 auto;
}
.helpcenter-features-text h2{
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 0.8px;
    margin-bottom: 20px;
}
.helpcenter-features-text p {
  font-size: 22px;
  line-height: 1.45;
  letter-spacing: 0.6px;
}
.helpcenter-features-container .row{
    display: flex;
    align-items: center;
    margin: 80px 0 160px;
    color: #4a4a4a;
    justify-content: space-around;
}
.helpcenter-features-container .row:first-child{
    margin-top: 110px;
}
.helpcenter-features-container .row:last-child{
    margin-bottom: 0px;
}
ul.nacc.helpcenter li {
    width: 100%;
    margin-top: 50px;
}
ul.nacc.helpcenter li img{
    max-height: 450px;
    padding: 29px 0;
    margin: 0 auto;
}
.homepage-ab-customer-testimonial-section.helpcenter{   padding-top: 70px;
    padding-bottom: 180px;
    margin-top: 50px;
    position: relative;
    overflow: hidden;
}
.naccs.helpcenter .menu div>span{
    line-height: 1.45;
    font-size: 20px;
}
.naccs.helpcenter .menu div{
    padding: 30px 15px;  
}
.naccs.helpcenter .menu div>span:last-child{
    color: #4a4a4a;
}

.img-container.helpcenter svg{
    max-height: 100px;
    margin-bottom: 20px;
}
.cards-topic-title.helpcenter{
    font-weight: 700;
    color: #4a4a4a;
    margin-bottom: -10px;
    font-size: 20px;
}
@media only screen and (max-width: 1200px) {
    .cards-topic-title.helpcenter{
        min-height: 55px;
    }
}
@media only screen and (max-width: 860px) {

    .helpcenter-features-container .row{
        flex-direction: column-reverse;
    }
    .helpcenter-features-text, .helpcenter-features-img,
    .helpcenter-features-text.reverse{
        width: 100%;
        text-align: center;
        padding-top: 20px;
    }
    .homepage-ab-customer-testimonial-section.helpcenter{
        padding-bottom: 30px;
        padding-top: 10px;
    }
    .homepage-ab-customer-testimonial-section.helpcenter{   
        background: none;
    }
    .naccs.naccs.helpcenter .menu div.active{
        background: none;
    }
    .naccs.helpcenter .menu div>span:last-child{
        font-weight: normal;
    }
}
