* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::selection {
  background-color: #747ffc;
  color: #ffffff;
}

html * {
  font-family: 'Roboto', 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
}

.landing-page-main-image {
  max-width: 550px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: -7px;
}


.header-navbar-container {
  width: auto;
}
.navbar-brand {
  display: flex;
  align-items: center;
  margin-top: 30px;
  padding-left: 15px;
}
.navbar-brand svg {
  width: auto;
  height: 45px;
  margin-right: 15px;
}
.kommunicate-logo-text {
  font-size: 25px;
  color: #5C5AA7;
  text-transform: uppercase;
  font-weight: 700;
}

.mobile-only {
  display: none;
}

.homepage-beta-landing-page-section {
  position: relative;
  padding-top: 50px;
  /* height: 100vh; */
  overflow: hidden;
  background: transparent;
}

.hero-section {
  margin-top: 80px;
}

.hero-text {
  font-size: 40px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #353535;
}

.hero-subtext {
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: 0.4px;
  margin-top: 20px;
  margin-bottom: 30px;
  color: #959595;
}

.icon-heading {
  font-size: 20px;
  font-weight: 300;
  color: #24374e;
  transition: all 0.2s ease-in;
}
.hero-section-icon-link, .hero-section-icon-link:focus, .hero-section-icon-link:hover {
  text-decoration: none;
}
/*.hero-section-icon-link:hover .icon-heading {
  font-size: 22px;
}*/
.landing-page-img-container {
  width: 65px;
  height: 65px;
  margin: 0 auto;
  border-radius: 20px;
  border: solid 1.5px #24374e;
  transition: all 0.2s ease-in;
}
.km-realtime-support-only-white-icon-1
.km-cross-platform-only-white-icon-1
.km-dynamic-faqs-only-white-icon-1
.km-integrations-only-white-icon-1
.km-smart-campaigns-only-white-icon-1
.km-chatbot-only-white-icon-1 {
  transition: all 0.3s ease-in;
  fill: #24374eb3;
}
.hero-section-icon-link:hover .landing-page-img-container {
  box-shadow: 1px 4px 12px 3px rgba(63, 60, 60, 0.233);
  background-color: #fff;
  border: 1.5px solid #5C5AA7;
  background: #5C5AA7;
}

.hero-section-icon-link:hover .km-realtime-support-only-white-icon-1, .hero-section-icon-link:hover .km-cross-platform-only-white-icon-1,  .hero-section-icon-link:hover .km-dynamic-faqs-only-white-icon-1,
.hero-section-icon-link:hover .km-integrations-only-white-icon-1, .hero-section-icon-link:hover .km-smart-campaigns-only-white-icon-1,  .hero-section-icon-link:hover .km-chatbot-only-white-icon-1  {
  fill: #ffffff;
}

.why-kommunicate-section {
  padding-top: 40px;
  background-color: #5C5AA7;
}

.homepage-beta-features-section:focus, .why-kommunicate-section:focus {
  outline: none;
}
@-webkit-keyframes spaceboots {
0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
@keyframes spaceboots {
0% { transform: translate(2px, 1px) rotate(0deg); }
10% { transform: translate(-1px, -2px) rotate(-1deg); }
20% { transform: translate(-3px, 0px) rotate(1deg); }
30% { transform: translate(0px, 2px) rotate(0deg); }
40% { transform: translate(1px, -1px) rotate(1deg); }
50% { transform: translate(-1px, 2px) rotate(-1deg); }
60% { transform: translate(-3px, 1px) rotate(0deg); }
70% { transform: translate(2px, 1px) rotate(-1deg); }
80% { transform: translate(-1px, -1px) rotate(1deg); }
90% { transform: translate(2px, 2px) rotate(0deg); }
100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.shake {
  animation: spaceboots 0.8s linear 0.6s 1;
  -webkit-animation-name: spaceboots;
-webkit-animation-duration: 0.8s;
-webkit-transform-origin:50% 50%;
/*animation-delay: 1s;*/

-webkit-animation-iteration-count: 3;
-webkit-animation-timing-function: linear;
animation-name: spaceboots;
animation-duration: 0.8s;
transform-origin:50% 50%;
animation-iteration-count: 3;
animation-timing-function: linear;
}





.form-submit-btn {
  display: inline-block;
  padding: 14px 20px;
  letter-spacing: 0.015em;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  border-radius: 6px;
  -webkit-appearance: none;
  text-decoration: none;
  border: none;
  flex: 0 1 auto;
  background-color: #5C5AA7;
  }
.form-submit-btn:hover {
    background-color: #3c3b7b;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  }
.form-submit-btn:focus {
  outline: none;
}
.why-kommunicate-section .form-submit-btn {
  display: inline-block;
  padding: 14px 20px;
  /*    border: 2px solid #fff;*/
  /*    text-transform: uppercase;*/
  letter-spacing: 0.015em;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: #fff;
  text-decoration: none;

  background: #5C5AA7;
background: -moz-linear-gradient(left, rgb(200,109,215) 0%, rgb(48,35,174) 100%);
background: -webkit-linear-gradient(left, rgb(200,109,215) 0%,rgb(48,35,174) 100%);
background: linear-gradient(to right, rgb(200,109,215) 0%,rgb(48,35,174) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c86dd7', endColorstr='#3023ae',GradientType=1 ); 

  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  border-radius: 0px 26px 26px 0px;
  -webkit-appearance: none;
  text-decoration: none;
  border: none;
  flex: 0 1 auto;
}

.form-submit-btn:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .39);
}
.why-kommunicate-section .form-submit-btn:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .39);
}

.cta-email-pre-signup {
  background: #fff;
    width: 50%;
    color: #5c5aa7;
    font-size: 18px;
    padding: 15px 16px 15px 14px;
    margin: 0;
    border-radius: 6px 0px 0px 6px;
    outline: none;
    height: 47px;
    box-shadow: none;
    /* margin-right: 5px; */
    border: none;
    flex: 1 0 auto;
    /* box-shadow: 0 3px 6px rgba(36,129,215,.05), 0 2px 3px rgba(36,129,215,.04); */
}
.why-kommunicate-section .cta-email-pre-signup, .homepage-beta-cta-section .cta-email-pre-signup {
  background: transparent;
  width: 50%;
  color: #000;
  font-size: 16px;
  padding: 15px 16px 15px 14px;
  margin: 0;
  border-radius: 6px;
  outline: none;
  height: 47px;
  box-shadow: none;
  /* margin-right: 5px; */
  border: none;
  flex: 1 0 auto;
}


.homepage-beta-cta-section .form-submit-btn:hover {
    background-color: #1aaa42;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  }

.pre-signup-form {
  background-color: white;
    border-radius: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    display: flex;
    /* border: 2px solid #007fff; */
    width: 95%;
    /* margin: 0 auto; */
    box-shadow: 1px 2px 4px 1px rgba(199, 199, 199, 0.5);
}
.homepage-beta-cta-section .pre-signup-form {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3), 0px -2px 8px 0 rgba(0, 0, 0, 0.3);
}
.why-kommunicate-section .pre-signup-form {
  /*background-color: white;*/
  border-radius: 100px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 0px;
  padding-right: 0px;
  display: flex;
  /*border: 2px solid #007fff;*/
  width: 100%;
  /*margin: 0 auto;*/
}

/*.pre-signup-form:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .39);
}*/

.pre-signup-form br {
  display: none;
}

.signup-success-msg-div, .signup-error-msg-div1 {
  background-color: white;
  text-align: center;
  width: 100%;
  border-radius: 6px;
  /*border: 1px solid #5d5ba8;*/
}
.signup-error-msg-div2 {
  text-align: center;
  width: 100%;
  border-radius: 6px;
}
.signup-error-msg-div2 .signup-error-msg-text1 {
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #2CA23C;
}
.signup-success-msg-text {
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.signup-error-msg-text1 {
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #2CA23C;
}



@media only screen and (max-width: 568px) {
  .pre-signup-form br {
      display: block;
  }
  .pre-signup-form {
    background-color: transparent;
    box-shadow: none;
  }
  .form-submit-btn {
      font-size: 16px;
      width: 100%;
  }
  .cta-email-pre-signup {
      width: 100% !important;
  }
  .whats-new-section {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: calc(100% + 20px * 2);
    padding: 10px 20px;
    margin: 0 0 10px -20px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    text-decoration: none;
  }
}

.early-bird-offer-text {
  font-size: 20px;
  color: rgba(207, 228, 47, 1);
}

.why-kommunicate-main-heading {
  margin-top: 40px;
  font-weight: 300;
  font-size: 34px;
  color: #FFF;

}
.why-kommunicate-content-heading {
  font-size: 29px;
  letter-spacing: 1px;
  color: #FFF;
}
.why-kommunicate-content-description {
  font-weight: 300;
  line-height: 29px;
  font-size: 18px;
  color: #FFF;
}
.excited-text {
  margin: 0 0 0 16px;
  font-style: italic;
}

.why-kommunicate-delight-customers-section, .why-kommunicate-reduce-churn-section, .why-kommunicate-agent-chatbot-section, .why-kommunicate-reduce-ticket-section {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding: 6em 0em;
}
.why-kommunicate-reduce-ticket-section {
  border: none;
}




.homepage-beta-features-section {
  padding: 0px;
  position: relative;
  background-color: #f4f8fb;
}
.homepage-beta-features-section .section-heading {
  margin-top: 0px;
  margin-bottom: 30px;
}

.features-heading {
  font-size: 20px;
  color: #3D3A3A;
  margin-bottom: 15px;
}
.features-description {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: 0.3px;
  color: #6f7172;
}
/* .img-icon-container {
  width: 110px !important;
  height: 110px;
  margin: 0 auto;
  background-color: #FFF;
  border-radius: 50%;
  box-shadow: 0 0 18px 0 rgba(237, 237, 237, 0.5);
} */
.img-icon-container svg {
  width: 100px;
  box-shadow: 0 0 18px 0 rgba(237, 237, 237, 0.5);
  border-radius: 50%;
  margin-bottom: 30px;
}
.img-icon-container .chatbots-copy-5 {
  margin-top: 0px;
}

.homepage-beta-features-section .row {
  margin-bottom: 5%;
}
.homepage-beta-features-section .row:first-child {
  margin-bottom: 10%;
}
.homepage-beta-features-section .rows {
  margin-bottom: 30px;
}


.Grid {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}
.Grid-cell {
  flex: 1;
  position: relative;
}
.Grid--gutters .Grid-cell {
  padding-left: 1em;
}
.Demo {
  padding: 2.5em 2.6em 1em;
  margin-bottom: 1em;
  /*background: #ebf0f0;*/
  background: #fff;
  transition: background-color 0.3s ease;
  /* border: 1px solid #33cccc; */
  border-radius: 20px;
  min-height: 260px;
  -webkit-box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}
.mid-grid-cell {
  padding-left: 8em;
  padding-right: 8em;
}
/* .mid-grid-cell .img-icon-container {
  left: calc(7.5rem * +1);
} */
.feature-hr {
  display: block;
  margin-top: 0.3em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border: none;
  height: 2px;
  width: 90%;
  background: rgb(200,109,215);
  background: -moz-linear-gradient(left, rgb(200,109,215) 0%, rgb(48,35,174) 100%);
  background: -webkit-linear-gradient(left, rgb(200,109,215) 0%,rgb(48,35,174) 100%);
  background: linear-gradient(to right, rgb(200,109,215) 0%,rgb(48,35,174) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c86dd7', endColorstr='#3023ae',GradientType=1 );
}




.homepage-beta-reasons-invite-list-section {
  /*background-color: #eee9e9;*/
  position: relative;
}

.reason-invite-content-description {
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  color: #2B2929;
}


.homepage-beta-latest-section {
  position: relative;
  padding: 30px 15px 0px 15px;
  /* margin-bottom: 70px; */
  background-color: #f5f7fa;
}
.homepage-beta-latest-section .section-heading {
  color: #5C5AA7;
} .homepage-beta-latest-section .section-subheading {
  color: #5b5b5b;
}
.homepage-beta-latest-section::before {
  /* content: ""; */
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 110%;
  top: 80px;
  left: 0;
  /* -webkit-transform: skewY(-5deg);
  transform: skewY(-5deg); */
  background: #f5f7fa; /* Old browsers */
}
.section-heading {
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: normal;
  color: #000000;
}
.section-subheading {
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: 0.3px;
  color: #aba9a9;
}

.homepage-beta-latest-section .Grid .Grid-cell:first-child {
  margin-left: 15px;
}
.homepage-beta-latest-section .Grid .Grid-cell:last-child {
  margin-right: 15px;
}
.homepage-beta-latest-section .Grid .Grid-cell:nth-child(2) {
  margin-right: 6em;
  margin-left: 6em;
}
.homepage-beta-latest-section .Demo {
  padding: 0px;
}
.homepage-beta-latest-section .card {
  border-radius: 4px;
}
.homepage-beta-latest-section .img-card {
  border-top-left-radius:4px;
  border-top-right-radius:4px;
}
.cardss a {
  color: #000;
  text-decoration: none !important;
}
.card {
display: block;
  margin-bottom: 3em;
  line-height: 1.42857143;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  transition: box-shadow .25s;
}
.card:hover {
box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.img-card {
width: 100%;
height:150px;
border-top-left-radius:2px;
border-top-right-radius:2px;
display:block;
  overflow: hidden;
}
.img-card img{
width: 100%;
height: 150px;
object-fit:cover;
transition: all .25s ease;
}
.card-content {
padding:15px;
text-align:left;
}
.card-title {
margin-top:0px;
font-weight: 500;
font-size: 20px;
line-height: 26px;
color: #212121;
}
.card-title a {
  font-size: 20px;
color: #000;
text-decoration: none !important;
}
.card-description {
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #757575;
}
.card-read-more {
border-top: 1px solid #D4D4D4;
}
.card-read-more a {
text-decoration: none !important;
padding:10px;
font-weight:600;
text-transform: uppercase
}

.see-more-link {
  margin-left: 15px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  border-radius: 26px;
  padding: 10px 20px;
  background: #5C5AA7 ;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
}

.see-more-link .fa-arrow-right {
  display: inline-block;
text-align: left;
-webkit-transition: 0.15s ease-out;
-moz-transition: 0.15s ease-out;
-o-transition: 0.15s ease-out;
-ms-transition: 0.15s ease-out;
transition: 0.15s ease-out;
width: 0;
overflow: hidden;
opacity: 0;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
filter: alpha(opacity=0);
top: 3px;
position: relative;
font-size: 18px;
-webkit-transform: scale(.6);
-moz-transform: scale(.6);
-o-transform: scale(.6);
-ms-transform: scale(.6);
transform: scale(.6);
}
.see-more-link:hover, .see-more-link:focus, .see-more-link:active {
  color: rgb(255, 255, 255);
}
.see-more-link:hover .fa-arrow-right {
  margin-left: 10px;
  width: 16px;
  /*left: 8px;*/
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}


.homepage-beta-reasons-invite-list-section {
  padding-top: 70px;
  padding-bottom: 80px;
  background-color: #fff;
}
.reason-invite-main-heading {
  font-size: 34px;
  font-weight: 300;
  color: #5c5aa7;
  margin-bottom: 80px;
}
.reason-invite-content-heading {
  font-weight: 600;
  font-size: 30px;
  color: #393636;
  margin-bottom: 15px;
}
.reason-invite-content-description {
  font-size: 16px;
  font-weight: 400;
  color: #393636;
  margin-top: 15px;
}
.reasons-invite-img-container, .reasons-invite-img-container svg {
  width: auto;
  height: 70px;
  margin: 0 auto;
}
.mobile {
width: 49px;
height: 87px;
}
.inbox-chat {
width: 83px;
height: 82.1px;
margin-top: 7px;
}
.dashboard {
width: 105px;
height: 62px;
margin-top: 15px;
}
.UX-ICON {
width: 92px;
height: 54px;
margin-top: 15px;
}





.homepage-beta-cta-section .form-submit-btn {
  color: #fff;
  background-color: #2dd35c;
}


.love {
  margin-top: 50px;
  color: #ffffff;
}
.fa-heart {
  color: #ff0000;
}

.footer-hr {
  display: block;
  margin-top: 2.3em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border: none;
  height: 3px;
  width:10%;
  background: rgb(200,109,215); /* Old browsers */
  background: -moz-linear-gradient(left, rgb(200,109,215) 0%, rgb(48,35,174) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgb(200,109,215) 0%,rgb(48,35,174) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgb(200,109,215) 0%,rgb(48,35,174) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c86dd7', endColorstr='#3023ae',GradientType=1 ); /* IE6-9 */
}











.form-container {
  max-width: 80%;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 auto;
  padding: 20px 20px 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.homepage-beta-trust-section {
  padding: 50px 0px;
}

.trust-section-heading {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  color: #5f5f5f;
  margin-top: 20px;
  margin-bottom: 40px;
}

.trust-section-heading::before {
  content: '';
  position: absolute;
  background: #747ffc;
  width: 80px;
  height: 3px;
  display: block;
  top: -30px;
  left: calc(50% - 40px);
}

.trust-section-heading::before {
  top: -3px !important;
}

@media (max-width:1200px) {
  .trust-section-heading::before {
      top: -24px !important;
  }
}

.trust-content-heading {
  font-size: 21px;
  color: #777777;
}

.trust-content-description {
  font-size: 15px;
  color: #777777;
  font-weight: 400;
}

.homepage-beta-cta-section {
  background: #f5f7fa;
  /* background-image: url(/assets/resources/images/kommunicate-cta-section-bg.jpg); */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* height: 100vh; */
  /* display: flex; */
  align-items: center;
  padding: 0px 0px;
  position: relative;
  /* margin-bottom: 70px; */
}

.homepage-beta-cta-section .cta-row {
  margin: 80px auto;
  padding: 40px 0px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
  max-width: 900px;
}

.cta-section-text {
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #5c5aa7;
  margin-top: 0px;
  margin-bottom: 30px;
}

.cta-section-cta-btn {
  border-radius: 96px;
  width: 234px;
  height: 49px;
  background: rgba(116, 127, 252, 1);
  color: #fff;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  padding: 15px 25px;
}

.cta-section-cta-btn:hover, .cta-section-cta-btn:active, .cta-section-cta-btn:focus {
  background: rgba(73, 83, 227, 1);
  box-shadow: none;
  color: #fff;
}

.homepage-beta-footer-section {
  position: relative;
  padding: 0px 0px 80px 0px;
  text-align: center;
  background-color: #f6f7fc;
  /* background: transparent; */

}
/* .homepage-beta-footer-section::before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  content: '';
  -webkit-transform: skewY(5deg);
  -ms-transform: skewY(5deg);
  transform: skewY(5deg);
  background-color: #f6f7fc;
} */
/*.homepage-beta-footer-section {
  background: url(/assets/resources/images/kommunicate-hero-image.jpg) no-repeat center #000;
  background-size: cover;
  mix-blend-mode: overlay;
}*/

.homepage-beta-footer-section .img-container svg {
  width: auto;
  height: 60px;
  margin: 0 auto;
  filter: opacity(0.2);
}

.address-container {
  margin-top: 15px;
}

.address {
  font-size: 16px;
  color: #FFFFFF;
  line-height: 28px;
  margin-top: 30px;
}

.address a {
  color: #FFFFFF;
}

.address a:hover {
  color: #ffffff85;
}

label {
  margin-left: 6px;
}

.form-control {
  border-radius: 25px !important;
  ;
  padding: 20px 18px;
  box-shadow: inset 0px 2px 3px #dddddd;
  -webkit-box-shadow: inset 0px 2px 3px #dddddd;
  -moz-box-shadow: inset 0px 2px 3px #dddddd;
}

.signup-btn-container {
  margin-top: 33px;
}

.btn-signup {
  border-color: transparent;
  border-radius: 42px;
  width: 100%;
  height: 45px;
  background: #5862ef;
  color: #fff;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.btn-signup:hover, .btn-signup:focus, .btn-signup:active, .btn-signup:active:focus {
  background: #4953e3;
  color: #fff;
  border-color: transparent;
}

.btn-default.disabled.focus, .btn-default.disabled:focus, .btn-default.disabled:hover, .btn-default[disabled].focus, .btn-default[disabled]:focus, .btn-default[disabled]:hover, fieldset[disabled] .btn-default.focus, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:hover {
  background-color: #4953e3;
  border-color: transparent;
}

.error-message {
  background-color: #f00;
}

.error-message-text {
  font-size: 16px;
  color: #A31621;
}

.success-message-text {
  font-size: 16px;
  color: #8EA604;
}



.scroll-down {
  /*position: absolute;*/
  bottom: 62px;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  z-index: 15;
  width: 60px;
}

.scroll-down .fa-angle-down {
  font-size: 40px;
  color: #FFFFFF;
  margin-top: 35px;
  -webkit-animation: bounce 2s infinite  ease-in-out;
  animation: bounce 2s infinite  ease-in-out;
}


@-webkit-keyframes bounce {
0% {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0); }
50% {
  -webkit-transform: translate(0, 20px);
          transform: translate(0, 20px); }
100% {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0); } }

@keyframes bounce {
0% {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0); }
50% {
  -webkit-transform: translate(0, 20px);
          transform: translate(0, 20px); }
100% {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0); } }


@media(min-width:768px) {
  .why-kommunicate-agent-chatbot-section,
  .why-kommunicate-reduce-ticket-section {
      display: flex;
      flex-flow: row-reverse;
  }
  .homepage-beta-cta-section {
    /* height: 550px; */
  }
}
.homepage-beta-landing-page-section .cta-signup-btn {
  display: none;
}

@media (max-width:767px) {
  .homepage-beta-landing-page-section {
      height: auto;
      padding-bottom: 0px;
      padding-right: 15px;
      padding-left: 15px;
  }
  .hero-text, .hero-subtext {
      text-align: left;
  }
  .hero-section {
    margin-top: 55px;
}
.homepage-beta-landing-page-section .arch {
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 0px !important;
}
.landing-page-main-image {
  margin-top: 0px;
}
  .hero-text {
      font-size: 28px;
  }
  .hero-subtext {
      font-size: 18px;
      margin-bottom: 35px;
  }
  .mobile-only {
      display: none;
  }
  .mobile-only .navbar-brand svg {
      width: auto;
      height: 80px;
  }
  .desktop-only {
      display: block;
  }

  /*.mid-grid-cell {
      padding-left: 0em;
      padding-right: 0em;
  }*/
  .homepage-beta-cta-section {
         /* height: 350px; */
    padding-top: 0px;
    position: relative;
    padding-bottom: 60px;
  }
  .pre-signup-form {
    display: none;
      width: 100%;
      flex-wrap: wrap;
      /* background-color: transparent; */
  }
  .why-kommunicate-delight-customers-section {
      padding: 3em 0em;
  }
  .why-kommunicate-reduce-ticket-section .mobile-view {
      margin-top: 20px;
  }
  .homepage-integrate-section .img-container {
    margin-top: 30px;
  }
  .homepage-beta-landing-page-section .cta-signup-btn {
    display: block;
    height: 43px;
    line-height: 43px;
    margin-left: 0px;
  }
  .no-credit-card-text {
    margin-left: 0px !important;
  }
}


@media (max-width:350px) {
  .why-kommunicate-main-heading {
      font-size: 32px;
  }
  .navbar-brand {
      padding-left: 0px;
      margin-left: -10px;
  }
  .navbar-brand svg {
      height: 40px;
  }
  .kommunicate-logo-text {
      font-size: 21px;
  }
  .homepage-beta-cta-section {
      /* margin-bottom: 130px; */
  }
  
}
@media (max-width:560px) {
  .cta-email-pre-signup {
      border-radius: 6px;
  }
  .why-kommunicate-section .cta-email-pre-signup, .homepage-beta-cta-section .cta-email-pre-signup {
      border-radius: 6px;
  }
  .form-submit-btn {
      flex: 0 0 100%;
      margin-top: 15px;
      border-radius: 6px;
  }
  .why-kommunicate-section .form-submit-btn {
      border-radius: 6px;
  }
  .homepage-beta-cta-section .pre-signup-form {
    box-shadow:none;
}
.why-kommunicate-section .cta-email-pre-signup, .homepage-beta-cta-section .cta-email-pre-signup {
  border: 1px solid #7B7979;
}
}
@media (max-width:850px) {
  .homepage-beta-features-section .section-heading {
      margin-bottom: 1.5em;
  }
  .Grid-cell {
      flex: 0 0 100%;
      padding: 0rem 15px;;
      margin-bottom: 3em;
  }
  /*.mid-grid-cell .img-icon-container {
      left: calc(0.7rem * +1);
  }*/
  /*.img-icon-container {
      left: calc(0.7rem * +1);
  }*/
  .homepage-beta-latest-section .Grid .Grid-cell:nth-child(2) {
      margin: 0;
      padding: 0;
  }
  .homepage-beta-latest-section .Grid .Grid-cell:last-child {
      margin: 0;
      padding: 0;
  }
  .homepage-beta-latest-section .Grid .Grid-cell:first-child {
      margin: 0;
      padding: 0;
  }
  .homepage-beta-latest-section .card {
      margin-bottom: 1em;
  }
  .Demo {
      min-height: auto;
  }
}


@media (min-width:992px) and (max-width:1199px) {
  .main-text-div {
      padding: 0em 4em;
  }
  .main-img-div {
      padding: 0em 7em;
  }
  .why-kommunicate-section .pre-signup-form {
      width: 100%;
      flex-wrap: wrap;
  }
  .why-kommunicate-section .cta-email-pre-signup {
      border-radius: 6px;
  }
  .why-kommunicate-section .form-submit-btn {
      flex: 0 0 100%;
      margin-top: 15px;
      border-radius: 6px;
  }
  .icons-row-landing {
      margin-bottom: 40px;
      z-index: 10;
  }
  .homepage-beta-landing-page-section #pre-signup-form {
      width: 100%;
  }
  .homepage-beta-latest-section .Demo {
      min-height: 382px;
  }
  .homepage-beta-latest-section .Demo span {
      display: none;
  }
  .homepage-beta-features-section .Demo {
      min-height: 308px;
  }
}
@media (min-width:768px) and (max-width:991px) {
  .main-text-div {
      padding: 0em 2em;
  }
  .main-img-div {
      padding: 0em 2em;
  }
  .why-kommunicate-section .pre-signup-form {
      width: 100%;
      flex-wrap: wrap;
  }
  .why-kommunicate-section .cta-email-pre-signup {
      border-radius: 6px;
  }
  .why-kommunicate-section .form-submit-btn {
      flex: 0 0 100%;
      margin-top: 15px;
      border-radius: 6px;
  }
  .homepage-beta-landing-page-section {
      height: auto;
  }
  .homepage-beta-landing-page-section #pre-signup-form {
      width: 70%;
  }
  .icons-row-landing {
      margin-bottom: 40px;
      z-index: 10;
  }
  .scroll-down .fa-angle-down {
      margin-top: 40px;
      margin-bottom: 20px;
  }
  .homepage-beta-cta-section .pre-signup-form {
      width: 75%;
  }

}
@media (min-width:850px) and (max-width:991px) {
  .mid-grid-cell {
      padding-right: 7em;
  }
  .homepage-beta-latest-section .Demo {
      min-height: 486px;
  }
  .homepage-beta-latest-section .Demo span {
      display: none;
  }
  .homepage-beta-features-section .Demo {
      min-height: 452px;
  }
}

@media (min-width:1200px) {
  .main-text-div {
      padding: 0em 6em;
  }
  .main-img-div {
      padding: 0em 8em;
  }
  .why-kommunicate-delight-customers-section, .why-kommunicate-reduce-churn-section, .why-kommunicate-agent-chatbot-section, .why-kommunicate-reduce-ticket-section {
      padding: 6em 0em;
  }
  .why-kommunicate-delight-customers-section .why-kommunicate-content-heading, .why-kommunicate-reduce-ticket-section .why-kommunicate-content-heading {
      margin-top: 2em;
  }
  .why-kommunicate-reduce-churn-section  .why-kommunicate-content-heading, .why-kommunicate-agent-chatbot-section .why-kommunicate-content-heading {
      margin-top: 2em;
  }
}


/* input::-webkit-input-placeholder {
  font-size: 18px !important;
  color: rgba(255, 255, 255, 0.7) !important;
}

input:-moz-placeholder {

  font-size: 18px !important;
  color: rgba(255, 255, 255, 0.7) !important;
}

input::-moz-placeholder {

  font-size: 18px !important;
  color: rgba(255, 255, 255, 0.7) !important;
}

input:-ms-input-placeholder {
  font-size: 18px !important;
  color: rgba(255, 255, 255, 0.7) !important;
} */
.why-kommunicate-section input::-webkit-input-placeholder, .homepage-beta-cta-section input::-webkit-input-placeholder {
  font-size: 16px !important;
  color: #5B5959 !important;
}

.why-kommunicate-section input:-moz-placeholder, .homepage-beta-cta-section input:-moz-placeholder {
  /* Firefox 18- */
  font-size: 16px !important;
  color: #5B5959 !important;
}

.why-kommunicate-section input::-moz-placeholder, .homepage-beta-cta-section input::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 16px !important;
  color: #5B5959 !important;
}

.why-kommunicate-section input:-ms-input-placeholder, .homepage-beta-cta-section input:-ms-input-placeholder {
  font-size: 16px !important;
  color: #5B5959 !important;
}



.km-logo-home-page {
  display: block;
  height: 40px;
}
.km-logo-varient3-1 {
  fill: #5C5AA7;
}
.km-logo-rest-pages {
  display: none;
}
.nav-login-button {
  color: rgb(255, 255, 255);
}
.nav-login-button:hover {
  color: rgba(255, 255, 255, 0.5);
}


#chat-widget-copy-10 {
  fill: #5C5AA7;
  transition: all 0.1s ease;
}
.page-links-ul li:nth-child(3)>a:hover #chat-widget-copy-10{
  fill: #5d5aa786 !important;
}
.sticky {
  background: #FFF;
}
.div-1 {
  position: absolute;
  z-index: -1;
  bottom: 47%;
  right: -15%;
  width: 620px;
  height: 600px;
  background-image: linear-gradient(137deg, #a6a8d3, #4831d9);
  border-radius: 50%;
}
.div-2 {
  position: absolute;
  bottom: 32%;
  right: -10.5%;
  z-index: -2;
  width: 900px;
  height: 870px;
  border-radius: 50%;
  background-image: linear-gradient(52deg, #499be4, #5dd8db 48%, #b4ec51);
}
.div-3 {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(13deg);
  opacity: 0.32;
  background-image: linear-gradient(to right, #4daab7, #2475bb 41%, #5c5aa7);
  z-index: -1;
  bottom: -20%;
  right: 24%;
}
.homepage-beta-landing-page-section::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 98%;
  top: 0;
  left: 0;
  z-index: -3;
  background-color: #f4f8fb;
}

.km-logo-home-page .km-logo-final-full-0, .km-logo-home-page .km-logo-final-full-1 {
  fill: #5c5aa7 !important;
}
.sticky .km-logo-home-page .km-logo-final-full-0, .sticky  .km-logo-home-page .km-logo-final-full-1 {
  fill: #5c5aa7 !important;
}

.km-launcher-logo-0 {
  fill: #ffffff !important;
} .km-launcher-logo-1 {
  fill: #5C5AA7 !important;
}


.whats-new-section {
  border-radius: 16px;
  background-color: rgba(228, 230, 247, 0.7);
  padding: 4px 16px;
}
.whats-new-section .message {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  color: #353435;
  margin-bottom: 0px;
}
.whats-new-section .new-pill {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  color: #5e4dd8;
  margin-right: 12px;
}
.no-credit-card-text {
  margin-top: 5px; 
  font-size:16px; 
  color:#a6a1a1;
  margin-left: 15%;
}

.homepage-showcase-section {
  padding-bottom: 100px;
}
.homepage-showcase-section .image-container {
  position: relative;
}
.homepage-showcase-section .image-container {
  position: relative;
}
.circle-1, .circle-2, .circle-3 {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 3px dotted #6B5DD8;
  background: transparent;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.circle-1 {
  width: 594px;
  height: 594px;
  opacity: 0.75;
    z-index: -2;
}
.circle-2 {
  width: 809px;
  height: 809px;
  opacity: 0.3;
    z-index: -2;
}
.circle-3 {
  width: 1024px;
  height: 1024px;
  opacity: 0.1;
    z-index: -2;
}

.hr {
  width: 10%;
  margin: 0 auto;
  border: none;
  border-top: 3px solid #6556d7;
}

.homepage-experience-section {
  padding: 75px 0px;
  overflow: hidden;
}
.homepage-experience-section .hr {
  margin-left: 0px;
}
.homepage-experience-section .section-heading {
  margin-bottom: 25px;
  margin-top: 100px;
}
.homepage-experience-section .section-subheading {
  margin-top: 25px;
  margin-bottom: 80px;
}

.flexi {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.cards-container {
  margin-bottom: 20px;
  position: relative;
}
.icons-container {
  position: absolute;
  width: 130px;
  z-index: -1;;
}
.icons-container.faster-query {
  bottom: calc(100% - 55px);
  right: calc(100% - 100px);
}
.icons-container.improve-support {
  top: calc(100% - 55px);
  right: calc(100% - 81px);
  width: 100px;
}
.icons-container.reduce-ticket {
  bottom: calc(100% - 104px);
  left: calc(100% - 68px);
  width: 100px;
}
.cards {
  padding: 25px;
  border-radius: 4px;
  box-shadow: 0 4px 10px rgba(212, 212, 212, 0.5);
  max-width: 250px;
  margin: 0 auto;
  background-color: #fff;
}
.cards-topic-title {
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  color: #454444;
  margin-top: 25px;
  margin-bottom: 25px;
}
.cards-topic-description {
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #8f8e8e;
}

.homepage-customer-testimonial-section {
  background-color: #f4f8fb;
  position: relative;
}
.homepage-customer-testimonial-section .wavy{
  margin-bottom: 50px;
}

.homepage-integrate-section {
  padding: 80px 0px;
}
.homepage-integrate-section .hr {
  margin-left: 0px;
}
.homepage-integrate-section .section-heading {
  margin-bottom: 30px;
}
.homepage-integrate-section .section-subheading {
  margin-top: 30px;
  margin-bottom: 30px;
}

.homepage-integrate-section .img-container {
  box-shadow: 0 2px 4px 0 rgba(169, 165, 165, 0.5);
  border-radius: 6px;
}

.see-docs-link {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: #5C5AA7;
  margin-bottom: 30px;
}
.see-docs-link:hover, .see-docs-link:focus {
  color: rgb(45, 44, 75);
}

/* Testimonial Design */
.testimonials {
  position: relative;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0 2px 10px 0 rgba(233, 230, 230, 0.5);
  padding: 50px 55px;
}
.profile-pic {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -55px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background-color: #d8d8d8;
}
.profile-pic img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: solid 2px #989797;
}
.testimonial-by-name {
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #313131;
}
.testimonial-by-designation {
  font-size: 22px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #929292;
}
.testimonial-quote p{
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.41;
  letter-spacing: normal;
  color: #555454;
  margin-top: 40px;
}
.quote-img {
  position: absolute;
  top: -56px;
  left: -10px;
  width: 100px;
}


/* Slick.js Carousel Settings */
.testimonials-center .slick-active {
  -moz-transform: scale(1.08);
  -ms-transform: scale(1.08);
  -o-transform: scale(1.08);
  -webkit-transform: scale(1.08);
  color: #e67e22;
  opacity: 1;
  transform: scale(0.7);
}
.testimonials-center .slick-center {
  -moz-transform: scale(1.08);
  -ms-transform: scale(1.08);
  -o-transform: scale(1.08);
  -webkit-transform: scale(1.08);
  color: #e67e22;
  opacity: 1;
  transform: scale(1.1);
}


  /* .slick-slide{
    width: 675px;
  } */
.slick-prev, .slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
.slick-prev:before, .slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev:before {
  content: '←';
}
.slick-next:before {
  content: '→';
}
.slick-prev {
  left: -25px;
}
.slick-next {
  right: -25px;
}

.slick-dots {
  position: absolute;
  bottom: -45px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:before {
  font-family: 'slick';
  font-size: 40px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: #5c5aa7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #5c5aa7;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}


/*** Buttons ***/
.km-button {
  border-radius: 3px;
  -webkit-appearance: none;
  border: none;
  outline: none;
  background: transparent;
  height: 36px;
  padding: 0px 16px;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  min-width: 70px;
  transition: all 0.3s ease-out;
}
.km-button:focus {
  outline: none;
}
.km-button:hover {
  outline: none;
  border: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .39);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .39);
}
.km-button--primary {
  background-color: #5C5AA7;
  color: #FFFFFF;
}
.km-button--primary:hover {
  background-color: #3c3b7b;
  color: #FFFFFF;
}

.cta-signup-btn {
  display: block;
  margin: 0 auto;
  max-width: 250px;
  line-height: 50px;
  height: 50px;
  font-size: 17px;
}

.homepage-beta-cta-section p {
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #AAA7A7;
  margin-top: 30px;
}

.homepage-beta-cta-section .shape-svg {
  margin-bottom: 80px
}

.integrations-logo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 18px 0 rgba(237, 237, 237, 0.5);
  position: relative;
}
.integrations-logo svg {
  position: absolute;
  width: 75px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.squarespace-logo, .helpdocs-logo {
  margin: 0 auto;
}
.clearbit-logo, .zendesk-logo {
  margin-left: auto;
}
.homepage-beta-cta-section  {
  padding-bottom: 80px;
}
.medium {
  width: 130px;
  height: 130px;
  margin-top: -30px;
}
.medium svg {
  width: 50px;
  height: auto;
}
.small {
  width: 110px;
  height: 110px;
}
.small svg {
  width: 45px;
  height: auto;
}

.squarespace-logo.small {
  margin-top: 70px;
}



@media (max-width:767px) {
  .mobile-dn {
    display: none;
  }
}




/* Testimonial */
@keyframes heartbeat {
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.slider-container {
  /* position: absolute;
  left: 50%;
  top: 50%; */
  width: 100%;
  max-width: 800px;
  height: 600px;
  margin: 0 auto;
  position: relative;
}
.slider-container .slider-content {
  position: relative;
  left: 50%;
  top: 50%;
  width: 70%;
  height: 60%;
  transform: translate(-50%, -50%);
}
.slider-container .slider-content .slider-single {
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: z-index 0ms 250ms;
}
.slider-container .slider-content .slider-single .slider-single-image {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
  transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
  transform: scale(0);
  opacity: 0;
}
.slider-container .slider-content .slider-single .slider-single-download {
  position: absolute;
  display: block;
  right: -22px;
  bottom: 12px;
  padding: 15px;
  color: #333333;
  background-color: #fdc84b;
  font-size: 18px;
  font-weight: 600;
  font-family: 'karla';
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
  opacity: 0;
}
.slider-container .slider-content .slider-single .slider-single-download:hover, .slider-container .slider-content .slider-single .slider-single-download:focus {
  outline: none;
  text-decoration: none;
}
.slider-container .slider-content .slider-single .slider-single-title {
  display: block;
  float: left;
  margin: 16px 0 0 20px;
  font-size: 20px;
  font-family: 'karla';
  font-weight: 400;
  color: #ffffff;
  transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
  opacity: 0;
}
.slider-container .slider-content .slider-single .slider-single-likes {
  display: block;
  float: right;
  margin: 16px 20px 0 0;
  transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
  opacity: 0;
}
.slider-container .slider-content .slider-single .slider-single-likes i {
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  color: #ff6060;
  transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
  transform: scale(0);
}
.slider-container .slider-content .slider-single .slider-single-likes p {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  color: #ffffff;
}
.slider-container .slider-content .slider-single .slider-single-likes:hover, .slider-container .slider-content .slider-single .slider-single-likes:focus {
  outline: none;
  text-decoration: none;
}
.slider-container .slider-content .slider-single.preactivede .slider-single-image {
  transform: translateX(-50%) scale(0);
}
.slider-container .slider-content .slider-single.preactive {
  z-index: 1;
}
.slider-container .slider-content .slider-single.preactive .slider-single-image {
  opacity: .7;
  transform: translateX(-25%) scale(0.8);
}
.slider-container .slider-content .slider-single.preactive .slider-single-download {
  transform: translateX(-150px);
}
.slider-container .slider-content .slider-single.preactive .slider-single-title {
  transform: translateX(-150px);
}
.slider-container .slider-content .slider-single.preactive .slider-single-likes {
  transform: translateX(-150px);
}
.slider-container .slider-content .slider-single.proactive {
  z-index: 1;
}
.slider-container .slider-content .slider-single.proactive .slider-single-image {
  opacity: .7;
  transform: translateX(25%) scale(0.8);
}
.slider-container .slider-content .slider-single.proactive .slider-single-download {
  transform: translateX(150px);
}
.slider-container .slider-content .slider-single.proactive .slider-single-title {
  transform: translateX(150px);
}
.slider-container .slider-content .slider-single.proactive .slider-single-likes {
  transform: translateX(150px);
}
.slider-container .slider-content .slider-single.proactivede .slider-single-image {
  transform: translateX(50%) scale(0);
}
.slider-container .slider-content .slider-single.active {
  z-index: 2;
}
.slider-container .slider-content .slider-single.active .slider-single-image {
  opacity: 1;
  transform: translateX(0%) scale(1);
}
.slider-container .slider-content .slider-single.active .slider-single-download {
  opacity: 1;
  transition-delay: 100ms;
  transform: translateX(0px);
}
.slider-container .slider-content .slider-single.active .slider-single-title {
  opacity: 1;
  transition-delay: 200ms;
  transform: translateX(0px);
}
.slider-container .slider-content .slider-single.active .slider-single-likes {
  opacity: 1;
  transition-delay: 300ms;
  transform: translateX(0px);
}
.slider-container .slider-content .slider-single.active .slider-single-likes i {
  animation-name: heartbeat;
  animation-duration: 500ms;
  animation-delay: 900ms;
  animation-interation: 1;
  animation-fill-mode: forwards;
}
.slider-container .slider-left {
  position: absolute;
  z-index: 3;
  display: block;
  right: 85%;
  top: 50%;
  color: #ffffff;
  transform: translateY(-50%);
  padding: 20px 15px;
  margin-right: -2px;
}
.slider-container .slider-right {
  position: absolute;
  z-index: 3;
  display: block;
  left: 85%;
  top: 50%;
  color: #ffffff;
  transform: translateY(-50%);
  padding: 20px 15px;
  margin-left: -2px;
}

.slider-single.proactive .testimonials *, .slider-single.preactive .testimonials * {
  visibility: hidden;
}
.slider-single.active .testimonials * {
  visibility: visible;
}

.slider-container .slider-left svg, .slider-container .slider-right svg {
  width: auto;
  height: 55px;
}

.homepage-beta-landing-page-section .bg-oval {
  display: none;
}

@media screen and (max-width:630px) {
  .slider-container .slider-content .slider-single.preactive, .slider-container .slider-content .slider-single.proactive {
    visibility: visible;
  }
  .slider-container .slider-content .slider-single.active {
    visibility: visible;
  }
  .slider-container .slider-left svg, .slider-container .slider-right svg {
    width: auto;
    height: 35px;
  }

  .testimonials .testimonial-by-name {
    font-size: 18px;
  }
  .testimonials .testimonial-by-designation {
    font-size: 20px;
  }
   .testimonials .testimonial-quote p {
    font-size: 17px;
  }
  .testimonials .quote-img {
    position: absolute;
    left: 60px;
    top: 180px;
    width: 100px;
    transform: translate(-50%, -50%);
    opacity: 0.2;
  }
  .testimonials {
    padding: 50px 15px;
  }
  .slider-container .slider-content .slider-single.proactive .slider-single-image, .slider-container .slider-content .slider-single.preactive .slider-single-image {
    opacity: 0.5;
  }
}

@media screen and (min-width:992px) {
  .slider-container .slider-right {
    left: 100%;
  }
  .slider-container .slider-left {
    right: 100%;
  }
  .homepage-showcase-section .image-container svg {
    margin-top: -120px;
    max-width: 900px;
    margin: -120px auto 0px;
  }
}
@media screen and (max-width:885px) {
  .homepage-beta-landing-page-section .bg-oval {
    display: block;
    width: auto;
    height: 390px;
    position: absolute;
    bottom: 56%;
    right: -21%;
  }
  .homepage-beta-landing-page-section .div-1, .homepage-beta-landing-page-section .div-2{
    display: none;
  }
}
@media screen and (max-width:420px) {
  .homepage-beta-landing-page-section .bg-oval {
    display: block;
    width: auto;
    height: 390px;
    position: absolute;
    bottom: 67%;
    right: -54%;
  }
}



/* .homepage-beta-landing-page-section {
  background-image: url(/assets/resources/images/colorful-bg.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 195% 163%;
} */