* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
::selection {
    background-color: #007fff;
    color: #ffffff;
}
html * {
  font-family: 'Lato', 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif !important;
}
body {
  /*    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);*/
  /*  background: #16a085;*/
  /*  color: #fff;*/
  /*  line-height: 1.3;*/
  -webkit-font-smoothing: antialiased;
}


/*

#our-Partner:before {
content: '';
position: absolute;
left: 0;
right: 0;
top: 0;
height: 100vw;
background: url('/assets/resources/images/backslant-home.svg') no-repeat;
background-size:cover;
}
*/

#our-Partner {
  background: url('/assets/resources/images/Kommunicate-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  background-color: #151921;
}

#intro h1 {
  /*    text-transform: uppercase;*/
  font-size: 32px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 0.015em;
  margin-bottom: px;
}

#intro h6 {
  color: #d0d3da;
  margin-top: 20px;
}


/*
#intro p::after {
content: '';
width: 80px;
display: block;
background: #fff;
height: 3px;
margin: 30px auto;
line-height: 1.1;
}
*/

#intro p {
  color: #d0d3da;
  margin: 0 0 30px 0;
  font-size: 16px;
}

#intro .btn {
  display: inline-block;
  padding: 15px 20px;
  /*    border: 2px solid #fff;*/
  /*    text-transform: uppercase;*/
  letter-spacing: 0.015em;
  font-size: 14px;
  background-color: #007FFF;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  border-radius: 100px;
}

#intro .btn:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .39);
}


.cta-email-pre-signup {
  background: #fafbfc;
  width: 50%;
  color: #444444;
  font-size: 16px;
  padding: 12px 16px 15px 14px;
  margin: 0;
  border-radius: 100px;
  outline: none;
  height: 47px;
  box-shadow: none;
  margin-right: 5px;
  border: 1px solid white;
}

#intro br {
  display: none;
}

@media only screen and (min-width:550px) {
  #intro form {
    background-color: white;
    border-radius: 100px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    border: 2px solid #007fff;
    width: 454px;
  }
  #intro form:hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .39);
  }

}

@media only screen and (max-width: 1000px) {
  #intro h1 {
    font-size: 30px;
  }
  .cta-email-pre-signup {
    width: 50% !important;
  }
}

@media only screen and (max-width: 800px) {
  #intro h1 {
    font-size: 30px;
  }
  #intro h1::after {
    height: 3px;
  }
  .cta-email-pre-signup {
    width: 50% !important;
  }
}

@media only screen and (max-width: 767px) {
  .block-4-box {
    margin-bottom: 30px !important;
  }
  /*.navbar-default {
  background-color: #090a0f !important;
  border: none !important;
}
.navbar-nav.navbar-right {
background-color: #090a0f !important;
border: none !important;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
background-color: #090a0f !important;
border: none !important;
}*/
}

@media only screen and (max-width: 568px) {
  #intro h1 {
    font-size: 28px;
  }
  #intro h1::after {
    height: 3px;
  }
  #intro p {
    font-size: 18px;
  }
  #intro .btn {
    font-size: 16px;
    width: 100%;
  }
  #intro br {
    display: block;
  }
  .cta-email-pre-signup {
    width: 100% !important;
  }
  /*
  #old-vs-new-img-vertical {
  display: block;
}
#old-vs-new-img {
display: none;
}
*/
#our-Partner {
  min-height: 1000px;
}
.pg-canvas {
  height: 1000px !important;
  left: 0px;
  /*
  margin-top: 70px;
  margin-left: -15px;
  */
}
.pre-signup-section-2 {
  min-height: 1000px !important;
}
/*
#pre-signup-form {
margin-left: 15px;
}
*/
}

@media only screen and (max-width: 320px) {
  #intro h1 {
    font-size: 24px;
  }
  #intro h1::after {
    height: 3px;
  }
}

@media only screen and (min-width: 769px) {
  /*.navbar-default,
  .navbar-nav.navbar-right {
  background: transparent !important;
  border: none;
  }*/
  /*
  #old-vs-new-img-vertical {
  display: none;
}
*/
}


/*
@media only screen and (min-width: 569px) {
#old-vs-new-img-vertical {
display: none;
}
}
*/

@media only screen and (max-width: 680px) {
  #old-vs-new-img {
    width: 400px;
    height: auto;
  }
}

@media only screen and (max-width: 680px) and (min-width: 300px) {
  #old-vs-new-img {
    width: 100%;
    height: auto;
  }
  #our-Partner {
    min-height: 650px !important;
  }
  .pg-canvas {
    height: 800px !important;
    left: 0px;
    /*
    margin-top: 70px;
    margin-left: -15px;
    */
  }
}

@media only screen and (max-width: 983px) and (min-width: 681px) {
  #old-vs-new-img {
    width: 100%;
    height: auto;
  }
}

.navbar-brand>img {
  height: 60px;
  /*display: inline-block;*/
}

.btn-blue {
  background: #007fff !important;
  color: #fff!important;
  padding: 9px 15px !important;
  border-radius: 50px;
}
.btn-blue:hover {
  background: #006ddd !important;
}
/*.navbar .nav li>a {
color: #fff !important;
font-weight: 600;
}

.navbar .nav li>a:hover {
color: #fff !important;
}

.navbar-fixed-bottom,
.navbar-fixed-top {
position: absolute !important;
}

.navbar .nav li>a {
margin: 17px 8px;
padding: 6px;
text-shadow: none;
color: #3f4244;
text-transform: uppercase;
font-size: 14px;
font-weight: 500;
}*/

#pre-signup-feature-grid {
  background-color: #fff;
}

.section-container {
  padding-top: 80px;
}

.icon-grid-img {
  width: auto !important;
  height: 80px !important;
}

.icon-grid-h3 {
  margin-top: 15px !important;
  font-size: 20px !important;
}

.block {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 15px;
}

.block-content {
  position: relative;
  padding: 0 5%;
  margin: 0 auto 0;
  max-width: 600px;
}

.block-header {
  margin-top: 60px;
}

.block-body {
  margin-top: 40px;
}

.block-footer {
  display: none;
}

.block-media {
  flex-grow: 1;
  margin-top: 40px;
  padding-bottom: 50px;
}

.preview-image {
  max-height: 90vh;
  width: 90%;
  align-self: center;
  border-radius: 4px;
  overflow: hidden;
}

@media (min-width: 600px) {
  .btn {
    padding: 12px 30px 14px;
  }
  .block {
    padding: 0 30px;
  }
  .block-media {
    margin-top: 60px;
  }
}

@media (min-width: 1100px) {
  .block {
    flex-direction: row;
    justify-content: center;
  }
  .block-content {
    margin-top: 50px;
    display: flex;
    align-self: center;
    flex-direction: column;
    flex-basis: 45%;
    max-width: 700px;
    margin-top: 0;
    justify-content: center;
  }
  .block-content:after {
    position: absolute;
  }
  .block-header {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .block-body {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
  }
  .block-footer {
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 13px;
    color: #555D6C;
  }
  .block-footer a {
    color: #555D6C;
  }
  .block-media {
    margin-top: 0;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-basis: 55%;
  }
  .preview-image {
    max-width: 85%;
  }
}

/*Navigation Bar Code Goes Here*/
.navbar {
    max-height: 70px;
     margin-bottom: 20px;
     border: none;
}
.navbar-inverse {
    background: transparent;
    border: none;
}
.navbar-brand {
    padding: 7px;
}
.nav>li>a {
    margin: 17px 8px;
    padding: 10px;
    text-transform: uppercase;
    color: #fff;
}
.nav>li>a, .nav>li>a:after, .nav>li>a:before {
  transition: all .5s;
}
.nav>li>a:hover {
  background: transparent;
  color: #fff;
}
.nav>li>a:focus {
  background: transparent;
  color: #c1c1c1;
}
.menu-howitworks a:after,
.menu-signin a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #fff;
  height: 1px;
}
.menu-howitworks a,
.menu-signin a {
  position: relative;
}
.menu-howitworks a:hover:after,
.menu-signin a:hover:after {
  width: 100%;
}


@media (min-width: 768px){
  .navbar {
    border-radius: 0px;
  }
}
@media (min-width:1200px) {
  .navbar .container {
    width: 1130px;
  }
}
/*Navigation Bar Code Ends Here*/
