* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
::selection {
    background-color: #747ffc;
    color: #ffffff;
}
html * {
    font-family: 'Open Sans',sans-serif !important;
}
body {
    -webkit-font-smoothing: antialiased;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
}

.pricing-landing-page-section {
    padding: 100px 0px;
    background: url("/assets/resources/images/pricingbg.svg") repeat;
}

.pricing-title {
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    color: #5C5AA7;
}
.pricing-title span {
    vertical-align: super;
    font-size: 20px;
}

.pricing-subtitle {
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    color: #4a4a4a;
    margin-top: 30px;
}
.pricing-subtitle.beta-text {
    margin-top: 60px;
}

.price-dollar {
    font-size: 90px;
    font-weight: bold;
    color: #7bba55;
}
.price-value {
    font-size: 144px;
    font-weight: bold;
    color: #7bba55;
    line-height: 0;
    vertical-align: text-top;
}
.price-text {
    font-size: 14px;
    font-weight: 600;
    color: #4a4a4a;
    margin-top: 20px;
}

.pricing-subtitle.features {
    padding-left: 25px;
}
.features-list {
    margin-top: 25px;
    line-height: 1.5em;
    font-size: 16px;
    padding-left: 60px;
    list-style-image: url("/assets/resources/images/Ellipse-1.svg");
}
.features-list li {
    padding: 5px 0px 5px 5px;
}


.cta-section-cta-btn {
    border-radius: 96px;
    width: 234px;
    height: 49px;
    background: rgba(116, 127, 252, 1);
    color: #fff;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    padding: 15px 25px;
}

.cta-section-cta-btn:hover, .cta-section-cta-btn:active, .cta-section-cta-btn:focus {
    background: rgba(73, 83, 227, 1);
    box-shadow: none;
    color: #fff;
}

.pre-signup-form {
    /*background-color: white;*/
    border-radius: 100px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 0px;
    margin-left: 26px;
    padding-right: 0px;
    display: flex;
    /*border: 2px solid #007fff;*/
    width: 87%;
    margin: 0 auto;
}
.pre-signup-form br {
    display: none;
}
.signup-success-msg-div, .signup-error-msg-div1 {
    background-color: white;
    text-align: center;
    width: 100%;
    border-radius: 26px;
    /*border: 1px solid #5d5ba8;*/
}
.signup-error-msg-div2 {
    text-align: center;
    width: 100%;
    border-radius: 26px;
}
.signup-error-msg-div2 .signup-error-msg-text1 {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #2CA23C;
}
.signup-success-msg-text {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.signup-error-msg-text1 {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #2CA23C;
}
.cta-email-pre-signup {
    background: #fff;
    width: 50%;
    color: #5c5aa7;
    font-size: 18px;
    padding: 15px 16px 15px 14px;
    margin: 0;
    border-radius: 26px 0px 0px 26px;
    outline: none;
    height: 47px;
    box-shadow: none;
    /*margin-right: 5px;*/
    border: 1px solid #7B7979;
    flex: 1 0 auto;
    box-shadow: 0 3px 6px rgba(36,129,215,.05),0 2px 3px rgba(36,129,215,.04);
}
.pricing-cta-section .cta-email-pre-signup {
    background: transparent;
    width: 50%;
    color: #000;
    font-size: 16px;
    padding: 15px 16px 15px 14px;
    margin: 0;
    border-radius: 26px 0px 0px 26px;
    outline: none;
    height: 47px;
    box-shadow: none;
    /*margin-right: 5px;*/
    border: 1px solid #7B7979;
    flex: 1 0 auto;
}
.form-submit-btn {
    display: inline-block;
    padding: 14px 20px;
    /*    border: 2px solid #fff;*/
    /*    text-transform: uppercase;*/
    letter-spacing: 0.015em;
    font-size: 18px;
    /* background-color: #fff; */
    font-weight: 500;
    line-height: 1;
    color: rgb(255, 255, 255);
    text-decoration: none;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    border-radius: 0px 26px 26px 0px;
    -webkit-appearance: none;
    text-decoration: none;
    border: none;
    flex: 0 1 auto;
    background: #5C5AA7;
background: -moz-linear-gradient(left, rgb(200,109,215) 0%, rgb(48,35,174) 100%);
background: -webkit-linear-gradient(left, rgb(200,109,215) 0%,rgb(48,35,174) 100%);
background: linear-gradient(to right, rgb(200,109,215) 0%,rgb(48,35,174) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c86dd7', endColorstr='#3023ae',GradientType=1 );
    box-shadow: 0 3px 6px rgba(36,129,215,.05),0 2px 3px rgba(36,129,215,.04);
}
.form-submit-btn:focus {
    outline: none;
}
.pricing-cta-section .form-submit-btn {
    color: rgba(255, 255, 255, 1);
    background: rgb(200,109,215); /* Old browsers */
    background: -moz-linear-gradient(left, rgb(200,109,215) 0%, rgb(48,35,174) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgb(200,109,215) 0%,rgb(48,35,174) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgb(200,109,215) 0%,rgb(48,35,174) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c86dd7', endColorstr='#3023ae',GradientType=1 ); /* IE6-9 */
}

@media (max-width:350px) {
    .pricing-cta-section {
        margin-bottom: 130px;
    }
}
@media only screen and (max-width: 568px) {
    .pre-signup-form br {
        display: block;
    }
    .form-submit-btn {
        font-size: 16px;
        width: 100%;
    }
    .cta-email-pre-signup {
        width: 100% !important;
    }
}
@media (max-width:560px) {
    .cta-email-pre-signup {
        border-radius: 26px;
    }
     .pricing-cta-section .cta-email-pre-signup {
        border-radius: 26px;
    }
    .form-submit-btn {
        flex: 0 0 100%;
        margin-top: 15px;
        border-radius: 26px;
    }
}
@media (max-width:767px) {
    .pre-signup-form {
        width: 100%;
        flex-wrap: wrap;
    }
    .pricing-cta-section {
        height: 350px;
        position: relative;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .pricing-cta-section .pre-signup-form {
        width: 75%;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 900px;
    }
}

.footer-section {
    padding-top: 70px;
}


.km-logo-varient3-1 {
    fill: #5C5AA7;
}
.page-links-ul li>a {
    color: #5C5AA7;
}
.page-links-ul li>a:hover {
    color: rgba(93, 90, 167, 0.5);
}
.nav-signup-button {
    color: #5C5AA7;
    border: 1.4px solid #5c5aa7;
    font-weight: 600
}
.nav-signup-button:hover {
    color: #FFFFFF;
    background-color: #5C5AA7;
    border: 1.4px solid #5c5aa7;
    font-weight: 600
}
.menu-btn-icon {
    fill: #5C5AA7;
}