* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
::selection {
    background-color: #747ffc;
    color: #ffffff;
}
html * {
    font-family: 'Roboto', 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
}
body {
    -webkit-font-smoothing: antialiased;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
}

.pricing-landing-page-section {
    position: relative;
    padding: 200px 0px 0px;
    background: #f4f8fb url(/assets/resources/images/css-bg.svg) no-repeat;
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: right -65px top -354px;
}
.pricing-landing-page-section .container {
    position: relative;
    z-index: 2;
}
.pricing-title {
    font-size: 34px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #353535;
}
.hr {
    width: 30%;
    border-top: 2.5px solid #6556d7;
    margin: 20px 0px;
}
.pricing-title span {
    vertical-align: super;
    font-size: 20px;
}

.pricing-subtitle {
    font-size: 19px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: 0.4px;
    text-align: left;
    color: #959595;
    margin-top: 15px;
    margin-bottom: 20px;
}
.pricing-subtitle.beta-text {
    /* margin-top: 60px; */
}

.price-dollar {
    font-size: 90px;
    font-weight: bold;
    color: #7bba55;
}
.price-value {
    font-size: 144px;
    font-weight: bold;
    color: #7bba55;
    line-height: 0;
    vertical-align: text-top;
}
.price-text {
    font-size: 14px;
    font-weight: 600;
    color: #4a4a4a;
    margin-top: 20px;
}

.pricing-subtitle.features {
    padding-left: 25px;
}
.features-list {
    margin-top: 25px;
    line-height: 1.5em;
    font-size: 16px;
    padding-left: 60px;
    list-style-image: url("/assets/resources/images/Ellipse-1.svg");
}
.features-list li {
    padding: 5px 0px 5px 5px;
}


.pricing-table {
position: relative;
}
.pricing-table-container {
    padding: 15px 9px 25px;
    border-radius: 10px;
    box-shadow: 1px 1px 20px 1px rgba(216, 215, 243, 0.5);
    background-color: #ffffff;
    border: solid 1px #c2c1f8;
    min-height: 630px;
    position: relative;
    overflow: hidden;
}
.pricing-table-header {
    /* border-bottom: 1px solid #dddcff;; */
    position: relative;
    z-index: 2;
}
.pricing-table-plan-title {
    margin-top: 0;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.68;
    letter-spacing: normal;
    color: #4a4a4a;
    margin-bottom: 0;
    /* letter-spacing: 1px; */
}
.pricing-table-plan-subtitle {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.83;
    letter-spacing: 0.3px;
    color: #7b7b7b;
    margin-top: 0;
}
.price-image-container svg {
    width: auto;
    height: 90px;
}
.enterprise .price-image-container {
    margin-bottom: 39px;
    margin-top: 35px;
}
.price-mau h4 {
    font-weight: 600;
    font-size: 16px;
}
.pricing-table-body-header {
    /* background-color: #dddcff; */
    margin: 0px -10px 10px;
    padding: 10px 0px 20px;
}
.pricing-value h2 {
    color: #5C5AA7;
    margin-top: 10px;
    font-size: 25px;
    /* font-weight: 400; */
}
.growth .pricing-value h2, .startup .pricing-value h2 {
    font-size: 50px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.47;
    letter-spacing: 2px;
    text-align: center;
    color: #4a4a4a;
}
.pricing-value .yearly-pricing {
    color: #5C5AA7;
    margin-top: 10px;
    font-size: 42px;
}
.pricing-value {
    margin-top: 40px;
}
.per-month-span {
    margin-bottom: 4px;
    color: #5c5aa7;
    font-size: 12px;
    line-height: 16px;
}
.pricing-table-body-footer {
    padding-left: 5px;
    padding-right: 5px;
    
}
.pricing-table-body-footer p {
    font-weight: 400;
}
.pricing-table-body-footer ul {
    text-align: left;
    margin: 20px 0px;
    padding: 0;
    list-style-image: url(/assets/resources/images/checkmark.svg);
}
.growth .pricing-table-body-footer ul {
    list-style-image: url(/assets/resources/images/checkmark2.svg);
}
.pricing-table-body-footer ul li {
    margin-left: 25px;
    line-height: 25px;
    margin-bottom: 12px;
}
.pricing-table-footer {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
}
.pricing-footer-signup-btn {
    border-radius: 4px !important;
    display: block !important;
    font-size: 16px !important;
    background-color: #5C5AA7 !important;
    transition: all 0.3s ease-out;
}
.pricing-footer-signup-btn:hover {
    color: #fff;
}   
.pricing-table-container.growth {
    /* border-radius: 0px 0px 5px 5px;
    border: 2px solid #2dd35c; */
    /* background-color: #f9fffb; */
    /* -webkit-box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
    box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02); */
    border-radius: 10px;
    box-shadow: 1px 1px 20px 1px rgba(216, 215, 243, 0.5);
    background-color: #ffffff;
    border: solid 1px #2dd35c;
}
.growth .pricing-table-plan-title, .growth .pricing-value h2, .growth .per-month-span{
    color: #2dd35c;
}
.growth .pricing-table-footer .pricing-footer-signup-btn {
    background-color: #2dd35c !important;
}
.growth .pricing-table-footer .pricing-footer-signup-btn:hover {
    background-color: #2dd35c;
}
.schedule-demo-links {
    margin-top: 10px;
    display: block;
    font-size: 15px;
    color: #5c5aa7;
    font-weight: 400;
    text-decoration: none;
}
.pricing-most-popular {
    position: absolute;
    top: -66px;
    left: 50%;
    transform: translateX(-50%);
    width: 180px;
    /* height: 50px; */
    /* margin: 0 auto; */
    z-index: -1;
}
.pricing-most-popular-text {
    position: absolute;
    width: 100%;
    height: 30px;
    top: -30px;
    left: 0;
    color: #ffffff;
    background-color: #2dd35c;
    border-radius: 5px 5px 0px 0px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    text-align: center;
}
.enterprise .circles {
    position: absolute;
    border-radius: 50%;
    z-index: 0;
    background-image: linear-gradient(to bottom, #82cdf3, #4b9fe4); 
    opacity: 0.1;
}
.growth .circles {
    position: absolute;
    border-radius: 50%;
    z-index: 0;
    background-image: linear-gradient(to bottom, #82cdf3, #4b9fe4); 
    opacity: 0.1;
}
.startup .circles {
    position: absolute;
    border-radius: 50%;
    z-index: 0;
    background-image: linear-gradient(to bottom, #b4ec51, #429321);
    opacity: 0.1;
}
.enterprise .circle-1 {
    width: 160px;
    height: 160px;
    top: -40px;
    right: calc(100% - 100px);
}
.enterprise .circle-2 {
    width: 90px;
    height: 90px;
    top: 60%;
    left: calc(100% - 50px);
}
.growth .circle-1 {
    width: 104px;
    height: 104px;
    top: 100px;
    left: calc(100% - 70px);
}
.growth .circle-2 {
    width: 150px;
    height: 150px;
    top: 51%;
    right: calc(100% - 100px);
}
.growth .circle-3 {
    width: 38px;
    height: 38px;
    top: 15%;
    right: calc(100% - 107px);
}
.startup .circle-1 {
    width: 99px;
    height: 99px;
    top: 120px;
    right: calc(100% - 60px);
}
.startup .circle-2 {
    width: 208px;
    height: 208px;
    top: 70%;
    left: calc(100% - 160px);
}
.startup .circle-3 {
    width: 38px;
    height: 38px;
    top: 10%;
    right: calc(100% - 123px);
}







.form-div {
    margin-top:60px;
}
.cta-section-cta-btn {
    border-radius: 96px;
    width: 234px;
    height: 49px;
    background: rgba(116, 127, 252, 1);
    color: #fff;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    padding: 15px 25px;
}

.cta-section-cta-btn:hover, .cta-section-cta-btn:active, .cta-section-cta-btn:focus {
    background: rgba(73, 83, 227, 1);
    box-shadow: none;
    color: #fff;
}

.pre-signup-form {
    background-color: white;
    border-radius: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    margin-left: 26px;
    padding-right: 3px;
    display: flex;
    /*border: 2px solid #007fff;*/
    width: 65%;
    margin: 0 auto;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3), 0px -2px 8px 0 rgba(0, 0, 0, 0.3);
}
.pre-signup-form br {
    display: none;
}
.cta-email-pre-signup {
    background: #fff;
    width: 50%;
    color: #5c5aa7;
    font-size: 18px;
    padding: 12px 16px 15px 14px;
    margin: 0;
    border-radius: 6px;
    outline: none;
    height: 47px;
    box-shadow: none;
    /*margin-right: 5px;*/
    border: none;
    flex: 1 0 auto;
    /* box-shadow: 0 3px 6px rgba(36,129,215,.05),0 2px 3px rgba(36,129,215,.04); */
}
.pricing-cta-section .cta-email-pre-signup {
    background: transparent;
    width: 50%;
    color: #000;
    font-size: 16px;
    padding: 15px 16px 15px 14px;
    margin: 0;
    border-radius: 6px 0px 0px 26px;
    outline: none;
    height: 47px;
    box-shadow: none;
    /*margin-right: 5px;*/
    border: 1px solid #7B7979;
    flex: 1 0 auto;
}
.form-submit-btn {
    display: inline-block;
    padding: 14px 20px;
    letter-spacing: 0.015em;
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    color: #ffffff;
    text-decoration: none;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    border-radius: 6px;
    -webkit-appearance: none;
    text-decoration: none;
    border: none;
    flex: 0 1 auto;
    background-color: #2dd35c;
  }
.form-submit-btn:hover {
    background-color: #1aaa42;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  }
  .form-submit-btn:focus {
    outline: none;
  }
  
.pricing-cta-section .form-submit-btn {
    color: rgba(255, 255, 255, 1);
    background:#5C5AA7; /* IE6-9 */
}

@media (max-width:350px) {
    .pricing-cta-section {
        margin-bottom: 130px;
    }
}
@media only screen and (max-width: 568px) {
    .pre-signup-form br {
        display: block;
    }
    .form-submit-btn {
        font-size: 16px;
        width: 100%;
    }
    .cta-email-pre-signup {
        width: 100% !important;
    }
}
@media (max-width:560px) {
    .cta-email-pre-signup {
        border-radius: 6px;
        border: 1px solid #7B7979;
    }
     .pricing-cta-section .cta-email-pre-signup {
        border-radius: 6px;
    }
    .form-submit-btn {
        flex: 0 0 100%;
        margin-top: 15px;
        border-radius: 6px;
    }
    .pre-signup-form {
        background-color: transparent;
        box-shadow: none;
    }
}
@media (max-width:767px) {
    .pre-signup-form {
        width: 100%;
        flex-wrap: wrap;
    }
    .pricing-cta-section {
        height: 350px;
        position: relative;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .pricing-cta-section .pre-signup-form {
        width: 75%;
    }
}
@media (min-width: 1200px) {
    .pricing-landing-page-section .container {
        width: 1150px;
    }
}

.footer-section {
    padding-top: 0px;
}
.footer-section .footer-waves {
    fill: #FFF !important;
}


.km-logo-varient3-1 {
    fill: #5C5AA7;
}

.menu-btn-icon {
    fill: #5C5AA7;
}
.sticky .menu-btn-icon {
    fill: #5c5aa7;
}

.page-links-ul li:nth-child(2)>a {
    font-weight: bold;
}
.page-links-ul li:nth-child(3)>a:hover #chat-widget-copy-10{
    fill: #5d5aa786 !important;
}

.page-links-ul li:first-child>a, .page-links-ul li:nth-child(2)>a {
    color: #000
  }
  .page-links-ul li:first-child>a:hover, .page-links-ul li:nth-child(2)>a:hover {
    color: rgba(0, 0, 0, 0.5)
  }
  .sticky .page-links-ul li:first-child>a, .sticky .page-links-ul li:nth-child(2)>a {
    color: #5c5aa7;
  }
  .sticky .page-links-ul li:first-child>a:hover, .sticky .page-links-ul li:nth-child(2)>a:hover {
    color: rgba(92, 90, 167, 0.5);
  }

@media (min-width:992px) {
    .pricing-table-container {
        min-height: 835px;
    }
    .startup .pricing-table-footer {
        padding-bottom: 30px;
    }
    .launch .pricing-table-footer {
        /* padding-top: 49px; */
        padding-bottom: 30px;
    }
    .growth .pricing-table-footer {
        /* padding-top: 72px; */
        padding-bottom: 30px;
    }
    .enterprise .pricing-table-footer {
        /* padding-top: 111px; */
        padding-bottom: 30px;
    }
    .pricing-table-body-footer {
        padding-left: 15px;
    }
}
@media (min-width:992px) and (max-width:1199px) {
    .pricing-table-container {
        min-height: 855px;
    }
    .startup .pricing-table-footer {
        padding-bottom: 30px;
    }
    .launch .pricing-table-footer {
        /* padding-top: 51px; */
        padding-bottom: 30px;
    }
    .growth .pricing-table-footer {
        /* padding-top: 72px; */
        padding-bottom: 30px;
    }
    .enterprise .pricing-table-footer {
        /* padding-top: 61px; */
        padding-bottom: 30px;
    }
}
@media (max-width: 991px){
    .pricing-table-container {
        width: 300px;
        margin: 0 auto;
        min-height: auto;
    }
    .pricing-most-popular-text {
        width: 300px;
        left: 50%;
        transform: translateX(-50%);
    }
    .pricing-table {
        margin-bottom: 40px;
    }
}
@media(max-width:350px) {
    .pricing-table-container {
        width: auto;
        margin: 0 auto;
        min-height: auto;
    }
    .pricing-most-popular-text {
        width: 100% ;
        left: 50%;
        transform: translateX(-50%);
    }
}


/* Pricing Toggle */
.pricing-toggle {
    margin-bottom: 50px;
    margin-left: -30px;
}
.toggle,
.toggler {
  display: inline-block;
  vertical-align: middle;
  margin: 10px;
}
.toggler {
  color: #ddd;
  transition: .2s;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}
.toggler--is-active {
  color: #5C5AA7;
}
.b {
  display: block;
}
.toggle {
  position: relative;
  width: 59px;
  height: 26px;
  border-radius: 100px;
  background-color: #5C5AA7;
  overflow: hidden;
  box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.05);
}
.check {
  position: absolute;
  display: block;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 6;
}
.check:checked ~ .switch {
  right: 2px;
  left: 57.5%;
  transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition-property: left, right;
  transition-delay: .08s, 0s;
}
.switch {
  position: absolute;
  left: 2px;
  top: 2px;
  bottom: 2px;
  right: 57.5%;
  background-color: #fff;
  border-radius: 36px;
  z-index: 0;
  transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition-property: left, right;
  transition-delay: 0s, .08s;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

/* FAQ Section */
.pricing-new-faq-section h2{
    margin-bottom: 45px;
}
.support-page-header-text {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.7px;
    text-align: left;
    color: #4a4a4a;
}
.support-page-para-text-sm1 {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    text-align: left;
    color: #4a4a4a;
    letter-spacing: .5px;
    margin-top: 0;
    padding-top: 10px;
    margin-bottom: 30px;
}
.pricing-new-faq-section h2 {
    margin-bottom: 10px;
} 
.pricing-new-faq-section hr {
    margin: 20px auto 50px;
    width: 10%;
} 

.pricing-landing-page-section .bg-oval {
    display: none;
}
.pricing-landing-page-section .middle-swirl {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 0;
}
.pricing-landing-page-section .bottom-shape {
    margin-top: 120px;
}
.pricing-new-faq-section {
    margin-top: -130px;
}
.hearts-shape {
    position: absolute;
    width: auto;
    height: 130px;
    bottom: -50px;
    left: -50px;
    z-index: 0;
}

.contact-us-div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-us-div p {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.31;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #9b9b9b;
    margin-bottom: 0;
}
.contact-us-div .chat-withus-btn {
    -webkit-appearance: none;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    color: #5c5aa7;
    transition: all 0.3s ease-in;
 }
.contact-us-div .chat-withus-btn:hover {
    text-decoration: underline;
}
.contact-us-div .chat-withus-btn:disabled {
    color: #9b9b9b;
}
.contact-us-div .chat-withus-btn:disabled:hover {
    color: #9b9b9b;
    text-decoration: underline;
}

@media only screen and (max-width:1199px) and (min-width:992px) {
    .toggler {
        font-size: 16px;
    }
    .toggle {
        width: 42px;
        height: 20px;
    }
}

@media screen and (max-width: 767px){
    .pricing-landing-page-section .bg-oval {
        display: block;
        width: auto;
        height: 390px;
        position: absolute;
        top: -5%;
        right: -21%;
    }
    .pricing-landing-page-section {
        background-image: none;
        overflow: hidden;
    }
    .pricing-new-faq-section {
        margin-top: -20px;
    }
    
}
@media screen and (max-width:420px) {
    .pricing-landing-page-section .bg-oval {
      display: block;
      width: auto;
      height: 390px;
      position: absolute;
      bottom: 67%;
      right: -54%;
    }
  }

  @media only screen and (max-width:992px) {
    .pricing-landing-page-section {
        padding: 100px 0px 0px;
      }
    .pricing-title, .pricing-subtitle {
        text-align: center;
    }
    .hr {
        margin: 20px auto;
    }
    .hearts-shape {
        display: none;
    }
    .pricing-toggle {
        margin-left: 0px;
        margin-bottom: 20px;
    }
    .contact-us-div {
        margin-bottom: 50px;
    }
  }

/* Top BG Circle on the Nav Bar */
@media only screen and (max-width:1199px) and (min-width:768px) {
    .pricing-landing-page-section {
        /* background-image: url(/assets/resources/images/css-bg.svg); */
        background-size: 470px;
        background-position: right -115px top -354px;
    }
}
@media only screen and (max-width:1275px) and (min-width:1200px) {
    .pricing-landing-page-section {
        /* background-image: url(/assets/resources/images/css-bg.svg); */
        background-size: 470px;
        background-position: right -100px top -354px;
    }
}
@media only screen and (max-width:1362px) and (min-width:1276px) {
    .pricing-landing-page-section {
        /* background-image: url(/assets/resources/images/css-bg.svg); */
        background-size: 470px;
        background-position: right -75px top -334px;
    }
}
@media only screen and (max-width:1430px) and (min-width:1363px) {
    .pricing-landing-page-section {
        /* background-image: url(/assets/resources/images/css-bg.svg); */
        background-size: 500px;
        background-position: right -65px top -354px;
    }
}
@media only screen and (max-width:1530px) and (min-width:1431px) {
    .pricing-landing-page-section {
        /* background-image: url(/assets/resources/images/css-bg.svg); */
        background-size: 530px;
        background-position: right -65px top -354px;
    }
}
@media only screen and (max-width:1610px) and (min-width:1531px) {
    .pricing-landing-page-section {
        /* background-image: url(/assets/resources/images/css-bg.svg); */
        background-size: 565px;
        background-position: right -65px top -354px;
    }
}
@media only screen and (max-width:1690px) and (min-width:1611px) {
    .pricing-landing-page-section {
        /* background-image: url(/assets/resources/images/css-bg.svg); */
        background-size: 645px;
        background-position: right -75px top -464px;
    }
}
@media only screen and (max-width:1760px) and (min-width:1691px) {
    .pricing-landing-page-section {
        /* background-image: url(/assets/resources/images/css-bg.svg); */
        background-size: 645px;
        background-position: right 5px top -514px;
    }
}
@media only screen and (max-width:1830px) and (min-width:1761px) {
    .pricing-landing-page-section {
        /* background-image: url(/assets/resources/images/css-bg.svg); */
        background-size: 665px;
        background-position: right 35px top -544px;
    }
}
@media only screen and (max-width:1910px) and (min-width:1831px) {
    .pricing-landing-page-section {
        /* background-image: url(/assets/resources/images/css-bg.svg); */
        background-size: 690px;
        background-position: right 35px top -544px;
    }
}
@media only screen and (max-width:1980px) and (min-width:1911px) {
    .pricing-landing-page-section {
        /* background-image: url(/assets/resources/images/css-bg.svg); */
        background-size: 740px;
        background-position: right 35px top -584px;
    }
}