.title {
  color:#9b9797;
  font-weight: 800;
  position: relative;
}

.title-text {
  height: 30px;
	font-size: 16px;
	letter-spacing: 0.7px;
	text-align: left;
  color: #5e6061;
  font-weight: 400;
}

.title:hover {
  cursor: pointer;
}

.content {
  height: 16px;
  background-color: transparent;
  border-radius: 4px;
  color: #9b9797;
  font-size: 14px;
  text-align: left;
  position: relative;
  margin-top: 0px;
  transition: all 200ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
}

.content-open {
  margin-top: 0px;
  height: 100%;
  letter-spacing: 1.5px;
  transition: all 350ms cubic-bezier(0.080, 1.090, 0.320, 1.275);
}

.content-text {
  padding: 15px;
  visibility: hidden;
  opacity: 0;
  letter-spacing: 1.5px;
  overflow: auto;
  transition: all .2s ease-in;
}
.content-text ul {
  list-style: none;
  padding-left: 20px;
  color: #5f6162;
}

.content-text-open {
  visibility: visible;
  opacity: 1;
  transition: all .8s ease-in;
  padding-bottom: 5px;
}

.fa-angle-down {
  font-size: 20px;
  color: rgba(17, 16, 16, 0.5);
  transition: all .6s cubic-bezier(0.080, 1.090, 0.320, 1.275);
}

.fa-rotate-180 {
  color: rgba(17, 16, 16, 0.5);
}

.arrow-wrapper {
  position: absolute;
  right: 0;
}
.thin-line {
  border-block-end: 1px solid #a5b0bd;
  margin-bottom:16px;
  opacity: 30%;
}
.subtitle-text{
  color:#9b9797;
  font-size: 12px;
  font-weight: 400;
}
.accordion{
  padding-left: 0px !important;
}
.code-container {
  border-radius: 3px;
  background-color: #fff;
  margin-bottom: 10px;
  border: 1px solid #e6e6e6;
  transition: all 0.25s ease-in-out;
}
.code-container.javascript {
  border-radius: 3px;
  background-color: #f4f5f7;
  margin-bottom: 10px;
  border: 1px solid #e6e6e6;
}
.code-container:hover {
  box-shadow: 0 2px 11px 3px rgba(171, 166, 166, 0.5);
}
.javascript-card {
  cursor: pointer;
  display: flex;
  text-decoration: none;
  margin-bottom: 0;
  border-bottom: 0;
  border: 0;
  margin-top: 0;
  border-radius: 3px;
  z-index: 1;
  float: none;
  background-color: #f4f5f7;
  align-items: center;
  justify-content: space-between;
}
.javascript-card:hover, .javascript-card:focus, .javascript-card:active {
  text-decoration: none;
}
.code-container.javascript .outer-box {
  background-color: #f4f5f7;
}
.outer-box {
  background-color: #fff;
}
.code-div {
  background-color: #f4f5f7;
  z-index: 1;
  padding-bottom: 25px;
  margin-top: -20px;
}
.identify-users {
  padding-left: 20px;
  font-size: 15px;
  letter-spacing: 0.6px;
  color: #424244;
}
.identify-users a {
  font-size: 15px;
  letter-spacing: 0.6px;
  font-weight: 600;
  color: #5c5aa7;
}
.card-heading {
	display: flex;
	align-items: center;
	/* margin-bottom: 20px; */
}
.card-heading svg {
  width: 36px;
  height: 36px;
}
.card-heading span {
	font-size: 16px;
  	font-weight: 500;
  	letter-spacing: 0.7px;
  	color: #49494b;
}
.image-svg-container  {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  border-radius: 50%;
  background-color: #e6e6ea;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app-id-container {
  margin: 20px 0px 20px;
}
.app-id-div {
  border-radius: 2px;
  background-color: #cce7f8;
  max-width: 410px;
  padding: 10px 15px;
}
.app-id-sub-text {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.7px;
  color: #7d7f81;
}
.app-id-main-text {
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.7px;
  text-align: left;
  color: #4a4b4d;
  padding-left: 10px;
}
.see-docs-links {
  padding: 10px 16px 9.5px;
  margin-right: 30px;
  text-decoration: none;
}
.see-docs-links:hover, .see-docs-links:focus, .see-docs-links:active {
  text-decoration: none;
}
.docs-instructions {
  border-radius: 3px;
  background-color: #FFF;
  padding: 25px;
  margin-top: 25px;
  border: 1px solid #dad6d6;
}
.docs-instructions span {
  background-color: rgb(212, 212, 212);
  padding: 3px 5px;
  font-style: italic;
  border-radius: 2px;
}
.code-snippet {
  border-radius: 4px;
  background-color: #181717;
  padding: 15px;
  color: #fff;
}
.multi-email-span-container>div {
  display: inline;
}
.m-top-10 {
  margin-top: 10px;
}
