.incoming-email-forward-container {
    padding: 20px;
}
.incoming-email-forward-heading {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    color: #354052;
}
.incoming-email-forward-description {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: 0.3px;
    color: #969393;
    margin-bottom: 0px;
}
.incoming-email-forward-email-id-container {
    margin: 20px;
    padding: 5px 0px 5px 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px dashed #bcb7b7;
    border-radius: 2px;
}
.incoming-email-forward-email-id-container textarea {
    overflow: auto;
    width: 100%;
    resize: none;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    border: none;
    height: 25px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.4px;
    color: #666464;
}
.incoming-email-forward-copy-icon button {
    min-width: 80px;
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    color: #969393; 
}
.incoming-email-forward-copy-icon button svg {
    width: 16px;
    height: auto;
    vertical-align: text-top;
    margin-right: 3px;
}
.incoming-email-forward-helper-text-conntainer {
    padding: 20px
}
.incoming-email-forward-helper-text-conntainer p {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: 0.3px;
    color: #969393;
}
.incoming-email-forward-helper-text-conntainer p>a {
    font-weight: 500;
    color: #4831d9;
}