body{
    font-family:'OpenSans', sans-serif;
}
.message-shortcuts-title {
    
    font-size: 18px;
    letter-spacing: 1.3px;
    text-align: left;
    color: #515050;
    font-weight: 100;
}
.message-shortcuts-title-wrapper {
    padding: 20px;
}
.message-shortcuts-description {
    font-size: 12px;
    letter-spacing: 1px;
    text-align: left;
    color: #515050;
}
.create-message-shortcut-button{
    border: 0;
    padding: 5px 17px;
    margin-left: 17px;
    margin-top: 9px;
    margin-bottom: 20px;
}
.sign-box {
    width: 28px;
    padding: 7px;
    background-color: #d8d8d8;
    text-align: center;
    border-radius: 4px 0 0 4px;
}
.shortcut-field-group{
    display: flex
}
.field-title{
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: left;
    color: #777474;
    padding: 5px 0;
}
.shortcut-field {
    opacity: 0.63;
    border-radius: 0 4px 4px 0;
    border: solid 1px #9cb3de;
}
.message-field {
    opacity: 0.63;
    border-radius: 4px;
    border: solid 1px #9cb3de;
}
.shortcut-field-wrapper{
    margin-left: 15px;
    padding: 5px 0px 12px 0px;
}
.field-header{
    margin-left: 15px;
}
.shortcut-button-group {
    margin-top: 15px;
}
.shorcut-cancel-button{
    margin-left: 25px;
}
.shorcut-save-button{
    width: 55px;
    height: 25px;
    border-radius: 2px;
    background-color: #5c5aa7;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.9px;
    color: #ffffff;
}
.shorcut-cancel-button {
    width: 55px;
    height: 25px;
    border-radius: 2px;
    border: solid 1px #9c9ca2;
    font-size: 11px;
    letter-spacing: 0.9px;
    color: #656060;
}
.shortcut-col {
    padding-right: 0;
}
.message-col {
    padding-left: 0;
}
.btn-col {
    padding-left: 0;
}
.input-link {
    background-color: #c1cfeb;
    height: 2px;
    opacity: 0.5;
    border: solid 1px #c1cfeb;
    margin-top: 17px;
}
.tooltip {
    width: 93.2px;
    height: 75px;
    background-color: #ffffff;
    box-shadow: 1px 2px 4px 1px rgba(64, 63, 63, 0.5);
}
.tooltip-menu {
    list-style-type:none;
    width: 93.2px;
    height: 77px;
    background-color: #ffffff;
    box-shadow: 1px 2px 4px 1px rgba(64, 63, 63, 0.5);
    padding: 10px;
    position: absolute;
    z-index: 9999;
    margin-left: -35px;
    
}

.tooltip-menu::after {
    border-bottom: 8px solid rgb(255, 255, 255);
    display: inline-block;
    position: absolute;
    top: -7px;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    content: "";
    left: 50%;
    transform: translateX(-50%);
} 
 
.tooltip-menu::before {
    border-bottom: 9px solid rgba(0,0,0,.2);
    display: inline-block;
    position: absolute;
    top: -8px;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    content: "";
    left: 50%;
    transform: translateX(-50%);
} 
.tooltip-menu-list {
    font-size: 12px;
    letter-spacing: 0.9px;
    color: #515050;
    font-family:'OpenSans', sans-serif;
    cursor: pointer;
}
.tooltip-wrapper{
    margin-left: 9px;
}

.list-divider {
    margin-top: 11px;
    margin-bottom: 11px;
}
.tooltip-btn{
    padding-top: 14px;
    margin-bottom: 0;
    display: flex;
    margin-left: 3px;
    cursor: pointer;
    width: 40px;
    height: 35px;
}

.title-line {
    margin-left: 20px;
}
.ellipsis{
    width: 4.8px;
    height: 4.8px;
    opacity: 0.4;
    background-color: #000000;
    border-radius: 5px;
    margin-left: 1px;
}
.edit-tag {
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #4398d1;
    margin-top: 8px;
}
.tab-content {
    padding-bottom: 55px;
}