.features_carousel {
    @include respond(tab-por) {
        display: block;
        margin: 4rem auto 4rem auto;
    }
    display: none; // height: 100rem;
    width: 100%;
    margin: 10rem auto 20rem auto;
    overflow: hidden;
    position: relative;
    &_control {
        position: relative;
        width: 100%;
        height: 20rem;
        z-index: 9999;
        @include respond(phone) {
            position: absolute;
            bottom: -1%;
            left: 50%;
            transform: translateX(-50%);
            cursor: pointer;
            display: block;
            height: auto;
        }
        &_left,
        &_right {
            background: $color-white;
            height: 10rem;
            background-repeat: no-repeat;
            width: 20%;
            cursor: pointer;
            position: absolute;
            top: 48%;
            transform: translateY(-62%);
            font-size: 8rem;
            color: transparent;
            border-radius: 50rem;
            transition: all .2s;
            z-index: 10;
            &:hover {
                transform: translateY(-62%) scale(1.2);
            }
            @include respond(tab-por) {
                bottom: 100%;
                &:hover {
                    transform: translateY(-62%) scale(1.2);
                }
            }
            @include respond(phone) {
                transform: translateY(-102%);
                bottom: 100%;
                &:hover {
                    transform: translateY(-102%) scale(1.2);
                }
            } // @include respond(phone) {
            //     transform: translateY(160%);
            //     &:hover {
            //         transform: translateY(160%) scale(1.2);
            //     }
            // }
        }
        &_left {
            background: url('../images/tab_left_arrow.svg');
            left: 5%;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            @include respond(tab-lan) {
                left: 0%;
            }
            @include respond(tab-por) {
                top: 85%;
                left: 10%;
            }
        }
        &_right {
            background: url('../images/tab_right_arrow.svg');
            right: 5%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            @include respond(tab-lan) {
                right: 0%;
            }
            @include respond(tab-por) {
                top: 85%;
                right: 10%;
            }
            @include respond(phone) {
                top: 85%;
                right: 10%;
            }
        }
    }
    &_content {
        position: relative;
        height: 65rem; // width: 83rem;
        border-radius: 1rem;
        margin: auto auto;
        img {
            width: 100%; // max-height: 50rem;
            // display: block;
            // padding: 5rem ;
            // background: red;
            margin: 0 auto;
            height: auto;
        }
    }
    &_card {
        position: absolute;
        transition: all .4s;
        border-radius: 4rem; // width: auto;
        height: 60rem;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        @include respond(tab-por) {
            height: 80rem;
        }
        @include respond(phone) {}
        &.features_card_active {
            z-index: 1000 !important;
        }
        &.features_card_left {
            transform: translateX(-170rem);
            z-index: 5; // @include respond(phone) {
            //     transform: translateX(-10rem);
            // }
        }
        &.features_card_right {
            transform: translateX(70rem);
            z-index: 5; // @include respond(phone) {
            //     transform: translateX(10rem);
            // }
        }
        &.features_active_left {
            z-index: 9;
        }
        &.features_active_right {
            z-index: 9;
        }
        &_text {
            color: $carousel-text;
            font-size: 2rem;
            line-height: 3.4rem;
            padding: 4rem;
            position: relative;
            top: -35%;
            &::before {
                content: " ";
                margin-left: 8rem;
            }
            @include respond(tab-por) {
                top: -20%;
                &::before {
                    content: " ";
                    margin-left: 4rem;
                }
            }
            @include respond(phone) {
                padding: 2rem;
                top: 0%;
                &::before {
                    content: " ";
                    margin-left: 2rem;
                }
            }
        }
    }
    .title {
        color: $primary; // position: absolute;
        font-size: 3rem;
        display: block;
        text-align: center;
    }
    &_indicator {
        position: absolute;
        bottom: 2%;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
        display: block;
        @include respond(tab-por) {
            bottom: 0;
        }
        @include respond(phone) {
            font-size: 3rem;
            bottom: 1.5%;
        }
        
        a {
            // height: 6rem; // width: 3rem;
            background: url(../images/carousel-inactive.svg);
            background-repeat: no-repeat;
            color: transparent;
            background-size: 75%;
            background-position: center;
            transition: all .3s;
        }
        text-align: center;
        z-index: 10000;
        font-size: 6rem;
        @include respond(phone) {
            font-size: 4rem;
        }
        &_block {
            display: inline-block;
            &.active {
                background: url(../images/carousel-active.svg);
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
}