.cta {
    &_form {
        display: flex;
        // background: red;
        height: 6rem;
        align-items:center;
        justify-content: center;
        width: 60rem;
        // flex-wrap: wrap;
        margin: 0 auto; // transform: translateX(-50%);
        @include respond(tab-por) {
            flex-direction: column;
            // height: 12rem;
            // width: auto;
        }
        @include respond(phone) {
            max-width: 40rem;

        }
        @media (max-width:400px) {
            max-width: 32rem;

        }
    }
    &_email{
        flex-basis: 65%;
        @include respond(tab-por){
         display: none;
    }
}
    &_input {
        width:100%;
        height: 6rem;
        background: none; // width: 60%;
        font-size: 1.8rem;
        border: 1px solid black;
        color: $header-textbox-text;
        border-right: 0; // border: none;
        border-radius: 4px 0 0 4px;
        outline: none; // height: 6rem;
        padding: 1.7rem;
        @include respond(tab-por) {
            border-radius: 4px !important;
            border: 1px solid black !important; // border-right: 1px;
            display: none;
        }
    }
    &_mob-only{
        display: none;
        text-align: center;
        @include respond(tab-por){
            display: block!important;
        }
    }
    &_submit{
        
        flex-basis: auto;
        @include respond(tab-por){
            flex-basis: 100%;
            width: 90%;
        }
    }
    &_button {
       height: 6rem;
       width: 100%;
        border-radius: 0 4px 4px 0!important;
        @include respond(tab-por){
            display: none;
            border-radius: 4px!important;
        }
    }
}