.tab {
    &_heading {
        font-size: 4rem;
        line-height: 4.8rem;
        font-weight: 600;
        color: $tab-text;
        @include respond(tab-por) {
            text-align: center;
        }
    }
    &_title {
        display: none;
        @include respond(tab-por) {
            display: block;
            text-align: center;
            font-size: 3rem;
            color: $primary;
        }
    }
    &_explore {
        a {
            text-transform: uppercase;
            color: $highlight;
            text-decoration: none;
            font-size: 1.5rem;
            letter-spacing: .1rem;
        }
        @include respond(tab-por) {
            text-align: center;
        }
    }
    &_data {
        padding-top: 4rem;
        align-self: center;
        width: 70%;
        height: 70rem; // background: orangered;
        .tabcontent {
            backface-visibility: hidden;
            animation: fade-in-top 1s;
            display:none;
            img {
                width: 100%;
                padding: 4rem 8rem 4rem 2rem;
                @include respond(tab-por) {
                    padding: 4rem 9rem;
                }
                @include respond(phone) {
                    padding: 1rem;
                }
            }
            &.active{
                display: block;
            }
        }
        @include respond(tab-por) {
            width: 100%;
            padding-top: 1rem;
            height: auto;
        }
    }
    &_buttons {
        width: 30%;
        align-self: center; // background: red;
        padding: 10rem 12rem 4rem 1rem;
        .tablink {
            color: lighten($tab-text,20);
            font-weight: 600;
            background: none;
            cursor: pointer;
            display: block;
            outline: none;
            border: none;
            margin: .8rem 0;
            width: 30rem;
            font-size: 1.8rem;
            text-align: left;
            padding: 1.4rem 5rem 1.4rem 2.2rem;
            border-radius: 6px;
            transition: all .3s ease-in-out;
            &.active {
                background-color: $tab-active-bg;
                color: darken($tab-text,20);
                padding: 1.4rem 1.4rem 1.4rem .9em;

            }
            &:hover {
                background-color: $tab-active-bg;
            }
            @include respond(tab-por) {
                display: none;
            }
        }
        @include respond(tab-lan) {
            width: 40%;
            padding: 0;
            margin: 0 auto;
        }
        @include respond(tab-por) {
            width: 90%;
            padding: 0;
            margin: 0 auto;
        }
    }
}