.email-notifications-container,
.email-notifications-dropdown-container {
    padding: 0 0 20px 20px;
}

.email-notifications-container hr {
    margin-bottom: -10px;
    margin-top: 20px;
}

.email-notifications-heading {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    color: #354052;
}

.email-notifications-description,
.email-notifications-dropdown-container .email-notifications-description {
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 1.2px;
    text-align: left;
    color: #616366;
}

.email-notifications-dropdown-container .email-notifications-description {
    color: #4a4a4a;
}

.email-notifications-dropdown-container .Select {
    max-width: 340px;
}

.email-notifications-dropdown-container .Select .Select-menu-outer {
    margin-top: 2px;
}

.km-welcome-messge-textarea-heading{
    font-size: 16px;
    letter-spacing: 1.2px;
    text-align: left;
    color: #878585;
    margin: 0px 0px 10px -10px;
}