.multiple-email-container{
	background-color: #FFF;
	/* border: 1px solid #C0C0C0; */
	padding-left: 0;
	width: 35%;
}
.multiple-email-container input{
	padding-top: 7px;
	padding-bottom: 7px;
	border: 1px solid #5C5AA7;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.flex-center {
	display: flex;
	justify-content: center;
}
.flex-center .group, .flex-center .form-group {
	margin-bottom: 5px;
}
.br-custom {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
.single-email-container{
	display: inline-block;
	/* border: 2px solid #C0C0C0; */
	background-color: #8c8787;
	color: #FFF;
	margin: 5px;
	margin-top: 5px;
	border-radius: 4px;
	padding: 3px 6px;
}

.remove-email {
	margin-left: 3px;
	cursor: pointer;
	vertical-align: sub;
	line-height: 16px;
}
.email-field-wrapper {
	padding-left: 12px;
}
.invite-btn-wrapper {
	padding-top: 0;
    padding-bottom: 40px;
}
.input-email {
	border: 0;		
	width: 100%;	
	margin: 5px;
}
.instruction-heading {
	margin:auto;
	padding:4px;
	background-color:white;
}

.instruction-text-area {
	width:100%; 
	background-color:#EBEFF1;
	padding-left:5px;
}
.script-text-area, .script-text-area:focus,.script-text-area:active{
	width:100%;
	padding: 20px;
	border: 1px solid #dad6d6;
	resize: none;
	outline: none;
	border-bottom: none;
}
.copy-code-button-div {
	margin-top: -6px;
    background-color: #ffffff;
	padding: 10px 0px 20px 20px;
	border: 1px solid #dad6d6;
	border-top: none;
}
.instructions-link-div {
	padding-top: 20px;
	font-size: 15px;
}
.instructions-link-div strong {
	font-weight: 500;
}
.instructions-link-div a {
	font-size: 15px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.6px;
	text-align: left;
	color: #5c5aa7;
}
.instructions-link-div ul {
	list-style: none;
	margin: 0;
	padding-left: 20px;
}
.show-instructions {
	margin-top: 10px;
	background-color: #ffffff;
	padding: 10px 0px 20px 20px;
	border: 1px solid #dad6d6;
}

.integration-heading{
	margin-top: 2px;
}
.intgration-card-header {
	color: #5f6162;
	font-size: 12px;
	text-align: left;
	font-weight: 600;
	background-color: white;
	padding:8px;
	margin-left: 36px;
  }
  .integration-font{
	font-size: 14px;
	/* letter-spacing: 1.1px; */
	text-align: left;
	color: #5f6162;
	}
  .card-main {
	float: left;
	display: flex;          
	flex-direction: column;     
	margin-left: 40px;  		
	padding: 15px 0;            
    
  }
  .outer-box{
	margin-top: 15px;
	margin-bottom: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
	float: left;
	background-color:#EBEFF1;
	border: 1px solid #c5cbce;
  }
  #outer
  {
	  width:100%;
  }
  .inner
  {
	  display: inline-block;
	  margin-top: 15px;
	  margin-right: 15px;
  }
  .tip-enter-m {
	width: 380px !important;
	height: 26px !important;
	font-family: OpenSans !important;
	font-size: 11px !important;
	letter-spacing: 0.5px !important;
	text-align: left !important;
	color: #868383 !important;
	background-color: transparent !important;
}

.tip-enter-m .tip-text-style {
	font-weight: 600 !important;
}

.instruction-display-area{
	width:100%;
	height: 100%;
	border: 1px solid rgba(0, 0, 0, 0.15);;
	background-color: rgb(255, 255, 255);
	color:rgb(0, 0, 0);
	padding: 6px;
	margin-bottom: 8px;
}
