.multiple-email-container{
	background-color: #FFF;
	border: 1px solid #C0C0C0;
	padding-left: 0;
}

.single-email-container{
	display: inline-block;
	border: 2px solid #C0C0C0;
	background-color: #20a8d8;
	color: #FFF;
	margin: 5px;
	margin-top: 5px;
	border-radius: 15px;
	padding: 5px;
}

.remove-email {
	margin-left: 3px;
	cursor: pointer;
}

.input-email {
	border: 0;		
	width: 100%;	
	margin: 5px;
}
.instruction-heading {
	margin:auto;
	padding:4px;
	background-color:white;
}

.instruction-text-area {
	width:100%; 
	background-color:#EBEFF1;
	padding-left:5px;
}
.script-text-area{
	width:100%;
	padding: 20px;
}

.integration-heading{
	margin-top: 2px;
}
.intgration-card-header {
	color: #5f6162;
	font-size: 12px;
	text-align: left;
	font-weight: 600;
	background-color: white;
	padding:8px;
	margin-left: 36px;
  }
  .integration-font{
	font-size: 14px;
	letter-spacing: 1.1px;
	text-align: left;
	color: #5f6162;
	}
  .card-main {
	float: left;
	display: flex;          
	flex-direction: column;     
	margin-left: 40px;  		
	padding: 15px 0;            
    
  }
  .outer-box{
	margin-top: 15px;
	margin-bottom: 40px;
	padding-top: 20px;
	padding-bottom: 6px;
	float: left;
	background-color:#EBEFF1;
	border: 1px solid #c5cbce;
  }
  #outer
  {
	  width:100%;
  }
  .inner
  {
	  display: inline-block;
	  margin-top: 15px;
	  margin-right: 15px;
  }
  .tip-enter-m {
	width: 380px !important;
	height: 26px !important;
	font-family: OpenSans !important;
	font-size: 11px !important;
	letter-spacing: 0.5px !important;
	text-align: left !important;
	color: #868383 !important;
	background-color: transparent !important;
}

.tip-enter-m .tip-text-style {
	font-weight: 600 !important;
}

.instruction-display-area{
	width:100%;
	height: 100%;
	border: 1px solid rgba(0, 0, 0, 0.15);;
	background-color: rgb(255, 255, 255);
	color:rgb(0, 0, 0);
	padding: 6px;
	margin-bottom: 8px;
}
