.km-chat-customization-wrapper .color {
    border-radius: 2px;
    display: inline-block;
    width: 29px;
    height: 18px;
    cursor: pointer;
    margin-right: 10px;
}

.km-cursor-default{
    cursor:default;
}

.km-chat-customization-wrapper #selectedColorHex {
    display: inline-block;
    width: 63px;
    font-size: 14px;
    color: #625e5e;
    margin-left: 10px;
}
.km-pointer-cursor{
    cursor: pointer;
}
.km-chat-customization-wrapper .km-customizer-heading {
    font-size: 16px;
    color: #57595b;
}

.km-chat-customization-wrapper .km-color-picker {
    position: relative;
}

.km-chat-customization-wrapper .km-logo-picker {
    margin-top: 54px;
}

.km-chat-customization-wrapper .logo-selection {
    display: flex;
}

.km-chat-customization-wrapper .logo-design {
    margin: 10px 20px 0 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.logo-design svg {
    height: 22px;
    width: 22px;
}

.km-chat-customization-wrapper .swatch {
    background: #fff;
    width: 196px;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #a1a1a1;
    display: flex;
    align-items: center;
    padding: 6px 10px;
    cursor: pointer;
}

.km-chat-customization-wrapper .popover {
    position: absolute;
    z-index: 2;
    top: 110%;
    border: none;
}

.km-chat-customization-wrapper .popover .sketch-picker {
    border: none;
    /* padding: 2px!important; */
    /* box-shadow: none!important; */
}

/* .sketch-picker .flexbox-fix:nth-child(2) div:nth-child(2) {
        display: none;
    } */

.km-chat-customization-wrapper .cover {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}


.km-custom-icon-upload {
    color: #625e5e;
    font-size: 14px;
    line-height: 1.36;
}
.km-non-selected {
    opacity: 0.5;
}

.km-custom-icon-upload button {
    width: 30px;
    height: 30px;
    padding: 6px;
    margin-left: 10px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0 2px 3px 1px rgba(165, 161, 161, 0.5);
    outline: none;
    border: none;
}

.km-custom-icon-upload a svg {
    height: 10px;
    width: 15px;
}

.km-img-picker {
    border-radius: 4px;
    border: solid 1px #bab8b8;
    max-width: 263px;
    padding: 8px 4px 15px 5px;
    position: relative;
}

.km-customizer-heading-icon {
    font-size: 14px;
    line-height: 1.36;
    color: #2e2c2c;
}

.km-img-upload-input {
    top: 44%;
    left: 199px;
    width: 17%;
    height: 53%;
}

.km-coming-soon-style {
    margin-bottom: 33px;
    font-size: 16px;
    letter-spacing: 1px;
    color: #2cd55c;
    margin-top: -25px;
}

.km-coming-soon-state {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 170px;
}

.km-coming-soon-text {
    width: 100%;
    font-size: 16px;
    letter-spacing: 0.6px;
    text-align: center;
    color: #746f6f;
    margin-top: 30px;
}
.km-coming-soon-text div {
    margin-top: 20px;
}

.km-chat-customization-wrapper .km-settings-banner {
    margin-left: 0px;
}
.km-chat-customization-wrapper {
    margin-bottom: 50px;
    max-width: 998px;
    margin-left: 15px;
}

.km-chat-customization-wrapper .inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.km-chat-customization-wrapper .inputfile + label {
    font-size: 14px;
    font-weight: 500;
    color: #4831d9;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 0;
    margin-right: 15px;
}
.km-chat-customization-wrapper .inputfile:disabled + label {
    color: rgba(71, 49, 217, 0.5);
    cursor: default;
}
.km-powered-by-customization {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 630px;
}
.km-powered-by-customization-text {
    font-size: 15px;
    line-height: 1.13;
    letter-spacing: 0.7px;
    color: rgba(0, 0, 0, 0.5);
    margin: 15px 0 15px 0;
}
.km-powered-by-customization-heading {
    font-size: 16px;
    letter-spacing: 0.3px;
    color: #272828;
    margin-right: -15px;
}
.km-powered-by-logo {
    padding: 0 0 7px;
    vertical-align: middle;
    color: #aeaaaa;
}
.km-powered-by-link {
    font-size: 14px;
    letter-spacing: 0.3px;
    color: #000000;
}
.km-division-between-widget-and-branding-customization{
    border-width: 1px;
    border-color: #cacaca;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.km-hide-input-element {
    opacity: 0.0;
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right:0;
    width:100%;
    height:100%;
    font-size: 0px;
    cursor: pointer;
}
.info-icon {
    margin-left: 5px;
}
.info-icon svg {
    vertical-align: middle;
}