.early-bird-offer-container {
    border-radius: 4px;
    /* background-color: #ffffff; */
    border: solid 1px #cbc6c6;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}
.early-bird-offer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}
.early-bird-details-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 30px;
}
.img-container {
    padding: 10px 20px;
}
.img-container svg {
    width: 48px;
    height: 48px;
}
.early-bird-details {
    padding-top: 10px;
}
.percent-off {
    margin-bottom: 10px;
}

.curves-container {
    position: relative;
    text-align: right;
    padding-right: 30px !important;
}
.bg-curves-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 330px;
    z-index: 0;
}

.avail-offer-button {
    margin-top: 31px;
    margin-bottom: 10px;
    background-color: #2dd35c;
    z-index: 2;
    position: relative;
    display: block;
    max-width: 150px;
    line-height: 36px;
    margin-right: 0px;
    margin-left: auto
}
.avail-offer-button:hover {
    background-color: #2caf51;
    text-decoration: none;
}
.offer-left {
    position: relative;
    z-index: 2;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
}
.offer-left span {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

.offer-tag {
    position: absolute;
    width: 100px;
    top: 15px;
    left: -28px;
    background-color: #2dd35c;
    transform: rotate(-46deg);
    text-align: center;
}
.offer-tag p {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.early-bird-plan-sub-name {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;

    color: #6e6e72;
}
.early-bird-plan-valid-till {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;

    color: #615d5d;
}
.early-bird-plan-valid-till strong{
    color: #303030;
}
.km-bot-list-of-integrated-bots-badge {
    letter-spacing: 0.4px;
    margin-bottom: 5px;
}
.early-bird-details-container .img-container::after {
    /* content: ""; */
    position: absolute;
    top: -180px;
    left: 0px;
    width: 120%;
    height: 270%;
    background-color: #00adef;
    transform: rotate(20deg);
    z-index: -1;
}
.product-hunt-offer-container .avail-offer-button {
    max-width: 210px;
    box-shadow: 0 2px 4px 0 rgba(51, 50, 50, 0.5);
    margin-bottom: 20px;
}
.product-hunt-offer-container .offer-left {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    color: #928f8f;
}
.product-hunt-offer-container .offer-left strong{
    color: #413e3e;
}

.product-hunt-offer-container .early-bird-details-container {
    padding-left: 0px;
}
.product-hunt-offer-container .producthunt-text {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    color: #ffffff;
    margin-top: 5px;
    margin-bottom: 7px;
}
.product-hunt-offer-container .support-us-link {
    text-decoration: underline;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    color: #ffffff;
}
.product-hunt-offer-container .early-bird-details-container {
    justify-content: space-between;
}
.product-hunt-offer-container .img-container {
    position: relative;
}
.product-hunt-offer-container .early-bird-offer {
    padding: 0px 20px;
}
.product-hunt-offer-container .blue-bg-container {
    position: absolute;
    top: calc(100% - 570px);
    left: 0;
    width: 30%;
    height: 100vh;
    background-color: #00adef;
    transform: rotate(20deg);
    z-index: -1;
}

@media only screen and (max-width:560px) {
    .product-hunt-offer-container .blue-bg-container {
        width: 100%;
        height: 40%;
        transform: rotate(0deg);
        top: 0;
    }
    .early-bird-details-container .img-container {
        margin-bottom: 25px
    }
    .product-hunt-offer-container .early-bird-details-container {
        justify-content: center;
    }
    .product-hunt-offer-container .curves-container {
        padding-right: 0px !important;
        text-align: center;
    }
    .product-hunt-offer-container {
        text-align: center;
    }
    .product-hunt-offer-container .avail-offer-button {
        margin: 20px auto;
    }
}

@media only screen and (min-width:560px) and (max-width:844px) {
    .product-hunt-offer-container .blue-bg-container {
        width: 100%;
        height: 40%;
        transform: rotate(0deg);
        top: 0;
    }
    .early-bird-details-container .img-container {
        margin-bottom: 25px
    }
    .product-hunt-offer-container .early-bird-details-container {
        justify-content: center;
        flex-direction: column;
    }
    .product-hunt-offer-container .curves-container {
        padding-right: 0px !important;
        text-align: center;
    }
    .product-hunt-offer-container {
        text-align: center;
    }
    .product-hunt-offer-container .avail-offer-button {
        margin: 20px auto;
    }
}

@media only screen and (min-width:992px) and (max-width:1099px) {
    .product-hunt-offer-container .blue-bg-container {
        width: 100%;
        height: 40%;
        transform: rotate(0deg);
        top: 0;
    }
    .early-bird-details-container .img-container {
        margin-bottom: 25px
    }
    .product-hunt-offer-container .early-bird-details-container {
        justify-content: center;
        flex-direction: column;
    }
    .product-hunt-offer-container .curves-container {
        padding-right: 0px !important;
        text-align: center;
    }
    .product-hunt-offer-container {
        text-align: center;
    }
    .product-hunt-offer-container .avail-offer-button {
        margin: 20px auto;
    }
}