.km-email-hr{
	width: 90%;
    margin-top: 20px;
	margin-bottom: 20px;
}
.km-user-info-metadata{
    margin-bottom: 10px !important;
    padding-bottom: 2px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.km-user-info-metadata-wrapper{
    display: flex;
    padding: 8px 14px 5px 14px;
    flex-direction: column;
}
.km-user-info-meatadata-key {
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #706f6f;
    min-width: 125px;
}
.km-user-info-meatadata-value-wrapper {
    margin-left: 20px;
}
.km-user-info-meatadata-value {
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #595757;
    min-width: 110px;
    word-wrap: break-word;
    white-space: pre-wrap;
}
.km-sidebar-info-panel, .km-clearbit-title-panel {
    background-color: #efefef;
    font-size: 14px;
    letter-spacing: 0.4px;
    color: #5a5858;
    padding: 4px 15px;
    line-height: initial;
}
.km-user-info-metadata-wrapper{
    display: flex;
    padding: 8px 14px 5px 14px;
    flex-direction: column;
}
.fade-enter {
opacity: 0.01;
}

.fade-enter.fade-enter-active {
opacity: 1;
transition: opacity 500ms ease-in;
}

.fade-leave {
opacity: 1;
}

.fade-leave.fade-leave-active {
opacity: 0.01;
transition: opacity 300ms ease-in;
}
.km-sidebar-user-number-edit{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.km-submit-position{
    position: absolute;
    right: 10%;
    bottom: -16%;
    border-radius: 2px;
    box-shadow: 0 0 2px 1px rgba(152, 149, 149, 0.5);
    background-color: #e5e5e5;
    width: 19px;
    height: 17px;
    -webkit-box-shadow: 0 0 2px 1px rgba(152, 149, 149, 0.5);
}
.km-cancel-position{
    width: 19px;
    height: 17px;
    position: absolute;
    right: 2%;
    bottom: -16%;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 2px 1px rgba(152, 149, 149, 0.5);
    box-shadow: 0 0 2px 1px rgba(152, 149, 149, 0.5);
    background-color: #e5e5e5;
}
.km-sidebar-display-name .km-submit-position .km-sidebar-submit-svg, .km-sidebar-display-name .km-cancel-position .km-sidebar-submit-svg{
    margin-left: -4px;
    margin-bottom: 6px;
}
.km-sidebar-display-name .km-submit-position{
    position: absolute;
    right: 10%;
    top: 127px;
    border-radius: 2px;
    box-shadow: 0 0 2px 1px rgba(152, 149, 149, 0.5);
    background-color: #e5e5e5;
    width: 19px;
    height: 17px;
    -webkit-box-shadow: 0 0 2px 1px rgba(152, 149, 149, 0.5);
}
.km-sidebar-display-name .km-cancel-position{
    width: 19px;
    height: 17px;
    position: absolute;
    right: 2%;
    top:127px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 2px 1px rgba(152, 149, 149, 0.5);
    box-shadow: 0 0 2px 1px rgba(152, 149, 149, 0.5);
    background-color: #e5e5e5;
}
.km-sidebar-submit-svg{
    margin-left: -4px;
    margin-bottom: 2px;
  }

  .km-sidebar-user-email input:focus ,.km-sidebar-user-number input:focus, .km-sidebar-user-data-notfound input:focus, .km-sidebar-user-data-found input:focus, .km-sidebar-display-name input:focus{
    border: 1px solid #5c5aa7;
    outline: none;
    border-radius: 2px;
    color: #595757;
  }

  .km-sidebar-user-data-found{
    color: #595757;
    width:100%;
  }
  .km-edit-input::placeholder {
    opacity: 0.6;
    color: #949494;
}
  .km-sidebar-user-data-notfound.km-edit.km-custom-text-color {
    color: #4831d9;
    width:100%;
  }
  .km-edit {
      margin-bottom: 15px;
  }
  .km-sidebar-display-name:hover{
    background-color: #f4f5f7;
    cursor: text;
  }
  .km-user-info-panel-loader {
      width: 100%
  }
  .km-empty-user-info-wrapper{
      text-align: center;
      font-size: 14px;
      font-weight: 300;
      line-height: 1.32;
      letter-spacing: 0.5px;
      text-align: center;
      color: #838080;
      padding: 5px 40px; 
  }
  .km-empty-user-info-wrapper a{
      display: block;
      margin-top: 10px;
      color:#5553b7;
      font-weight: 400;
  }
  .km-empty-user-info-wrapper >svg{
    width: 169px;
    height: 120px;
    display: block;
    margin: 20px auto;
  }