.customer-list-item .table tbody tr {
  border-bottom: 1px solid #cfd8dc;
  transition: all .3s;
} 
.customer-list-item .table tbody tr.km-user-blocked {
  background-color: #e9e7e7;
} 
.customer-list-item .table tbody tr.km-user-blocked:hover {
  box-shadow: none;
  background-color: #e9e7e7;
} 
.customer-list-item .table tbody tr .users-icon-container div {
  visibility: hidden
} 
.customer-list-item .table tbody tr:hover {
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 2px 11px 3px rgba(171, 166, 166, 0.5);
  cursor: default;
  border-bottom: 1px solid #cfd8dc;
} 
.customer-list-item .table tbody tr:hover .users-icon-container div  {
  visibility: visible;
  cursor: pointer;
} 
.customer-list-item .table tbody td {
  border: none;
} 
.customer-list-item .table th, .customer-list-item .table td {
  vertical-align: middle;
}

.customer-list-item .thead-default th {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  text-align: left;
  color: #97999b;
  background-color: #ffffff;
  text-transform: uppercase;
}

.customer-list-item .thead-default td {
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.4px;
  text-align: left;
  color: #4a4b4c;
}

.customer-list-item .table thead th {
  vertical-align: bottom;
  border-bottom: 1px solid #cfd8dc;
}

.customer-list-item .users-table th {
  border-top: none;
}

.customer-list-item .customer-section-design {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.customer-list-item .km-button {
  height: 42px;
  letter-spacing: 0.6px;
  font-weight: 500;
}

.customer-list-item .km-conversation-tab-link {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  text-align: left;
  color: #4831d9;
}

.customer-list-item .assignee-closed {
  color: #2fc359;
  font-size: 14px;
  text-transform: capitalize;
}

.customer-list-item .assignee-open {
  color: #4831d9;
  font-size: 14px;
  text-transform: capitalize;
}

.customer-list-item .km-alpha-contact-image .km-contact-icon {
  border-radius: 50%;
}

.customer-list-item .display-name-customer {
  margin: 0;
}

.customer-list-item .email-id-customer {
  margin: 0;
  font-size:12px;
  color: #757779;
  text-transform: none;
}

.customer-list-item .avatar .avatar-status {
  right: 13px;
}

.customer-list-item .avatar .img-avatar {
    cursor: default;
    float: left;
    width: 43px;
    height: 43px;
    margin-right: 12px;
    border-radius: 50%;
    font-size: 25px;
    text-align: center;
    line-height: 40px;
}

.customer-list-item .avatar {
  width: auto;
}

.customer-list-item .assignee-open:hover,.customer-list-item .assignee-closed:hover{
  cursor: pointer;
  text-decoration: underline;
}

.km-pagination-check {
    height: 28px;
    min-width: 28px;
    border: solid 1px #d0caca;
    margin: 0 3px;
    border-radius: 4px;
}

.km-hide-visibility {
	visibility: hidden !important;
}

.km-show-visibility {
	visibility: visible !important;
}

.km-search-box {
  width: 90%;
  outline: none;
  border: none;
  color: #97999b;
  margin-left: 20px;
  font-size: 14px;
  letter-spacing: 0.4px;
  display: inline;
}

input#km-search-box:focus {
  border: none;
}

.km-text-box-wrapper {
  position: relative;
  width: 20%;
  margin-bottom: 0px;
  margin-left: 20px;
  border-bottom: 1px solid #dce2e4;
}
.km-text-box-wrapper svg{
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.km-text-box-wrapper span#km-clear-search-text{
  position: absolute;
  right: 0;
  font-size: 22px;
  color: #97999b;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.customer-list-item .users-icon-container div {
  display: flex;
  align-items: center;
}
.customer-list-item .users-icon-container div > p{
  margin: 0 0 0 5px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.2px;
  color: #8b8c8e;
}
.mb-30 {
  margin-bottom: 30px;
}