.dropup {
/*  margin: 20rem 10rem; */
  position: relative;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  text-align: left;
}
.dropup #d-box {
  position: absolute;
  width: 100%;
  bottom: 3rem;
  left:-8px;
  background-color: #ffffff;
  z-index: 1000;
  -webkit-box-shadow: 0 0 4px 2px rgba(193, 190, 190, 0.5);
  box-shadow: 0 0 4px 2px rgba(193, 190, 190, 0.5);
  overflow: auto;
  border-radius: 4px;
  max-height: 200px;
  padding-top: .3rem;
  overflow-x: hidden;
  display: none;
}
.dropup .d-pop {
  width: 100%;
  display: block;
  color: black;
  position: relative;
  padding: .4rem  2rem .2rem .8rem;
  background-color: #ffffff;
  cursor: pointer;
  transition: all .3s ;
  margin-bottom: .2rem;
  height: 48px;
}
.auto_reply{
  font-size: 13px;
  color:#474748;
  font-weight: 600;
}
.auto_suggestion{
  color:#a8a8ab;
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  text-align: left;
  color: #a8a8ab;
  width: 100%;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
.d-pop:hover {
    background: #f2f2f2!important;
}
/* .dropup .d-pop:nth-child(1) {
  top: -0px;
}
.dropup .d-pop:nth-child(2) {
  top: -17px;
}
.dropup .d-pop:nth-child(3) {
  top: -34px;
}
.dropup .d-pop:nth-child(4) {
  top: -51px;
}
.dropup .d-pop:nth-child(5) {
  top: -68px;
}
.dropup .d-pop:nth-child(6) {
  top: -85px;
}
.dropup .d-pop:nth-child(7) {
  top: -102px;
}
.dropup .d-pop:nth-child(8) {
  top: -119px;
}
.dropup .d-pop:nth-child(9) {
  top: -136px;
}
.dropup .d-pop:nth-child(10) {
  top: -153px;
}
.dropup .txtbox {
  width: 100%;
} */
