.webhooks-and-security-div .webhooks-and-security-container {
    margin-left: 15px;
    margin-bottom: 80px;
}
.webhooks-and-security-container h3 {
    font-size: 18px;
    letter-spacing: 1.2px;
    color: #616366;
}
.webhooks-input-field-goup p:first-child {
    font-size: 15px;
    letter-spacing: 0.3px;
    color: #616366;
    margin: 25px 0 10px;
}
.webhooks-input-field-goup .input-dropdown-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.webhooks-input-field-goup .input-dropdown-container .input-group{
    flex-basis: 40%
}
.webhooks-input-field-goup .input-dropdown-container p {
    flex-basis: 30%;
    margin: 0px 5px 0px 20px;
}
.webhooks-input-field-goup .input-dropdown-container div.Select {
    flex-basis: 20%;
}

.webhooks-input-field-goup .input-dropdown-container input {
    font-size: 15px;
    padding: 7px 16px;
}
.webhooks-input-field-goup .input-dropdown-container .input-group {
    width: auto;
}
.webhooks-input-field-goup .input-dropdown-container .label-for-input {
    font-size: 15px;
    left: 15px;
    margin-bottom: 0;
    top: 50%;
    transform: translateY(-50%);
}
.webhooks-input-field-goup .input-dropdown-container .input:focus ~ .label-for-input,  .webhooks-input-field-goup .input-dropdown-container .input:valid ~ .label-for-input, .webhooks-input-field-goup .input-dropdown-container .input:not(:placeholder-shown) ~ .label-for-input {
    top: 0;
    left: 10px;
    font-size: 12px;
}
.webhooks-input-field-goup .input-dropdown-container p {
    font-size: 14px;
    line-height: 1.36;
    color: #616366;
} 
.webhooks-input-field-goup p {
    font-size: 12px;
    line-height: 1.58;
    color: #a1a1a1;
    margin: 3px 0 0;
} 
.webhooks-input-field-goup p>a {
    color: #4831d9;
    text-decoration: none;
} 
.webhooks-input-field-goup p>a svg {
    margin-left: 3px;
    transform: translateY(7%);
} 

.webhooks-action-buttons-container, .security-action-buttons-container {
    margin: 30px 0 20px;
}
.webhooks-action-buttons-container button:last-child, .security-action-buttons-container button:last-child {
    margin-left: 25px;
}

.webhooks-and-security-div .lock-badge-container {
    margin-left: 15px;
    vertical-align: middle;
  }

  .webhooks-and-security-div{
      max-width: 998px;
  }