.form-control-label {
    padding: 0;
    font-size: 16px;
    letter-spacing: 1.3px;
    color: #616366;
}
.label-contact {
    color: #b8babb;
}
.brand-header > h5 {
    font-size: 18px;
    letter-spacing: 1.5px;
    text-align: left;
    color: #7d7f81;
    margin-bottom: 25px;
}
.divider {
    border-top: 1px solid #e9e9e9;
    max-width: 930px;
    margin-left: 0px;
}
.default-dp {
    width: 173px;
    height: 173px;
    border-radius: 50%;
}
.pt-100 {
    padding-top: 100px;
}
.chevron-up-password {
    color: #dad8d8;
}
.edit-dp-btn {
    margin-top: 15px;
}
.default-dp-hide {
    visibility: hidden;
}
.edit-dp-btn > span {
    font-size: 15px;
    letter-spacing: 1.1px;
    color: #555bb7;
}
.user-dp-input {
    opacity: 0;
}
.password-wrapper-header {
    font-size: 14px;
    letter-spacing: 0.7px;
    text-align: left;
    color: #5e6061;
    font-weight: 400;
}
.save-btn {
    width: 104px;
    height: 26px;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #dcdbe0;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.8px;
    color: #aea8a8;
}
.input-field {
    border-radius: 4px;
    border: solid 1px #a1a1a1;
    padding: 10px 16px;
    color: #4a4a4a;
}
.input-field:disabled {
    background-color: #f2f2f2;
    border: none;
    padding: 11px 16px;
}
.input-field:focus {
    border: solid 1px #5553b7;
    color: #4a4a4a;
}
.change-courser {
    cursor: pointer;
}
.about-password-text {
    font-size: 12px;
    letter-spacing: 0.5px;
    color: #87898b;
    margin-top: 3px;
}
.setup-btn-group {
    margin-top: 20px;
}
.card-footer {
    border: none;
    background-color: white;
}
.about-dp {
    font-size: 15px;
    letter-spacing: 1.1px;
    color: #9b9b9b;
    margin-top: 1px;
}
.hidden-cropped-img {
    visibility: hidden;
}
canvas {
    height: auto;
    width: 100%;
}
.image-editor-container {
    text-align: center;
}
.modal-footer-button {
    text-align: right;
}

#remove-button {
    margin-left: 4px;
}
.zoom-icon-left {
    margin-right: 5px;
}
.zoom-icon-right {
    margin-left: 5px;
    font-size: 20px;
}
.close-icon {
    font-weight: bold;
    color: grey;
}
.upload-img-button {
    width: 50%;
    border: 0;
    height: 37px;
    color: #0d77f2;
    border: 1px solid #c3c0c0;
}
.remove-img-button {
    width: 50%;
    border: 0;
    height: 37px;
    color: #0d77f2;
    border: 1px solid #c3c0c0;
}
.range-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    width: 230px;
}
.range-slider span {
    width: 24px;
    height: 24px;
}
.range-slider span svg {
    vertical-align: middle;
}
.range-slider span:first-child svg {
    width: 16px;
    height: 16px;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    margin: 6px 0;
}
input[type="range"]:focus {
    outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #ffffff, 0px 0px 1px #ffffff;
    background: #cacaca;
    border-radius: 3px;
    border: 0px solid #ffffff;
}
input[type="range"]::-webkit-slider-thumb {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #5553b7;
    height: 16px;
    width: 16px;
    border-radius: 50px;
    background: #5553b7;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
    background: #e1e1e1;
}
input[type="range"]::-moz-range-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #ffffff, 0px 0px 1px #ffffff;
    background: #cacaca;
    border-radius: 3px;
    border: 0px solid #ffffff;
}
input[type="range"]::-moz-range-thumb {
    box-shadow: 0.6px 0.6px 4.8px #000000, 0px 0px 0.6px #0d0d0d;
    border: 1px solid #5553b7;
    height: 16px;
    width: 16px;
    border-radius: 50px;
    background: #5553b7;
    cursor: pointer;
}
input[type="range"]::-ms-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type="range"]::-ms-fill-lower {
    background: #b3b3b3;
    border: 0px solid #ffffff;
    border-radius: 6px;
    box-shadow: 1px 1px 1px #ffffff, 0px 0px 1px #ffffff;
}
input[type="range"]::-ms-fill-upper {
    background: #cacaca;
    border: 0px solid #ffffff;
    border-radius: 6px;
    box-shadow: 1px 1px 1px #ffffff, 0px 0px 1px #ffffff;
}
input[type="range"]::-ms-thumb {
    box-shadow: 0.6px 0.6px 4.8px #000000, 0px 0px 0.6px #0d0d0d;
    border: 1px solid #5553b7;
    height: 16px;
    width: 16px;
    border-radius: 50px;
    background: #5553b7;
    cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
    background: #cacaca;
}
input[type="range"]:focus::-ms-fill-upper {
    background: #e1e1e1;
}
input[type="range"]::-ms-tooltip {
    display: none;
}

.slider-input {
    padding: 5px;
}
.display-photo-wrapper {
    padding: 30px 38px 35px 60px;}

.avatar-editor {
    margin-bottom: 15px;
}

/* For Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.forgot-password-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 930px;
    padding: 15px 20px 15px 0px;
    transition: all .3s;
}
.forgot-password-container:hover {
    background-color: #f0efff;
    padding: 15px 10px 15px 10px;

}
.forgot-password-container .forgot-password-texts h2 {
    font-size: 18px;
    color: #242424;
    font-weight: 400;
}
.forgot-password-container .forgot-password-texts p {
    font-size: 16px;
    color: #adabab;
    margin-bottom: 0px;
}

.km-profile-section-container {
    margin-bottom: 50px;
}

.km-profile-section-container .km-settings-component-subheading h2 {
    width: 100%;
}

#content-area h2 {
    font-size: 22px;
    letter-spacing: 1.5px;
    color: #242424;
    font-weight: 400;
}

.m-left {
    margin-left: 15px;
}
.flexi-jc-sb {
    justify-content: space-between;
}

.display-photo-wrapper-container{
    position: relative;
    width: 285px;
    height: 255px;
}

.loading.show-loader.profile-loader{
    position: absolute;
    left: 73px;
    top: -10px;
    height: 100px;
    width: 141px;
}

.km-profile-wrapper{
    max-width: 998px;
    margin-left: 3px;
}
