.form-control-label{
    padding: 0;
    font-family: 'OpenSans', sans-serif;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.8px;
    text-align: left;
    color: #7d7f81;
}
.label-contact {
    color: #b8babb;
}
.brand-header > h5 {
    font-family: 'OpenSans', sans-serif;
    font-size: 18px;
    letter-spacing: 1.5px;
    text-align: left;
    color: #7d7f81;
    margin-bottom: 25px;
}
#cancel-button{
    font-family: 'OpenSans', sans-serif;
    width: 66px;
    height: 26px;
    border-radius: 2px;
    background-color: #f4f4f8;
    border: solid 1px #a8a7c4;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.9px;
    color: rgba(35, 33, 33, 0.6);
}
.divider {
    opacity: 0.36;
    border-top: 1px solid rgba(14, 14, 14, 0.26);
}
.default-dp{
    width: 133px;
    height: 134px;
    border-radius: 65px;
    margin-left: 30px;
}
.chevron-up-password {
    color: #dad8d8;
}
.edit-dp-btn {
    position: absolute;
}
.default-dp-hide {
    visibility: hidden;
}
.edit-dp-btn > h5 {
    font-family: 'OpenSans', sans-serif;
    font-size: 14px;
    letter-spacing: 1.1px;
    text-align: left;
    color: #0d77f2;
    margin: 0 auto;
    text-align: center
}
.user-dp-input{
    opacity: 0;
}
.password-wrapper-header{
    font-family: 'OpenSans', sans-serif;
    font-size: 14px;
    letter-spacing: 0.7px;
    text-align: left;
    color: #5e6061;
    font-weight: 100;
}
.save-btn {
    width: 104px;
    height: 26px;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #dcdbe0;
    font-family: 'OpenSans', sans-serif;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.8px;
    color: #aea8a8;
}
.input-field{
    width: 238px;
    height: 35px;
    opacity: 0.63;
    border-radius: 4px;
    border: solid 1px #9cb3de;
}
.change-courser {
    cursor:pointer;
}
.about-password-text {
    font-family: 'OpenSans', sans-serif;
    font-size: 10px;
    letter-spacing: 0.7px;
    text-align: left;
    color: #87898b;
    padding-bottom: 5px;
}
.setup-btn-group {
    margin-top: 20px;
}
.card-footer {
    border: none ;
    background-color: white;
}
.about-dp{
    width: 183px;
    height: 14px;
    font-family: OpenSans;
    font-size: 10px;
    letter-spacing: 0.7px;
    text-align: left;
    color: #87898b;
    margin-left: 17px;
}
.hidden-cropped-img{
    visibility: hidden;
}
canvas {
    height: 200px !important;
    width: 200px !important;
}
.image-editor-container{
    border: 1px solid rgb(207, 205, 205);
    text-align: center;
    width: 400px;
    margin-left: 78px;
    margin-top: 30px;
}
.modal-footer-button{
    text-align: right;
}
.range-slider{
    border: 1px solid #c3c0c0;
    height: 37px;
    padding: 6px;
}
#remove-button{
    margin-left: 4px;
}
#image-input-button {
    margin-left: 4px;
    background-color: #5c5aa7;
    font-family: 'OpenSans', sans-serif;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.9px;
    color: #ffffff;
    width: 66px;
    height: 26px;
    border-radius: 2px;
}
.zoom-icon-left {
    margin-right: 5px;
}
.zoom-icon-right {
    margin-left: 5px;
    font-size: 20px;
}
.close-icon {
    font-weight: bold;
    color: grey;
}
.upload-img-button{
    width: 50%;
    border: 0;
    height: 37px;
    color:#0d77f2;
    border: 1px solid #c3c0c0;

}
.remove-img-button{
    width: 50%;
    border: 0;
    height: 37px;
    color:#0d77f2;
    border: 1px solid #c3c0c0;

}
input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: rgb(228, 226, 222);
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}
.slider-input{
    padding: 5px;
}
.display-photo-wrapper{
    padding: 35px;
   
}
