node_modules
.DS_Store
package-lock.json
lib/core/metadata.js
lib/core/MetadataBlog.js
website/translated_docs
website/build/
website/yarn.lock
website/node_modules
website/package-lock.json

website/i18n/*
!website/i18n/en.json
i18n/en.json
website/i18n/en.json
