@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400,700);

.title {
  color:#9b9797;
  font-weight: 800;
  position: relative;
}

.title-text {
  height: 30px;
	font-family: OpenSans;
	font-size: 16px;
	letter-spacing: 0.7px;
	text-align: left;
  color: #5e6061;
  margin-left: 10px;
}

.title:hover {
  cursor: pointer;
}

.content {
  height: 30px;
  background-color: transparent;
  border-radius: 4px;
  color: #9b9797;
  font-size: 14px;
  text-align: left;
  position: relative;
  margin-top: 0px;
  transition: all 200ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
}

.content-open {
  margin-top: 0px;
  height: 200px;
  letter-spacing: 1.5px;
  transition: all 350ms cubic-bezier(0.080, 1.090, 0.320, 1.275);
}

.content-text {
  padding: 15px;
  visibility: hidden;
  opacity: 0;
  letter-spacing: 1.5px;
  overflow: auto;
  transition: all .2s ease-in;
}

.content-text-open {
  visibility: visible;
  opacity: 1;
  transition: all .8s ease-in;
}

.fa-angle-down {
  font-size: 20px;
  color: rgba(17, 16, 16, 0.5);
  transition: all .6s cubic-bezier(0.080, 1.090, 0.320, 1.275);
}

.fa-rotate-180 {
  color: rgba(17, 16, 16, 0.5);
}

.arrow-wrapper {
  position: absolute;
  right: 0;
}
.thin-line {
  border-block-end: 1px solid rgba(0, 0, 0, 0.3);
}