.email-fallback-div {
    margin-bottom: 60px; 
}
.email-fallback-div .email-fallback--branding-container, .email-fallback-div .email-fallback--how-to-container {
    margin-left: 15px;
}
 .email-fallback--branding-container h3, .email-fallback--how-to-container h3  {
    font-size: 18px;
    letter-spacing: 0.3px;
    color: #616366;
    margin-bottom: 25px;
}
.email-fallback--how-to-container {
    margin-top: 30px;
}
.email-fallback--branding-description {
    font-size: 15px;
    letter-spacing: 0.3px;
    color: #929396;
}
.email-fallback--branding_logo-container, .branding_logo--image-upload {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.email-fallback--branding_logo-container {
    margin-bottom: 20px;
}
 .branding_logo--image-upload .email-fallback--branding-description {
    margin-bottom: 0;
    margin-right: 15px;
}
.email-fallback--how-to_toggle-switch {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
 .email-fallback-div .inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.email-fallback-div .inputfile + label {
    font-size: 14px;
    font-weight: 500;
    color: #4831d9;
    display: inline-block;
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 0;
    margin-right: 15px;
}
.email-fallback-div .inputfile:disabled + label {
    color: rgba(71, 49, 217, 0.5);
    cursor: default;
}
 .branding_logo--image-placeholder {
    max-width: 40px;
    height: auto;
    margin-right: 15px;
}
 .branding_logo--image-placeholder.km-default-logo {
    max-width: 130px;
}
.branding_logo--image-placeholder img {
    width: 100%;
    height: auto;
} 