body {
    font-family: 'Roboto', sans-serif;
}
.agent-assignment-wrapper{
    margin-left: 0;
}
.agent-assignment-title{  
    font-size: 18px;
    margin-bottom: 27px;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.3px;
    text-align: left;
    color: #354052;
    font-weight: normal;
}
.routing-title{
  font-size: 18px;
  letter-spacing: 0.8px;
  color: #908d8d;
}
.notify-everybody-sub-title{
    font-size: 14px;
    color: #7f7b7b;
    font-weight: normal;
}
.routing-description{
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.6px;
  color: #656161;
}
.active-agent-routing .routing-title{
    color: #1d1c1c;
}
.active-agent-routing .routing-description {
    color: #807d7d;
}
.non-active-agent-routing{
    /* margin-left: -5px;
    width: 99%; */
}
.col-radio-btn{
    width: 5%!important
}
.checkmark {
    left: 9px;
}
.automatic-assignemnt-content {
    margin-left: -5px
}
.default-assignee-container {
    margin-left: 44px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.default-assignee-description-wrapper {
    margin-top: 0;
}
.km-agent-assignment-radio-container {
    margin-top: 10px;
    margin-bottom: 15px;
}
.km-agent-assignment-radio-container .Select-control, .km-agent-assignment-radio-container .Select-control:hover,
.km-button--dropdown, .km-button--dropdown:hover, .dropdown .dropdown-menu {
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0px -1px 4px 0 rgba(0, 0, 0, 0.1);
    border: none !important;
    cursor: pointer;
    outline: none !important;
}
.km-agent-assignment-radio-container .Select-menu-outer {
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(172, 170, 170, 0.5);
    background-color: #ffffff;
    border: none;
    margin-top: 5px;
}
.km-agent-assignment-radio-container .Select-placeholder, .Select--single > .Select-control .Select-value {
    line-height: 36px;
}
.km-button--dropdown {
    height: 36px;
}
.km-button--dropdown.dropdown-toggle::after {
    border-top: 5px solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-color: #999 transparent transparent;
}
.default-assignee-dropdown-wrapper {
    min-width: 190px;
    margin-left: 25px;
}
.default-assignee-description {
    margin-right: 8px;
    font-size: 16px;
    color: #2e2d2d;
}
.km-routing-assign-bot-text-1 {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.6px;
    color: #8b8b8e;
}

.km-routing-assign-bot-text-2 {
    opacity: 0.78;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    text-align: left;
    color: #716d6d;
}

.km-routing-assign-bot-text-3 {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    text-align: left;
    color: #716d6d;
}

.km-routing-do-not-have-bots {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    text-align: left;
    color: #716d6d;
}


.km-agent-routing-note-text {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    text-align: left;
    color: #716d6d;
    padding: 25px;
}

.drop-down-list-of-bots {
    height: 40px;
    width: fit-content;
    font-size: 14px;
    border: 1px solid #979797;
    text-align: right;
}

.ul-list-of-bots {
    padding: 5px;
}

div.drop-down-container ul {
    width: max-content;
}

.bot-name-drop-down-list {
    margin-left: 2px;
    display: inline-block;
    min-width: 120px;
    max-width: 170px;
}
.see-docs-link {
    color: #5C5AA7;
    text-decoration: none !important;
}
.see-docs-link:hover {
    color: #5C5AA7;
}
.routing-bot-link {
    color: #5C5AA7;
    text-decoration: none !important;
}
.routing-bot-link:hover {
    color: #5C5AA7;
}
.integration-container{
    margin-left: 5px;
}
.conversation-routing-title-wrapper {
    padding: 20px 0 0 20px;
    margin-left: -7px;
}
.drop-down-list-of-bots ~ .dropdown-menu {
    max-height: 250px;
    overflow-y: auto;
    margin-top: 5px;
}
.drop-down-container .btn-group {
    margin-top: 0px;
}

/* Lock Badge CSS */
.badge-design {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.badge-design .startup-badge {
    margin-right: 15px;
}
.km-conversation-rules-container{
    width: 998px;
}
.active-agent-routing{
    width: 100%;
}


.km-conversation-rules-container .col-md-8 {
    margin-left: -15px;
}

.km-conversation-rules-container .see-docs-link-container  {
    border-radius: 2px;
    padding: 4px 0;
    background-color: #f8f8f8;
}
.km-conversation-rules-container .see-docs-link-container .km-routing-assign-bot-text-3 {
    padding: 5px 10px;
    margin: 0px;
    font-size: 14px;
}
.km-conversation-rules-container .see-docs-link-container .km-routing-assign-bot-text-3 a {
    font-weight: 500;
}
.km-conversation-rules-container .see-docs-link-container svg {
    width: 11px;
    height: 11px;
}