<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="agent.kommunicate.io.kommunicate_agent">

    <application
        android:name=".KmAgentApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_without_shape"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_with_shape"
        android:supportsRtl="true"
        android:theme="@style/ApplozicTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/ApplozicTheme" />
        <activity
            android:name="io.kommunicate.activities.KMConversationActivity"
            android:configChanges="keyboardHidden|screenSize|locale|smallestScreenSize|screenLayout|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/ApplozicTheme" />
        <activity android:name=".applist.AppListActivity" />
        <activity
            android:name=".SplashScreenActivity"
            android:launchMode="singleTask"
            android:theme="@style/ApplozicTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".applist.KmForgotPasswordActivity"></activity>
    </application>

</manifest>