.featurecard {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 8rem auto;
    // margin-bottom: 8rem;
    justify-content: center;
    @include respond(tab-por) {
        flex-direction: column;
        margin: 4rem auto;
        padding: 6rem 0 0 0;

    }
    &_last{
        // background: red;
        @include respond(tab-por) {
            margin-bottom: 10rem!important;
        } 
    }
    &_main_heading {
        color: #4A4A4A;
        font-size: 3.5rem;
        text-align: center;
        font-weight: 600;
        margin-top: 6rem;
        @include respond(tab-por) {
            // margin-top: 12rem;
            padding: 0 4.5rem;
            margin-bottom: -7rem;

        }
       
    }
    &_main_heading-mt{
        @include respond(tab-por) {
            margin-top: 12rem;
        }
    }
    &_bg {
        background-image: url(../images/landing_bdrop1.svg);
        background-repeat: no-repeat;
    }
    &_block {
        padding: 0 2rem;
        flex-basis: 33.3%;
        @include respond(tab-por){
            flex-basis: 21.3%;
        }
    }
    &_img {
        display: block;

        &-first {
            padding: 0 11rem;
        }
     
        svg {
            margin: 0 auto 2rem 0;
            width: 100%;
            display: block;
            max-height: 14rem;
            // height: 50rem;
            @include respond(tab-por){
                height: auto;
            }
        }
    }
    &_text {
        text-align: center;
        padding: 0 4rem; // margin-top: -5rem;
    }
    &_heading {
        font-size: 2.2rem;
        @include respond(tab-por){
            font-size: 2.8rem;
            font-weight: 600;
        }
        color: #4A4A4A;
        margin-bottom: 2rem;
    }
    &_content {
        font-size: 1.8rem;
    }
}