.featurebox {
    padding: 1rem 6rem;
    display: flex;
    flex: 1 1 0;
    @include respond(tab-por){
        flex-direction: column!important;
    }
    &_reverse{
        flex-direction: row-reverse;
    }
    &_bg1{
        background-image: url(../images/landing_bdrop2.svg);
        background-repeat: no-repeat;
        background-position: 120% 0;
        // background-size: contain;
        padding: 2rem 0;
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            background-image:none; 
                    }
    }
    &_bg2{
        background-image: url(../images/landing_bdrop3.svg);
        background-repeat: no-repeat;
        background-position: left;
        // background-size: contain;
        padding: 2rem 0;
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            background-image:none; 
                    }
    }
    &_text {
        padding: 2rem 6rem ; 
        flex: 0 0 50%;
        width: 40%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        @include respond(tab-por){
            flex-direction: column;
            flex: auto;
            padding: 1rem 2rem;
            margin-top: -2rem;
            text-align: center;
            width: 100%;
        }
        // flex-basis: 50%;
    }
    &_heading{
        font-size: 2.2rem;
        color:#4A4A4A;
        line-height: 4.5rem;
        font-weight: 300;
        @include respond(tab-por){
            font-size: 2.8rem;
            font-weight: 600;
        }
    }
    &_heading_big{
        font-size: 3.5rem;
        color:#4A4A4A;
        line-height: 4.5rem;
    }
    &_content_small{
        // color:red;
        color:#858585;
        margin: 2rem 0;
        font-size: 1.8rem;
        font-weight: 300;
    }
    &_content{
        
        color:#858585;
        // color:red;
        margin: 2rem 0;
        font-size: 2.2rem;
        
    }
    // &_bullets{
    //     @include respond(tab-por){
    //         padding-bottom: 6rem;
    //     }
    // }
    &_bullet{
        font-size: 2.2rem;
        margin: 2rem 0;
        font-weight: 300;
        @include respond(tab-por){
            font-size: 2rem;
            width: 30rem;
            margin: 1rem auto;
            text-align: left;
        }
        img{
            max-width: 2.2rem;
            
            margin-right: 2rem;
            @include respond(tab-por){
                max-width: 1.4rem;
                margin-right: .5rem;
            }
        }
    }
    &_img {
        // flex-basis: 50%;
        padding: 2rem;
        flex: 0 0 50%;
        @include respond(tab-por){
            flex:0;
        }

        svg{
        width: 100%;
        max-height: 40rem;
        // height: 40rem;
        // width: 10rem;
        }
    }
}