.header {
    &_heading {
        font-size: 5rem;
        line-height: 5.8rem;
        font-weight: 600;
        color: $color-heading;
        width: 70%;
        text-align: center;
        padding-top: 5rem;
        margin: 0 auto;
        animation: fade-in-top .8s; // padding-top: 5rem;
        @include respond(tab-lan) {
            width: 85%;
        }
        @include respond(tab-por) {
            padding-top: 2rem;
            width: 85%;
        }
        @include respond(phone) {
            font-size: 3.9rem;
            width: 95%;
        }
    }
    
    &_sub {
        text-align: center; // letter-spacing: .2rem;
        animation: fade-in-top .8s;
    }
}