.header {
    &_heading {
        font-size: 5rem;
        line-height: 5.8rem;
        font-weight: 600;
        color: $color-heading;
        width: 70%;
        text-align: center;
        padding-top: 10rem;
        margin: 0 auto;
        animation: fade-in-top .8s; // padding-top: 5rem;
        @include respond(tab-lan) {
            width: 85%;
        }
        @include respond(tab-por) {
            padding-top: 10rem;
            width: 85%;
        }
        @include respond(phone) {
            font-size: 3.9rem;
            width: 95%;
        }
    }
    &_email {
        position: relative;
        width: 45%;
        margin: 0 auto;
        border: none;
        border-radius: 60px;
        animation: fade-in-top .8s;
        @include respond(tab-lan) {
            width: 50%;
        }
        @include respond(tab-por) {
            width: 65%;
            border: none;
        }
        @include respond(phone) {
            width: 85%;
            border: none;
        }
    }
    &_input {
        width: 66%;
        background-color: $header-textbox-bg; // background-color: red;
        padding: 1.4rem 0 1.4rem 4rem;
        letter-spacing: .1rem;
        border-radius: 4px;
        color: $header-textbox-text;
        font-size: 1.6rem;
        border: none;
        outline: none;
        font-weight: lighter;
        display: block;
        animation: move-in-left .8s;
        border: 4px solid $header-textbox-bg;
        transition: all .2s ease-in;
        &:active,
        &:focus {
            border: 4px solid darken($header-textbox-bg, 5);
        }
        @include respond(tab-por) {
            border: none;
            width: 100%;
            width: 100%;
            padding: 1.4rem 0 1.4rem 1rem;
        }
    }
    &_button {
        margin-left: 1rem;
        position: absolute; // border-radius: 60px!important;
        top: 0rem;
        padding: 1.5rem 4.5rem;
        font-size: 2rem;
        right: .4rem;
        animation: move-in-right .8s;
        @include respond(tab-por) {
            // width: auto;
            top: 0;
            right: 0;
            position: relative;
            width: 100% !important;
            display: block;
            text-align: center;
            position: relative;
            margin: 1rem auto;
        }
    }
    &_sub {
        text-align: center; // letter-spacing: .2rem;
        animation: fade-in-top .8s;
    }
}