.hero {
    animation: fade-in-top .8s;
    &_main {
        position: relative;
        overflow: visible;
        border-radius: 4px;
        background: url(../images/jeremy.png), url(../images/hero1.svg);
        height: 85rem;
        background-position: 123% 122.3%, 1% 59%;
        background-size: 83.8%, 98%;
        background-repeat: no-repeat, no-repeat;
        @media (max-width: 1400px) and (min-width:1200px) {
            width: 1200px;
            margin: 0 auto;
            background-position: 130.5% 75.4%, 53% 59%;
            background-size: 83.8%, 98%;
        }
        @include respond(tab-lan) {
            background: url(../images/hero2.svg) no-repeat, url(../images/jeremy2.png) no-repeat, linear-gradient(to right bottom, $primary-light, $primary) no-repeat;
            background-size: 150%, 40%, cover;
            background-position: -30rem 44rem, right bottom, 0 0;
            height: 65rem; // width: 1400p;
        }
        @include respond(tab-por) {
            background-position: -21rem 48rem, right bottom, 0 0;
        }
        @include respond(phone) {
            background: url(../images/jeremy2.png) no-repeat, linear-gradient(to right bottom, $primary-light, $primary) no-repeat;
            background-position: right bottom, 0 0;
            background-size: 40%, cover;
            height: 45rem;
        }
    } //FIXES and Degradation FOR IE10 and UP
    @media all and (-ms-high-contrast: none),
    (-ms-high-contrast: active) {
        /*@media all and (-ms-high-contrast:none), all and (-ms-high-contrast:active)*/
        &_main {
            position: relative;
            overflow: visible;
            background: url(../images/jeremy.png), url(../images/hero1.svg);
            height: 95rem;
            background-position: 91.5% 57.3%, 1% 19%;
            background-size: 66.8%, 93%;
            background-repeat: no-repeat, no-repeat;
        }
        @media (max-width:1400px) {
            &_main {
                background: url(../images/billgates.png) no-repeat, linear-gradient(to right bottom, $primary, $primary-light) no-repeat;
                background-position: right bottom, 0 0;
                background-size: 40%, cover;
                height: 70rem;
            }
        }
        @include respond(tab-por) {
            height: 50rem;
            margin-bottom: 20rem;
        }
        @include respond(phone) {
            height: 4rem;
            margin-bottom: 65rem;
        }
        &_text {
            font-size: 2.2rem;
            width: 40%;
            color: $color-white;
            position: absolute;
            top: 30rem;
            left: 18rem;
            @media (max-width: 1400px) {
                top:10rem;
            }
            @include respond(tab-lan) {
                top: 10rem;
                left: 8rem;
            }
            @include respond(tab-por) {
                width: 60%;
            }
            @include respond(phone) {
                width: 90%;
                position: relative;
                top: 4rem;
                left: 2rem;
            }
        }
        &_author {
            font-size: 3rem;
            color: $color-white;
            position: absolute;
            top: 48rem;
            left: 18rem;
            @media (max-width: 1400px) {
                top:40rem;
            }
            @include respond(tab-lan) {
                top: 35rem;
                left: 8rem;
            }
            @include respond(phone) {
                top: 30rem;
                left: 2rem;
            }
        }
    } // @media all and (-ms-high-contrast: none),
    // (-ms-high-contrast: active) {
    //     @media (max-width: 500px) {
    //         &_main {
    //             background: red;
    //         }
    //     }
    // }
    &_text {
        font-size: 2.2rem;
        width: 40%;
        color: $color-white;
        position: absolute;
        top: 30rem;
        font-style: italic;
        font-weight: 300;
        left: 18rem;
        @include respond(tab-lan) {
            top: 10rem;
            left: 8rem;
        }
        @include respond(tab-por) {
            width: 60%;
        }
        @include respond(phone) {
            width: 90%;
            position: relative;
            top: 2rem;
            left: 2rem;
        }
    }
    &_author {
        font-size: 3rem;
        color: $color-white;
        position: absolute;
        top: 48rem;
        left: 18rem;
        @include respond(tab-lan) {
            top: 35rem;
            left: 8rem;
        }
        @include respond(phone) {
            top: 30rem;
            left: 2rem;
        }
    }
    &_designation {
        font-size: 2.5rem;
        font-weight: lighter;
    }
    &_landing_chat {
        background-image: url(../images/landing_bg.svg);
        background-repeat: no-repeat;
        background-size: contain;
        height: 66rem;
        background-position: center;
        padding-top: 6rem;
        @include respond(tab-lan){
            height: auto;
            // background: none;
            padding: 6rem;
        }
        @include respond(phone){
            padding: 2rem 0 6rem 0;
         }
        img {
            width: 65%;
            display: block;
            margin: 0 auto;
            @include respond(tab-lan){
               width: 85%;
            }
            @include respond(phone){
               width: 95%;
            }
        }
    }
}