.services {
    &_bg {
        // background: url(../images/services-bg.svg) no-repeat;
        background-size: 130%;
        background-position: -25rem -2rem;
        
    }
    text-align: center;
    font-size: 1.8rem;
    color: $color-text;
    padding: 4rem 12rem 6rem 12rem;
    display: flex;
    margin-top: 5rem;
    flex-wrap: wrap;
    min-height: 1px;
    justify-content: space-between;
    @include respond(tab-lan) {
        padding: 6rem;
        font-size: 1.8rem;
    }
    @include respond(tab-por) {
        background: none;
        width: 80%;
        flex-direction: column;
    }
    @include respond(tab-por) {
        padding: 10rem;
        width: 100%;
        .main{
            flex: 1;
        }
    }
    @include respond(phone) {
        padding: 8rem 2rem 2rem 2rem;
        width: 100%;
    }
    &_block {
        min-height: 1px; // padding: 0 2rem;
        // flex: 0 0 49%;
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: 50%;
        @include respond(tab-por){
            flex-basis: auto;
        }
    } //Fix for ie
    @media all and (-ms-high-contrast: none),
    (-ms-high-contrast: active) {
        &_block {
            margin-top: 10rem;
            min-height: 480px;
        }
    } //
    &_block_image {
        padding: 9rem;
        @include respond(tab-lan) {
            padding: 2rem;
        }
    }
    &_block_img {
        width: 100%;
        height: 35rem;
        @include respond(phone) {
            // height: 32rem;
        }
    }

    &_block_link {
        text-decoration: none;
        text-transform: uppercase;
        color: $highlight;
        font-size: 1.6rem;
        &:hover {
            color: darken($highlight, 10);
        }
    }
    .main_underline {
        margin-bottom: 2rem;
        font-size: 2.2rem;
    }
    &_heading{
        font-weight: 600;
    }
    &_box_text{
        padding: 1.2rem;
    }
    
}