.km-banner {
    padding: 15px;
    border-radius: 2px;
}
.km-default-banner {
    background-color: #cce7f8;
    border: 1px solid #A5CFEA;
}
.km-error-banner {
    background-color: #ed222a; 
}
.km-success-banner {
    background-color: #2dd35c; 
}
.km-warning-banner {
    background-color: #f4d480; 
    border: 1px solid #deb752;
}
.km-banner.km-default-banner, .km-banner.km-success-banner{
    color: #4a4a4a;
}
.km-banner.km-warning-banner{
    color: #253858;
}
.km-banner.km-error-banner{
    color: #FFF;
}
.warning-icon-svg {
    vertical-align: middle;
    margin-right: 15px;
}
.teammate-table .km-banner-component {
    margin-left: 12px;
    margin-bottom: 20px;
}
.km-banner svg {
    vertical-align: middle;
}

.km-info-icon-svg, 
.km-success-icon-svg, 
.km-warning-icon-svg, 
.km-error-icon-svg {
    display: none;
}

.km-default-banner .km-info-icon-svg, .km-success-banner .km-success-icon-svg, .km-warning-banner .km-warning-icon-svg, .km-error-banner .km-error-icon-svg {
    display: inline;
}

.km-default-banner .km-info-icon-svg path, .km-success-banner .km-success-icon-svg path, .km-warning-banner .km-warning-icon-svg path {
    fill: #4a4a4a;
}
.km-error-banner .km-error-icon-svg path {
    fill: #ffffff;
}