.settings-sidebar {
    /* margin-left: 7px; */
    margin-top: 0px;
    width: auto;
    background-color: #f4f5f7;
    /* margin-right: -7px; */
    overflow-y: auto;
    height: 100vh;
}
.settings-sidebar-nav {
    min-width: 200px;
}
.settings-title {
    font-size: 20px;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 0px;
    letter-spacing: 0.3px;
    color: #666464;
    padding-left: 21px;
    text-align: left;
    text-transform: capitalize;
}
.ss-nav {
    list-style: none;
    list-style-image: none;
    padding: 0px 7px;
    margin: 0;
    margin-bottom: 50px;
}
.ss-nav-item {
    font-size: 14px;
    color: #666464;
    transition: all .3s;
    margin: 5px 0;
}
.ss-nav-title {
    text-align: left;
    padding: 3px 10px 3px 15px;
    letter-spacing: 0.3px;
    color: #cacaca;
    font-weight: bold;
    margin-bottom: 2px;
    text-transform: uppercase;
  }
.ss-nav-title:not(:first-child) {
    margin-top: 20px;
  }
.ss-nav-link {
    display: block;
    font-size: 14px;
    color: #666464;
    padding: 5px 5px 5px 24px;
    letter-spacing: 0.3px;
    transition: all .3s;
    text-align: left;
}
.hrr {
    border: 0.5px solid #d4d4d4;
    margin-bottom: 10px;
    margin-top: 10px;
}
.cls-1 {
    fill: #fff;
}
.sidebar-fixed .sidebar {
    z-index: 2;
    display: flex;
    /* box-shadow: 1px 0 10px 0 rgba(0, 0, 0, 0.1); */
}

.__react_component_tooltip {
    z-index: 2147483647 !important;
    padding: 7px 16px !important;
    transition: all 0.3s ease-out !important;
}
.__react_component_tooltip.show {
    opacity: 0.9!important;
    transition: all 0.3s ease-out !important;
}
.__react_component_tooltip.type-dark {
    background-color: #484848 !important;
}
.nav-item .nav-link svg {
    vertical-align: middle;
    width: 24px;
    height: 24px;
}

/* .integrations-link, .profile-link {
    margin-top: 20px;
} */

/* .bot-icon-svg {
    height: 30px;
    width: auto;
} */
.__react_component_tooltip:before, .__react_component_tooltip:after {
    display: none;
}

.aside-menu {
    width: calc(100% - 60px);
    z-index: 1;
}
.aside-menu-hidden .aside-menu {
    margin-right: calc(60px - 100%);
}

.ss-nav-item.agent-app-link {
    /* margin-top: 20px; */
}

.noticeable-whats-new-container {
    position: absolute;
    top: -5px;
    right: 0px;
}