.settings-sidebar {
    margin-left: 7px;
    margin-top: -15px;
    width: 200px;
    background-color: #f4f5f7;
    margin-right: -7px;
    overflow-y: auto;
    height: 100vh;
}
.settings-title {
    font-size: 22px;
    margin-top: 12px;
    margin-bottom: 12px;
    color: #666464;
}
.ss-nav {
    list-style: none;
    list-style-image: none;
    padding: 0;
    margin: 0;
}
.ss-nav-item {
    font-size: 14px;
    color: #666464;
    transition: all .3s;
}
.ss-nav-title {
    text-align: left;
    padding: 3px 10px;
    color: #666464;
  }
.ss-nav-title:not(:first-child) {
    margin-top: 20px;
  }
.ss-nav-link {
    display: block;
    font-size: 14px;
    color: #666464;
    padding: 5px 28px;
    transition: all .3s;
    text-align: left;
}
.ss-nav-item:hover {
    background-color: #1cabe2;
}
.ss-nav-item:hover .ss-nav-link {
    color: #FFFFFF;
    text-decoration: none;
}
.ss-nav-link.active {
    background-color: #1cabe2;
    color: #FFFFFF;
}
.hrr {
    border: 0.5px solid #d4d4d4;
    margin-bottom: 10px;
    margin-top: 10px;
}
.cls-1 {
    fill: #fff;
}
.sidebar-fixed .sidebar {
    z-index: 2;
    display: flex;
}

.__react_component_tooltip {
    z-index: 2147483647 !important;
    padding: 7px 16px !important;
    transition: all 0.3s ease-out !important;
}
.__react_component_tooltip.show {
    opacity: 0.9!important;
    transition: all 0.3s ease-out !important;
}
.__react_component_tooltip.type-dark {
    background-color: #484848 !important;
}
.nav-item .nav-link svg {
    vertical-align: middle;
    width: 24px;
    height: 24px;
}

/* .integrations-link, .profile-link {
    margin-top: 20px;
} */

/* .bot-icon-svg {
    height: 30px;
    width: auto;
} */
.__react_component_tooltip:before, .__react_component_tooltip:after {
    display: none;
}

.aside-menu {
    width: calc(100% - 60px);
    z-index: 1;
}
.aside-menu-hidden .aside-menu {
    margin-right: calc(60px - 100%);
}