{
    "plugins": [
        "@babel/plugin-syntax-class-properties",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-transform-nullish-coalescing-operator",
        "@babel/plugin-transform-classes",
        "@babel/plugin-transform-arrow-functions",
        "@babel/plugin-transform-optional-chaining"
    ],
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false,
                "targets": {
                    "ie": 11
                }
            }
        ]
    ],
    "ignore": ["dangerfile.js"]
}
