{
    "plugins": [
      "@babel/plugin-syntax-class-properties",
      "@babel/plugin-proposal-class-properties",
      "@babel/plugin-proposal-object-rest-spread",
      "@babel/plugin-transform-nullish-coalescing-operator",
      "@babel/plugin-syntax-dynamic-import",
      "@babel/plugin-transform-classes"
    ],
    "presets": [
      [
        "@babel/preset-env",
        {
          "modules": false,
          "targets": {
            "ie": 11
          }
        }
      ]
    ]
  }
  