.radio-button-container {
    display: block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.radio-button-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
/* Create a custom radio button */
/* .checkmark {
    border: 2px solid #b3b3b3;
    position: absolute;
    top: 0;
    left: 0;
    height: 17px;
    width: 17px;
    background-color: #eee;
    border-radius: 50%;
} */
.checkmark {
    border: 2px solid #b3b3b3;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* left: 15px; */
    height: 17px;
    width: 17px;
    background-color: #eee;
    border-radius: 50%;
}

/* When the radio button is checked, add a blue background */
.radio-button-container input:checked ~ .radio-wrapper .checkmark {
    background-color: white;
    border: 2px solid #5c5aa7;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-wrapper .checkmark::after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-button-container input:checked ~ .radio-wrapper .checkmark::after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio-button-container .radio-wrapper .checkmark::after {
 	top: 3px;
	left: 3px;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: #5c5aa7;
}
.radio-wrapper {
    display: flex;
}