.multiple-email-box {
  background-color: #FFF;
  /* border: 1px solid #C0C0C0; */
  padding-left: 0;
}

.multiple-email-box input {
  padding-top: 7px;
  padding-bottom: 7px;
  border: 1px solid #5C5AA7;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.multiple-email-box input:focus {
  outline: none;
}
.teammate-table {
  margin: 0 auto 50px;
  max-width: 1100px;
  min-width: 1040px;
}
.teammate-table .thead-default th {
    background-color: #ffffff;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.4px;
    font-weight: 500;
    text-align: left;
    color: #666464;
    border-bottom: 1px solid #cacaca!important;
}


.teammate-table .team-data-align td div {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  /* text-align: left; */
  color: #464748;
}

.teammate-table .km-alpha-contact-image .km-contact-icon {
  border-radius: 50%;
}

.teammate-table .avatar .img-avatar {
    cursor: pointer;
    float: left;
    width: 43px;
    height: 43px;
    margin-right: 12px;
    border-radius: 50%;
    font-size: 25px;
    text-align: center;
    line-height: 40px;
}

.teammate-table .table th, .teammate-table .table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: none;
  vertical-align: middle;
}
table tbody .teammates-row-icon-container {
  width: 90px;
}
.teammates-table-hide-coloumn {
  visibility: hidden;
}
.team-data-align .teammates-row-icon-container span{
  display: none;
}
.team-data-align:hover .teammates-row-icon-container span{
  display: block;
  width: 55px;
  
}
.teammates-row-icon-container .km-teammates-icon-visibility{
  visibility: visible;
  opacity: 1;
}
.team-data-align:hover {
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 2px 11px 3px rgba(171, 166, 166, 0.5);
  cursor: default;
  border-bottom: 1px solid #cfd8dc;
}
.team-data-align{
  border-bottom: 1px solid #cfd8dc;
  transition: all .3s;
}

.team-th-delete-edit {
  visibility: hidden
}
.team-delete-modal-btn {
  text-align: right;
}
.teammates-add-member-modal-btn {
  text-align: right;
}
.team-delete-modal-cancel-btn {
  margin-right: 16px;
}
.teammates-add-member-modal-cancel-btn {
  margin-right: 16px;
}
.team-delete-modal-header-title {
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  text-align: left;
  color: #6c6a6a;
}
.team-delete-modal-content {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: 0.4px;
  margin-top: 20px;
  color: #505152;
}
.team-delete-modal-divider {
  margin: 15px -20px 0px;
  height: 2px;
  opacity: 0.36;
  border: none;
  border-top: 1px solid #a5b0bd;
}
.teammates-add-member-modal-divider {
  margin-left: -20px;
  margin-right: -20px;
  height: 2px;
  opacity: 0.36;
  border: none;
  border-top: 1px solid #a5b0bd;
  margin-bottom: 0;
}
.teammates-delete-wrapper, .teammates-edit-wrapper {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.2px;
  color: #8b8c8e;
}
.teammates-delete-wrapper > svg, .teammates-edit-wrapper > svg {
  vertical-align: middle ;
  margin-bottom: 2px;
  margin-right: 4px;
}
.teammates-delete-wrapper:hover, .teammates-edit-wrapper:hover {
  cursor: pointer;
  color: #434344;
}
.team-name-avatar-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.team-displayname {
  margin-left: 14px;
  display: flex;
}
.teammates-description {
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 1.3px;
  color: #354052;
  padding-bottom: 18px;
}
.teammates-add-member-modal-header-title {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.3px;
  color: #6c6a6a;

}
.teammates-add-member-modal-content-title {
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0.3px;
  color: #57595b;
  margin-bottom: 13px;
  margin-top: 21px;
}
.teammates-add-member-modal-content-wrapper input  {
  max-width: 73%;
  border-radius: 4px;
  border: solid 1px #a1a1a1;
  margin-bottom: 26px; 
}
.teammates-add-member-modal-content-wrapper input::placeholder  {
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: normal;
  color: #a1a1a1;
}
.km-status-indicator-text {
  font-size: 16px !important;
}
/* .team-name-avatar-wrapper span {
  visibility: hidden;
} */
.teammates-table td{
  width: auto;
}
.km-truncate {
	white-space: nowrap;
	overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}
.radio-btn-agent-title, .radio-btn-admin-title {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.6px;
  color: #787474;
}
.radio-btn-agent-description , .radio-btn-admin-description {
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.6px;
  color: #a6a3a3;
}
.radion-btn-agent-wrapper, .radion-btn-admin-wrapper {
  margin-left: 14px;
  padding-top: 1px;
}
.teammates-add-member-modal-radio-btn-wrapper  .checkmark{
  top: 14% !important;
}
.teammates-add-member-modal-role {
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0.3px;
  color: #57595b;
  margin-bottom: 12px;
}
.teammates-admin-permission-alert-wrapper {
  border-radius: 2px;
  background-color: #f4d480;
}
.team-data-align .km-icon-wrapper {
  padding-bottom: 12px;
  padding-top: 12px;
  margin-left: 15px;
}
.teammates-add-member-modal-wrapper .km-banner {
  margin-left: -36px;
  margin-right: -36px;
}
.tm-upgrade-plan-title {
  text-align: center;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 0.4px;
  color: #57595b;
  margin-top: 15px;
}
.tm-upgrade-plan-logo {
  text-align: center;
  margin-top: 39px;
}
.tm-upgrade-plan-description {
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0.3px;
  text-align: center;
  color: #808182;
  text-align: center;
  margin-top: 37px;
}
.tm-upgrade-plan-description-pricing {
  font-weight: 500;
  color: #474848;
}
.tm-upgrade-plan-description-btn-set {
  text-align: right;
  margin-top: 42px;
}
.tm-disabled-accounts-count {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.4px;
  color: #333434;
}
.tm-disabled-accounts-description-1 , .tm-disabled-accounts-description-2 {
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.4px;
  color: #858687;
}
.tm-disabled-accounts-description-2 {
  margin-bottom: 0;
}
.tm-disabled-accounts-icon {
  text-align: center;
  margin-top: 33px;
}
.tm-disabled-accounts-table, .disabled-account-info-container {
  background-color: #f9f9f9;
}
.disabled-account-info-container {
  padding-top: 32px;
  padding-bottom: 10px;
}
.hide-disabled-accounts-btn {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.6px;
  color: #5c5aa7;
  margin-left: 25px;
}
.hide-disabled-accounts-btn:hover {
  cursor: pointer;
}
.team-expired-data-allign:hover, .team-invite:hover{
  background-color: #f9f9f9 !important;
  box-shadow: none !important;
  cursor: default !important;
}
.tm-disabled-accounts-table-th {
  visibility: hidden;
  padding: 0  0.75rem!important;
  border-bottom: 1px solid #cfd8dc;
}
.team-expired-data-td {
    border-top: 1px solid #cfd8dc !important;
    border-bottom: none !important;
    vertical-align: middle !important; 
}
.tm-upgrade-btn {
  padding: 11px 16px;
  text-decoration: none !important;
}
.tm-disabled-link-btn {
  margin-bottom: 15px;
}
.tm-invite-status-havent-signed-up {
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.4px;
  text-align: center;
  color: #858687;
}
.team-invite {
  background-color: #f9f9f9;
}

.teammates-billing-update-container {
  background-color: #cce7f8;
  padding: 15px 20px;
  margin: -2px -20px 0px;
}
.teammates-billing-update-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.7px;
  color: #6a6b6d;
}
.km-invitation-revoked{
  width: 492px;
  height: 56px;  
  font-family: Roboto;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.6px;
  text-align: center;
  color: #5f5c5c;
  padding-top: 19px;
}
.km-cancel-svg{
margin-left: 44%;
padding-top:27px;
}
.km-delete-invitation-card{
display: block !important;
padding-top: 60 px !important;
}
.km-delete-invitation{
  visibility: visible!important;
  opacity:1!important;

}

#copy-to-clipboard {
  position: absolute;
  left: -9999px;
}
.teammate-wrapper{
  max-width: 998px;
}

.teammate-wrapper .table thead th {
  border-bottom: none; }

.teammates-add-member-btn {
  margin-bottom: 20px;
  border-bottom: none; 
}
.teammates-modal-confirmation-text {
  margin-top: 16px;
}