// header close button
#km-chat-widget-close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 26px;
    margin-left: 6px;
    border-radius: 4px;
}
