.km-image-template {
    color: $text-primary-color;
    font-size: $heading-secondary;
    font-family: $font-family-primary !important;
    border: 1px solid $input-border-color;
    border-radius: $msg-box-border-radius;
    overflow: hidden;

    .km-template-img {
        width: 100%;
        height: auto;
    }

    .km-template-image-caption-wrapper {
        padding: $msg-box-padding;
        font-weight: 400;
        letter-spacing: 0.3px;
        p {
            margin: 0;
            font-family: inherit;
        }
    }
}
