.km-typing-wrapper {
    @include flexMixin(null, flex-start);
    border-radius: $msg-box-border-radius;
    background: $secondary-color;
    padding: $msg-box-padding;
    margin: 1px 1px 10px 66px;
    height: 25px;
    width: 62px;

    & .km-typing-indicator {
        width: 8px;
        height: 8px;
        background: #777;
        display: inline-block;
        border-radius: 50%;
        margin-left: 10px;
        @include prefix(animation-name, km-typing-anim, webkit moz o);
        @include prefix(animation-duration, 1s, webkit moz o);
        @include prefix(animation-iteration-count, infinite, webkit moz o);
        &:nth-child(2) {
            @include prefix(animation-delay, 0.2s, webkit moz o);
        }
        &:nth-child(3) {
            @include prefix(animation-delay, 0.4s, webkit moz o);
        }
    }
}

@keyframes km-typing-anim {
    0% {
        background: rgb(221, 221, 221);
        @include prefix(transform, scale(1), webkit moz o ms);
    }
    50% {
        background: black;
        @include prefix(transform, scale(1.4), webkit moz o ms);
    }
    100% {
        background: rgb(221, 221, 221);
        @include prefix(transform, scale(1), webkit moz o ms);
    }
}
