.mck-box-ft {
    text-align: left;
    /* border-top: 1px solid #e5e5e5; */
    padding: 0px 15px 10px;
    /* position: absolute;
    bottom: 8px; */
    background-color: #ffff;
    width: auto;
    position: relative;
    .mck-box-form {
        padding: 10px 5px 10px 0px;
        border: thin solid #cecbcb;
        border-radius: 4px;
        background-color: #ffff;
        position: relative;
    }
    .mck-row {
        margin: 0;
    }
    .blk-lg-6 {
        padding: 0px !important;
    }
}

.mck-box-ft-lt {
    text-align: left;
    .mck-btn {
        font-size: 16px;
        text-transform: none;
    }
}

.mck-csat-text-1 {
    text-align: center;
    font-size: 14px;
    > span {
        display: block;
    }
    span {
        color: $text-primary-color;
        display: inline-block;
        max-width: 85%;
        margin: 20 auto 5px;
        a {
            text-decoration: none;
        }
    }
}

.mck-csat-wrapper > span {
    margin-bottom: 22px;
    color: $text-primary-color;
    font-size: $heading-secondary;
}

#mck-restart-conversation {
    color: $primary-color;
    text-decoration: none;
}

.km-mid-conv-csat,
.mck-closed-conv-banner {
    background-color: $secondary-color;
}
