#mck-btn-smiley-box {
    float: left !important;
    padding-left: 5px;
    &:hover {
        svg path {
            fill: $text-primary-color;
        }
    }
}

.mck-sidebox .mck-btn-smiley:active {
    opacity: 1;
    svg path {
        fill: $text-primary-color;
    }
}
