/* -----------------Support for hiding list and buttons post call to action------------- */
.mck-msg-left [data-hidden='true'] {
    @extend %km-hidden;
}
.km-hide-message {
    @extend %km-hidden;
}
