.km-csat-skeleton,
.km-assignee-module {
    font-size: 14px;
    font-family: $font-family-primary !important;
    position: relative;
    margin-top: 3px;
    padding: 0 6px;

    .mck-rated,
    .mck-assign-to {
        text-align: center;
        font-size: $heading-secondary;
        font-weight: 300;
        color: #000;
        position: absolute;
        width: 100%;
        overflow: hidden;
        padding: 3px 0px;
        span svg {
            height: 20px;
            width: 20px;
            margin: -2px 5px -4px 5px;
        }
        &:after {
            left: 79%;
        }
        &:before {
            right: 80%;
        }
    }
    .mck-conversation-comment {
        background: white;
        padding: 46px 10px 10px;
        text-align: center;
        // margin: 0 -15px;
        font-weight: 300;
        font-style: italic;
        letter-spacing: 0.3px;
        color: $text-primary-color;
        font-size: $heading-secondary;
        word-break: break-word;
    }
}

div#separator {
    display: flex;
    align-items: center;
    text-align: center;
}

div#separator::before,
div#separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #b3b3b3;
}

div#separator:not(:empty)::before {
    margin-right: 0.25em;
}

div#separator:not(:empty)::after {
    margin-left: 0.25em;
}

span#mck-resolved-text {
    background: white;
    line-height: 33px;
    text-align: center;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 0.3px;
    color: $text-primary-color;
    font-size: 14px;
    background-image: linear-gradient(
        to right,
        #bcbd96 33%,
        rgba(255, 255, 255, 0) 0%
    );
    background-position: top;
    background-size: 12px 1px;
    background-repeat: repeat-x;
    padding: 10px 81px 0;
}

div#mck-rated {
    text-align: center;
    font-size: 13px;
    font-weight: 300;
    color: #676262;
    position: absolute;
    top: -24px;
    width: 92%;
    background: white;
    overflow: hidden;
    padding: 3px 0px;
}
div#mck-rated span svg {
    height: 16px;
    width: 16px;
    margin: 0 5px -4px 3px;
}
div#mck-rated:after,
div#mck-rated:before {
    content: '';
    position: absolute;
    height: 8px;
    border-top: 1px solid #e2e2e2;
    top: 50%;
    width: 600px;
    z-index: 0;
}
div#mck-rated:after {
    left: 79%;
}
div#mck-rated:before {
    right: 80%;
}

.km-assignee-module {
    margin: 3px 0;
}
