.mck-box-ft {
    text-align: left;
    /* border-top: 1px solid #e5e5e5; */
    padding: 0px 15px 10px;
    /* position: absolute;
    bottom: 8px; */
    background-color: #fff;
    width: auto;
    position: relative;
    .mck-box-form {
        padding: 10px 5px 10px 0px;
        border: thin solid #cecbcb;
        border-radius: 4px;
        background-color: #ffff;
        position: relative;
        width: 100%;
    }
    .mck-row {
        margin: 0;
    }
    .blk-lg-6 {
        padding: 0px !important;
    }

    &.km-mid-conv-csat {
        border-radius: 24px 24px 4px 4px;
        box-shadow: 0px -7px 12px 0px rgba(77, 81, 91, 0.25);
    }

    &.mck-restart-conv-banner {
        background-color: #f6f5f5;
        margin-bottom: 6px;
        border-radius: 0;
        box-shadow: none;
    }
}

.mck-box-ft-lt {
    text-align: left;
    .mck-btn {
        font-size: 16px;
        text-transform: none;
    }
}

.mck-csat-text-1 {
    text-align: center;
    font-size: 14px;
    > span {
        display: block;
    }
    span {
        color: $text-primary-color;
        display: inline-block;
        max-width: 85%;
        margin: 20 auto 5px;
        a {
            text-decoration: none;
        }
    }
}

.mck-csat-wrapper {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 15px;

    > span {
        margin-bottom: 22px;
        color: $text-primary-color;
        font-size: $heading-secondary;
    }
}
#mck-restart-conversation {
    color: $primary-color;
    text-decoration: none;
}

#csat-1 {
    margin-top: 37px;
}
#csat-2 {
    h3 {
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 500 !important;
    }
}
// .mck-closed-conv-banner{
//     background-color: #f6f5f5;
//     border-radius: none;
//     box-shadow: none;
// }

.mck-feedback-text-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 3px;
    margin-top: 10px;
    max-width: 98%;
    width: 100%;
    flex-direction: column;
    textarea {
        background: white;
        border: solid 0.5px $input-border-color;
        outline: none;
        width: 98%;
        padding: 6px 6px 0;
        border-radius: 4px;
        height: 64px;

        &::-webkit-input-placeholder,
        &::-moz-placeholder,
        &:-ms-input-placeholder,
        &:-moz-placeholder {
            font-size: 14px;
        }
    }
}

.mck-conversation-resolved {
    opacity: 1;
}

.mck-cont-msg-date {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 6px;
    white-space: nowrap;
}

.mck-conversation-status-badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    padding: 0;
    color: #1f8f51;
    background: rgba(31, 143, 81, 0.15);

    &.n-vis {
        display: none;
    }

    .mck-conversation-status-icon {
        width: 18px;
        height: 18px;
        display: block;
    }
}

.mck-conversation-status-time {
    display: inline-flex;
    align-items: center;
    line-height: 1;
}
