#mck-voice-interface {
    height: 100%;
    display: flex;
    flex-flow: column wrap;

    .mck-voice-image-container {
        position: relative;
        width: 120px;
        height: 120px;
        display: flex;
    }
    .mck-voice-interface-header {
        align-self: flex-start;
        padding: 14px;
    }
    .mck-voice-interface-body {
        align-self: center;
        margin-top: auto;

        #mck-voice-repeat-last-msg {
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            cursor: pointer;
            gap: 8px;
            margin-top: 14px;
        }
    }

    .mck-voice-interface-footer {
        display: flex;
        flex-direction: column;
        gap: 14px;
        margin-top: auto;
        margin-bottom: 20px;

        .last-message-text {
            color: #ffffff;
            padding-left: 14px;
            text-align: center;
        }
    }
    .mck-voice-interface-footer-buttons {
        display: flex;
        gap: 14px;
        margin: auto;
        > button {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 8px;
            padding: 8px 16px;
            border: none;
            background: #ffffff;
            gap: 4px;
        }
    }

    .mck-voice-interface-back-btn {
        display: flex;
        align-items: center;
        border: 1px solid #ffffff;
        border-radius: 8px;
        background: transparent;
        color: #ffffff;
        padding: 4px 16px 4px 0px;
    }
    .ring {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        border: 2px solid rgba(255, 255, 255);
        border-radius: 50%;
        transform: translate(-50%, -50%) scale(0.5);
        animation: ripple 4s infinite ease-out;
    }

    .ring:nth-child(1) {
        animation-delay: 0s;
    }
    .ring:nth-child(2) {
        animation-delay: 1.3s;
    }
    .ring:nth-child(3) {
        animation-delay: 2.6s;
    }

    @keyframes ripple {
        0% {
            transform: translate(-50%, -50%) scale(0.5);
            opacity: 0.9;
        }
        70% {
            opacity: 0.2;
        }
        100% {
            transform: translate(-50%, -50%) scale(1.5);
            opacity: 0;
        }
    }

    .mck-voice-image {
        position: relative;
        z-index: 1;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        display: block;
        margin: auto;
    }

    .ring.mck-ring-remove-animation {
        animation: none;
        transform: translate(-50%, -50%) scale(1);
    }
}

.mck-hidden {
    visibility: hidden;
}
