//USED WHEN THE DIRECTION/DIR IS LTR(RIGHT TO LEFT)

:root {
    --text-direction: rtl;
}

body {
    direction: var(--text-direction);
}
.mck-box .mck-nav{
    padding-right: 0 !important;
}
.mck-box-title {
    text-align: right !important;
}
.mck-box{
    text-align: right !important;
}
#mck-tab-conversation{
	padding-left:6px;
    float: right;
}
p {
    text-align: right !important;
}
.mck-contact-list .mck-cont-msg-date {
	padding-right: 1rem;
}
.mck-box .mck-contact-list .mck-row, .mck-msg-preview .mck-row {
    display: flex;
}
.mck-videocall-image{
    margin-right: 0 !important;
    float: right;
}
svg.mck-msg-list-icon{
    transform: scale(-1,1);
}
