/* your custom css */


/* .navGroup .navListItem:last-child,.navGroup .navListItem:nth-child(3) {
    display:none;
} */
.fixedHeaderContainer header h2 {
    display: none;
}

footer .sitemap {
    justify-content: space-evenly;
}
footer .sitemap div {
    flex: 0;
}
footer .sitemap div .footer-pricing {
    width: 130px;
}
.homeContainer .homeWrapper {
    padding: 6em 10px;
}
.navPusher {
    height: auto;
} 


@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}