.km-status-indicator-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .km-status-indicator-circle {
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border-radius: 50%;
    margin-top: 0.5px;
  }
  .km-status-indicator-text {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
  }
  .km-status-indicator-container--success .km-status-indicator-circle {
    background-color: #22d674;
  }
  .km-status-indicator-container--success .km-status-indicator-text {
    color: #22d674!important ;
  }
  .km-status-indicator-container--danger  .km-status-indicator-circle {
    background-color: #f20e17;
  }
  .km-status-indicator-container--danger  .km-status-indicator-text {
    color: #f20e17 !important;
  }
  .km-status-indicator-container--muted  .km-status-indicator-circle {
    background-color: #aaa9a7;
  }
  .km-status-indicator-container--muted  .km-status-indicator-text {
    color: #aaa9a7 !important;
  }
  .km-status-indicator-container--warning  .km-status-indicator-circle {
    background-color: #cea433;
  }
  .km-status-indicator-container--warning  .km-status-indicator-text {
    color: #cea433 !important;
  }
  