// COLORS:
$primary: #5C5AA7;
$primary-light:#9E0FFC;
$highlight:#2DD35C;


$color-heading:#1D2731;
$color-text:#4A4A4A;
$color-text-light:#827F7F;
$color-nav:#585656;

$header-textbox-bg:#F4F3F3;
$header-textbox-border:#EBEBEB;
$header-textbox-text:#898484;

$tab-text:#676363;
$tab-active-bg:#D8ECF8;

$carousel-text:#4A4A4A;
$card-name:#333333;

$customer-text:#4c4c4c;

$footer-text1:#fff;
$footer-text2:#fff;

$color-white: #fff;
$color-grey-light-1:#D8D8D8;
$color-grey: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-black: #000;

//font
$default-font-size:1.6rem;

//Grid
$columns : 12;