.bot-main-card-container {
  width: 65%;
  margin: 0 auto;
}
.integrated-bot-converstaion-routing-text {
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.1px;
	text-align: left;
	color: #716d6d;
	line-height: 41px;
}

.integrated-bot-note-text {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  text-align: left;
  color: #868c8c;
}

.integrated-bot-assigned-bot-text {
  width: 276px;
  height: 19px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  text-align: left;
  color: #716d6d;
  margin-left: 10px;
}
.bot-routing-link {
  color: #5C5AA7!important;
  text-decoration: underline !important;
  font-weight: 500;
  cursor: pointer;
}
.bot-routing-link:hover {
  color: #5C5AA7!important;
}

.rrui__segmented-control__option {
  background-color : white;
  color : black;
}
.rrui__segmented-control__option:active {
  background-color : cyan;
}
.rrui__segmented-control__option--selected {
  background-color : blue;
  color : white;
}

.banner-container {
  margin: 20px 0px 20px;
  display: flex;
}
.banner-div {
  border-radius: 2px;
  background-color: #e6f3fb;
  padding: 10px 15px;
  width: 100%;
}
.banner-div--warning {
  border-radius: 2px;
  background-color: #ffc107;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
.banner-sub-text {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.7px;
  color: #7d7f81;
}
.banner-main-text {
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.7px;
  text-align: left;
  color: #4a4b4d;
  padding-left: 10px;
  margin-right: 20px;
}
.banner-div--warning .banner-sub-text {
  margin: 0px 0px 0px 10px;
  color: #212121;

}
.banner-div--warning svg {
  fill: #212121;
}

.km-bot-list-table-heading {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  color: #97999b;
}
.km-bot-name-slider-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal-dialog--edit .modal-header {
    display: block;
    padding-right: 75px;
}
.modal-dialog .close {
  position: absolute;
  top: 35px;
  right: 20px;
  font-size: 23px;
}

@media only screen and (max-width: 992px) {
  .bot-main-card-container {
    width: 100%;
  }
}

.upgrade-plan-bot-integration .upgrade-plan-available-integrations-icons {
  padding-bottom: 23px;
}
.upgrade-plan-bot-integration .integrations-icons-container {
  flex-wrap: nowrap;
}
.upgrade-plan-bot-integration .integrations-icons.dialogflow {
  /* border-right: 1px solid #cfcaca; */
}
.upgrade-plan-bot-integration .integrations-icons {
  padding: 0px 25px;
}
.upgrade-plan-bot-integration .upgrade-plan-available-integrations .bot-heading {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  color: #5c5a5a;
  margin-bottom: 10px;
  margin-top: 5px;
}
.upgrade-plan-bot-integration .upgrade-plan-available-integrations .bot-description, .upgrade-plan-bot-integration .upgrade-plan-available-integrations .bot-description>a {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: 0.2px;
  color: #8a8989;
}
.upgrade-plan-bot-integration .upgrade-plan-available-integrations .bot-description>a {
  font-weight: 500;
  color: #5c5aa7;
}
.km-dialogflow-version-select {
  font-size: 16px;
  letter-spacing: 0.3px;
  text-align: left;
  margin-bottom: 40px;
  color: #717374;
}
.km-dialogflow-radio {
  display: inline-flex;
  padding: 0px 5px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  text-align: left;
  color: #565758;
}

.km-dialogflow-radio-v1 {
  margin: 0 5px;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.6px;
  text-align: left;
  color: #504e4e;
}
.km-dialogflow-radio-v2 {
  margin: 0 5px;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.6px;
  text-align: left;
  color: #504e4e; 
}

.km-dialogflow-radio .radiobutton .radio-button-container .radio-wrapper {
  margin-left: 30px;
}

.km-dialog-flow-upload {
  margin-top: 29px;
  font-size: 14px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-left: 15px;
}

.km-integrated-bot-list-row:hover .teammates-delete-wrapper{
  visibility:visible;
  opacity: 1;

}

.teammates-delete-wrapper {
  visibility: hidden;
  opacity: 0;
  padding-top: 3px;
  transition: all 0.3s cubic-bezier(1, 0, 0, 1);

}

.km-bot-edit-delete {
  display: contents;
}

.km-image-name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.km-copy-name-from-box {
  padding: 5px 0px 5px 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 2px;
  transition: all .3s cubic-bezier(1, 0, 0, 1);
  border: 1px dashed #FFF;

}

.km-integrated-bot-list-row:hover .km-copy-name-from-box{
  border: 1px dashed #bcb7b7;
}

.km-copy-name-from-box textarea {
  overflow: hidden;
  width: 100%;
  resize: none;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  border: none;
  height: 25px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.4px;
  color: #666464;
}

.km-copy-name-from-box-icon button {
  min-width: 80px;
  background: transparent;
  height:30px;
  border: none;
  outline: none;
  box-shadow: none;
  color: #969393;
  visibility: hidden;
  opacity: 0;
  transition: all .3s cubic-bezier(1, 0, 0, 1);

}
.km-integrated-bot-list-row:hover .km-copy-name-from-box-icon button {
  visibility: visible;
  opacity: 1;
}
  
.km-copy-name-from-box-icon button svg {
  width: 16px;
  height: auto;
  vertical-align: text-top;
  margin-right: 3px;
}

.km-bot-name-size-restriction{
  width: 65%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  white-space: nowrap;
}

.km-selected-bot-name{
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  text-align: left;
  text-transform: capitalize;
}
.km-delete-box-header{
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #cfd8dc;
}

.km-cancel-delete{
  margin-top: 20px;
  margin-left: 60%;
  display: flex;
}

.km-delete-bot-position{
  margin-top: 160px;
}

.km-bot-integration-use-case-modal-text-style{
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: 0.3px;
  text-align: left;
  color: #505152;
}

.km-bot-delete-text{
  margin-top: 15px;
}

.km-textArea-custom-color{
  font-size: 16px !important;
  color: #464748 !important;
  overflow: -webkit-paged-x !important;
}

.km-edit-section-header{
display: block;
padding-right: 75px;
display: flex;
justify-content: space-between;
padding: 15px;
border-bottom: 1px solid #cfd8dc;
}

.km-default-bot-dp{
  width: 100%;
  height: auto;
  display: block;
}

.km-edit-bot-name-container{
  display: flex;
}

.km-bot-edit-name-font{
  width: 50%;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  text-align: left;
  color: #57595b;
}

.km-bot-detail-design{
  width: 60%;
  margin-right: 64px;
  padding: 9px 0px;
}

.km-edit-bot-image{
   overflow: hidden;
   border-radius: 61%;
   position: relative;
   width: 105px;
   height: 105px;
   cursor: pointer;

}
.km-edit-bot-image:hover .km-edit-section-hover{
  opacity: 0.7;
}

.km-edit-section-hover{
  text-align: center;
  position: absolute;
  background: black;
  opacity: 0;
  z-index: 100;
  color: white;
  bottom: -2px;
  left: 50%;
  display: block;
  width: 100%;
  transform: translate(-50%);
  text-transform: capitalize;
  height: 31px;
  padding: 4px 0 0 0;
  font-size: 14px;
  transition: .3s;
  letter-spacing: 0.8px;
}

.km-restrict-bootstrap-margin {
  margin-bottom: 0px !important;
}

.km-edit-bot-credentials{
    display: inline-flex;
    align-items: center;
    width: 100%;
}
.km-edit-bot-credentials-text{
  font-size: 16px;
  letter-spacing: 0.3px;
  color: #57595b;
  width: 30%;
}

.km-edit-section-body {
  display: block;
  padding-right: 75px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #cfd8dc;
  margin: 0 auto;
  width: 95%;
}

.km-dialogflow-version-select-edit {
  text-align: left;
  margin-bottom: 40px;
  font-size: 18px;
  color: #6c6a6a;
}
.km-dialogflowV2-key-file{
  margin-right: 20px;
  font-size: 16px;
  letter-spacing: 0.3px;
  color: #57595b;
}

.km-dialogflowV2-key-file-btn{
  border-radius: 2px !important;
  background-color: #f6f6f6 !important;
  border: none !important;
  color: #abacad !important;
}

.km-liz-container{
  width: 97.5%;
  padding: 20px 10px;
  border-radius: 3px;
  border: solid 1px #dedede;
  margin-bottom: 38px;
}

.km-liz-img{
  padding-left: 60px;
}
.km-liz-img svg{
  display: block;
    width: 100%;
}

.km-pre-integrated{
  border-radius: 1px;
  background-color: #cce7f8;
  display: inline;
  padding: 2px 15px 2px 5px;
  color: #605e5e;
  font-size: 16px;
}

.km-liz-section-heading{
  letter-spacing: 1.2px;
    text-align: left;
    color: #5f5d5d;
    font-size: 20px;
    padding-top: 10px;
}
.km-liz-section-heading span{
  font-weight: 500;
  color: #333232;
}

.km-liz-section-textcontent{
  width: 80%;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.29;
  letter-spacing: 0.4px;
  text-align: left;
  color: #626365;
  padding:6px 0 15px 0;
}

.km-liz-link{
  text-decoration: none;
  color:#4831d9;
  font-weight: 400;
}

.km-bot-image-circle{
  margin-top: 0px;
  width: auto;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.km-bot-image-edit-section{
  margin-right: 8px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.km-bot-create-box-body{
  margin-bottom: 5px;
  font-size: 14px;
  letter-spacing: 0.2px;
  text-align: left;
  color: #8c8787;
}

.km-change-bot-name-color-onfocus:focus {
  color:#000;
}

#km-client-token-bot:focus, #km-dev-token-bot:focus, #km-integrated-bots-client-token:focus, #km-integrated-bots-dev-token:focus{
  color:#000;
}

.km-copy-text-from-input-bot-section {
  padding: 5px 0px 5px 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 2px;
  transition: all .3s cubic-bezier(1, 0, 0, 1);
  border: 1px dashed #FFF;
}

.km-hide-input-element {
  opacity: 0.0;
  position: absolute;
  top:0;
  left: 0;
  bottom: 0;
  right:0;
  width:100%;
  height:100%;
  font-size: 0px;
  cursor: pointer;
}

.km-integrated-bot-info{
  border-radius: 11.5px;
  background-color: #22d67328;
  color: #22d674;
  padding: 2px 25px;
  display: inline-block;
  transition: all .3s;
}
.km-integrated-bot-info:hover{
  transform: translateY(-3px) scale(1.05);
}

.km-bot-integration-boxes.row{
  margin-top: 20px;
}

.km-bot-type{
  font-size: 16px;
  letter-spacing: 0.3px;
  margin-bottom: 0;
}
.km-bot-type span{
  color: #87898b;
  max-width: 63%;
  display: inline-block;
  margin: 10px 0;
}

.km-bot-section-image svg{
  width: 189.8px;
  height: 167px;
  display: block;
  margin: 0 0 0 auto;
}

.km-integrated-bot-text {
  font-size: 16px;
  color: #5553b7;
  font-weight: 500;
}
.bot-integration-info{
  background: #e6f3fb;
  padding: 9px 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.bot-integration-info.warning{
  background: #fce9b9;
}
.bot-integration-info span{ 
 font-weight: 700;
}
.bot-integration-info svg{
  margin: 3px 6px 0 0;
}

.Linkify .instruction a{
  color:#5553b7;
}