.automation_steps {
    margin-top: 5rem;
    text-align: center;
    @include respond(tab-por){
        margin-top: 4rem;
        margin-bottom: 6rem;
    }
    &_heading {
        margin-bottom: 5rem;
        h1 {
            padding: 0 9rem;
            font-size: 3.2rem;
            color: #4A4A4A;
            font-weight: 800;
            span {
                font-weight: 400;
                color: #858585;
                font-size: 1.8rem;
                display: block;
                margin-top: 4rem;
            }
        }
    }
    &_block-1 {
        @include respond(tab-por){
            margin: 4rem 0;
        }
        svg {
            display: block;
            margin: 0 auto -7rem 0;
            @include respond(tab-por){
                margin: 0 auto;

            }
        }
    }
    .title-mid{
        @include respond(tab-por){
            margin:2rem 0 6rem 0!important;
        }
    }
    &_block-2 {
        
        display: flex;
        @include respond(tab-por){
            flex-direction: column-reverse;
            // padding: 4rem 0;
        }
    }
    .hide-mobile{
        @include respond(tab-por){
            display: none!important;
        }
    }
    &_box {
        //    padding: 2rem;
        flex-basis: 33.3%;
    }
    &_img {
        svg {
            display: block;
            margin: 0 auto;
        }
    }
    &_title {
        color: #4A4A4A;
        font-size: 2.4rem;
        margin: 4rem;
        font-weight: 800;
        @include respond(tab-por){
            margin: 1rem;

        }
    }
}

.custom_bots {
    font-size: 2.8rem;
    color:#4A4A4A;
    text-align: center;
    font-weight: 300;
    margin: 3rem auto;
    padding: 4rem;
    a {
        font-size: 2.5rem;
        color: #5F65D0;
        display: block;
        font-weight: 800;
         text-decoration: none;
         transition: .3s;
         &:hover{
             color: darken(#5F65D0,20);
         }
    }
}