.automation_hero{
   &_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10rem 0 2rem 0;
    padding: 0 5rem;
    @include respond(tab-por){
        flex-direction: column;
        text-align: center;
        margin-top: 14rem;
        padding: 0;
    }
   }
   &_content{
       h1{
           line-height: 4.9rem;
           font-weight: 800;
           font-size: 3.5rem;
           color:#4A4A4A;
           @include respond(tab-por){
               margin-bottom: 4rem;
           }
       }
       span{
           font-weight: 400;
           display: block;
           font-size: 2.2rem;
           color:#9B9B9B;
           margin-bottom: 2rem;
       }
       img{
           width: 80%;
           margin: 0 0 auto auto ;
           display: block;
        //    padding: 4rem;
       }
   }
}