.brand{
   margin: 0 auto;
   @include respond(tab-lan){
       margin-top: 9rem;
   }
   @include respond(tab-por){
       margin-top: 3rem;
       margin-bottom: 3rem;
   }
 
   &_strip{
      
        list-style: none;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

    }
    &_img{
        // display: inline-block;
        // padding: 1rem;
        opacity: .5;
        img{
            max-width: 20rem;
            margin: 0 auto;
            padding: 2rem;
            max-height: 10rem;
        }
    }

}