.features {
    &-hero {
        width: 100%;
        height: 325px;
        background-image: linear-gradient(95deg, #9e0ffc, #5c5aa7);
        position: relative;
        margin-bottom: 60px;
    }

    &-main-heading {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        h1 {
            font-size: 4.5rem;
            font-weight: 900;
            line-height: 1.29;
            letter-spacing: 0.5px;
            text-align: center;
            color: #ffffff;
            margin-top: 4.5rem;
        }
    }

    &-heading {
        font-size: 4rem;
        font-weight: 800;
        letter-spacing: 1.2px;
        color: #525152;
        position: relative;
        margin-bottom: 20px;

        &::after {
            content: '';
            width: 90px;
            background: -webkit-linear-gradient(356deg, #9e0ffc, #5c5aa7);
            background: -o-linear-gradient(356deg, #9e0ffc, #5c5aa7);
            background: linear-gradient(94deg, #9e0ffc, #5c5aa7);
            position: absolute;
            left: 1px;
            bottom: -12px;
            z-index: 1;
            height: 7px;
        }

    }

    &-heading-wrapper{
        display: flex;
        align-items: center;
        @include respond(tab-por) {
            flex-direction: column;
         }
    }
    &-heading-text{
       padding: 2rem 5rem;
    }
    &-heading-img{
        width: 40%;
       img , svg{
           width: 100%;
       }
    }

    &-subheading {
        font-size: 2.3rem;
        font-weight: 500;
        letter-spacing: 1.3px;
        color: #8c898b;
        margin-top: 5px;

        & a {
            color: #4a90e2;
            text-decoration: none;
        }
    }

    &-section {
        padding: 4rem 1rem 2rem 1rem ;
    }
    &-section-colored {
        background: linear-gradient(130deg, rgba(158, 15, 252, 0.05), rgba(92, 90, 167, 0.05));
    }

    &-section-img--big {
        max-width: 1150px;
        overflow: hidden;
        margin: 3rem auto 7rem auto;

        img {
            width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
        }
    }
    &-section-img{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 8rem auto;
        max-width: 100rem;
        flex-wrap: wrap;
        svg{
            background: #fff;
            border-radius: 10px;
            box-shadow: 14px 15px 33px 5px rgba(0,0,0,0.11);
            padding: 2.5rem;
            width: 13rem;
            height: 13rem;
            @include respond(phone) {
                padding: 1.5rem;
                margin: 2rem;
                width: 10rem;
                height: 10rem;
             }
        }
    }

    &-block,
    &-block-box {
        display: flex;
    }
    &-block-col{
        flex-direction: column;
        &.features-block-box{
            max-width: 33.3%;
            @include respond(tab-por) {
                max-width: 100%;
             }
        }
        div{
            margin: .5rem 0;
        }
    }


    &-block {
        margin-bottom: 4rem;
        @include respond(tab-por) {
            flex-direction: column;
         }
        &-icon {
            padding-right: 3rem;

            svg {
                width: 58px;
                height: 48px;
            }
        }
        &-box{
            max-width: 49%;
            padding: 1rem 5rem;
            @include respond(tab-por) {
                max-width: 100%;
                padding: 2rem 3rem;
                flex-direction: column;
                div{
                    margin: .5rem 0;
                }
             }
        }

        &-heading {
            font-size: 2.6rem;
            font-weight: bold;
            letter-spacing: 0.8px;
            color: #525152;
        }

        &-text{
            font-size: 2rem;
            line-height: 1.55;
            letter-spacing: 1px;
            color: #8c898b;
        }
    }

}