.scaling {
    color: #4A4A4A;
    &_heading {
        h1 {
            text-align: center;
            font-size: 3.2rem;
            font-weight: 400;
            margin: 6rem 0 12rem 0;
            @include respond(tab-por){
                margin: 1rem 0 5rem 0;
            }
        }
    }
    &_wrapper {
        display: flex;
        flex: 1;
        align-content: center;
        justify-content: center;
        align-self: center;
        padding-bottom: 4rem;
        @include respond(tab-por){
            flex-direction: column;
        }
    }
    &_img {

        svg {
            // height: auto;
            display: block;
            margin: 0 auto;
        }
    }
    &_text {
        padding: 4rem 10rem;
        text-align: center;
        &-heading {
            font-size: 2rem;
        }
        &-content {
            color: #858585;
            padding-top: 2rem;
            font-size: 1.8rem;
        }
    }
}