.footer {
    &_bg {
        background: url(../images/footer.svg);
        background-size: 120%;
        background-repeat: no-repeat; // background-position:10rem 10rem;
        width: 100%;
        margin-top: 5rem;
        padding-top: 10rem;
        @include respond(tab-lan) {
            padding-top: 0rem;
            margin-top: 2rem;
            background: linear-gradient(to right bottom, $primary-light, $primary) no-repeat;
        }
        @include respond(phone) {
            margin-top: 15rem;
        }
    }
    svg{
        padding-top: 4.5rem;
        max-width: 22rem;
        max-height: 9rem;
    }
    &_account { 
        width: 85%;
        padding: 3.5rem 18rem;
        border-radius: 4px;
        text-align: center;
        margin: 0 auto;
        box-shadow: .5rem .5rem 3rem .4rem rgba(#707090, .2);
        background: $color-white; // height: 8rem;
        @include respond(tab-lan) {
            width: 90%;
            padding: 3.5rem 9rem;
            margin-top: -5rem;
        }
        @include respond(tab-por) {
            margin-top: -30px;
            // margin-bottom: 20px;
            width: 95%;
            position: absolute;
            left: 50%;
            top: -5%;
            transform: translateX(-50%);
        }
        @include respond(phone) {
            padding: 2rem 3rem;
        }
        &_text {
            font-size: 4.2rem;
            font-weight: 600;
            display: block;
            color: $color-black; // margin-right: 9rem;
            text-align: center;
            @include respond(phone) {
                font-size: 2.8rem;
            }
        }
    }
    &_email {
        position: relative;
        width: 75%;
        margin: 0 auto;
        border: none;
        border-radius: 60px;
        animation: fade-in-top .8s;
        @include respond(tab-lan) {
            width: 90%;
        }
        @include respond(tab-por) {
            width: 100%;
            border: none;
        }
        @include respond(phone) {
            width: 85%;
            border: none;
        }
    }
    &_input {
        width: 68%;
        background-color: $header-textbox-bg; // background-color: red;
        padding: 1.4rem 0 1.4rem 4rem;
        letter-spacing: .1rem;
        border-radius: 4px;
        color: $header-textbox-text;
        font-size: 1.6rem;
        border: none;
        outline: none;
        font-weight: lighter;
        display: block;
        animation: move-in-left .8s;
        border: 4px solid $header-textbox-bg;
        transition: all .2s ease-in;
        &:active,
        &:focus {
            border: 4px solid darken($header-textbox-bg, 5);
        }
        @include respond(tab-por) {
            border: none;
            width: 100%;
            padding: 1.4rem 0 1.4rem 1rem;

            // text-align: center;
        }
        @include respond(phone) {
            padding: 2rem;
        }
    }
    &_button {
        // margin-left:3rem;
        position: absolute;
        top: 1%;
        right: -1%;
        padding: 1.5rem 4.5rem;
        font-size: 2rem;
        animation: move-in-right .8s;
        @include respond(tab-por) {
            margin-top: 2rem;
            width: 100%!important;
            display: block;
            text-align: center;
            right: 0;
            position: relative;
        }
    }
    &_row {
        width: 82%;
        margin: 5rem auto 0 auto;
        @include respond(tab-por) {
            width: 100%;
            margin: 25rem auto 2rem auto;
        }
        @include respond(phone) {
            margin: 10rem auto 2rem auto;
        }
    }
    &_logo {
        margin: 3.5rem 0 1rem 0;
        width: 15.4rem;
    }
    &_column {
        vertical-align: top;
        display: inline-block;
        position: relative;
        @include respond(phone) {
            display: block;
            margin: 0 auto;
            text-align: center;
        }
        &:first-child {
            width: 50%;
            color: $footer-text1;
            font-weight: 600;
            @include respond(tab-lan) {
                width: 29%;
            }
            @include respond(tab-por) {
                width: 22%;
            }
            @include respond(phone) {
                width: 100%;
            }
        }
        &:last-child {
            padding-left: 8rem;
            width: 20%;
            @include respond(tab-lan) {
                width: 15%;
            }
        }
    }
    &_list {
        padding: 1rem;
        color: $footer-text2;
        list-style: none;
        margin-top: 2.3rem;
        &_item:first-child {
            font-weight: 600;
        }
        &_item {
            &:not(:first-child) {
                margin: 2rem 0;
                @include respond(phone) {
                    margin: 1.8rem;
                }
            }
        }
    }
    &_link {
        text-decoration: none;
        color: $footer-text2;
        font-size: 1.4rem;
        font-weight: 300;
        @media  (max-width:1400px) and (min-width:1200px) {
            font-size: 14px;
        }
        @include respond(phone) {
            font-size: 1.9rem;
        }
        &:hover {
            color: $color-white;
        }
    }
    hr {
        opacity: .5;
    }
    &_copyright {
        color: $footer-text1;
        font-size: 1.2rem;
        font-weight: 800;
        padding: 4rem 0;
        @media  (max-width:1400px) and (min-width:1200px) {
            font-size: 14px;
        }
        @include respond (tab-lan){
            padding: 3rem 0;
            font-size: 1.4rem;
        }
    }
}