.gated {
    &-container {
        margin-top: 20rem;
        @include respond(tab-por) {
            margin-top: 10rem;
        }

        >svg {
            opacity: .06;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }

    &-wrapper {
        max-width: 120rem;
        display: flex;
        justify-content: center;

        @include respond(tab-por) {
            flex-direction: column-reverse;
        }
    }

    &-content {
        max-width: 80rem;
        padding-right: 9rem;

        @include respond(tab-lan) {
            padding: 4rem;
            margin-bottom: 5rem;
        }

        @include respond(tab-por) {
            max-width: 100%;

        }
    }

    &-text {
        p {
            font-size: 2rem;
            line-height: 1.75;
            color: #4a4a4a;
            margin: 3rem 0;
        }
    }

    &-cta {
        margin: 4rem 0;

        a {
            border-radius: 4px;
            background-color: #2dd35c;
            color: #fff;
            padding: 1.5rem 3rem;
            text-decoration: none;
        }
    }

    &-heading {
        font-size: 4.5rem;
        font-weight: 900;
        letter-spacing: 0.5px;
        color: #4a4a4a;
        line-height: 1.4;
        @include respond(tab-por) {
           font-size: 3rem
        }
    }

    &-points {
        ul {
            list-style: none;

            li {
                font-size: 2rem;
                line-height: 1.75;
                color: #4a4a4a;

                svg {
                    height: 12px;
                    margin-right: 12px;
                }
            }
        }
    }

    &-link {
        font-size: 2.2rem;
        font-weight: 500;
        text-decoration: none;
        color: #4a90e2;
        margin: 2rem 0;
        display: block;
    }

    &-image {
        width: 40%;
        overflow: hidden;

        @include respond(tab-por) {
            margin: 0 auto 4rem auto;
        }
        @include respond(phone) {
            width: 65%;
        }

        img {
            box-shadow: 1px 4px 10px 0 rgba(0, 0, 0, .2);
            width: 95%;
            height: auto;
            display: block;
            margin: 0 auto;
        }
    }
}