.growth-header {
    margin-top: 110px;

    &_img {
        width: 100%;

        & svg {
            width: 100%;
            height: 80px;
        }
    }

    &_heading {
        & h1 {
            font-size: 32px;
            font-weight: 600;
            letter-spacing: 0.6px;
            color: #202021;
            text-align: center;
        }
    }
}

.growth-twitter-box-shadow {
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow: 0 2px 14px 3px rgba(229, 229, 229, 0.5);
    margin-bottom: 80px!important;
    @media (max-width:1000px) {
        box-shadow:none;

    }
}

.growth-twitter-box {

    margin: 10px auto;
    max-width: 940px;
    // background: orangered;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 15px;
    @media (max-width:1000px) {
      flex-direction: column;
      margin-bottom: 40px;
      width: 98%;

    }
    @media (max-width:500px) {
      flex-direction: column;
      margin-bottom: 150px;
      @media (max-width:500px) {
        margin-bottom: 50px;
      }

      width: 98%;
    }
    & div{
        @media (max-width:1000px) {
            margin: 20px 0;
      
          }
    }

    &_img {
        & svg {
            width: 42px;
        }
    }

    &_text {
        font-weight: 500;
        font-size: 22px;
        text-align: center;
        letter-spacing: 0.4px;

        & span {
            font-weight: 700;
            color: #44d76e;
        }
        &-primary{
            padding:  0 97px;
            @media (max-width:1000px) {
                padding: 0;
            }

            
        }
    }

    &_button {
        border: solid 1px #efefef;
        border-radius: 4px;
        transition: .3s;

        .twit-button {
            white-space: nowrap;
            display: flex;
            align-items: center;
            align-self: flex-end;
            text-decoration: none;
            font-size: 18px;
            padding: 12px 30px;
            color: #66666a;

            & svg {
                margin-right: 10px;
                width: 32px;
            }
        }

        &:hover {
            border: 1px solid white;
            border-radius: 4px;
            background-color: #ffffff;
            box-shadow: 0 2px 14px 3px rgba(211, 208, 208, 0.5);
        }
    }
}

.growth-calc-wrapper {
    max-width: 940px;
    margin: 10px auto;
    display: flex;
    @media (max-width:1000px) {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

}


.growth-mrr-calc-box {
    width: 368px;
    height: 350px;
    border-radius: 6px;
    box-shadow: 0 2px 10px 2px rgba(213, 209, 209, 0.5);
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    @media (max-width:1000px) {
        margin-bottom: 30px;
        
    }

    &_heading {
        text-align: center;
        letter-spacing: 0.3px;
        color: #88878d;
        font-size: 18px;
        margin-bottom: 40px;

    }

    &_field {
        padding: 15px 4px;

        &-name {
            display: inline-block;
            font-size: 16px;
            letter-spacing: 0.3px;
            margin-right: 20px;
            color: #89898d;
            width: 42%;
        }

        &-switch {
            display: inline-block;
            width: 50%;
            letter-spacing: 0.3px;
            color: #c6c6c8;
            vertical-align: middle;

            & span {
                display: inline;
                vertical-align: text-bottom;
            }

        }

        &-input {
            display: inline-block;
            width: 50%;
            color: #000000;
            font-weight: 500;

            & input {
                display: inline-block;
                width: 100px;
                outline: none;
                box-shadow: none;
                border: none;
                border-bottom: 1px solid #cccdd2;
                color: #000000;
                transition: all .3s;
            }

            & input:active,
            & input:focus {
                border-bottom: 1px solid #1419e8;
            }

        }
    }


    .switch {
        position: relative;
        display: inline-block;
        width: 30px;
        height: 14px;
        font-size: 16px;


        & input {
            display: none;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #1419e8;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 10px;
            width: 10px;
            left: 4px;
            bottom: 2px;
            background-color: #fff;
            transition: .4s;
        }

        input:checked+.slider {
            background-color: #1419e8;
        }

        input:focus+.slider {
            box-shadow: 0 0 1px #1419e8;
            background-color: #1419e8;
        }

        input:checked+.slider:before {
            transform: translateX(13px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }
    }

}

.growth-mrr-graph-box {
    width: 534px;
    height: 350px;
    border-radius: 6px;
    box-shadow: 0 2px 10px 2px rgba(213, 209, 209, 0.5);
    padding: 10px 20px;
    margin-left: 38px;
    @media (max-width:1000px) {
        margin-bottom: 30px;
        width: 368px;
        margin-left: 0;
        height: auto;
    }
}