.km_bots {
    margin-top: 3rem;
    text-align: center;
    color: #4A4A4A;
    &_heading {
        padding: 0 9rem;
        margin-bottom:8rem; 
        h1 {
            font-weight: 400;
            font-size: 3.2rem;
            margin-bottom: 3rem;
        }
    }
    &_box {
        padding: 0 14rem;
        @include respond(tab-por){
            padding: 0 1rem;
        }
    }
    &_title {
        font-size: 2.2rem;
        color:#4A4A4A;
        margin: 3rem 0;
    }
    &_content {
        margin-bottom: 10rem;
        padding: 0 10rem;
        color: #858585;
        font-size: 1.8rem;
        @include respond(tab-por){
            padding: 0 1rem;
            margin-bottom: 3rem;
        }
    }
    &_img {
        max-width: 40%;
        margin: 0 auto;
        svg {
            display: block;
            margin: 0 auto;
        }
    }
}