.navbar {
    // background: $color-white;
    display: flex;
    justify-content: space-between;
    flex: 1;
    height: 7rem;
    align-items: center;
    @include respond(tab-por) {
        height: auto;
    }
    &_wrapper {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100000;
    }
    &_login {
        border: 2px solid $highlight;
        padding: 1rem 3rem;
        border-radius: 4px;
        color: $highlight !important;
        font-weight: 600;
        transition: .3s all;
        &:hover,
        &:active {
            background: $highlight;
            color: $color-white !important;
        }
        @include respond(tab-por) {
            border: none;
            font-weight: 400;
            padding: 0rem 0rem; // transition: .3s all;
            // &:hover,
            // &:active {
            //     background: $color-black;
            //     color:$color-white!important;
            // }
        }
    }
    &_sticky {
        background: $color-white;
        width: 100%;
        transition: all .3s;
        box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
    }
    &_logo {
        padding: 1.4rem 1rem 1rem 0rem;
        width: 24rem;
        svg {
            width: 24rem;
        }
    }
    &_switch {
        display: none;
    }
    &_list {
        padding: 2rem 0rem 2rem 1rem;
        list-style: none;
        text-align: right;
    }
    &_item {
        display: inline-block;
        padding: .1rem 1rem .1rem 2rem;
        font-size: 1.6rem;
        font-weight: 400;
    }
    &_button {
       @include respond(tab-por){
        font-size: 2.5rem !important;
        display: block;
        width: 100%;
       }
    }
    &_link {
        &:link,
        &:visited {
            text-decoration: none;
            color: $color-nav;
        }
        &:hover,
        &.active {
            color: $primary;
        }
        &.highlight {
            color: $highlight;
            &:hover,
            &.active {
                color: $primary;
            }
        }
    }
    @include respond(tab-por) {
        flex-direction: column;
        &_logo {
            align-self: flex-start;
        }
        &_switch {
            align-self: flex-end;
            position: absolute;
            top: 2.5rem;
            right: 3rem;
            display: block;
            height: 5rem;
            width: 5rem;
            .bar1,
            .bar2,
            .bar3 {
                width: 35px;
                height: 3px;
                background-color: $primary;
                margin: 6px 0;
                transition: 0.4s;
            }
        }
        .anim .bar1 {
            transform: rotate(-45deg) translate(-7px, 4px);
        }
        .anim .bar2 {
            opacity: 0;
        }
        .anim .bar3 {
            transform: rotate(45deg) translate(-7px, -7px);
        }
        &_nav {
            background: $color-white;
            height: 0;
            overflow: hidden;
            width: 100%;
            padding: 0 4rem;
            transition: all .4s;
        }
        &_item {
            display: block;
            text-align: center;
            padding: 2.2rem 1rem 1rem 2rem;
            font-size: 2.6rem;
            transition: all .4s;
            font-weight: 400;
            &:active {
                background: $primary-light;
                color: $color-white;
            }
        }
    }
}

.nav_open {
    height: 43rem !important;
    border-bottom: 1px solid rgba($primary-light, .2);
    background: $color-white;
}