<section class="homepage-customer-logos-section">
    <div class="container">
        <div class="row">
            <ul class="category-links text-center">
                <li>
                    <img class="img-customer-logos hp-logo" alt="HP Logo" src="/assets/resources/images/customers/hp-logo.png">
                  </li>
                  <li>
                     <img class="img-customer-logos internshala-logo" src="/assets/resources/images/internshala.svg" alt="Internshala Logo" style="height: 40px!important;opacity: 0.6;">
                  </li>
                  <li>
                     <img class="img-customer-logos mzadqatar-logo" src="/assets/resources/images/shubh-loans.png" alt=" Shubh Loans Logo">
                  </li>
                  <li>
                    <img class="img-customer-logos godrej-logo" alt="Golden Hippo Logo" src="/assets/resources/images/golden-hipppo.png">
                  </li>
                  <li>
                     <img style="height: 56px" class="img-customer-logos active8me-logo" style="opacity: 0.4;" src="/assets/resources/images/ds-logo.png" alt="DS Logo">
                  </li>
                  <li>
                    <img class="img-customer-logos icrasia-logo" style="opacity: 0.9;" src="/assets/resources/images/community-america.svg" alt="Community America Logo">
                  </li>
              </ul>
          </div>
      <div class="row">
        <p class="testimonials-trust">Trusted by 2000+ companies across the globe</p>
      </div>
    </div>
  </section>