<footer class="footer-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="img-container">
          <svg id="Layer_1" x="0px" y="0px" viewBox="0 0 352.7 316.7"  xml:space="preserve" class="nav-kommunicate-logo  km-logo-rest-pages">
            <style type="text/css">
              .km-logo-final-logo-footer-0{fill:url(#km-logo-final-logo-footer-gradient-0);}
            </style>
            <g>
              <linearGradient id="km-logo-final-logo-footer-gradient-0" gradientUnits="userSpaceOnUse" x1="4.1155" y1="157.8602" x2="348.5183" y2="157.8602">
                <stop offset="0" style="stop-color:#3B3C7F"/>
                <stop offset="2.677427e-02" style="stop-color:#3E3E82"/>
                <stop offset="0.2049" style="stop-color:#4F4D94"/>
                <stop offset="0.3695" style="stop-color:#5A58A2"/>
                <stop offset="0.5063" style="stop-color:#5D5CA8"/>
                <stop offset="0.6539" style="stop-color:#56549D"/>
                <stop offset="0.9019" style="stop-color:#434388"/>
                <stop offset="1" style="stop-color:#3B3C7F"/>
              </linearGradient>
              <path class="km-logo-final-logo-footer-0" d="M348.5,302.2V121.2c0-65.4-53-118.3-118.3-118.3H122.5C57.1,2.8,4.1,55.8,4.1,121.2   c0,65.4,53,118.4,118.4,118.4H239c0,0,9.5,0.6,15.2,2.6c5.5,2,11.5,6.8,11.5,6.8l72,59.3c0,0,6.5,5.6,8.9,4.5   C349,311.5,348.5,302.2,348.5,302.2z M125.8,145.3c0,7.9-6.9,14.3-15.4,14.3S95,153.2,95,145.3V94.5c0-7.9,6.9-14.3,15.4-14.3   s15.4,6.4,15.4,14.3V145.3z M191.7,169.3c0,7.9-6.9,14.3-15.4,14.3c-8.5,0-15.4-6.4-15.4-14.3V70.5c0-7.9,6.9-14.3,15.4-14.3   c8.5,0,15.4,6.4,15.4,14.3V169.3z M257.6,145.3c0,7.9-6.9,14.3-15.4,14.3c-8.5,0-15.4-6.4-15.4-14.3V94.5c0-7.9,6.9-14.3,15.4-14.3   c8.5,0,15.4,6.4,15.4,14.3V145.3z"/>
            </g>
            </svg>
        </div>
        <hr class="footer-hr">
        <div class="address-container">
          <p class="address">
            Stanford Financial Square, 2600 El Camino Real, Suite 415, Palo Alto, CA 94306
            <br> Phone:
            <a href="tel:+13109097458">+1(310) 909 7458</a> Email:
            <a href="mailto:hello@kommunicate.io">hello@kommunicate.io</a>
          </p>
          <p class="copyright">
            Copyright &copy; 2017 Kommunicate.io All Rights Reserved
          </p>
          <p class="love">
            Made with
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" fill="#FF0000" height="18" viewBox="0 0 24 24" width="18">
                <path d="M0 0h24v24H0z" fill="none" />
                <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"
                />
              </svg>
            </span> by team
            <a href="https://www.applozic.com/" target="_blank">Applozic</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>

<script>
  $(".menu-btn").click(function() {
    $(".popup").fadeIn(300);
    $(".menu-btn").fadeOut(300);
  });
  $(".close-btn").click(function() {
    $(".popup").fadeOut(300);
    $(".menu-btn").fadeIn(300);
  });

window.onscroll = function() {
  myScrollFunction()
};
var header = document.getElementById("nav-main-header");
var sticky = header.offsetTop;
function myScrollFunction() {
  if (window.pageYOffset > sticky) {
    header.classList.add("sticky");
  } else {
    header.classList.remove("sticky");
  }
}
</script>

<script type="text/javascript">
  var trackcmp_email = '';
  var trackcmp = document.createElement("script");
  trackcmp.async = true;
  trackcmp.type = 'text/javascript';
  trackcmp.src = '//trackcmp.net/visit?actid=66105982&e='+encodeURIComponent(trackcmp_email)+'&r='+encodeURIComponent(document.referrer)+'&u='+encodeURIComponent(window.location.href);
  var trackcmp_s = document.getElementsByTagName("script");
  if (trackcmp_s.length) {
  trackcmp_s[0].parentNode.appendChild(trackcmp);
  } else {
  var trackcmp_h = document.getElementsByTagName("head");
  trackcmp_h.length && trackcmp_h[0].appendChild(trackcmp);
  }
  </script>

<script type="text/javascript">
  (function(d, m){
       let o = {"appId":"kommunicate-support","isAnonymousChat":true,"agentId":"devashish@kommunicate.io","groupName":"Kommunicate Support","baseUrl":'{% if jekyll.environment == "production" %} {{site.dashboard.supportChatBaseUrlProd}}{% else %}{{site.dashboard.supportChatBaseUrlTest}}{% endif %}'};
       let s = document.createElement("script");
       s.type = "text/javascript";
       s.async = true;
       s.src = '{% if jekyll.environment == "production" %} {{site.dashboard.supportSourceUrlProd}}{% else %}{{site.dashboard.supportSourceUrlTest}}{% endif %}';
       let h = document.getElementsByTagName("head")[0];
       h.appendChild(s);
       window.kommunicate = m;
       m._globals = o;
     })(document, window.kommunicate || {});
</script>