<footer class="footer-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="img-container">
          <svg x="0px" y="0px" viewBox="0 0 300 274" class="img-responsive">
            <style type="text/css">
              .km-logo-varient3-footer-0 {
                enable-background: new;
              }

              .km-logo-varient3-footer-1 {
                fill: #5C5AA7;
              }
            </style>

            <g id="Layer_2_1_">
              <g>
                <g>
                  <ellipse class="km-logo-varient3-footer-1" cx="102.7" cy="143" rx="17.9" ry="17.9"></ellipse>
                  <ellipse class="km-logo-varient3-footer-1" cx="156.1" cy="143" rx="17.9" ry="17.9"></ellipse>
                  <circle class="km-logo-varient3-footer-1" cx="204.8" cy="143" r="17.9"></circle>
                </g>
                <g>
                  <path class="km-logo-varient3-footer-1" d="M154.7,16.9c-3.7-6.2-10.5-10.3-18.2-10.3c-10.1,0-18.5,7-20.7,16.4c-38.2,12.4-68.3,42.6-80.6,80.8     c-9.6,2.1-16.7,10.6-16.7,20.8c0,7.9,4.3,14.8,10.7,18.5c3.1,1.8,6.7,2.8,10.5,2.8c4.2,0,8-1.2,11.3-3.3c6-3.8,10-10.4,10-18     c0-5.3-1.9-10.1-5.1-13.8c10.1-31.7,35-56.7,66.6-66.9c3.7,3.3,8.6,5.2,14,5.2c7.7,0,14.5-4.1,18.2-10.3c2-3.2,3.1-7,3.1-11     C157.7,23.9,156.6,20.1,154.7,16.9z"></path>
                  <path class="km-logo-varient3-footer-1" d="M273.9,104.2c-9.8-30.9-31.2-56.6-59.2-71.9c-0.8-11-10-19.7-21.2-19.7c-6,0-11.5,2.5-15.4,6.6     c-3.6,3.8-5.9,9-5.9,14.7c0,2.3,0.4,4.6,1.1,6.7c2.8,8.4,10.8,14.5,20.2,14.5c4.1,0,7.9-1.2,11.2-3.2     c22.4,12.5,39.7,33.1,47.8,57.9c-3.7,3.8-6,9.1-6,14.8c0,8.1,4.5,15.1,11.2,18.7c3,1.6,6.4,2.5,10,2.5c4.4,0,8.6-1.4,12-3.7     c5.6-3.8,9.3-10.3,9.3-17.5C289,115,282.6,106.9,273.9,104.2z"></path>
                  <path class="km-logo-varient3-footer-1" d="M277.1,167.7c-3.9-4.5-9.6-7.3-16-7.3c-1.8,0-3.4,0.2-5.1,0.6c-9.3,2.3-16.2,10.7-16.2,20.6     c0,4.6,1.5,8.9,4,12.4c-17.9,30.8-51.3,51.5-89.4,51.5c-38.2,0-71.5-20.7-89.4-51.5c2.5-3.5,4-7.8,4-12.4     c0-10-6.9-18.4-16.3-20.7c-1.6-0.4-3.3-0.6-5-0.6c-6.4,0-12.1,2.8-16,7.2c-3.3,3.7-5.3,8.7-5.3,14c0,10.7,7.9,19.6,18.3,21     c21.3,38.6,62.5,64.8,109.7,64.8s88.4-26.2,109.7-64.8c10.3-1.5,18.1-10.4,18.1-21C282.3,176.3,280.4,171.4,277.1,167.7z"></path>
                </g>
              </g>
            </g>
          </svg>
        </div>
        <hr class="footer-hr">
        <div class="address-container">
          <p class="address">
            Stanford Financial Square, 2600 El Camino Real, Suite 415, Palo Alto, CA 94306
            <br> Phone:
            <a href="tel:+13109097458">+1(310) 909 7458</a> Email:
            <a href="mailto:hello@kommunicate.io">hello@kommunicate.io</a>
          </p>
          <p class="copyright">
            Copyright &copy; 2017 Kommunicate.io All Rights Reserved
          </p>
          <p class="love">
            Made with
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" fill="#FF0000" height="18" viewBox="0 0 24 24" width="18">
                <path d="M0 0h24v24H0z" fill="none" />
                <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"
                />
              </svg>
            </span> by team
            <a href="https://www.applozic.com/" target="_blank">Applozic</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>

<script>
  $(".menu-btn").click(function() {
    $(".popup").fadeIn(300);
    $(".menu-btn").fadeOut(300);
  });
  $(".close-btn").click(function() {
    $(".popup").fadeOut(300);
    $(".menu-btn").fadeIn(300);
  });

window.onscroll = function() {
  myScrollFunction()
};
var header = document.getElementById("nav-main-header");
var sticky = header.offsetTop;
function myScrollFunction() {
  if (window.pageYOffset > sticky) {
    header.classList.add("sticky");
  } else {
    header.classList.remove("sticky");
  }
}
</script>

<script type="text/javascript">
  var trackcmp_email = '';
  var trackcmp = document.createElement("script");
  trackcmp.async = true;
  trackcmp.type = 'text/javascript';
  trackcmp.src = '//trackcmp.net/visit?actid=66105982&e='+encodeURIComponent(trackcmp_email)+'&r='+encodeURIComponent(document.referrer)+'&u='+encodeURIComponent(window.location.href);
  var trackcmp_s = document.getElementsByTagName("script");
  if (trackcmp_s.length) {
  trackcmp_s[0].parentNode.appendChild(trackcmp);
  } else {
  var trackcmp_h = document.getElementsByTagName("head");
  trackcmp_h.length && trackcmp_h[0].appendChild(trackcmp);
  }
  </script>

<script type="text/javascript">
  (function(d, m){
       let o = {"appId":"kommunicate-support","isAnonymousChat":true,"agentId":"devashish@kommunicate.io","groupName":"Kommunicate Support","baseUrl":'{% if jekyll.environment == "production" %} {{site.dashboard.supportChatBaseUrlProd}}{% else %}{{site.dashboard.supportChatBaseUrlTest}}{% endif %}'};
       let s = document.createElement("script");
       s.type = "text/javascript";
       s.async = true;
       s.src = '{% if jekyll.environment == "production" %} {{site.dashboard.supportSourceUrlProd}}{% else %}{{site.dashboard.supportSourceUrlTest}}{% endif %}';
       let h = document.getElementsByTagName("head")[0];
       h.appendChild(s);
       window.kommunicate = m;
       m._globals = o;
     })(document, window.kommunicate || {});
</script>