<!-- Bootstrap Core CSS -->
<!-- <meta property="og:image"
      content="{{site.staticPath}}/images/fast_easy.png" />
<meta name="msvalidate.01" content="638CEDBA756009F79A71CE98B8700EC8" />
<meta name='yandex-verification' content='609adb296bd5e179' /> -->

<link rel="shortcut icon"
      type="image/png"
      href="/favicon.png" />

<!-- Custom Fonts -->

<!-- Plugin CSS -->
<!-- Custom CSS -->
<link rel="stylesheet" type="text/css" href="/assets/resources/css/bootstrap/bootstrap.min.css" />
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
<link rel="stylesheet" type='text/css' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
<!-- <link rel="stylesheet" type="text/css" href="/assets/resources/css/base-custom-style.min.css" /> -->
<!-- <link rel="stylesheet" type="text/css" href="/assets/resources/css/homepage.css" /> -->

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<!-- <script src="//cdn.optimizely.com/js/4918082723.js"></script> -->

<script type="text/javascript" src="/assets/resources/js/jquery/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/assets/resources/js/bootstrap/bootstrap.min.js"></script>
<!-- <script type="text/javascript">
    var $zoho= $zoho || {salesiq:{values:{},ready:function(){}}};var d=document;s=d.createElement("script");s.type="text/javascript";
    s.defer=true;s.src="https://salesiq.zoho.com/applozicinc/float.ls?embedname=applozicinc";
    t=d.getElementsByTagName("script")[0];t.parentNode.insertBefore(s,t);
    $zoho.salesiq.ready=function(embedinfo){$zoho.salesiq.floatbutton.visible("hide");}
</script> -->
