
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="theme-color" content="#5d5ca8">

<link rel="canonical" href="https://www.kommunicate.io" />

<script src="//cdn.optimizely.com/js/10196233858.js"></script>
<!-- Custom Fonts -->

<!-- Plugin CSS -->
<!-- Custom CSS -->
<link rel="stylesheet" type="text/css" href="/assets/resources/css/bootstrap/bootstrap.min.css" />
<link href="https://fonts.googleapis.com/css?family=Muli:100,300,400,500,700" rel="stylesheet">
<link rel="stylesheet" type='text/css' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link rel="stylesheet" type='text/css' href="/assets/resources/css/common-css.css"/>


<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->


<script type="text/javascript" src="/assets/resources/js/jquery/jquery-3.2.1.min.js"></script> 
<script type="text/javascript" src="/assets/resources/js/bootstrap/bootstrap.min.js"></script>
<!-- <script type="text/javascript" src="/assets/resources/js/jquery-bootstrap.js"></script>  -->
<!-- <script type="text/javascript" src="/assets/resources/js/bootstrap/bootstrap.min.js"></script> -->

