<!--
<section class="signup-section page-block-sec" id="signup-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 bg-white br-10 signup-box">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 text-center mb-20">
                        <h3 class="register-box-title"><span class="c-darkgreen">SIGNUP</span> FOR FREE!</h3> </div>
                    
                    <div class="col-lg-12 col-md-12 col-sm-12 third-party-box text-center ph35">
                        <div class="heading-base-line text-center">
							<span class="dot"><i class="fa-x fa fa-circle"></i></span>
						</div>
						<div class="row form-group">
							<div class="col-lg-6 col-sm-6 col-xs-12">
								<a id="lw-google" href="{{site.dashboard}}/oauth/login/google"
									onclick="_gaq.push(['_trackEvent', 'Click', 'Register with Google', 'From_Signup_Page']);"
									class="btn btn-sm btn-google btn-third-party btn-footer-signup"> <i
									class="fa fa-google-plus"></i> <span class="text">Google</span>
								</a>
							</div>


							<div class="col-lg-6 col-sm-6 col-xs-12">
								<a id="lw-github" href="{{site.dashboard}}/oauth/login/github"
									onclick="_gaq.push(['_trackEvent', 'Click', 'Register with GitHub', 'From_Signup_Page']);"
									class="btn btn-sm btn-github btn-third-party btn-footer-signup"> <i
									class="fa fa-github"></i> <span class="text">GitHub</span>
								</a>
							</div>
						</div>
						<div class="row form-group">
							<div class="col-lg-6 col-sm-6 col-xs-12">
								<a id="lw-facebook" href="{{site.dashboard}}/oauth/login/facebook"
									onclick="_gaq.push(['_trackEvent', 'Click', 'Register with Facebook', 'From_Signup_Page']);"
									class="btn btn-sm btn-facebook btn-third-party btn-footer-signup"> <i
									class="fa fa-facebook-official"></i> <span class="text">Facebook</span>
								</a>
							</div>
							<div class="col-lg-6 col-sm-6 col-xs-12">
								<a id="lw-linkedin" href="{{site.dashboard}}/oauth/login/linkedin"
									onclick="_gaq.push(['_trackEvent', 'Click', 'Register with LinkedIn', 'From_Signup_Page']);"
									class="btn btn-sm btn-linkedin btn-third-party btn-footer-signup"> <i
									class="fa fa-linkedin"></i> <span class="text">LinkedIn</span>
								</a>
							</div>
						</div>
						<div class="heading-base-line text-center">
							<span class="dot"><i class="fa-x fa fa-circle"></i></span>
						</div>
                        </div>
                    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                        <form id="register-form" class="register-form form-horizontal">
                            <div class="form-group">
                                <input type="text" class="form-control" id="userName" name="userName" placeholder="Name" required=""> </div>
                            <div class="form-group">
                                <input type="email" class="form-control" id="userId" name="userId" placeholder="Email Address" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,10}$" required=""> </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="userPassword" name="userPassword" placeholder="Password (minimum 6 characters)" required=""> </div>
                            <div class="form-group">
                                <label class="form-group-label"><input type="checkbox" class="form-group-checkbox" id="applozicCare" name="applozicCare" value="true"> Subscribe to <a href="/care.html" onclick="window.open('care.html', 'newwindow', 'width=768, height=600'); return false;">Applozic Care Program. </a><i class="fa-x fa fa-question-circle care-tooltip" data-toggle="tooltip" data-html="true" data-placement="right auto" title="<ul>
                                    <li>Helping hands for integration</li>
                                    <li>Exclusive support over Skype/Hangouts/Phone</li>
                                    <li>Help you customise the Chat SDK for genuine requirements</li>
                                    </ul>"></label>
                                </div>
                            <div class="form-group hide">
                                <input type="password" class="form-control" id="userConfirmPassword" name="userConfirmPassword" placeholder="Confirm password"> </div>
                            <div id="register-error" class="form-group response text-center hide"></div>
                            <div id="register-spinner" class="form-group text-center hide"> <i class="fa fa-spin fa-spinner fa-lg"></i> </div>
                            <div class="form-group">
                                <button id="register-submit" type="submit" class="btn btn-green pd-12 w-full btn-footer-signup" onclick="ga('send','event','Homepage','SignUp','Footer',1,{'nonInteraction': true});"> <strong>CREATE MY FREE ACCOUNT</strong> </button>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="clearfix cus-acc">
                            <p class="link-helper mb-15 text-center"> Already have an Account? <a id="signin-link" class="signin-link c-darkgreen" href="{{site.dashboard}}/signin.html">Sign in</a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
});
</script>
-->
    
<section id="signup-section-new" class="signup-section signup-section-new page-block-sec bg-silver" style="background-color: rgba(0,83,110,1);">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 br-ddd">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
                        <p class="mb-20 new-signup-text">Try Applozic for Free!</p>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 get-started-free get-started-free-trial-new-signup"> <a class="ref-signup btn-custom btn-custom-signup-new" href="https://dashboard.applozic.com/signup.html" onclick="ga('send','event','Homepage','SignUp','Footer',1,{'nonInteraction': true});">Start your Free Trial</a> </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
                        <div class="row">
                            <p class="mb-20 new-signup-text">1-1 Consulting for Custom Requirements</p>
                        </div>
                    </div>  
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 get-started-free get-started-free-trial-new-contactus"> <a class="ref-signup btn-custom btn-custom-signup-new-contactus" href="https://calendly.com/applozic/custom-request-meeting" onclick="ga('send','event','Homepage','ContactUs','Footer',1,{'nonInteraction': true});" target="_blank">Contact Us</a> </div>
                </div>
            </div>
        </div>
    </div>
</section>