//Keyframes
@keyframes slideDown {
	0% {
        opacity: 0;
        transform: translateY(2%);

    }
	100% {
        opacity: 1;
        transform: translateY(0);
	}		
}
@keyframes opacityAnim {
	0% {
        opacity: 0;
    }
	100% {
        opacity: 1;
	}		
}

//Animation Classes
.animated{
    animation-duration: 1s;	
    -webkit-animation-duration: 1s;    
    animation-timing-function: ease;	
    -webkit-animation-timing-function: ease;	
    backface-visibility: visible;
}
.animated-fast{
    animation-duration: .3s;	
    -webkit-animation-duration: .3s;    
    animation-timing-function: ease;	
    -webkit-animation-timing-function: ease;	
    backface-visibility: visible;
}
.slide-animated{
    animation-name: slideDown;
    -webkit-animation-name: slideDown;	
}
.opacity-animated{
    animation-name: opacityAnim;
    -webkit-animation-name: opacityAnim;	
}

@keyframes searchbarLoading{
    0%{
        background-color: rgba(111,111,111, 1);
        box-shadow: 12px 0px 0px 0px rgba(111,111,111,0.2), 
                    24px 0px 0px 0px rgba(111,111,111,0.2);
      }
    50%{ 
        background-color: rgba(111,111,111, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(111,111,111,2), 
                    24px 0px 0px 0px rgba(111,111,111,0.2);
    }
    100%{ background-color: rgba(111,111,111, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(111,111,111,0.2), 
                    24px 0px 0px 0px rgba(111,111,111,1);
      }
 }