//Keyframes
@keyframes slideDown {
	0% {
        opacity: 0;
        transform: translateY(1%);

    }
	100% {
        opacity: 1;
        transform: translateY(0);
	}		
}
@keyframes opacityAnim {
	0% {
        opacity: 0;
    }
	100% {
        opacity: 1;
	}		
}

//Animation Classes
.animated{
    animation-duration: 1s;	
    -webkit-animation-duration: 1s;    
    animation-timing-function: ease;	
    -webkit-animation-timing-function: ease;	
    backface-visibility: visible;
}
.slide-animated{
    animation-name: slideDown;
    -webkit-animation-name: slideDown;	
}
.opacity-animated{
    animation-name: opacityAnim;
    -webkit-animation-name: opacityAnim;	
}
