//Cloud animation 

@-webkit-keyframes animateCloud {
    0% {
        margin-left: -1300px;
    }
    100% {
        margin-left: 100%;
    }
}

@-moz-keyframes animateCloud {
    0% {
        margin-left: -1300px;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes animateCloud {
    0% {
        margin-left: -1300px;
    }
    100% {
        margin-left: 100%;
    }
}

.cloudAnim1 {
	-webkit-animation: animateCloud 45s linear infinite;
	-moz-animation: animateCloud 45s linear infinite;
	animation: animateCloud 45s linear infinite;
	
	-webkit-transform: scale(0.35);
	-moz-transform: scale(0.35);
	transform: scale(0.35);
}

.cloudAnim2 {
	-webkit-animation: animateCloud 26s linear infinite;
	-moz-animation: animateCloud 26s linear infinite;
	animation: animateCloud 26s linear infinite;
	
	-webkit-transform: scale(0.35);
	-moz-transform: scale(0.35);
	transform: scale(0.35);
}

.cloudAnim3 {
	-webkit-animation: animateCloud 30s linear infinite;
	-moz-animation: animateCloud 30s linear infinite;
	animation: animateCloud 30s linear infinite;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.cloudAnim4 {
	-webkit-animation: animateCloud 18s linear infinite;
	-moz-animation: animateCloud 18s linear infinite;
	animation: animateCloud 18s linear infinite;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.cloudAnim5 {
	-webkit-animation: animateCloud 35s linear infinite;
	-moz-animation: animateCloud 35s linear infinite;
	animation: animateCloud 35s linear infinite;
	
	-webkit-transform: scale(0.36);
	-moz-transform: scale(0.36);
	transform: scale(0.36);
}

