.book {
    position: absolute;
    width: 150px;
    height: 100px;
    border: 4px solid #d8d8d8;
    box-sizing: border-box;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-100%)
}

.book-con {
    position: absolute;
    top: -4px;
    right: -4px;
    width: calc(54%);
    height: 108%;
    border: inherit;
    border-radius: inherit;
    transform-style: preserve-3d;
    transform-origin: 0 0 0;
    animation: page-fill 1.5s linear infinite;
    background: #fff;
}

.book-list {
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    border: inherit;
    border-width: 3px;
    border-radius: inherit;
    background: purple;
    animation: list-1 1.5s linear infinite;
    transform-origin: left;
    transform: scaleX(0);
}

.book-list:nth-child(2) {
    animation: list-2 1.5s linear infinite;
}

.book-list:nth-child(3) {
    animation: list-3 1.5s linear infinite;
}

.book-list:nth-child(4) {
    animation: list-4 1.5s linear infinite;
}

.book-list:nth-child(5) {
    animation: list-5 1.5s linear infinite;
}
h1.book-loading-text {

    color: #666666;
    text-align: center;
    font-size: 20px;
    position: absolute;
    top: 52%;
    width: 100%;
    &:after {
        position: absolute;
        content: "";
        -webkit-animation: Dots 1s cubic-bezier(0, .39, 1, .68) infinite;
        animation: Dots 1s cubic-bezier(0, .39, 1, .68) infinite;
    }
}




@keyframes page-fill {
    50% {
        transform: rotateY(0) translateX(0) skewY(0deg)
    }

    65% {
        transform: rotateY(-90deg) translateX(-2px) skewY(-20deg)
    }

    80%,
    100% {
        transform: rotateY(-180deg) translateX(-4px) skewY(0deg)
    }
}

@keyframes list-1 {

    10%,
    100% {
        transform: scaleX(1)
    }
}

@keyframes list-2 {
    10% {
        transform: scaleX(0)
    }

    20%,
    100% {
        transform: scaleX(1)
    }
}

@keyframes list-3 {
    20% {
        transform: scaleX(0)
    }

    30%,
    100% {
        transform: scaleX(1)
    }
}

@keyframes list-4 {
    30% {
        transform: scaleX(0)
    }

    40%,
    100% {
        transform: scaleX(1)
    }
}

@keyframes list-5 {
    40% {
        transform: scaleX(0)
    }

    50%,
    100% {
        transform: scaleX(1)
    }
}


/* Dots */

@-webkit-keyframes Dots {
    0% {
      content: "";
    }
    33% {
      content: ".";
    }
    66% {
      content: "..";
    }
    100% {
      content: "...";
    }
  }
  
  @keyframes Dots {
    0% {
      content: "";
    }
    33% {
      content: ".";
    }
    66% {
      content: "..";
    }
    100% {
      content: "...";
    }
  }