// All the variables will be defined here, whatever css values that will be used throughout the project multiple must be placed here and then called upon.

//Use camel case for naming variables, avoid using "-" and Pascal case

//Colors
$kommunicatePrimary : #5553b7;
$applozicPrimary : #03b49b;

$buttonTextColor: #fff;
$ctaButtonBackground:#2dd35c;

//Typography
$fontFamily : 'Lato', sans-serif;
$fontLight: 300;
$fontNormal: 400;
$fontBold: 700;
$fontBolder: 900;

$buttonFontSize: 16px;
$faqListContentFontSize: 18px;
$faqListTitleFontSize: 21px;

$HelpcenterHeadingFontSize: 45px;
$HelpcenterHeadingFontColor: #fff;


//Margins and Paddings

//Misc.
$boxShadowHeader :  0 4px 6px 0 rgba(0, 0, 0, 0.3);
$borderRadius: 4px;

$faqListBoxBg:  #fff;

