/* Individual wave layers */

.wave_1 {
    animation-name: wave_1;
    animation-duration: 3400ms;
    animation-delay: -1200ms;
    top: -1.0em;
    z-index: 1;
    opacity: 0.10;
    background-image: url('/assets/svg/wave1.svg');
    background-position: bottom left;   
}

.wave_2 {
    animation-name: wave_2;
    animation-duration: 3200ms;
    animation-delay: -600ms;
    top: -2.0em;
    z-index: 2;
    opacity: 0.25;
    background-image: url('/assets/svg/wave2.svg');
    background-position: bottom right;
}

.wave_3 {
    animation-name: wave_3;
    animation-duration: 2800ms;
    animation-delay: -2400ms;
    top: -3.0em;
    z-index: 3;
    opacity: 0.5;
    background-image: url('/assets/svg/wave3.svg');
    background-position: bottom center;
}

.wave_4 {
    animation-name: wave_4;
    animation-duration: 2600ms;
    animation-delay: -1800ms;
    top: -4.0em;
    z-index: 4;
    opacity: 0.3;
    background-image: url('/assets/svg/wave4.svg');
    background-position: bottom left;
}

.wave_5 {
    animation-name: wave_5;
    animation-duration: 3000ms;
    animation-delay: -3000ms;
    top: -5.0em;
    z-index: 5;
    opacity: 0.4;
    background-image: url('/assets/svg/wave5.svg');
    background-position: bottom right;
}

.fourOne{
    animation-name: wave_4;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.fourTwo{
    animation-name: wave_2;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.fourThree{
    animation-name: wave_1;
    animation-duration: 6000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* Wave animations */

@keyframes wave_1 {
    from {
        transform: rotate(0deg) translatey(-0.61em) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translatey(-0.61em) rotate(-360deg);
    }
}

@keyframes wave_2 {
    from {
        transform: rotate(0deg) translatey(-0.77em) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translatey(-0.77em) rotate(-360deg);
    }
}

@keyframes wave_3 {
    from {
        transform: rotate(0deg) translatey(-0.96em) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translatey(-0.96em) rotate(-360deg);
    }
}

@keyframes wave_4 {
    from {
        transform: rotate(0deg) translatey(-1.2em) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translatey(-1.2em) rotate(-360deg);
    }
}

@keyframes wave_5 {
    from {
        transform: rotate(0deg) translatey(-1.5em) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translatey(-1.5em) rotate(-360deg);
    }
}
