@import './reset';
@import './variables';
@import './animations';
@import './scrollbar';
@import './faqThemingSupport';
@import './cloudsAnim';
@import './wavesAnim';

body {
    font-family: $fontFamily;
    background-color: $helpcenterDefaultBackground;
}

//Fix for jumping webpage because of scrollbar
html {
    overflow-y: scroll;
}


