.info-bar-container {
    padding: 15px;
    border-radius: 2px;
    background-color: #cce7f8;
    margin-bottom: 40px;
    margin-top: -30px;
}

.info-bar-text {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    ;
    letter-spacing: 0.7px;
    text-align: left;
    color: #6a6b6d;
    margin: 0px;
}

.current-plan-container {
    border-bottom: 1px solid #dedede;
    margin-top: 40px;
    padding-bottom: 15px;
}

.current-plan-container .col-md-6,
.active-plan-container .col-md-6 {
    padding: 0;
}

.current-plan-details-text {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    ;
    letter-spacing: 1.2px;
    text-align: left;
    color: #515050;
    margin: 0px;
}

.change-plan-btn, .next-step-btn, .cancel-step-btn {
    margin-left: 20px;
}

.active-plan-container {
    margin: 20px 0px;
    align-items: flex-start;
}

.active-plan-container img {
    width: 70px;
    height: auto;
}

.active-plan-details {
    align-items: flex-start;
    margin-left: 15px;
}

.active-plan-name {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1.2px;
    text-align: left;
    color: #515050;
    margin: 0px;
}

.active-plan-mau {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1.1px;
    /* text-align: left; */
    color: #868383;
    margin-bottom: 8px;
    margin-top: 6px;
}

.see-plan-details {
    background: transparent;
    color: #5c5aa7;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin-top: 10px;
}

.see-plan-details:hover,
.see-plan-details:focus {
    background: transparent;
    color: rgba(93, 90, 167, 0.8);
    font-size: 15px;
    font-weight: 400;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-decoration: underline;
}

.active-plan-pricing-text {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1.2px;
    color: #515050;
}

.active-plan-more-details {
    margin-top: 20px;
    padding: 0;
}

.active-plan-feature-list {
    -moz-column-width: 20em;
    -webkit-column-width: 20em;
    column-width: 20em;
    padding: 0 24px 0 30px;
    margin: 25px auto;
}

.active-plan-feature-list ul {
    list-style: none;
}

.active-plan-feature-list ul li {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1.1px;
    text-align: left;
    color: #6a6868;
    margin-bottom: 15px;
}

.change-plan-text {
    width: 100%;
    padding-left: 20px;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.3px;
    text-align: left;
    color: #6c6a6a;
}

.change-plan-text+hr {
    width: 100%;
}

.Modal-overlay-0-1-1 {
    top: 55px !important;
}

.Modal-modal-0-1-3 {
    max-width: 950px !important;
}

.monthly-yearly-select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 5px 15px;
    width: 100%;
    border-radius: 2px;
}
.select-container {
    width: 150px;
    float: right;
    position: relative;
    margin-top: 4px;
}
.select-container:hover, .select-container:active {
    outline: none;
}
.select-container::after {
    content: "\276F";
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    right: 15px;
    font-size: 14px;
}
.info-bar--error {
    background-color: #e45d6c;
}
.info-bar--error .info-bar-text {
    color: #fff;
}




/* Pricing table Design */

.pricing-table {
    position: relative;
    margin-bottom: 30px;
}

.pricing-table-container {
    border-radius: 5px;
    padding: 15px 9px 25px;
    border-radius: 3px;
    background-color: #fcfcfc;

}

.pricing-table-header {
    /* border-bottom: 1px solid #dddcff;; */
}

.pricing-table-plan-title {
    margin-top: 25px;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.9px;
    color: #554d56;
    text-transform: uppercase;
}
.pricing-table-plan-subtitle {
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    letter-spacing: 0.3px;
    color: #1fbb66;
}
.enterprise .price-image-container {
    margin-bottom: 19px;
    margin-top: 25px;
}
.pricing-value {
    margin-top: 45px;
}
.launch .pricing-value h2, .startup .pricing-value h2 {
    font-size: 38px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.47;
    letter-spacing: 2px;
    text-align: center;
    color: #4a4a4a;
}
.launch .pricing-value h2 sup, .startup .pricing-value h2 sup {
    font-size: 18px;
    top: -14px;
    font-weight: normal;
}
.enterprise .pricing-value h2 {
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.47;
    letter-spacing: 2px;
    text-align: center;
    color: #4a4a4a;
}
.price-image-container svg {
    width: auto;
    height: 120px;
}

.price-image-container img {
    width: auto;
    height: 70px;
}

.price-mau h4 {
    font-weight: 600;
    font-size: 16px;
}

.pricing-table-body {}

.pricing-table-body-header {
    /* background-color: #dddcff; */
    margin: 0px -10px 10px;
    padding: 10px 0px 20px;
}

.pricing-value h2 {
    color: #5C5AA7;
    margin-top: 10px;
    font-size: 25px;
    /* font-weight: 400; */
}

.pricing-value .yearly-pricing {
    color: #5C5AA7;
    margin-top: 10px;
    font-size: 42px;
}

.per-month-span {
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    letter-spacing: 0.5px;
    color: #9b979b;
}

.pricing-table-body-footer {
    padding-left: 5px;
    padding-right: 5px;
}

.pricing-table-body-footer p {
    font-style: italic;
    font-weight: 400;
}

.pricing-table-body-footer ul {
    text-align: left;
    margin: 20px 0px;
    padding: 0;
    list-style-image: url(./img/checkmark.svg);
}

.pricing-table-body-footer ul li {
    margin-left: 25px;
    line-height: 25px;
    margin-bottom: 12px;
}

.enterprise .pricing-table-body-footer {
    padding: 0px
}
.enterprise .pricing-table-body-footer p {
    margin-right: -5px;
    margin-left: -5px;
}

.pricing-table-footer {
    padding-left: 10px;
    padding-right: 10px;
}

.pricing-footer-signup-btn {
    border-radius: 4px !important;
    display: block !important;
    font-size: 16px !important;
    background-color: #5C5AA7 !important;
    transition: all 0.3s ease-out;
}

.pricing-footer-signup-btn:hover {
    color: #fff;
}

.schedule-demo-links {
    margin-top: 10px;
    display: block;
    font-size: 15px;
    color: #5c5aa7;
    font-weight: 400;
    text-decoration: none;
}

.launch .pricing-table-body-footer ul {
    margin-bottom:41px;
}
.growth .pricing-table-body-footer ul {
    margin-bottom: 36px;
}
.startup .pricing-table-body-footer ul {
    margin-bottom: 226px;
}
.enterprise .pricing-table-body-footer ul {
    margin-bottom: 41px;
}

.plan-breif-container span {
    border-radius: 2px;
    background-color: #cce7f8;
    font-size: 13px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.6px;    color: #282928;
    padding: 3px 10px;
}
.plan-agent-details {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.8px;
    color: #565356;
    margin-bottom: 30px;
}
.plan-agent-details.upgrade-text {
    font-size: 17px;
    margin-bottom: 0px;
}

.billings-section .km-button {
    text-transform: uppercase;
}

/* Pricing Toggle */

.pricing-toggle {
    width: 100%;
    margin-bottom: 20px;
}

.toggle,
.toggler {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}

.toggler {
    color: #706c6c;
    transition: .2s;
    font-weight: normal;
    font-size: 16px;
    cursor: pointer;
    padding: 4px 20px;
    border-radius: 18px;
    transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition-property: left, right;
    transition-delay: .08s, 0s;
}

.toggler--is-active {
    background-color: #5C5AA7;
    color: #fff;
    border-radius: 18px;
    padding: 4px 20px;
}
.toggler > span {
    color: #1fbb66;
}
.toggler--is-active > span {
    color: #fff
}

.b {
    display: block;
}

.toggle {
    position: relative;
    width: 80px;
    height: 35px;
    border-radius: 100px;
    background-color: #5C5AA7;
    overflow: hidden;
    box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.05);
}

.check {
    position: absolute;
    display: block;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 6;
}

.check:checked~.switch {
    right: 2px;
    left: 57.5%;
    transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition-property: left, right;
    transition-delay: .08s, 0s;
}

.switch {
    position: absolute;
    left: 2px;
    top: 2px;
    bottom: 2px;
    right: 57.5%;
    background-color: #fff;
    border-radius: 36px;
    z-index: 0;
    transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition-property: left, right;
    transition-delay: 0s, .08s;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}



.close-modal-btn {
    appearance: none;
    -webkit-appearance: none;
    position: absolute;
    right: 10px;
    background: transparent;
    box-shadow: none;
    outline: none;
    border: none;
}

.radio-btn-container {
    width: 100%;
    margin-top: 40px;
}
.radio-btn-container form {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.radio-button-container {
    margin-bottom: 0px;
}
.radiobutton .checkmark {
    top: 10px;
}
.radio-content-container {
    margin-left: 40px
}
.monthly-radio-btn {
    margin-left: 20px;
}
.radio-content-container h3 {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1.2px;
    text-align: left;
    color: #515050;
}
.radio-content-container p {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1.2px;
    text-align: left;
    color: #7e7c7c;
    margin-bottom: 0px;
}


/* FAQ Section in billings page */
.billings-faq-question, .billings-faq-answer {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.5px;
}
.billings-faq-question {
    color: #222122;
    margin-bottom: 10px; 
}
.billings-faq-answer {
    color: #9e9b9b;
    letter-spacing: .5px;
    margin-top: 0;
    margin-bottom: 30px;
}
.billings-faq-answer a {
    color: #4831d9;
    text-decoration: none;
}
.billings-faq-answer a:not([href]):not([tabindex]) {
    color: #4831d9;
    cursor: pointer;
}

/* Subscribe Success Error */
.subscribe-success-error-container {
    width: 100%;
    position: relative;
    padding: 25px 10px;
    border: dashed 2px #c5c5c5;
    border-radius: 4px;
}
.subscribe-success-error-text {
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #383939;
    margin-top: 20px;
}
.subscribe-success-error-container .close-modal-btn svg {
    margin-bottom: -5px;
    width: 20px;
    height: 20px;
    margin-left: 5px;
}
.subscribe-success-error-container .close-modal-btn {
    opacity: 0.5;
    top: 5px;
    right: 0px;
}

.price-image-container svg {
    width: auto;
    height: 90px;
}
.enterprise .price-image-container {
    margin-bottom: 33px;
    margin-top: 35px;
}

.ReactModal__Content {
    opacity: 0;
}

.ReactModal__Content--after-open {
    opacity: 1;
    transition: opacity 150ms;
}

.ReactModal__Content--before-close {
    opacity: 0;
}


.seat-selection-modal--header h2, .buy-free-plan-modal--header h2 {
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.3px;
    color: #6c6a6a;
}
.seat-selection-modal--header > hr, .buy-free-plan-modal--header > hr {
    margin: 15px -20px;
}
.seat-selector-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: -20px;
}
.seat-selector--text p, .amount-payable-container p:first-child, .renewal-date-container p:first-child {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    ;
    letter-spacing: 0.5px;
    color: #4a4d4b;
    min-width: 150px;
}
.seat-selector--text p {
    margin-top: 10px;
    color: #171817;
}
.seat-selector--input {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #c2bfbf;
    border-radius: 3px;
}
.seat-selector--input.warning {
    border: solid 1px #deb752;
}
.seat-selector--input input {
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    ;
    letter-spacing: 0.8px;
    color: #474947;
    padding: 0;
    max-width: 100px;
    border: none;
    outline: none;
}
.seat-selector--input input:focus, .seat-selector--input input:active, .seat-selector--input input:focus-within {
    border: none;
    outline: none;
}
.seat-selector--input .seat-selector--input_increment, .seat-selector--input .seat-selector--input_decrement  {
    font-size: 26px;
    font-weight: 500;
    min-width: 20px;
    text-align: center;
    cursor: pointer;
}
.seat-selector--input .seat-selector--input_increment {
    font-size: 16px;
}

.amount-payable-container p:last-child, .renewal-date-container p:last-child {
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    ;
    letter-spacing: 0.7px;
    color: #000000;
}
.amount-payable-container p:last-child>span {
    font-size: 13px;
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    ;
    letter-spacing: 0.6px;
    color: #3f4241;
    border-radius: 2px;
    background-color: rgba(34, 214, 115, 0.36);
    padding: 3px 6px;
    margin-left: 25px;
}

.seat-selection-modal--body hr {
    border: none;
    border-top: dashed 1px #a5b0bd;
    margin: 15px 0px 35px; 
}

.seat-selection-modal--footer, .buy-free-plan-modal--footer  {
    margin-top: 20px;
}
.seat-selection-modal--footer button, .buy-free-plan-modal--footer button  {
    margin-left: 20px;
}

.buy-free-plan-modal--header h2 span {
    color: #aeaeae;
}

.buy-free-plan-modal--body p {
    font-size: 15px;
    line-height: 1.27;
    letter-spacing: 0.6px;
    color: #5a5b5c;
}
.buy-free-plan-modal--body p span {
    font-weight: 500;
    color: #323334;
}

/* Subscription-success-warning desgin */
.subscription-complete-container {
    padding-bottom: 20px;
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 0px;
    max-width: 1098px;
}
.subscription-current-plan-container, .subscription-success-checkmark, .subscription-success-purchased-plan-name, .subscription-success-purchased-plan-billing, .subscription-current-plan-warning-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.subscription-current-plan-container {
    align-items: flex-start;
}
.subscription-success-checkmark {
    margin-right: 20px;
}
.subscription-success-purchased-plan-name p:first-child, .subscription-success-purchased-plan-name p:last-child, .subscription-success-purchased-plan-billing p:first-child, .subscription-success-purchased-plan-billing p:last-child {
    font-size: 18px;
    letter-spacing: 0.9px;
    color: #121212;
    margin-bottom: 7px;
}
.subscription-success-purchased-plan-name p:first-child,  .subscription-success-purchased-plan-billing p:first-child {
    min-width: 125px;
}
.subscription-success-purchased-plan-name p:last-child span {
    border-radius: 2px;
    background-color: rgba(204, 231, 248, 0.7);
    padding: 3px 12px;
    text-transform: uppercase
}
.subscription-success-purchased-plan-billing p:last-child {
    color: #8c8989;
}
.subscription-success-purchased-plan-billing p:last-child strong {
    color: #2d2b2b;
    font-weight: 500;
}

.subscription-success-purchased-plan-billing p {
    margin-bottom: 7px;
}

.subscription-success-purchased-plan-billing p {
    margin-bottom: 7px;
}

#chargebee-portal {
    color: #5553b7;
}

.subscription-current-plan-warning-container {
    align-items: flex-start;
    background-color: #f9f9f9;
    padding: 35px;
    margin: 25px 0px;
}
.subscription-warning-icon {
    margin-right: 40px;
}
.subscription-current-plan-warning-container p:first-child {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.4px;
    color: #333434;
}
.subscription-current-plan-warning-container p:last-child, .subscription-add-delete-agent-text {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: #858687;
    margin-bottom: 0px;
}
.subscription-add-delete-agent-text {
    font-size: 16px;
    letter-spacing: 0.4px;
    color: #8a8686;
}
.subscription-add-delete-agent-text strong{
    color: #2d2b2b;
    font-weight: 500;
}
.subscription-current-plan-warning-container p:last-child > a, .subscription-add-delete-agent-text a {
    color: #4831d9;
}

.pricing-table-body button:disabled {
    height: 30px;
    border-radius: 0;
    background-color: #e8e8e8;
    color: #908e8e;
    margin: 6px 0px 0px;
    border: none;
}

.info-detail-container p {
    font-size: 15px;
    line-height: 1.43;
    letter-spacing: 0.4px;
    color: #505152;
    margin-bottom: 0px;
}
.info-detail-container p:last-child {
    margin-bottom: 8px;
}
.info-detail-container p>strong {
    font-weight: 500;
    color: #000;
}  
.info-detail-container p>strong>span {
    text-transform: uppercase;
}  

.km-display-none {
    display: none !important;
}
.pricing-container-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.km-pricing-toggle-heading{
    font-size: 18px;
    padding: 15px 0;
    margin-top: -10px;
}
.subscription-success-purchased-plan-billing-actions{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 125px;
}
.subscription-success-purchased-plan-billing-actions p{
    margin-right: 20px;
    font-size: 15px;
}
.subscription-success-purchased-plan-billing-actions p a{
    color:#5553b7;
}
.km-startup-plan-billing-info span:first-child{
    font-size: 18px;
    margin-bottom: 5px;
    color: #4e4e4f;
    display: block;
    padding-bottom: 10px;
}
.km-startup-plan-billing-info span:nth-child(2){
    font-size: 16px;
    color: #969797;
}
p.km-startup-plan-billing-info {
    width: 100%;
    max-width: 1098px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 25px;
}
.km-missing-out{
    display: flex;
    width: 586px;
    background: #ebebeb;
    flex-wrap: wrap;
    padding:15px;
    border-radius: 4px;
}
.km-missing-out p{
    font-size: 14px;
    color: #000000;
    width: 100%;
    margin: 3px 0 9px 6px;
    font-weight: 500;
}
.km-missing-out-info{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
}
.km-missing-out-img{
    margin-right: 6px;
    padding-top: 5px;
}
.km-free-plan-modal-text{
    padding: 12px 0px 28px;
    width: 90%;
    font-size: 14px;
    color: #535554;
    font-weight: 400;
    margin-left: 0px;
}
.km-free-plan-link{
    color: #5553b7;
    font-weight: 500;
}

.seat-selector--counts-container, .seat-selector-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.seat-selector--counts-container {
    padding-right: 42px;
}
.seat-selector--counts-container div:last-child {
    font-size: 16px;
    letter-spacing: 0.8px;
    color: #474947;
    min-width: 20px;
    text-align: center;
}