*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; }

html {
  font-size: 62.5%; }
  @media (max-width: 1400px) and (min-width: 1200px) {
    html {
      font-size: 52%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  background: #fff;
  margin: 0 auto;
  overflow-x: hidden; }

.container {
  display: block;
  max-width: 140rem;
  margin: 0 auto;
  position: relative;
  padding: 1rem 2rem; }

@keyframes move-in-left {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes move-in-right {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes fade-in-top {
  0% {
    transform: translateY(3rem);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

body {
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #777;
  box-sizing: border-box; }

.main {
  width: 100%;
  flex: 0 0 100%; }
  .main_heading {
    font-size: 3.6rem;
    text-align: center;
    color: #4c4c4c;
    font-weight: 600;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 6rem; }
    @media (max-width: 56.25em) {
      .main_heading {
        width: 90%; } }
  .main_underline {
    height: .4rem;
    width: 10rem;
    margin: 2rem auto 15rem auto;
    background: #9E0FFC; }

.u-center-text {
  text-align: center !important; }

.u-mb-big {
  margin-bottom: 8rem !important; }
  @media (max-width: 56.25em) {
    .u-mb-big {
      margin-bottom: 5rem !important; } }
  @media (max-width: 37.5em) {
    .u-mb-big {
      margin-bottom: 3rem !important; } }

.pb-big {
  padding-bottom: 200px; }

.u-mt-big {
  margin-top: 8rem !important; }
  @media (max-width: 56.25em) {
    .u-mt-big {
      margin-top: 5rem !important; } }
  @media (max-width: 56.25em) {
    .u-mt-big {
      margin-top: 3rem !important; } }

.u-mb-medium {
  margin-bottom: 4rem !important; }
  @media (max-width: 56.25em) {
    .u-mb-medium {
      margin-bottom: 3rem !important; } }
  @media (max-width: 37.5em) {
    .u-mb-medium {
      margin-bottom: 1.5rem !important; } }

.u-mt-medium {
  margin-top: 4rem !important; }
  @media (max-width: 56.25em) {
    .u-mt-medium {
      margin-top: 3rem !important; } }

.u-mb-small {
  margin-bottom: 2rem !important; }

.u-mt-small {
  margin-top: 2rem !important; }

.u-mt-big {
  margin-top: 8rem !important; }

.u-mt-huge {
  margin-top: 10rem !important; }

.button, .button:link, .button:visited {
  background: #2DD35C;
  color: #fff !important;
  border-radius: 4px !important;
  text-decoration: none;
  outline: none;
  appearance: none;
  border: none;
  padding: 1rem 4rem;
  font-size: 1.8rem;
  border-radius: 4px;
  transition: all .3s; }

.button:hover {
  cursor: pointer;
  background: #24a949; }

.button:active {
  transform: translateY(-1px);
  box-shadow: 0px 2px 3px 0.5px rgba(0, 0, 0, 0.3); }

.cta_form {
  display: flex;
  height: 6rem;
  align-items: center;
  justify-content: center;
  width: 60rem;
  margin: 0 auto; }
  @media (max-width: 56.25em) {
    .cta_form {
      flex-direction: column; } }
  @media (max-width: 37.5em) {
    .cta_form {
      max-width: 40rem; } }
  @media (max-width: 400px) {
    .cta_form {
      max-width: 32rem; } }

.cta_email {
  flex-basis: 65%; }
  @media (max-width: 56.25em) {
    .cta_email {
      display: none; } }

.cta_input {
  width: 100%;
  height: 6rem;
  background: none;
  font-size: 1.8rem;
  border: 1px solid black;
  color: #898484;
  border-right: 0;
  border-radius: 4px 0 0 4px;
  outline: none;
  padding: 1.7rem; }
  @media (max-width: 56.25em) {
    .cta_input {
      border-radius: 4px !important;
      border: 1px solid black !important;
      display: none; } }

.cta_mob-only {
  display: none;
  text-align: center; }
  @media (max-width: 56.25em) {
    .cta_mob-only {
      display: block !important; } }

.cta_submit {
  flex-basis: auto; }
  @media (max-width: 56.25em) {
    .cta_submit {
      flex-basis: 100%;
      width: 90%; } }

.cta_button {
  height: 6rem;
  width: 100%;
  border-radius: 0 4px 4px 0 !important; }
  @media (max-width: 56.25em) {
    .cta_button {
      display: none;
      border-radius: 4px !important; } }

.tab_heading {
  font-size: 4rem;
  line-height: 4.8rem;
  font-weight: 600;
  color: #676363; }
  @media (max-width: 56.25em) {
    .tab_heading {
      text-align: center; } }

.tab_title {
  display: none; }
  @media (max-width: 56.25em) {
    .tab_title {
      display: block;
      text-align: center;
      font-size: 3rem;
      color: #5C5AA7; } }

.tab_explore a {
  text-transform: uppercase;
  color: #2DD35C;
  text-decoration: none;
  font-size: 1.5rem;
  letter-spacing: .1rem; }

@media (max-width: 56.25em) {
  .tab_explore {
    text-align: center; } }

.tab_data {
  padding-top: 0rem;
  align-self: center;
  width: 70%;
  height: 70rem; }
  .tab_data .tabcontent {
    backface-visibility: hidden;
    animation: fade-in-top 1s;
    display: none; }
    .tab_data .tabcontent img {
      width: 100%;
      padding: 4rem 8rem 4rem 2rem; }
      @media (max-width: 56.25em) {
        .tab_data .tabcontent img {
          padding: 4rem 9rem; } }
      @media (max-width: 37.5em) {
        .tab_data .tabcontent img {
          padding: 1rem; } }
    .tab_data .tabcontent.active {
      display: block; }
  @media (max-width: 56.25em) {
    .tab_data {
      width: 100%;
      padding-top: 1rem;
      height: auto; } }

.tab_buttons {
  width: 30%;
  align-self: center;
  padding: 10rem 12rem 4rem 1rem; }
  .tab_buttons .tablink {
    color: #9a9696;
    font-weight: 600;
    background: none;
    cursor: pointer;
    display: block;
    outline: none;
    border: none;
    margin: .8rem 0;
    width: 30rem;
    font-size: 1.8rem;
    text-align: left;
    padding: 1.4rem 5rem 1.4rem 2.2rem;
    border-radius: 6px;
    transition: all .3s ease-in-out; }
    .tab_buttons .tablink.active {
      background-color: #D8ECF8;
      color: #333131;
      padding: 1.4rem 1.4rem 1.4rem .9em; }
    .tab_buttons .tablink:hover {
      background-color: #D8ECF8; }
    @media (max-width: 56.25em) {
      .tab_buttons .tablink {
        display: none; } }
  @media (max-width: 75em) {
    .tab_buttons {
      width: 40%;
      padding: 0;
      margin: 0 auto; } }
  @media (max-width: 56.25em) {
    .tab_buttons {
      width: 90%;
      padding: 0;
      margin: 0 auto; } }

.carousel {
  height: 35rem;
  width: 100%;
  margin: 0 auto;
  position: relative; }
  @media (max-width: 37.5em) {
    .carousel {
      height: 45rem; } }
  .carousel_control {
    width: 100%; }
    .carousel_control_left, .carousel_control_right {
      background: #fff;
      height: 10rem;
      background-repeat: no-repeat;
      width: 10rem;
      cursor: pointer;
      position: absolute;
      top: 48%;
      transform: translateY(-90%);
      font-size: 8rem;
      color: #9E0FFC;
      border-radius: 4px;
      transition: all .2s;
      z-index: 10; }
      .carousel_control_left:hover, .carousel_control_right:hover {
        transform: translateY(-90%) scale(1.2); }
      @media (max-width: 56.25em) {
        .carousel_control_left, .carousel_control_right {
          bottom: 100%;
          transform: translateY(160%); }
          .carousel_control_left:hover, .carousel_control_right:hover {
            transform: translateY(160%) scale(1.2); } }
      @media (max-width: 37.5em) {
        .carousel_control_left, .carousel_control_right {
          transform: translateY(160%); }
          .carousel_control_left:hover, .carousel_control_right:hover {
            transform: translateY(160%) scale(1.2); } }
    .carousel_control_left {
      background: url("../images/left-arrow.svg");
      left: 5%;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat; }
      @media (max-width: 75em) {
        .carousel_control_left {
          left: 0%; } }
      @media (max-width: 56.25em) {
        .carousel_control_left {
          top: 90%;
          left: 10%; } }
    .carousel_control_right {
      background: url("../images/right-arrow.svg");
      right: 5%;
      background-position: center;
      background-size: contain; }
      @media (max-width: 75em) {
        .carousel_control_right {
          right: 0%; } }
      @media (max-width: 56.25em) {
        .carousel_control_right {
          top: 90%;
          right: 10%; } }
  .carousel_content {
    position: relative;
    height: 35rem;
    width: 83rem;
    border-radius: 4px;
    margin: auto auto; }
    @media (max-width: 56.25em) {
      .carousel_content {
        width: 55rem; } }
    @media (max-width: 37.5em) {
      .carousel_content {
        width: 35rem;
        height: 50rem; } }
  .carousel_card {
    background: url(../images/quote.svg), white;
    background-size: 9%;
    background-repeat: no-repeat;
    background-position: 9% 12%;
    position: absolute;
    transition: all .4s;
    border-radius: 4px;
    box-shadow: 0 0 1rem 0.4rem rgba(156, 149, 149, 0.4);
    padding: 6.8rem 4rem 5rem 4rem;
    width: auto;
    height: 30rem;
    margin: 0 auto; }
    @media (max-width: 56.25em) {
      .carousel_card {
        height: 40rem; } }
    @media (max-width: 37.5em) {
      .carousel_card {
        padding: 4rem 3rem;
        height: 50rem; } }
    .carousel_card.card_active {
      z-index: 100 !important; }
    .carousel_card.card_left {
      transform: translateX(-20rem) scale(0.6);
      z-index: 5; }
      @media (max-width: 37.5em) {
        .carousel_card.card_left {
          transform: translateX(-10rem) scale(0.6); } }
    .carousel_card.card_right {
      transform: translateX(20rem) scale(0.6);
      z-index: 5; }
      @media (max-width: 37.5em) {
        .carousel_card.card_right {
          transform: translateX(10rem) scale(0.6); } }
    .carousel_card.active_left {
      z-index: 9; }
    .carousel_card.active_right {
      z-index: 9; }
    .carousel_card_img {
      position: absolute;
      max-width: 7rem;
      bottom: 13%;
      left: 10%; }
      @media (max-width: 56.25em) {
        .carousel_card_img {
          left: 15%; } }
      @media (max-width: 37.5em) {
        .carousel_card_img {
          left: 10%; } }
    .carousel_card_text {
      color: #4A4A4A;
      font-size: 2rem;
      line-height: 3.4rem;
      padding: 4rem;
      position: relative;
      top: -35%; }
      .carousel_card_text::before {
        content: " ";
        margin-left: 8rem; }
      @media (max-width: 56.25em) {
        .carousel_card_text {
          top: -20%; }
          .carousel_card_text::before {
            content: " ";
            margin-left: 4rem; } }
      @media (max-width: 37.5em) {
        .carousel_card_text {
          padding: 2rem;
          top: 0%; }
          .carousel_card_text::before {
            content: " ";
            margin-left: 2rem; } }
    .carousel_card_name, .carousel_card_company {
      position: absolute;
      bottom: 16%;
      left: 20%;
      font-size: 2rem;
      font-weight: 400; }
      @media (max-width: 56.25em) {
        .carousel_card_name, .carousel_card_company {
          left: 30%;
          bottom: 22%; } }
      @media (max-width: 37.5em) {
        .carousel_card_name, .carousel_card_company {
          left: 32%;
          bottom: 15%;
          line-height: 2rem; } }
    .carousel_card_name {
      color: #333333;
      bottom: 24%; }
      @media (max-width: 56.25em) {
        .carousel_card_name {
          bottom: 22%; } }
      @media (max-width: 37.5em) {
        .carousel_card_name {
          bottom: 22% !important; } }
    .carousel_card_company {
      font-size: 1.8rem; }
      @media (max-width: 56.25em) {
        .carousel_card_company {
          bottom: 15%; } }
      @media (max-width: 37.5em) {
        .carousel_card_company {
          bottom: 13%; } }
  .carousel_indicator {
    cursor: pointer;
    display: block;
    text-align: center;
    z-index: 10000;
    font-size: 6rem; }
    @media (max-width: 56.25em) {
      .carousel_indicator {
        display: none; } }
    .carousel_indicator a {
      background: url(../images/carousel-inactive.svg);
      background-repeat: no-repeat;
      color: transparent;
      background-size: 75%;
      background-position: center;
      transition: all .3s; }
    .carousel_indicator_block {
      display: inline-block; }
      .carousel_indicator_block.active {
        background: url(../images/carousel-active.svg);
        background-repeat: no-repeat;
        background-position: center; }
  .carousel .disbled {
    opacity: .3 !important; }

.features_carousel {
  display: none;
  width: 100%;
  margin: 10rem auto 20rem auto;
  overflow: hidden;
  position: relative; }
  @media (max-width: 56.25em) {
    .features_carousel {
      display: block;
      margin: 2rem auto 4rem auto; } }
  .features_carousel_control {
    position: relative;
    width: 100%;
    height: 20rem;
    z-index: 9999; }
    @media (max-width: 37.5em) {
      .features_carousel_control {
        position: absolute;
        bottom: -1%;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
        display: block;
        height: auto; } }
    .features_carousel_control_left, .features_carousel_control_right {
      background: #fff;
      height: 10rem;
      background-repeat: no-repeat;
      width: 20%;
      cursor: pointer;
      position: absolute;
      top: 48%;
      transform: translateY(-62%);
      font-size: 8rem;
      color: transparent;
      border-radius: 50rem;
      transition: all .2s;
      z-index: 10; }
      .features_carousel_control_left:hover, .features_carousel_control_right:hover {
        transform: translateY(-62%) scale(1.2); }
      @media (max-width: 56.25em) {
        .features_carousel_control_left, .features_carousel_control_right {
          bottom: 100%; }
          .features_carousel_control_left:hover, .features_carousel_control_right:hover {
            transform: translateY(-62%) scale(1.2); } }
      @media (max-width: 37.5em) {
        .features_carousel_control_left, .features_carousel_control_right {
          transform: translateY(-102%);
          bottom: 100%; }
          .features_carousel_control_left:hover, .features_carousel_control_right:hover {
            transform: translateY(-102%) scale(1.2); } }
    .features_carousel_control_left {
      background: url("../images/tab_left_arrow.svg");
      left: 5%;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat; }
      @media (max-width: 75em) {
        .features_carousel_control_left {
          left: 0%; } }
      @media (max-width: 56.25em) {
        .features_carousel_control_left {
          top: 85%;
          left: 10%; } }
    .features_carousel_control_right {
      background: url("../images/tab_right_arrow.svg");
      right: 5%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain; }
      @media (max-width: 75em) {
        .features_carousel_control_right {
          right: 0%; } }
      @media (max-width: 56.25em) {
        .features_carousel_control_right {
          top: 85%;
          right: 10%; } }
      @media (max-width: 37.5em) {
        .features_carousel_control_right {
          top: 85%;
          right: 10%; } }
  .features_carousel_content {
    position: relative;
    height: 65rem;
    border-radius: 1rem;
    margin: auto auto; }
    .features_carousel_content img {
      width: 100%;
      margin: 0 auto;
      height: auto; }
    @media (max-width: 56.25em) {
      .features_carousel_content {
        height: 72rem; } }
    @media (max-width: 37.5em) {
      .features_carousel_content {
        height: 60rem; } }
  .features_carousel_card {
    position: absolute;
    transition: all .4s;
    border-radius: 4rem;
    height: 60rem;
    left: 50%;
    transform: translateX(-50%);
    width: 90%; }
    @media (max-width: 56.25em) {
      .features_carousel_card {
        height: 80rem; } }
    .features_carousel_card.features_card_active {
      z-index: 1000 !important; }
    .features_carousel_card.features_card_left {
      transform: translateX(-170rem);
      z-index: 5; }
    .features_carousel_card.features_card_right {
      transform: translateX(70rem);
      z-index: 5; }
    .features_carousel_card.features_active_left {
      z-index: 9; }
    .features_carousel_card.features_active_right {
      z-index: 9; }
    .features_carousel_card_text {
      color: #4A4A4A;
      font-size: 2rem;
      line-height: 3.4rem;
      padding: 4rem;
      position: relative;
      top: -35%; }
      .features_carousel_card_text::before {
        content: " ";
        margin-left: 8rem; }
      @media (max-width: 56.25em) {
        .features_carousel_card_text {
          top: -20%; }
          .features_carousel_card_text::before {
            content: " ";
            margin-left: 4rem; } }
      @media (max-width: 37.5em) {
        .features_carousel_card_text {
          padding: 2rem;
          top: 0%; }
          .features_carousel_card_text::before {
            content: " ";
            margin-left: 2rem; } }
  .features_carousel .title {
    color: #5C5AA7;
    font-size: 3rem;
    display: block;
    text-align: center; }
  .features_carousel_indicator {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    display: block;
    text-align: center;
    z-index: 10000;
    font-size: 6rem; }
    @media (max-width: 56.25em) {
      .features_carousel_indicator {
        bottom: 0; } }
    @media (max-width: 37.5em) {
      .features_carousel_indicator {
        font-size: 3rem;
        bottom: 1.5%; } }
    .features_carousel_indicator a {
      background: url(../images/carousel-inactive.svg);
      background-repeat: no-repeat;
      color: transparent;
      background-size: 75%;
      background-position: center;
      transition: all .3s; }
    @media (max-width: 37.5em) {
      .features_carousel_indicator {
        font-size: 4rem; } }
    .features_carousel_indicator_block {
      display: inline-block;
      -moz-user-select: -moz-none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      -o-user-select: none;
      user-select: none; }
      .features_carousel_indicator_block.active {
        background: url(../images/carousel-active.svg);
        background-repeat: no-repeat;
        background-position: center; }

.automation_hero_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10rem 0 2rem 0;
  padding: 0 5rem; }
  @media (max-width: 56.25em) {
    .automation_hero_wrapper {
      flex-direction: column;
      text-align: center;
      margin-top: 14rem;
      padding: 0; } }

.automation_hero_content h1 {
  line-height: 4.9rem;
  font-weight: 800;
  font-size: 3.5rem;
  color: #4A4A4A; }
  @media (max-width: 56.25em) {
    .automation_hero_content h1 {
      margin-bottom: 4rem; } }

.automation_hero_content span {
  font-weight: 400;
  display: block;
  font-size: 2.2rem;
  color: #9B9B9B;
  margin-bottom: 2rem; }

.automation_hero_content img {
  width: 80%;
  margin: 0 0 auto auto;
  display: block; }

.scaling {
  color: #4A4A4A; }
  .scaling_heading h1 {
    text-align: center;
    font-size: 3.2rem;
    font-weight: 800;
    margin: 6rem 0 12rem 0; }
    @media (max-width: 56.25em) {
      .scaling_heading h1 {
        margin: 1rem 0 5rem 0; } }
  .scaling_wrapper {
    display: flex;
    flex: 1;
    align-content: center;
    justify-content: center;
    align-self: center;
    padding-bottom: 4rem; }
    @media (max-width: 56.25em) {
      .scaling_wrapper {
        flex-direction: column; } }
  .scaling_img svg {
    display: block;
    margin: 0 auto; }
  .scaling_text {
    padding: 4rem 10rem;
    text-align: center; }
    .scaling_text-heading {
      font-size: 2rem;
      font-weight: 800; }
    .scaling_text-content {
      color: #858585;
      padding-top: 2rem;
      font-size: 1.8rem; }

.km_bots {
  margin-top: 3rem;
  text-align: center;
  color: #4A4A4A; }
  .km_bots_heading {
    padding: 0 9rem;
    margin-bottom: 8rem; }
    .km_bots_heading h1 {
      font-weight: 800;
      font-size: 3.2rem;
      margin-bottom: 3rem; }
  .km_bots_box {
    padding: 0 14rem; }
    @media (max-width: 56.25em) {
      .km_bots_box {
        padding: 0 1rem; } }
  .km_bots_title {
    font-size: 2.2rem;
    color: #4A4A4A;
    font-weight: 800;
    margin: 3rem 0; }
  .km_bots_content {
    margin-bottom: 10rem;
    padding: 0 10rem;
    color: #858585;
    font-size: 1.8rem; }
    @media (max-width: 56.25em) {
      .km_bots_content {
        padding: 0 1rem;
        margin-bottom: 3rem; } }
  .km_bots_img {
    max-width: 40%;
    margin: 0 auto; }
    .km_bots_img svg {
      display: block;
      margin: 0 auto; }

.automation_steps {
  margin-top: 5rem;
  text-align: center; }
  @media (max-width: 56.25em) {
    .automation_steps {
      margin-top: 4rem;
      margin-bottom: 6rem; } }
  .automation_steps_heading {
    margin-bottom: 5rem; }
    .automation_steps_heading h1 {
      padding: 0 9rem;
      font-size: 3.2rem;
      color: #4A4A4A;
      font-weight: 800; }
      .automation_steps_heading h1 span {
        font-weight: 400;
        color: #858585;
        font-size: 1.8rem;
        display: block;
        margin-top: 4rem; }
  @media (max-width: 56.25em) {
    .automation_steps_block-1 {
      margin: 4rem 0; } }
  .automation_steps_block-1 svg {
    display: block;
    margin: 0 auto -7rem 0; }
    @media (max-width: 56.25em) {
      .automation_steps_block-1 svg {
        margin: 0 auto; } }
  @media (max-width: 56.25em) {
    .automation_steps .title-mid {
      margin: 2rem 0 6rem 0 !important; } }
  .automation_steps_block-2 {
    display: flex; }
    @media (max-width: 56.25em) {
      .automation_steps_block-2 {
        flex-direction: column-reverse; } }
  @media (max-width: 56.25em) {
    .automation_steps .hide-mobile {
      display: none !important; } }
  .automation_steps_box {
    flex-basis: 33.3%; }
  .automation_steps_img svg {
    display: block;
    margin: 0 auto; }
  .automation_steps_title {
    color: #4A4A4A;
    font-size: 2.4rem;
    margin: 4rem;
    font-weight: 800; }
    @media (max-width: 56.25em) {
      .automation_steps_title {
        margin: 1rem; } }

.custom_bots {
  font-size: 2.8rem;
  color: #4A4A4A;
  text-align: center;
  font-weight: 300;
  margin: 3rem auto;
  padding: 4rem; }
  .custom_bots a {
    font-size: 2.5rem;
    color: #5F65D0;
    display: block;
    font-weight: 800;
    text-decoration: none;
    transition: .3s; }
    .custom_bots a:hover {
      color: #2e339b; }

.footer_bg {
  background: url(../images/footer.svg);
  background-size: 120%;
  background-repeat: no-repeat;
  width: 100%;
  margin-top: 5rem;
  padding-top: 10rem; }
  @media (max-width: 75em) {
    .footer_bg {
      padding-top: 0rem;
      margin-top: 2rem;
      background: linear-gradient(to right bottom, #9E0FFC, #5C5AA7) no-repeat; } }
  @media (max-width: 37.5em) {
    .footer_bg {
      margin-top: 15rem; } }

.footer svg {
  padding-top: 4.5rem;
  max-width: 22rem;
  max-height: 9rem; }

.footer_account {
  width: 85%;
  padding: 3.5rem 14rem;
  border-radius: 4px;
  text-align: center;
  margin: 0 auto;
  box-shadow: 0.5rem 0.5rem 3rem 0.4rem rgba(112, 112, 144, 0.2);
  background: #fff; }
  @media (max-width: 75em) {
    .footer_account {
      width: 90%;
      padding: 3.5rem 9rem;
      margin-top: -5rem; } }
  @media (max-width: 56.25em) {
    .footer_account {
      margin-top: -30px;
      width: 95%;
      position: absolute;
      left: 50%;
      top: -5%;
      transform: translateX(-50%); } }
  @media (max-width: 37.5em) {
    .footer_account {
      padding: 2rem 3rem; } }
  .footer_account_text {
    font-size: 3.6rem;
    font-weight: 600;
    display: block;
    color: #000;
    text-align: center; }
    @media (max-width: 37.5em) {
      .footer_account_text {
        font-size: 2.8rem; } }

.footer_email {
  position: relative;
  width: 75%;
  margin: 0 auto;
  border: none;
  border-radius: 60px;
  animation: fade-in-top .8s; }
  @media (max-width: 75em) {
    .footer_email {
      width: 90%; } }
  @media (max-width: 56.25em) {
    .footer_email {
      width: 100%;
      border: none; } }
  @media (max-width: 37.5em) {
    .footer_email {
      width: 85%;
      border: none; } }

.footer_input {
  width: 68%;
  background-color: #F4F3F3;
  padding: 1.4rem 0 1.4rem 4rem;
  letter-spacing: .1rem;
  border-radius: 4px;
  color: #898484;
  font-size: 1.6rem;
  border: none;
  outline: none;
  font-weight: lighter;
  display: block;
  animation: move-in-left .8s;
  border: 4px solid #F4F3F3;
  transition: all .2s ease-in; }
  .footer_input:active, .footer_input:focus {
    border: 4px solid #e8e6e6; }
  @media (max-width: 56.25em) {
    .footer_input {
      border: none;
      width: 100%;
      padding: 1.4rem 0 1.4rem 1rem; } }
  @media (max-width: 37.5em) {
    .footer_input {
      padding: 2rem; } }

.footer_button {
  position: absolute;
  top: 1%;
  right: -1%;
  padding: 1.5rem 4.5rem;
  font-size: 2rem;
  animation: move-in-right .8s; }
  @media (max-width: 56.25em) {
    .footer_button {
      margin-top: 2rem;
      width: 100% !important;
      display: block;
      text-align: center;
      right: 0;
      position: relative; } }

.footer_row {
  width: 82%;
  margin: 5rem auto 0 auto; }
  @media (max-width: 56.25em) {
    .footer_row {
      width: 100%;
      margin: 25rem auto 2rem auto; } }
  @media (max-width: 37.5em) {
    .footer_row {
      margin: 10rem auto 2rem auto; } }

.footer_logo {
  margin: 3.5rem 0 1rem 0;
  width: 15.4rem; }

.footer_column {
  vertical-align: top;
  display: inline-block;
  position: relative; }
  @media (max-width: 37.5em) {
    .footer_column {
      display: block;
      margin: 0 auto;
      text-align: center; } }
  .footer_column:first-child {
    width: 50%;
    color: #fff;
    font-weight: 600; }
    @media (max-width: 75em) {
      .footer_column:first-child {
        width: 29%; } }
    @media (max-width: 56.25em) {
      .footer_column:first-child {
        width: 22%; } }
    @media (max-width: 37.5em) {
      .footer_column:first-child {
        width: 100%; } }
  .footer_column:last-child {
    padding-left: 8rem;
    width: 20%; }
    @media (max-width: 75em) {
      .footer_column:last-child {
        width: 15%; } }

.footer_list {
  padding: 1rem;
  color: #fff;
  list-style: none;
  margin-top: 2.3rem; }
  .footer_list_item:first-child {
    font-weight: 600; }
  .footer_list_item:not(:first-child) {
    margin: 2rem 0; }
    @media (max-width: 37.5em) {
      .footer_list_item:not(:first-child) {
        margin: 1.8rem; } }

.footer_link {
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 300; }
  @media (max-width: 1400px) and (min-width: 1200px) {
    .footer_link {
      font-size: 14px; } }
  @media (max-width: 37.5em) {
    .footer_link {
      font-size: 1.9rem; } }
  .footer_link:hover {
    color: #fff; }

.footer hr {
  opacity: .5; }

.footer_copyright {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 800;
  padding: 4rem 0; }
  @media (max-width: 1400px) and (min-width: 1200px) {
    .footer_copyright {
      font-size: 14px; } }
  @media (max-width: 75em) {
    .footer_copyright {
      padding: 3rem 0;
      font-size: 1.4rem; } }

.brand {
  margin: 0 auto; }
  @media (max-width: 75em) {
    .brand {
      margin-top: 9rem; } }
  @media (max-width: 56.25em) {
    .brand {
      margin-top: 3rem;
      margin-bottom: 3rem; } }
  .brand_strip {
    list-style: none;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
  .brand_img {
    opacity: .5; }
    .brand_img img {
      max-width: 20rem;
      margin: 0 auto;
      padding: 2rem;
      max-height: 10rem; }

.features {
  display: flex;
  padding: 0rem 6rem 4rem 2rem;
  align-content: center; }
  @media (max-width: 75em) {
    .features {
      padding: 0rem 2rem;
      background-size: 120%; } }
  @media (max-width: 56.25em) {
    .features {
      display: none; } }

.featurebox {
  padding: 1rem 6rem;
  display: flex;
  flex: 1 1 0; }
  @media (max-width: 56.25em) {
    .featurebox {
      flex-direction: column !important; } }
  .featurebox_reverse {
    flex-direction: row-reverse; }
  .featurebox_bg1 {
    background-image: url(../images/landing_bdrop2.svg);
    background-repeat: no-repeat;
    background-position: 120% 0;
    padding: 2rem 0; }
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      .featurebox_bg1 {
        background-image: none; } }
  .featurebox_bg2 {
    background-image: url(../images/landing_bdrop3.svg);
    background-repeat: no-repeat;
    background-position: left;
    padding: 2rem 0; }
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      .featurebox_bg2 {
        background-image: none; } }
  .featurebox_text {
    padding: 2rem 6rem;
    flex: 0 0 50%;
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    @media (max-width: 56.25em) {
      .featurebox_text {
        flex-direction: column;
        flex: auto;
        padding: 1rem 2rem;
        margin-top: -2rem;
        text-align: center;
        width: 100%; } }
  .featurebox_heading {
    font-size: 2.2rem;
    color: #4A4A4A;
    line-height: 4.5rem;
    font-weight: 300; }
    @media (max-width: 56.25em) {
      .featurebox_heading {
        font-size: 2.8rem;
        font-weight: 600; } }
  .featurebox_heading_big {
    font-size: 3.5rem;
    color: #4A4A4A;
    line-height: 4.5rem; }
  .featurebox_content_small {
    color: #858585;
    margin: 2rem 0;
    font-size: 1.8rem;
    font-weight: 300; }
  .featurebox_content {
    color: #858585;
    margin: 2rem 0;
    font-size: 2.2rem; }
  .featurebox_bullet {
    font-size: 2.2rem;
    margin: 2rem 0;
    font-weight: 300; }
    @media (max-width: 56.25em) {
      .featurebox_bullet {
        font-size: 2rem;
        width: 30rem;
        margin: 1rem auto;
        text-align: left; } }
    .featurebox_bullet img {
      max-width: 2.2rem;
      margin-right: 2rem; }
      @media (max-width: 56.25em) {
        .featurebox_bullet img {
          max-width: 1.4rem;
          margin-right: .5rem; } }
  .featurebox_img {
    padding: 2rem;
    flex: 0 0 50%; }
    @media (max-width: 56.25em) {
      .featurebox_img {
        flex: 0; } }
    .featurebox_img svg {
      width: 100%;
      max-height: 40rem; }

.featurecard {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 8rem auto;
  justify-content: center; }
  @media (max-width: 56.25em) {
    .featurecard {
      flex-direction: column;
      margin: 4rem auto;
      padding: 6rem 0 0 0; } }
  @media (max-width: 56.25em) {
    .featurecard_last {
      margin-bottom: 10rem !important; } }
  .featurecard_main_heading {
    color: #4A4A4A;
    font-size: 3.5rem;
    text-align: center;
    font-weight: 600;
    margin-top: 6rem; }
    @media (max-width: 56.25em) {
      .featurecard_main_heading {
        padding: 0 4.5rem;
        margin-bottom: -7rem; } }
  @media (max-width: 56.25em) {
    .featurecard_main_heading-mt {
      margin-top: 12rem; } }
  .featurecard_bg {
    background-image: url(../images/landing_bdrop1.svg);
    background-repeat: no-repeat; }
  .featurecard_block {
    padding: 0 2rem;
    flex-basis: 33.3%; }
    @media (max-width: 56.25em) {
      .featurecard_block {
        flex-basis: 21.3%; } }
  .featurecard_img {
    display: block; }
    .featurecard_img-first {
      padding: 0 11rem; }
    .featurecard_img svg {
      margin: 0 auto 2rem 0;
      width: 100%;
      display: block;
      max-height: 14rem; }
      @media (max-width: 56.25em) {
        .featurecard_img svg {
          height: auto; } }
  .featurecard_text {
    text-align: center;
    padding: 0 4rem; }
  .featurecard_heading {
    font-size: 2.2rem;
    color: #4A4A4A;
    margin-bottom: 2rem; }
    @media (max-width: 56.25em) {
      .featurecard_heading {
        font-size: 2.8rem;
        font-weight: 600; } }
  .featurecard_content {
    font-size: 1.8rem; }

.growth-header {
  margin-top: 110px; }
  .growth-header_img {
    width: 100%; }
    .growth-header_img svg {
      width: 100%;
      height: 80px; }
  .growth-header_heading h1 {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0.6px;
    color: #202021;
    text-align: center; }

.growth-twitter-box-shadow {
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0 2px 14px 3px rgba(229, 229, 229, 0.5);
  margin-bottom: 80px !important; }
  @media (max-width: 1000px) {
    .growth-twitter-box-shadow {
      box-shadow: none; } }

.growth-twitter-box {
  margin: 10px auto;
  max-width: 940px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px 15px; }
  @media (max-width: 1000px) {
    .growth-twitter-box {
      flex-direction: column;
      margin-bottom: 40px;
      width: 98%; } }
  @media (max-width: 500px) {
    .growth-twitter-box {
      flex-direction: column;
      margin-bottom: 150px;
      width: 98%; } }
  @media (max-width: 1000px) {
    .growth-twitter-box div {
      margin: 20px 0; } }
  .growth-twitter-box_img svg {
    width: 42px; }
  .growth-twitter-box_text {
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    letter-spacing: 0.4px; }
    .growth-twitter-box_text span {
      font-weight: 700;
      color: #000;
      border-bottom: 4px solid #44d76e; }
  .growth-twitter-box_button {
    border: solid 1px #efefef;
    border-radius: 4px;
    transition: .3s; }
    .growth-twitter-box_button .twit-button {
      white-space: nowrap;
      display: flex;
      align-items: center;
      align-self: flex-end;
      text-decoration: none;
      font-size: 18px;
      padding: 12px 30px;
      color: #66666a; }
      .growth-twitter-box_button .twit-button svg {
        margin-right: 10px;
        width: 32px; }
    .growth-twitter-box_button:hover {
      border: 1px solid white;
      border-radius: 4px;
      background-color: #ffffff;
      box-shadow: 0 2px 14px 3px rgba(211, 208, 208, 0.5); }

.growth-calc-wrapper {
  max-width: 940px;
  margin: 10px auto;
  display: flex; }
  @media (max-width: 1000px) {
    .growth-calc-wrapper {
      align-items: center;
      justify-content: center;
      flex-direction: column; } }

.growth-mrr-calc-box {
  width: 368px;
  height: 350px;
  border-radius: 6px;
  box-shadow: 0 2px 10px 2px rgba(213, 209, 209, 0.5);
  padding: 10px 20px;
  display: flex;
  flex-direction: column; }
  @media (max-width: 1000px) {
    .growth-mrr-calc-box {
      margin-bottom: 30px; } }
  .growth-mrr-calc-box_heading {
    text-align: center;
    letter-spacing: 0.3px;
    color: #88878d;
    font-size: 18px;
    margin-bottom: 40px; }
  .growth-mrr-calc-box_field {
    padding: 15px 4px; }
    .growth-mrr-calc-box_field-name {
      display: inline-block;
      font-size: 16px;
      letter-spacing: 0.3px;
      margin-right: 20px;
      color: #89898d;
      width: 42%; }
    .growth-mrr-calc-box_field-switch {
      display: inline-block;
      width: 50%;
      letter-spacing: 0.3px;
      color: #c6c6c8;
      vertical-align: middle; }
      .growth-mrr-calc-box_field-switch span {
        display: inline;
        vertical-align: text-bottom; }
    .growth-mrr-calc-box_field-input {
      display: inline-block;
      width: 50%;
      color: #000000;
      font-weight: 500; }
      .growth-mrr-calc-box_field-input input {
        display: inline-block;
        width: 100px;
        outline: none;
        box-shadow: none;
        border: none;
        border-bottom: 1px solid #cccdd2;
        color: #000000;
        transition: all .3s; }
      .growth-mrr-calc-box_field-input input:active,
      .growth-mrr-calc-box_field-input input:focus {
        border-bottom: 1px solid #1419e8; }
  .growth-mrr-calc-box .switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 14px;
    font-size: 16px;
    /* Rounded sliders */ }
    .growth-mrr-calc-box .switch input {
      display: none; }
    .growth-mrr-calc-box .switch .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #1419e8;
      transition: .4s; }
    .growth-mrr-calc-box .switch .slider:before {
      position: absolute;
      content: "";
      height: 10px;
      width: 10px;
      left: 4px;
      bottom: 2px;
      background-color: #fff;
      transition: .4s; }
    .growth-mrr-calc-box .switch input:checked + .slider {
      background-color: #1419e8; }
    .growth-mrr-calc-box .switch input:focus + .slider {
      box-shadow: 0 0 1px #1419e8;
      background-color: #1419e8; }
    .growth-mrr-calc-box .switch input:checked + .slider:before {
      transform: translateX(13px); }
    .growth-mrr-calc-box .switch .slider.round {
      border-radius: 34px; }
    .growth-mrr-calc-box .switch .slider.round:before {
      border-radius: 50%; }

.growth-mrr-graph-box {
  width: 534px;
  height: 350px;
  border-radius: 6px;
  box-shadow: 0 2px 10px 2px rgba(213, 209, 209, 0.5);
  padding: 10px 20px;
  margin-left: 38px; }
  @media (max-width: 1000px) {
    .growth-mrr-graph-box {
      margin-bottom: 30px;
      width: 368px;
      margin-left: 0;
      height: auto; } }

.navbar {
  display: flex;
  justify-content: space-between;
  flex: 1;
  height: 7rem;
  align-items: center; }
  @media (max-width: 56.25em) {
    .navbar {
      height: auto; } }
  .navbar_wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100000; }
  .navbar_login {
    border: 2px solid #2DD35C;
    padding: 1rem 3rem;
    border-radius: 4px;
    color: #2DD35C !important;
    font-weight: 600;
    transition: .3s all; }
    .navbar_login:hover, .navbar_login:active {
      background: #2DD35C;
      color: #fff !important; }
    @media (max-width: 56.25em) {
      .navbar_login {
        border: none;
        font-weight: 400;
        padding: 0rem 0rem; } }
  .navbar_sticky {
    background: #fff;
    width: 100%;
    transition: all .3s;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28); }
  .navbar_logo {
    padding: 1.4rem 1rem 1rem 0rem;
    width: 24rem; }
    .navbar_logo svg {
      width: 24rem; }
  .navbar_switch {
    display: none; }
  .navbar_list {
    padding: 2rem 0rem 2rem 1rem;
    list-style: none;
    text-align: right; }
  .navbar_item {
    display: inline-block;
    padding: .1rem 1rem .1rem 2rem;
    font-size: 1.6rem;
    font-weight: 400; }
  @media (max-width: 56.25em) {
    .navbar_button {
      font-size: 2.5rem !important;
      display: block;
      width: 100%; } }
  .navbar_link:link, .navbar_link:visited {
    text-decoration: none;
    color: #585656; }
  .navbar_link:hover, .navbar_link.active {
    color: #5C5AA7; }
  .navbar_link.highlight {
    color: #2DD35C; }
    .navbar_link.highlight:hover, .navbar_link.highlight.active {
      color: #5C5AA7; }
  @media (max-width: 56.25em) {
    .navbar {
      flex-direction: column; }
      .navbar_logo {
        align-self: flex-start; }
      .navbar_switch {
        align-self: flex-end;
        position: absolute;
        top: 2.5rem;
        right: 3rem;
        display: block;
        height: 5rem;
        width: 5rem; }
        .navbar_switch .bar1,
        .navbar_switch .bar2,
        .navbar_switch .bar3 {
          width: 35px;
          height: 3px;
          background-color: #5C5AA7;
          margin: 6px 0;
          transition: 0.4s; }
      .navbar .anim .bar1 {
        transform: rotate(-45deg) translate(-7px, 4px); }
      .navbar .anim .bar2 {
        opacity: 0; }
      .navbar .anim .bar3 {
        transform: rotate(45deg) translate(-7px, -7px); }
      .navbar_nav {
        background: #fff;
        height: 0;
        overflow: hidden;
        width: 100%;
        padding: 0 4rem;
        transition: all .4s; }
      .navbar_item {
        display: block;
        text-align: center;
        padding: 2.2rem 1rem 1rem 2rem;
        font-size: 2.6rem;
        transition: all .4s;
        font-weight: 400; }
        .navbar_item:active {
          background: #9E0FFC;
          color: #fff; } }

.nav_open {
  height: 43rem !important;
  border-bottom: 1px solid rgba(158, 15, 252, 0.2);
  background: #fff; }

.header_heading {
  font-size: 50px;
  line-height: 7.8rem;
  font-weight: 600;
  color: #1D2731;
  width: 70%;
  text-align: center;
  padding-top: 10rem;
  margin: 0 auto !important;
  animation: fade-in-top .8s; }
  @media (max-width: 1366px) {
    .header_heading {
      padding-top: 2rem; } }
  @media (max-width: 75em) {
    .header_heading {
      width: 85%; } }
  @media (max-width: 56.25em) {
    .header_heading {
      padding-top: 2rem;
      width: 85%;
      padding-top: 5rem !important; } }
  @media (max-width: 37.5em) {
    .header_heading {
      font-size: 3.9rem;
      width: 95%; } }

.header_sub {
  text-align: center;
  animation: fade-in-top .8s; }

.hero {
  animation: fade-in-top .8s; }
  .hero_main {
    position: relative;
    border-radius: 4px;
    background: url(../images/jeremy.png), url(../images/hero1.svg);
    height: 85rem;
    background-position: 123% 122.3%, 1% 59%;
    background-size: 83.8%, 98%;
    background-repeat: no-repeat, no-repeat;
    overflow: visible; }
    @media (max-width: 1400px) and (min-width: 1200px) {
      .hero_main {
        width: 1200px;
        margin: 0 auto;
        background-position: 130.5% 75.4%, 53% 42%;
        background-size: 83.8%, 98%; } }
    @media (max-width: 75em) {
      .hero_main {
        background: url(../images/hero2.svg) no-repeat, url(../images/jeremy2.png) no-repeat, linear-gradient(to right bottom, #9E0FFC, #5C5AA7) no-repeat;
        background-size: 150%, 40%, cover;
        background-position: -30rem 44rem, right bottom, 0 0;
        height: 65rem; } }
    @media (max-width: 56.25em) {
      .hero_main {
        background-position: -21rem 48rem, right bottom, 0 0; } }
    @media (max-width: 37.5em) {
      .hero_main {
        background: url(../images/jeremy2.png) no-repeat, linear-gradient(to right bottom, #9E0FFC, #5C5AA7) no-repeat;
        background-position: right bottom, 0 0;
        background-size: 40%, cover;
        height: 45rem; } }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .hero {
      /*@media all and (-ms-high-contrast:none), all and (-ms-high-contrast:active)*/ }
      .hero_main {
        position: relative;
        overflow: visible;
        background: url(../images/jeremy.png), url(../images/hero1.svg);
        height: 95rem;
        background-position: 91.5% 57.3%, 1% 19%;
        background-size: 66.8%, 93%;
        background-repeat: no-repeat, no-repeat; } }
  @media all and (-ms-high-contrast: none) and (max-width: 1400px), (-ms-high-contrast: active) and (max-width: 1400px) {
    .hero_main {
      background: url(../images/billgates.png) no-repeat, linear-gradient(to right bottom, #5C5AA7, #9E0FFC) no-repeat;
      background-position: right bottom, 0 0;
      background-size: 40%, cover;
      height: 70rem; } }
  @media all and (-ms-high-contrast: none) and (max-width: 56.25em), (-ms-high-contrast: active) and (max-width: 56.25em) {
    .hero {
      height: 50rem;
      margin-bottom: 20rem; } }
  @media all and (-ms-high-contrast: none) and (max-width: 37.5em), (-ms-high-contrast: active) and (max-width: 37.5em) {
    .hero {
      height: 4rem;
      margin-bottom: 65rem; } }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      .hero_text {
        font-size: 2.2rem;
        width: 40%;
        color: #fff;
        position: absolute;
        top: 30rem;
        left: 18rem; } }
    @media all and (-ms-high-contrast: none) and (max-width: 1400px), (-ms-high-contrast: active) and (max-width: 1400px) {
      .hero_text {
        top: 10rem; } }
    @media all and (-ms-high-contrast: none) and (max-width: 75em), (-ms-high-contrast: active) and (max-width: 75em) {
      .hero_text {
        top: 10rem;
        left: 8rem; } }
    @media all and (-ms-high-contrast: none) and (max-width: 56.25em), (-ms-high-contrast: active) and (max-width: 56.25em) {
      .hero_text {
        width: 60%; } }
    @media all and (-ms-high-contrast: none) and (max-width: 37.5em), (-ms-high-contrast: active) and (max-width: 37.5em) {
      .hero_text {
        width: 90%;
        position: relative;
        top: 4rem;
        left: 2rem; } }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      .hero_author {
        font-size: 3rem;
        color: #fff;
        position: absolute;
        top: 48rem;
        left: 18rem; } }
    @media all and (-ms-high-contrast: none) and (max-width: 1400px), (-ms-high-contrast: active) and (max-width: 1400px) {
      .hero_author {
        top: 40rem; } }
    @media all and (-ms-high-contrast: none) and (max-width: 75em), (-ms-high-contrast: active) and (max-width: 75em) {
      .hero_author {
        top: 35rem;
        left: 8rem; } }
    @media all and (-ms-high-contrast: none) and (max-width: 37.5em), (-ms-high-contrast: active) and (max-width: 37.5em) {
      .hero_author {
        top: 30rem;
        left: 2rem; } }
  .hero_text {
    font-size: 3.1rem;
    width: 48%;
    color: #fff;
    position: absolute;
    top: 30rem;
    font-weight: 100 !important;
    left: 14rem; }
    .hero_text span {
      font-weight: 800;
      font-size: 1.15em; }
    @media (max-width: 75em) {
      .hero_text {
        font-size: 2.8rem;
        top: 10rem;
        left: 8rem; } }
    @media (max-width: 56.25em) {
      .hero_text {
        font-size: 2.5rem;
        width: 60%; } }
    @media (max-width: 37.5em) {
      .hero_text {
        width: 90%;
        position: relative;
        top: 2rem;
        left: 2rem; } }
  .hero_author {
    font-size: 2.1rem;
    color: #fff;
    position: absolute;
    top: 56rem;
    right: 12rem; }
    @media (max-width: 75em) {
      .hero_author {
        top: 35rem;
        left: 8rem; } }
    @media (max-width: 37.5em) {
      .hero_author {
        top: 30rem;
        left: 2rem; } }
  .hero_designation {
    font-size: 1.9rem;
    font-weight: lighter; }
  .hero_landing_chat {
    background-image: url(../images/landing_bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 66rem;
    background-position: center;
    padding-top: 6rem; }
    @media (max-width: 75em) {
      .hero_landing_chat {
        height: auto;
        padding: 6rem; } }
    @media (max-width: 37.5em) {
      .hero_landing_chat {
        padding: 2rem 0 6rem 0; } }
    .hero_landing_chat img {
      width: 65%;
      display: block;
      margin: 0 auto; }
      @media (max-width: 75em) {
        .hero_landing_chat img {
          width: 85%; } }
      @media (max-width: 37.5em) {
        .hero_landing_chat img {
          width: 95%; } }

.services {
  text-align: center;
  font-size: 1.8rem;
  color: #4A4A4A;
  padding: 1rem 12rem 6rem 12rem;
  display: flex;
  margin-top: 1rem;
  flex-wrap: wrap;
  min-height: 1px;
  justify-content: space-between; }
  .services_bg {
    background-size: 130%;
    background-position: -25rem -2rem; }
  @media (max-width: 75em) {
    .services {
      padding: 3rem;
      font-size: 1.8rem; } }
  @media (max-width: 56.25em) {
    .services {
      background: none;
      width: 80%;
      flex-direction: column; } }
  @media (max-width: 56.25em) {
    .services {
      padding: 10rem;
      width: 100%; }
      .services .main {
        flex: 1; } }
  @media (max-width: 37.5em) {
    .services {
      padding: 8rem 2rem 2rem 2rem;
      width: 100%; } }
  .services_block {
    min-height: 1px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 50%; }
    @media (max-width: 56.25em) {
      .services_block {
        flex-basis: auto; } }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .services_block {
      margin-top: 10rem;
      min-height: 480px; } }
  .services_block_image {
    padding: 5.5rem; }
    @media (max-width: 75em) {
      .services_block_image {
        padding: 2rem; } }
  .services_block_img {
    width: 100%;
    height: 35rem; }
  .services_block_link {
    text-decoration: none;
    text-transform: uppercase;
    color: #2DD35C;
    font-size: 1.6rem; }
    .services_block_link:hover {
      color: #24a949; }
  .services .main_underline {
    margin-bottom: 2rem;
    font-size: 2.2rem; }
  .services_heading {
    font-weight: 600;
    font-size: 2.4rem; }
  .services_box_text {
    padding: 1.2rem;
    font-size: 2.1rem; }

.customers {
  padding: 0; }
  .customers_bg {
    background: url(../images/customer-bg.svg) no-repeat;
    background-size: contain;
    background-position: 0% center; }
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      .customers_bg {
        background-image: none; } }
  @media (max-width: 37.5em) {
    .customers {
      padding: 5rem 0; } }
