.km-settings-heading-wrapper{
    margin-top: -20px ;
    margin-bottom: 25px;
    width: auto;
    max-width:930px;

}

.km-settings-header-border{
    border-bottom: 1px solid #cacaca;
}
.km-settings-component-heading h1{
    text-transform: capitalize;
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 1.5px;
    padding-bottom: 10px;
    color: #242424;   
    display: inline-block;
    min-width: 600px;

}
.km-settings-component-subheading h2{
    font-size: 18px;
    letter-spacing: 0.6px;
    font-weight: 300;
    color:  #615f5f;
    padding-bottom: 25px;
    border-bottom: 1px solid #cacaca;
    display: inline-block;
    min-width: 600px;


}
.km-heading-wrapper{
    margin-left: 15px;
    max-width: 930px;
}