.km-settings-heading-wrapper{
    margin-top: -20px ;
    margin-bottom: 25px;
    width: auto;
    max-width:930px;

}
.km-settings-banner{
    margin: -25px 0 30px 10px;
}

.km-settings-header-border{
    border-bottom: 1px solid #cacaca;
}
.km-settings-component-heading h1{
    text-transform: capitalize;
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 1.5px;
    padding-bottom: 10px;
    color: #242424;   
    display: inline-block;
    min-width: 600px;

}
.km-settings-component-subheading h2{
    font-size: 18px;
    letter-spacing: 0.6px;
    line-height: 1.6;
    font-weight: 300;
    color:  #615f5f;
    padding-bottom: 25px;
    border-bottom: 1px solid #cacaca;
    display: inline-block;
    min-width: 600px;


}
.km-heading-wrapper{
    margin-left: 15px;
    max-width: 930px;
}
a.km-knowledge-base-link{
    display: inline-block;
    /* font-size: 14px; */
    color:#4831d9!important;
    font-weight: 400;
}
.km-settings-component-subheading a.km-knowledge-base-link:hover{
    cursor: pointer;
    color: #4831d9;
    text-decoration: none;
}


.km-knowledge-base-link svg{
    width: 12px;
    height: 12px;
}