.km-status-icon {
    border-radius: 10px;
    width: 15px;
    height: 15px;
    margin-left: 10p;
    margin-right: 17px;
    background-color: #22d674;
    padding-left: 3px;
}
.km-icon-wrapper {
    display: flex;
}
.km-status-done-icon {
    margin-bottom: 1px;
}
.km-status-label {
    color: #22d674 !important;
}