@import	url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);

*, *:before, *:after {
	box-sizing: border-box;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

.km-nav {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.km-container {
	/*position: fixed !important;*/
	background-color: #fff;
	/*margin: 0 auto !important;*/
	border: 1px solid #e5e5e5;
	border-right: 0;
	border-radius: 0 !important;
	font-size: 12px;
	line-height: 20px;
	top: 40px;
	left: 150px;
	right: 150px;
	/*width: calc(100% - 200px);*/
	min-width: 800px;
    height: 100%;
}
.km-userinfo-keydiv{
	position: relative;
	padding: 2px 2px;
    display: initial;
}
.km-userinfo-valuediv{
	position: relative;
    padding: 35px 35px;
    display: initial;
}
.km-italic{
	font-style: italic;
}
.km-label1 {
	 top:15px!important;
	 font-size: 14px!important;
	 color:#5e5b5b!important;
}

.input-error-div{
	display: flex;
    margin-top: 5px;
}
.km-error-input{
	border-color: #ed1c24!important;
}
.input-error-message {
    color: #ed1c24;
    font-size: 12px;
    margin-bottom: 0px;
	padding-left: 5px;
}
.km-url-error{
	position: absolute;
    left: -65px;
}
.km-label2 {
	top:15px!important;
	left:105px;
	color:#BFBFC6!important;
	font-size: 14px!important;
    opacity: 1;
    padding-left: 5px!important;
	padding-right: 5px!important;
	font-style: italic;
	
}

.km-label3 {
	top:15px!important;
	left:100px;
	color:#BFBFC6!important;
	font-size: 14px!important;
    opacity: 1;
    padding-left: 5px!important;
	padding-right: 5px!important;
	font-style: italic;
	
}

.km-container .left {
	float: left;
	width: 300px;
	/*height: calc(100% - 60px);*/
	height: 100%;
	border-right: 1px solid #e6e6e6;
	background-color: #fff;
	display: flex;
	position: relative;
	overflow: hidden;
	/*overflow: scroll;*/
}

.panel-content {
	display: table;
	width: 100%;
	border-spacing: 0;
	outline: 0;
	table-layout: fixed;
	position: relative;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	height: 100%;
}
.km-text-right {
	text-align:right;
}
.km-container .left .km-box-top {
	height:67px;
}
.km-container .left .km-box-top .blk-lg-3 {
	width:60px;
}
.km-container .left .km-box-top .blk-lg-2 {
	width:39px;
}

.km-input-group {
	margin-top: 2px !important;
}

.km-container .left .km-box-top .blk-lg-2 a img {
	height:25px;
	width:25px;
}
.km-container .left .km-box-top.km-wt-user-icon .blk-lg-3 {
    display: none !important;
}
.km-container .left .km-box-top .km-box-title {
  height:59px;
  line-height: 59px;
}

.km-container .left .km-box-top .km-user-icon {
	padding:4px 0;
}
.km-container .left .km-box-top .km-user-icon img {
	width:49px;
	height: 49px;
}
.km-container .left .top {
	width: 100%;
	height: 50px;
	padding: 8px 10px;
	min-height: 50px;
	text-align: left;
	border-bottom: 1px solid #F3F3F3 !important;
}
.km-container .left .top .km-search-icon a {
 	line-height:32px;
 	border:0;
 	border-right:1px solid #e6e6e6;
 }
.km-container .left .top .km-search-icon{
	border-radius:4px;
 	border-top-right-radius: 0px;
 	border-bottom-right-radius: 0px;
 	height: 32px;
 	line-height:32px;
 	background-color: #f5f5f5;
 }

.km-container .left input {
	float: left;
	width: 248px;
	height: 32px;
	padding: 0 10px;
	background-color: #f5f5f5;
	border-radius: 4px;
	border-bottom-left-radius: 0;
    border-top-left-radius: 0;
	border:0px;
	font-size:14px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
}

.km-container .left input:focus {
	outline: none;
}


.km-panel-body {
	padding: 0;
	position: relative;
	display: table-row;
	height: 100%;
	transition: all .3s;
}

.km-panel-body .km-panel-cell {
	position: relative;
	display: table;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.km-panel-body .km-panel-inner {
	position: absolute;
	display: table-row;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: auto;
}

.km-container .left .people .person {
	position: relative;
	width: 100%;
	padding: 20px 10px;
	cursor: pointer;
	background-color: #fff;
	border-bottom: 1px solid #F3F3F3 !important;
}

.km-alpha-contact-image {
	cursor: default;
	float: left;
	width: 43px;
	height: 43px;
	margin-right: 12px;
	border-radius: 50%;
	font-size: 25px;
	text-align: center;
	line-height: 40px;
}


.km-container .left .people .person img {
	float: left;
	width: 35px;
	height: 35px;
	margin-right: 12px;
	border-radius: 50%;
}

.km-container .left .people .person .km-row {
	display: flex;
	align-items: center;
}

.km-container .left .people .person .name {
	font-size: 14px;
	line-height: 22px;
	color: #7d7a7a;
	font-weight: 400;
	text-overflow: ellipsis;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	width: 80%;
}

.km-container .left .people .person .time {
	/* padding-left: 5px; */
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.2px;
	color: #989595;
}

.km-container .left .people .person .preview {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.36;
	letter-spacing: 0.4px;
	color: #848487;
	display: inline-block;
	overflow: hidden !important;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	height: 19px;
}

.km-container .left .people .person .unreadcount {
	color: #999;
	width: auto !important;
	max-width: 100%;
    text-align: center;
}

.unreadcount .text {
	padding: 0px 6.88px;
    font-size: 11px;
	font-weight: 500;
	min-width: 20px;
	line-height: 19px;
}

.km-container .left .people .person.active, .km-container .left .people .person:hover
	{
	padding: 20px 10px;
	border: 0;
	background-color: #eceff1;
	border-bottom: 1px solid #F3F3F3 !important;
}

.km-container .left .people .person.active:after, .km-container .left .people .person:hover:after
	{
	display: none;
}

/*
.km-container .left .people .person .km-icon-user, .km-container .left .people .person.active .km-icon-user,
	.km-container .left .people .person:hover .km-icon-user, .km-group-search-list .km-icon-user, .km-contact-search-list .km-icon-user, .km-group-member-list .km-icon-user {
	background: url(app/images/mck-plugin-sprite.png);
	background-position: -6px 2px;
	width: 40px;
	height: 40px;
	background-size: 50px;
}*/

.km-container .right {
	position: relative;
	float: left;
	width: calc(100% - 300px);
	height: 100%;
	/* border-right: 1px solid #e6e6e6; */
}

.km-container.km-panel-3 .right {
	width: calc(100% - 610px);
}

.km-container .right .top span {
	font-size: 15px;
	color: #999;
}

.km-tab-title {
	color: #1a1a1a;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
}

.km-tab-individual .blk-lg-4 {
	width: 50px;
}

.km-tab-individual .blk-lg-8 {
	width: calc(100% - 50px);
}
.km-menu-item .km-menu-icon {
	height: 30px;
	width: 30px;
	cursor: pointer;
	vertical-align: middle;
}

.km-container .right .conversation-section {
	height:100%;
}
.km-container .right .conversation-section .km-loading {
    z-index: 100;
}
.km-container .right .chat {
	position: relative;
	display: none;
	padding: 0 35px;
	/*background-color: #eceff1;*/
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: end;
}

.km-container .right .chat.active-chat {
	position: absolute;
	display: table-row;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: auto;
	z-index: 1;
	background-color: #f4f5f6;
}

.km-container .right .chat.active-chat .bubble {
	-webkit-transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
	transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
}

.km-container .right .chat.active-chat .bubble:nth-of-type(1) {
	-webkit-animation-duration: 0.15s;
	animation-duration: 0.15s;
}

.km-container .right .chat.active-chat .bubble:nth-of-type(2) {
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
}

.km-container .right .chat.active-chat .bubble:nth-of-type(3) {
	-webkit-animation-duration: 0.45s;
	animation-duration: 0.45s;
}

.km-container .right .chat.active-chat .bubble:nth-of-type(4) {
	-webkit-animation-duration: 0.6s;
	animation-duration: 0.6s;
}

.km-container .right .chat.active-chat .bubble:nth-of-type(5) {
	-webkit-animation-duration: 0.75s;
	animation-duration: 0.75s;
}

.km-container .right .chat.active-chat .bubble:nth-of-type(6) {
	-webkit-animation-duration: 0.9s;
	animation-duration: 0.9s;
}

.km-container .right .chat.active-chat .bubble:nth-of-type(7) {
	-webkit-animation-duration: 1.05s;
	animation-duration: 1.05s;
}

.km-container .right .chat.active-chat .bubble:nth-of-type(8) {
	-webkit-animation-duration: 1.2s;
	animation-duration: 1.2s;
}

.km-container .right .chat.active-chat .bubble:nth-of-type(9) {
	-webkit-animation-duration: 1.35s;
	animation-duration: 1.35s;
}

.km-container .right .chat.active-chat .bubble:nth-of-type(10) {
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
}

.km-container .right .write .km-write-box {
	border-radius: 5px;
}

.km-container .right .write input, .km-container .right .write .km-text-box
	{
	font-size: 16px;
	min-height: 45px;
	max-height: 260px;
	padding: 10px 10px 10px 0px;
	width: 100%;
	color: #1a1a1a;
	border: 0;
	outline: none;
	resize: none;
	font-family: 'Source Sans Pro', sans-serif;
	overflow: auto;
	font-weight: 400;
	line-height: 1.2em;
	vertical-align: middle;
	overflow-x: hidden;
	box-shadow: none !important;
	-webkit-user-select: text;
	transition: all .3s cubic-bezier(.1,.56,.45,.990);
}

.km-container .right .write .km-text-box.km-expand-text-area-box {
	min-height: 260px;
}

.km-container .right .write .write-link.attach:before {
	display: inline-block;
	float: left;
	width: 20px;
	height: 40px;
	content: '';
	background-image: url("/img/attachemnt.png");
	background-repeat: no-repeat;
	background-position: center;
	transform: rotate(35deg);
}

.km-container .right .write .write-link.smiley:before {
	display: inline-block;
	float: left;
	width: 24px;
	height: 40px;
	content: '';
	background-image: url("/img/smiley.png");
	background-repeat: no-repeat;
	background-position: center;
}
.km-container .right .write .write-link.smiley {
	margin-left: 5px;
}

.km-container .right .write .write-link.send:before {
	display: inline-block;
	float: left;
	width: 22px;
	height: 40px;
	margin-left: 11px;
	content: '';
	background-image: url("/img/send.png");
	background-repeat: no-repeat;
	background-position: center;
}

.km-container .right .bubble {
	font-size: 16px;
	position: relative;
	clear: both;
	margin-bottom: 12px;
	margin-top: 12px;
	vertical-align: top;
}

.km-container .right .bubble.km-msg-right .km-msg-box {
	float: right;
	color: #fff;
	font-size: 14px;
	margin-right: 15px;
	padding: 10px 14px 12px;
	background-color: #00b0ff;
	-webkit-align-self: flex-start;
	-ms-flex-item-align: start;
	align-self: flex-start;
	-webkit-animation-name: slideFromLeft;
	animation-name: slideFromLeft;
	border-radius: 5px;
	max-width: 80%;
    display: inline-block;
}

.km-container .right .km-group-inner .bubble.km-msg-left .km-msg-box
	{
	padding: 7px 8px;
	/*color: #333;
	background: white;*/
}

.km-container .right .km-group-inner .bubble.km-msg-left .km-msg-box:after
	{
	border-right-color: #fff;
}

.km-container .right .bubble.km-msg-left .km-msg-box {
	float: left;
	color: #1a1a1a;
	font-size: 14px;
	/*margin-left: 15px;*/
	padding: 10px 14px 12px;
	max-width: 85%;
	border-radius: 5px;
	background-color: whitesmoke;
	-webkit-align-self: flex-end;
	-ms-flex-item-align: end;
	align-self: flex-end;
	-webkit-animation-name: slideFromRight;
	animation-name: slideFromRight;
}

.km-container .right .conversation-start {
	position: relative;
	width: 100%;
	margin-bottom: 27px;
	text-align: center;
}

.km-container .right .conversation-start span {
	font-size: 14px;
	display: inline-block;
	color: #999;
}

.km-container .right .conversation-start span:before, .km-container .right .conversation-start span:after
	{
	position: absolute;
	top: 10px;
	display: inline-block;
	width: 30%;
	height: 1px;
	content: '';
	background-color: #e6e6e6;
}

.km-panel-ft {
	z-index: 99999;
	position: relative;
	text-align: left;
	padding: 10px;
	width: calc(100% - 10px);
    margin: 0 auto 7px;
    border-radius: 4px;
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.09);
	background-color: #ffffff;
}

.km-panel-ft:before, .km-panel-ft:after, .km-row:before, .km-row:after
	{
	display: table;
	content: " ";
}

.blk-lg-1, .blk-lg-2, .blk-lg-3, .blk-lg-4, .blk-lg-5, .blk-lg-6,
	.blk-lg-7, .blk-lg-8, .blk-lg-9, .blk-lg-10, .blk-lg-11, .blk-lg-12 {
	position: relative;
	min-height: 1px;
	float: left;
}

.km-panel-ft .km-row {
	margin: 0;
}

.km-sidebox-error {
	background-color: #ffdfdf;
	color: #885e5e;
	padding: 5px 8px;
    margin:0 0 10px;
	border: 1px solid #ffcfcf;
	font-size: 12px !important;
	text-align: center;
}

.km-container .right .conversation-start span:before {
	left: 0;
}

.km-container .right .conversation-start span:after {
	right: 0;
}

.km-panel {
	height: 100%;
	float: left;
	display: flex;
	position: relative;
	/* border-right: 1px solid #e5e5e5; */
	overflow-y: auto;
}

.km-panel-top {
	padding: 0 10px;
	min-height: 49px;
	text-align: left;
	border-bottom: 1px solid #e5e5e5;
}

.km-panel-sm {
	width: 310px;
}

.km-group-info-tab .km-box-top .blk-lg-2, .km-group-create-tab .km-box-top .blk-lg-2  {
	width: 29px;
}

.km-group-info-tab .km-box-top .blk-lg-10, .km-group-create-tab .km-box-top .blk-lg-10 {
	width: 250px;
}

.km-close-panel {
	height: 48px;
}

.km-group-detail-box {
	padding: 10px 10px 0;
	position: relative;
	background-color: #F0F0F0;
	margin: 0;
}
.km-group-sub-sec {
    padding: 10px 0;
    position: relative;
    vertical-align: baseline;
    outline: none;
}

.km-group-icon-sec {
	padding-bottom: 10px;
	padding-top: 15px;
}

.invite-team {
	margin-left: 2px;
	font-weight: bold;
}
.km-mail-fixed-view-iframe{
	background-color: white;
	border-radius: 5px;
	padding: 0;
	width: 100%;
	border: none;
	/* max-height: 100vh; */
	white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
	word-wrap: break-word;
	overflow: hidden;
}

.km-box-top .hr {
	width: 90%;
	border-top: solid 1px #ececec;
	margin: 39px auto;
	margin-bottom: 20px;
}

.km-display-email-number-wrapper {
	padding: 0px 15px;
}

.km-display-email-number-wrapper div p:first-child {
	color: #817e7e;
	font-size: 14px;
	margin-bottom: 0px;
	margin-right: 12px;
}
.km-display-email-number-wrapper div p:last-child {
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.4px;
	color: #595757;
	white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.km-tooltipsvg{
	vertical-align: middle;
	margin-bottom: 2px;
	margin-left: 6px;
}
.km-tooltipsvg svg{
	vertical-align: text-top;
}

.km-lastseen-online{
	color : #22d674 !important;
}

/* Styles for typing indicator on agent side */
.km-typing-indicator-for-agent--container {
	bottom: 0;
    background-color: #f4f5f6;
    padding: 10px 35px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    animation-duration: .3s;
    animation-fill-mode: both;
    -webkit-animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    opacity: 0;
    animation-name: dashboardfadeInUp;
    -webkit-animation-name: dashboardfadeInUp;
    position: absolute;
	height: 31px;
    z-index: 1;
    width: 25%;
}
.km-new-messages-indicator--container{
	animation-duration: .3s;
    animation-fill-mode: both;
    -webkit-animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    opacity: 0;
    animation-name: dashboardfadeInUp;
    -webkit-animation-name: dashboardfadeInUp;
}
.km-typing-indicator-for-agent--image  {
	margin-right: 15px;
}
.km-typing-indicator-for-agent--image img  {
	width: 25px;
	height: 25px;
	border-radius: 50%;
}
.km-typing-indicator-for-agent--text, .km-typing-indicator-in-preview  {
	font-size: 14px;
	font-weight: normal;
	font-style: italic;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.3px;
	color: #4b4b4d;
}
.km-typing-indicator-for-agent--image .km-alpha-contact-image {
	float: none;
    width: 25px;
    height: 25px;
    line-height: 23px;
	font-size: 20px;
	margin-right: 0;
}
.km-typing-indicator-for-agent--image .km-alpha-contact-image .km-contact-icon {
    height: 25px;
    line-height: 26px;
}
.km-typing-indicator-in-preview {
	text-transform: capitalize;
}
/* Styles for typing indicator on agent side ends here*/

.emoji-image {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    border: 0 none;
    background-image: url(https://www.applozic.com/resources/lib/emojify/images/sheet_emoji_64.png);
}
span.emoji-sizer {
    line-height: 1.2!important;
    font-size: 20px!important;
    margin: -2px 0!important;
}
span.emoji-outer {
    vertical-align: middle;
    display: -moz-inline-box;
    display: inline-block;
    height: 1em;
    width: 1em;
}
span.emoji-inner {
    display: -moz-inline-box;
    display: inline-block;
    text-indent: -9999px;
    width: 100%;
    height: 100%;
    vertical-align: baseline;
}
.km-panel-3 .km-emoji-menu {
	right: auto !important;
}
.km-emoji-menu {
	height: auto !important;
	right: auto !important;
	left: 5px !important;
	min-width: auto !important;
    width: calc(100% - 10px);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 4px 1px;
}
.km-emoji-menu .group-selector {
	position: static;
}
.km-emoji-menu>div {
	margin-top: 0px;
}