@import
	url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);

*, *:before, *:after {
	box-sizing: border-box;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

.km-nav {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.km-container {
	/*position: fixed !important;*/
	background-color: #fff;
	/*margin: 0 auto !important;*/
	border: 1px solid #e5e5e5;
	border-right: 0;
	border-radius: 0 !important;
	font-size: 12px;
	line-height: 20px;
	top: 40px;
	left: 150px;
	right: 150px;
	/*width: calc(100% - 200px);*/
	min-width: 800px;
	height: calc(100% - 100px);
}

.km-container .left {
	float: left;
	width: 300px;
	/*height: calc(100% - 60px);*/
	height: 100%;
	border-right: 1px solid #e6e6e6;
	background-color: #fff;
	display: flex;
	position: relative;
	overflow: hidden;
}

.panel-content {
	display: table;
	width: 100%;
	border-spacing: 0;
	outline: 0;
	table-layout: fixed;
	position: relative;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	height: 100%;
}
.km-text-right {
	text-align:right;
}
.km-container .left .km-box-top {
	height:49px;
}
.km-container .left .km-box-top .blk-lg-3 {
	width:60px;
}
.km-container .left .km-box-top .blk-lg-2 {
	width:39px;
}

.km-input-group {
	margin-top: 2px !important;
}

.km-container .left .km-box-top .blk-lg-2 a img {
	height:25px;
	width:25px;
}
.km-container .left .km-box-top.km-wt-user-icon .blk-lg-3 {
    display: none !important;
}
.km-container .left .km-box-top .km-box-title {
  height:59px;
  line-height: 59px;
}

.km-container .left .km-box-top .km-user-icon {
	padding:4px 0;
}
.km-container .left .km-box-top .km-user-icon img {
	width:49px;
	height: 49px;
}
.km-container .left .top {
	width: 100%;
	height: 50px;
	padding: 8px 10px;
	min-height: 50px;
	text-align: left;
	border-bottom: 1px solid #F3F3F3 !important;
}
.km-container .left .top .km-search-icon a {
 	line-height:32px;
 	border:0;
 	border-right:1px solid #e6e6e6;
 }
.km-container .left .top .km-search-icon{
	border-radius:4px;
 	border-top-right-radius: 0px;
 	border-bottom-right-radius: 0px;
 	height: 32px;
 	line-height:32px;
 	background-color: #f5f5f5;
 }

.km-container .left input {
	float: left;
	width: 248px;
	height: 32px;
	padding: 0 10px;
	background-color: #f5f5f5;
	border-radius: 4px;
	border-bottom-left-radius: 0;
    border-top-left-radius: 0;
	border:0px;
	font-size:14px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
}

.km-container .left input:focus {
	outline: none;
}

.km-panel-body {
	padding: 0;
	position: relative;
	display: table-row;
	height: 100%;
}

.km-panel-body .km-panel-cell {
	position: relative;
	display: table;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.km-panel-body .km-panel-inner {
	position: absolute;
	display: table-row;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: auto;
}

.km-container .left .people .person {
	position: relative;
	width: 100%;
	padding: 12px 15px;
	cursor: pointer;
	background-color: #fff;
	border-bottom: 1px solid #F3F3F3 !important;
}

.km-alpha-contact-image {
	cursor: pointer;
	float: left;
	width: 43px;
	height: 43px;
	margin-right: 12px;
	border-radius: 50%;
	font-size: 25px;
	text-align: center;
	line-height: 40px;
}

.km-container .left .people .person img {
	float: left;
	width: 43px;
	height: 43px;
	margin-right: 12px;
	border-radius: 50%;
}

.km-container .left .people .person .name {
	font-size: 14px;
	line-height: 22px;
	color: #1a1a1a;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	text-overflow: ellipsis;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	width: 55%;
}

.km-container .left .people .person .time {
	font-size: 14px;
	line-height:22px;
	position: absolute;
	right: 5%;
	padding-left: 5px;
	color: #999;
}

.km-container .left .people .person .preview {
	font-size: 14px;
	line-height: 1.2;
	height: 20px;
	display: inline-block;
	overflow: hidden !important;
	width: 65%;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #999;
	display: inline-block;
}

.km-container .left .people .person .unreadcount {
	font-size: 14px;
	position: absolute;
	float: right;
	right: 5%;
	color: #999;
	/* background-color: #fff; */
}

.unreadcount .text {
	margin-top: 1px;
}

.km-container .left .people .person.active, .km-container .left .people .person:hover
	{
	padding: 12px 15px;
	border: 0;
	background-color: #eceff1;
	border-bottom: 1px solid #F3F3F3 !important;
}

.km-container .left .people .person.active:after, .km-container .left .people .person:hover:after
	{
	display: none;
}

/*
.km-container .left .people .person .km-icon-user, .km-container .left .people .person.active .km-icon-user,
	.km-container .left .people .person:hover .km-icon-user, .km-group-search-list .km-icon-user, .km-contact-search-list .km-icon-user, .km-group-member-list .km-icon-user {
	background: url(app/images/km-plugin-sprite.png);
	background-position: -6px 2px;
	width: 40px;
	height: 40px;
	background-size: 50px;
}*/

.km-container .right {
	position: relative;
	float: left;
	width: calc(100% - 300px);
	height: 100%;
	border-right: 1px solid #e6e6e6;
}

.km-container.km-panel-3 .right {
	width: calc(100% - 600px);
}

.km-container .right .top span {
	font-size: 15px;
	color: #999;
}

.km-tab-title {
	color: #1a1a1a;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
}

.km-tab-individual .blk-lg-4 {
	width: 50px;
}

.km-tab-individual .blk-lg-8 {
	width: calc(100% - 50px);
}
.km-menu-item .km-menu-icon {
	height: 30px;
	width: 30px;
	cursor: pointer;
	vertical-align: middle;
}

.km-container .right .conversation-section {
	height:100%;
}
.km-container .right .conversation-section .km-loading {
    z-index: 100;
}
.km-container .right .chat {
	position: relative;
	display: none;
	padding: 0 35px;
	/*background-color: #eceff1;*/
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: end;
}

.km-container .right .chat.active-chat {
	position: absolute;
	display: table-row;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: auto;
}

.km-container .right .chat.active-chat .bubble {
	-webkit-transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
	transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
}

.km-container .right .chat.active-chat .bubble:nth-of-type(1) {
	-webkit-animation-duration: 0.15s;
	animation-duration: 0.15s;
}

.km-container .right .chat.active-chat .bubble:nth-of-type(2) {
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
}

.km-container .right .chat.active-chat .bubble:nth-of-type(3) {
	-webkit-animation-duration: 0.45s;
	animation-duration: 0.45s;
}

.km-container .right .chat.active-chat .bubble:nth-of-type(4) {
	-webkit-animation-duration: 0.6s;
	animation-duration: 0.6s;
}

.km-container .right .chat.active-chat .bubble:nth-of-type(5) {
	-webkit-animation-duration: 0.75s;
	animation-duration: 0.75s;
}

.km-container .right .chat.active-chat .bubble:nth-of-type(6) {
	-webkit-animation-duration: 0.9s;
	animation-duration: 0.9s;
}

.km-container .right .chat.active-chat .bubble:nth-of-type(7) {
	-webkit-animation-duration: 1.05s;
	animation-duration: 1.05s;
}

.km-container .right .chat.active-chat .bubble:nth-of-type(8) {
	-webkit-animation-duration: 1.2s;
	animation-duration: 1.2s;
}

.km-container .right .chat.active-chat .bubble:nth-of-type(9) {
	-webkit-animation-duration: 1.35s;
	animation-duration: 1.35s;
}

.km-container .right .chat.active-chat .bubble:nth-of-type(10) {
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
}

.km-container .right .write .km-write-box {
	padding-left: 8px;
	padding-right: 8px;
	border: 1px solid #e6e6e6;
	background-color: #eceff1;
	border-radius: 5px;
}

.km-container .right .write input, .km-container .right .write .km-text-box
	{
	font-size: 16px;
	float: left;
	min-height: 18px;
	max-height: 80px;
	padding: 10px;
	width: calc(100% - 80px);
	color: #1a1a1a;
	border: 0;
	outline: none;
	resize: none;
	font-family: 'Source Sans Pro', sans-serif;
	overflow: auto;
	font-weight: 400;
	line-height: 1.2em;
	vertical-align: middle;
	overflow-x: hidden;
	box-shadow: none !important;
	-webkit-user-select: text;
}

.km-container .right .write .write-link.attach:before {
	display: inline-block;
	float: left;
	width: 20px;
	height: 40px;
	content: '';
	background-image: url("http://s1.postimg.org/s5gfy283f/attachemnt.png");
	background-repeat: no-repeat;
	background-position: center;
}

.km-container .right .write .write-link.smiley:before {
	display: inline-block;
	float: left;
	width: 24px;
	height: 40px;
	content: '';
	background-image: url("http://s14.postimg.org/q2ug83h7h/smiley.png");
	background-repeat: no-repeat;
	background-position: center;
}

.km-container .right .write .write-link.send:before {
	display: inline-block;
	float: left;
	width: 22px;
	height: 40px;
	margin-left: 11px;
	content: '';
	background-image: url("http://s30.postimg.org/nz9dho0pp/send.png");
	background-repeat: no-repeat;
	background-position: center;
}

.km-container .right .bubble {
	font-size: 16px;
	position: relative;
	clear: both;
	margin-bottom: 12px;
	margin-top: 12px;
	vertical-align: top;
}

.km-container .right .bubble.km-msg-right .km-msg-box {
	float: right;
	color: #fff;
	font-size: 14px;
	margin-right: 15px;
	padding: 10px 14px 12px;
	background-color: #00b0ff;
	-webkit-align-self: flex-start;
	-ms-flex-item-align: start;
	align-self: flex-start;
	-webkit-animation-name: slideFromLeft;
	animation-name: slideFromLeft;
	border-radius: 5px;
	max-width: 80%;
    display: inline-block;
}

.km-container .right .km-group-inner .bubble.km-msg-left .km-msg-box
	{
	padding: 4px 8px;
	color: #333;
	background: #fff;
}

.km-container .right .km-group-inner .bubble.km-msg-left .km-msg-box:after
	{
	border-right-color: #fff;
}

.km-container .right .bubble.km-msg-left .km-msg-box {
	float: left;
	color: #1a1a1a;
	font-size: 14px;
	margin-left: 15px;
	padding: 10px 14px 12px;
	max-width: 85%;
	border-radius: 5px;
	background-color: #FFFFFF;
	-webkit-align-self: flex-end;
	-ms-flex-item-align: end;
	align-self: flex-end;
	-webkit-animation-name: slideFromRight;
	animation-name: slideFromRight;
}

.km-container .right .conversation-start {
	position: relative;
	width: 100%;
	margin-bottom: 27px;
	text-align: center;
}

.km-container .right .conversation-start span {
	font-size: 14px;
	display: inline-block;
	color: #999;
}

.km-container .right .conversation-start span:before, .km-container .right .conversation-start span:after
	{
	position: absolute;
	top: 10px;
	display: inline-block;
	width: 30%;
	height: 1px;
	content: '';
	background-color: #e6e6e6;
}

.km-panel-ft {
	text-align: left;
	padding: 10px;
}

.km-panel-ft:before, .km-panel-ft:after, .km-row:before, .km-row:after
	{
	display: table;
	content: " ";
}

.blk-lg-1, .blk-lg-2, .blk-lg-3, .blk-lg-4, .blk-lg-5, .blk-lg-6,
	.blk-lg-7, .blk-lg-8, .blk-lg-9, .blk-lg-10, .blk-lg-11, .blk-lg-12 {
	position: relative;
	min-height: 1px;
	float: left;
}

.km-panel-ft .km-row {
	margin: 0;
}

.km-sidebox-error {
	background-color: #ffdfdf;
	color: #885e5e;
	padding: 5px 8px;
    margin:0 0 10px;
	border: 1px solid #ffcfcf;
	font-size: 12px !important;
	text-align: center;
}

.km-container .right .conversation-start span:before {
	left: 0;
}

.km-container .right .conversation-start span:after {
	right: 0;
}

.km-panel {
	height: 100%;
	float: left;
	display: flex;
	position: relative;
	border-right: 1px solid #e5e5e5;
}

.km-panel-top {
	padding: 0 10px;
	min-height: 49px;
	text-align: left;
	border-bottom: 1px solid #e5e5e5;
}

.km-panel-sm {
	width: 300px;
}

.km-group-info-tab .km-box-top .blk-lg-2, .km-group-create-tab .km-box-top .blk-lg-2  {
	width: 29px;
}

.km-group-info-tab .km-box-top .blk-lg-10, .km-group-create-tab .km-box-top .blk-lg-10 {
	width: 250px;
}

.km-close-panel {
	height: 48px;
}

.km-group-detail-box {
	padding: 10px 10px 0;
	position: relative;
	background-color: #F0F0F0;
	margin: 0;
}
.km-group-sub-sec {
    padding: 10px 0;
    position: relative;
    vertical-align: baseline;
    outline: none;
}

.km-group-icon-sec {
	padding-bottom: 10px;
}

.invite-team {
	margin-left: 2px;
	font-weight: bold;
}
