
.welcome-message-wrapper{
    margin-left: 15px;
    max-width: 998px;
    margin-bottom: 50px;
}
.welcome-message-title{
    font-size: 18px;
    letter-spacing: 1.3px;
    color: #354052;
    display:inline;
    font-weight: normal;
}
.welcome-message-action-wrapper{
    display: flex;
    margin-bottom: 6px;
}
.welcome-message-description{
    font-size: 16px;
    letter-spacing: 0.8px;
    text-align: left;
    color: #a1a1a1;
}
.welcome-msg-text-area{
    width: 100%;
    border: 1px solid #aaa;
    border-radius: 4px;
    font-size: 16px;
    padding: 7px;
    background: none !important;

}
.welcome-card-header {
    width: 100%;
}
.welcome-msg-collect-email-checkbox .checkbox-input[type='checkbox']+.checkbox-label {
    margin: 0;
}

.welcome-msg-collect-email-checkbox {
    margin-bottom: 15px;
    font-size: 14px;
    letter-spacing: normal;
    text-align: left;
    color: #354052;
    font-weight: 400;
}
.km-welcome-messge-textarea-heading{
    font-size: 16px;
    letter-spacing: 1.2px;
    text-align: left;
    color: #878585;
    margin: 0px 0px 10px -14px;
}
.message-wrapper {
    margin-left: 15px;
}
.discard-btn{
    margin-left: 15px;
}
.add-new-msg-btn{
    padding-left: 0;
    font-size: 14px;
    letter-spacing: 0.6px;
    text-align: left;
    color: #5c5aa7;
    margin-top: -18px;
    cursor: pointer;
    border: 0;
    background: none; 
    display: block;
    margin-bottom: 10px;
}
.message-title{
    font-size: 16px;
    letter-spacing: 1.2px;
    text-align: left;
    color: #878585;
    margin-bottom: 15px;
    margin-top: 5px;
}
.slider-toggle {
    margin-left: 10px;
}
.text-area-wrapper{
    margin-right: 1px;
    margin-bottom: 25px;
    position: relative;
    background-color: #fff !important;
}
.trash-wrapper {
    position: relative;
}
.trash-btn {
    right: 15px;
    border: 1px solid grey;
    border-radius: 50%;
    height: 22px;
    width: 22px;
    position: absolute;
    bottom: 4px;
    text-align: center;
    cursor: pointer;
    
}
textarea::-webkit-input-placeholder {
    color: rgb(202, 206, 207);
    }
    
    textarea:-moz-placeholder { /* Firefox 18- */
    color: rgb(202, 206, 207);
    }
    
    textarea::-moz-placeholder {  /* Firefox 19+ */
    color:rgb(202, 206, 207);
    }
    
    textarea:-ms-input-placeholder {
    color:rgb(202, 206, 207);

    }
.welcome-message-row{
    max-width: 998px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.welcome-message-textboxes{
    width: 60%;
}