@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

body {
    font-family: 'Open Sans', 'Inter', sans-serif;

    &.accesibility :focus {
        outline: 2px auto $outline-color;
    }
    &:not(.accesibility):focus {
        outline: none;
    }
}

button {
    font-size: $heading-secondary;
    font-family: $font-family-primary;
    font-weight: 500;
    padding: 8px 12px;
    line-height: 19px;
}

input,
select,
textarea {
    font-size: $heading-secondary;
    font-family: $font-family-primary !important;
    border: 2px solid $input-border-color;
    background-color: $disable-input-color;
}
