body {
    font-family: $font-family-primary;

    &.accesibility :focus {
        outline: 2px auto $outline-color;
    }
    &:not(.accesibility):focus {
        outline: none;
    }
}

button {
    font-size: $heading-secondary;
    font-family: $font-family-primary;
    font-weight: 500;
    padding: 8px 12px;
    line-height: 19px;
}

input,
select,
textarea {
    font-size: $heading-secondary;
    font-family: $font-family-primary !important;
    border: 2px solid $input-border-color;
    background-color: $disable-input-color;
}
