/* ----------------- VoiceNote feature ------------- */
#km-voice-note-mike-btn-container {
    width: auto;
    height: 30px;
    float: right;
    cursor: pointer;
    display: block;
}
#km-voice-recorder {
    display: flex;
    padding: 3px 3px 3px 8px;
}
#km-voice-recorder > div {
    padding: 3px;
    width: 20px;
}
#km-voice-recorder div.recorder-control {
    cursor: pointer;
}
#km-voice-recorder div.recorder-control.delete-btn:hover svg path {
    fill: #ed495c;
}
#km-voice-recorder > #recorder-body {
    width: 100%;
    border-left: 1px solid #d9deeb;
    border-right: 1px solid #d9deeb;
    flex-grow: 1;
}

#km-voice-recorder > #recorder-right-btn {
    margin-left: auto;
}
#km-voice-recorder #send-btn .mck-icon-send {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    padding: 0;
    overflow: visible;
    text-indent: 0 !important;
}
#km-voice-recorder #send-btn .mck-icon-send svg {
    width: 15px;
    height: 15px;
    fill: currentColor;
    display: block;
}
#km-voice-recorder > #recorder-body > div.recorder-control {
    float: left;
}
#km-voice-recorder div.recorder-control.disabled svg path {
    fill: #bcc7db !important;
}
#km-voice-recorder > #recorder-body > #km-audio-player {
    display: flex;
    align-items: center;
    justify-content: center;
}
#km-voice-recorder > div {
    width: 35px;
}
.km-audio-player-timer {
    font-size: 14px;
    color: #919ead;
}

#progressbar {
    border: 1px solid #919ead;
    border-radius: 13px;
    margin: 0 5px;
    flex-grow: 1;
}

#progressbar > div#wave-front-progressBar {
    width: 0px; /* Adjust with JavaScript */
    height: 5px;
    border-radius: 10px;
}

#mck-mic-options-dropup.mck-dropup-menu .menu-item {
    padding: 5px 10px;
    color: #333;
    white-space: nowrap;
    display: flex;
}
#mck-mic-options-dropup.mck-dropup-menu .menu-item:hover {
    background: #f5f5f5;
    cursor: pointer;
}
