---
layout:
---
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="android chat sdk, iOS chat sdk, android messaging sdk, iOS messaging sdk, query chat plugin, javascript chat plugin, real time communication, chat server, mqtt chat server, mqtt android library, mqtt iOS library, open source chat, Download and Integrate SDK, Retain more engaged and satisfied users, Messaging integration in android apps, Messaging SDK for Android and ios, IOS & Android Mobile Chat SDK, mobile and web messaging, IP mssaging, In-App messaging, messaging backend server">
    <meta name="description" content="Superpowers for customer support agents. Modern messaging software for real-time, proactive and personalised support.">
    <meta name="author" content="">
    <meta http-equiv=”content-language” content=”en-us”>

    <title>Kommunicate.io</title>
    {% include headtag.html %}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="/assets/resources/css/about-us.css" type="text/css">


</head>

<body id="page-top">
    <div class="show">
      {% include nav-header.html %}
    </div>
    {% include_relative /sections/about-us-landing-page.html %}
    {% include_relative /sections/about-us-team-section.html %}
    {% include_relative /sections/about-us-address-section.html %}
    {% include_relative /sections/about-us-cta-section.html %}
    
    {% include footer-section.html %}

    <!-- <script type="text/javascript" src="/assets/resources/js/classie.js"> -->

  <script type="text/javascript">

    var QUERYSTRING = 'test',
        CURRENTURL = window.location.href;
    
        if(CURRENTURL.indexOf(QUERYSTRING) != -1) {
            (function(d, m){
             let o = {"appId":"kommunicate-support","isAnonymousChat":true,"agentId":"devashish@kommunicate.io","groupName":"Kommunicate Support","baseUrl":"https://apps-test.applozic.com"};
             let s = document.createElement("script");
             s.type = "text/javascript";
             s.async = true;
             s.src = "https://api-test.kommunicate.io/kommunicate.app";
             let h = document.getElementsByTagName("head")[0];
             h.appendChild(s);
             window.kommunicate = m;
             m._globals = o;
           })(document, window.kommunicate || {});


          //  $("form").attr("action", "https://test.kommunicate.io/signup/");

        }
        else {
            (function(d, m){
             let o = {"appId":"kommunicate-support","isAnonymousChat":true,"agentId":"devashish@kommunicate.io","groupName":"Kommunicate Support","baseUrl":"https://chat.kommunicate.io"};
             let s = document.createElement("script");
             s.type = "text/javascript";
             s.async = true;
             s.src = "https://api.kommunicate.io/kommunicate.app";
             let h = document.getElementsByTagName("head")[0];
             h.appendChild(s);
             window.kommunicate = m;
             m._globals = o;
           })(document, window.kommunicate || {});


          //  $("form").attr("action", "https://kommunicate.io/signup/");

        }


  //   (function(d, m){
  //    let o = {"appId":"kommunicate-support","isAnonymousChat":true,"agentId":"devashish@kommunicate.io","groupName":"Kommunicate Support","baseUrl":"https://apps-test.applozic.com"};
  //    let s = document.createElement("script");
  //    s.type = "text/javascript";
  //    s.async = true;
  //    s.src = "https://api-test.kommunicate.io/kommunicate.app";
  //    let h = document.getElementsByTagName("head")[0];
  //    h.appendChild(s);
  //    window.kommunicate = m;
  //    m._globals = o;
  //  })(document, window.kommunicate || {});
  </script>

<!-- Start of HubSpot Embed Code -->
  <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/4025922.js"></script>
<!-- End of HubSpot Embed Code -->

</body>

</html>
