---
layout:
---
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Customer Support, Website Chat, Customer Engagement, Messaging software, Chatbots, Customer Experience, Customer Messaging , Customer Service, Knowledge base, Customer Care, Customer Self Service, Chatbots for customer service, Customer Support Automation, Customer Service Experience, Customer Support Automation, Live chat, Chat Plugin, Chat Software	, Customer Feedback, Support Chat, Marketing automation, Live chat for sales	, Live chat for support	, Customer Engagement, Intercom, Intercom chat, Drift , Drift chat, Freshchat, Intercom alternatives, Drift alternatives">
    <meta name="description" content="Kommunicate is a customer communication software for growing businesses for building long-lasting customer relationships that drive growth.">
    <meta name="author" content="">
    <meta http-equiv=”content-language” content=”en-us”>
    <meta property="og:image" content="/assets/resources/images/km-conversations.jpg" />

    <title>Customer Communication Software | Kommunicate</title>
 
    {% include headtag.html %}
    <link rel="stylesheet" href="/assets/resources/css/homepage-beta.css" type="text/css">


</head>

<body id="page-top">
    <div class="show">
      {% include nav-header.html %}
    </div>
    {% include_relative /sections/homepage-beta-landing-page.html %}
    {% include_relative /sections/homepage-beta-trust-section.html %}
    {% include_relative /sections/homepage-beta-features-section.html %}
    {% include_relative /sections/homepage-beta-reasons-invite-list-section.html %}
    {% include_relative /sections/homepage-beta-latest-section.html %}
    {% include_relative /sections/homepage-beta-cta-section.html %}
    {% include footer-section.html %}


    <script type='text/javascript' src='/assets/resources/js/gsap/TimelineMax.min.js'></script>
    <script type='text/javascript' src='/assets/resources/js/gsap/TweenMax.min.js'></script>
    <!-- <script type="text/javascript" src="/assets/resources/js/classie.js"> -->
    <script>
        var previewImage = document.getElementsByClassName("preview-image");
        var timeline = new TimelineMax();
        timeline
        // from(previewImage, 2, {
        //         x: "100%",
        //         opacity: 0
        //     })
            .from(".hero-section .hero-text, .hero-section .hero-subtext", 1.5, {
                x: -100,
                opacity: 0
            })
            // .from("#intro h1, #intro p", 1, {
            //     opacity: 0
            // })
            .from("#form-container", 1.5, {
                x: 100,
                opacity: 0
            }, '-=1.5')
            .from("#intro form, #intro h6", 1, {
                y: 100,
                opacity: 0
            })
            .from(".mck-sidebox-launcher", 1, {
                x: 100,
                opacity: 0
            })
            // .from("#intro h6", 1, {
            //     y: 100,
            //     opacity: 0
            // });
    </script>

<script>
//Select all links with hashes
$('a[href*="#"]')
  // Remove links that don't actually link to anything
  .not('[href="#"]')
  .not('[href="#0"]')
  .click(function(event) {
    // On-page links
    if (
      location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
      &&
      location.hostname == this.hostname
    ) {
      // Figure out element to scroll to
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
      // Does a scroll target exist?
      if (target.length) {
        // Only prevent default if animation is actually gonna happen
        event.preventDefault();
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000, function() {
          // Callback after animation
          // Must change focus!
          var $target = $(target);
          $target.focus();
          if ($target.is(":focus")) { // Checking if the target was focused
            return false;
          } else {
            $target.attr('tabindex','-1'); // Adding tabindex for elements not focusable
            $target.focus(); // Set focus again
          };
        });
      }
    }
  });

</script>

<!-- Start of HubSpot Embed Code -->
  <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/4025922.js"></script>
<!-- End of HubSpot Embed Code -->

</body>

</html>
