---
layout:
---
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Customer Support Software, Customer Engagement, Messaging software, Customer Experience , Dynamic FAQs, Customer Messaging, Chatbots, Knowledge Base, Customer Support Automation, Customer Service Software/Tool, Customer Care Software/ Tool, Customer Self Service, Chatbots for customer service, Customer Service Experience, Live chat, Message shortcuts, Chat Plugin, Chat Software, Customer Feedback, Support Chat, Marketing automation, Live chat for sales, Live chat for support">
    <meta name="description" content="Kommunicate’s bundle of modern features align your customer support efforts and growth. Leverage features such as live chat, centralized dashboard, chatbot integration, chat history, dynamic FAQs and knowledge base.">
    <meta name="author" content="">
    <meta http-equiv=”content-language” content=”en-us”>
    <meta property="og:image" content="/assets/resources/images/km-conversations.jpg" />

    <title>Customer Communication Software Demo | Kommunicate</title>
    {% include headtag.html %}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="/assets/resources/css/demo.css" type="text/css">


</head>

<body id="page-top">
    <div class="show">
      {% include nav-header.html %}
    </div>
    
    {% include_relative /sections/demo-section.html %}
    {% include_relative /sections/demo-footer-section.html %}


    <!-- <script type="text/javascript" src="/assets/resources/js/classie.js"> -->

<!-- Start of HubSpot Embed Code -->
  <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/4025922.js"></script>
<!-- End of HubSpot Embed Code -->

      <script>
        (function(d, m){ 
      let o = {"appId":"e1318f3a9a2e51adfaf4b04f8b68cc7d","isAnonymousChat":true,"agentId":"demo@kommunicate.io","groupName":"John Doe","email":""};
      let s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
      s.src = "https://api.kommunicate.io/kommunicate.app";
      let h = document.getElementsByTagName("head")[0]; h.appendChild(s);
      window.kommunicate = m; m._globals = o;
    })(document, window.kommunicate || {});
      </script>

      <script>
        window.onload = function()  {
          var element = document.getElementById("launch-chat-button");
          element.disabled=false;
        } 
        function launchSideboxChat() {
          Kommunicate.openConversationList();;
        }
        document.getElementById("launch-chat-button").addEventListener("click", launchSideboxChat);
      </script>

</body>

</html>
