---
layout:
---
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="android chat sdk, iOS chat sdk, android messaging sdk, iOS messaging sdk, query chat plugin, javascript chat plugin, real time communication, chat server, mqtt chat server, mqtt android library, mqtt iOS library, open source chat, Download and Integrate SDK, Retain more engaged and satisfied users, Messaging integration in android apps, Messaging SDK for Android and ios, IOS & Android Mobile Chat SDK, mobile and web messaging, IP mssaging, In-App messaging, messaging backend server">
    <meta name="description" content="Superpowers for customer support agents. Modern messaging software for real-time, proactive and personalised support.">
    <meta name="author" content="">
    <meta http-equiv=”content-language” content=”en-us”>

    <title>Kommunicate.io</title>
    <!-- <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet"> -->
    {% include headtag.html %}
    <link rel="stylesheet" href="/assets/resources/css/homepage-beta.css" type="text/css">
    <!-- <link rel="stylesheet" href="/assets/resources/css/signup.css" type="text/css"> -->


</head>

<body id="page-top">
    <div class="hide">
      {% include_relative /sections/beta-nav-header.html %}
    </div>
    {% include_relative /sections/homepage-beta-landing-page.html %}
    {% include_relative /sections/homepage-beta-trust-section.html %}
    {% include_relative /sections/homepage-beta-features-section.html %}
    {% include_relative /sections/homepage-beta-reasons-invite-list-section.html %}
    {% include_relative /sections/homepage-beta-latest-section.html %}
    {% include_relative /sections/homepage-beta-cta-section.html %}
    {% include_relative /sections/homepage-beta-footer-section.html %}


    <script type='text/javascript' src='/assets/resources/js/gsap/TimelineMax.min.js'></script>
    <script type='text/javascript' src='/assets/resources/js/gsap/TweenMax.min.js'></script>
    <!-- <script type="text/javascript" src="/assets/resources/js/classie.js"> -->

    </script>
    <script>
        var previewImage = document.getElementsByClassName("preview-image");
        var timeline = new TimelineMax();
        timeline
        // from(previewImage, 2, {
        //         x: "100%",
        //         opacity: 0
        //     })
            .from(".hero-section .hero-text, .hero-section .hero-subtext", 1.5, {
                x: -100,
                opacity: 0
            })
            // .from("#intro h1, #intro p", 1, {
            //     opacity: 0
            // })
            .from("#form-container", 1.5, {
                x: 100,
                opacity: 0
            }, '-=1.5')
            .from("#intro form, #intro h6", 1, {
                y: 100,
                opacity: 0
            })
            .from(".mck-sidebox-launcher", 1, {
                x: 100,
                opacity: 0
            })
            // .from("#intro h6", 1, {
            //     y: 100,
            //     opacity: 0
            // });
    </script>

    <!-- <script type="text/javascript">
      $(document).ready(function($){
        var $form_signin_modal = $('#SigninModal'),
        $forgot_password_modal = $('#ForgotPassworModal'),
        $forgot_password_link = $('#forgot-password'),
        $back_to_login_link = $forgot_password_modal.find('.back-to-singin a');

        //show forgot-password form
    	$forgot_password_link.on('click', function(event){
    		event.preventDefault();
    		forgot_password_selected();
    	});

    	//back to login from the forgot-password form
    	$back_to_login_link.on('click', function(event){
    		event.preventDefault();
    		back_to_login_selected();
    	});

      function back_to_login_selected(){
    		$('#SigninModal').modal("show");
        $('#ForgotPassworModal').modal("hide");
    	}

    	function forgot_password_selected(){
        $('#SigninModal').modal("hide");
        $('#ForgotPassworModal').modal("show");
    	}
      });
    </script> -->
<script>
// $(".hero-section-icon-link").click(function() {
//     $('html,body').animate({
//         scrollTop: $("#homepage-beta-features-section").offset().top},
//         'slow');
//         // $('#smart-campaigns').addClass('shake');
// });

//Select all links with hashes
$('a[href*="#"]')
  // Remove links that don't actually link to anything
  .not('[href="#"]')
  .not('[href="#0"]')
  .click(function(event) {
    // On-page links
    if (
      location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
      &&
      location.hostname == this.hostname
    ) {
      // Figure out element to scroll to
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
      // Does a scroll target exist?
      if (target.length) {
        // Only prevent default if animation is actually gonna happen
        event.preventDefault();
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000, function() {
          // Callback after animation
          // Must change focus!
          var $target = $(target);
          $target.focus();
          if ($target.is(":focus")) { // Checking if the target was focused
            return false;
          } else {
            $target.attr('tabindex','-1'); // Adding tabindex for elements not focusable
            $target.focus(); // Set focus again
          };
        });
      }
    }
  });

</script>

    <script type="text/javascript">

    var QUERYSTRING = 'test',
        CURRENTURL = window.location.href;
    
        if(CURRENTURL.indexOf(QUERYSTRING) != -1) {
            (function(d, m){
             let o = {"appId":"kommunicate-support","isAnonymousChat":true,"agentId":"devashish@kommunicate.io","groupName":"Kommunicate Support","baseUrl":"https://apps-test.applozic.com"};
             let s = document.createElement("script");
             s.type = "text/javascript";
             s.async = true;
             s.src = "https://api-test.kommunicate.io/kommunicate.app";
             let h = document.getElementsByTagName("head")[0];
             h.appendChild(s);
             window.kommunicate = m;
             m._globals = o;
           })(document, window.kommunicate || {});
            
             $("form").attr("action", "https://dashboard-test.kommunicate.io/register");
        }
        else {
            (function(d, m){
             let o = {"appId":"kommunicate-support","isAnonymousChat":true,"agentId":"devashish@kommunicate.io","groupName":"Kommunicate Support","baseUrl":"https://chat.kommunicate.io"};
             let s = document.createElement("script");
             s.type = "text/javascript";
             s.async = true;
             s.src = "https://api.kommunicate.io/kommunicate.app";
             let h = document.getElementsByTagName("head")[0];
             h.appendChild(s);
             window.kommunicate = m;
             m._globals = o;
           })(document, window.kommunicate || {});
            
            $("form").attr("action", "https://dashboard.kommunicate.io/register");
        }


  //   (function(d, m){
  //    let o = {"appId":"kommunicate-support","isAnonymousChat":true,"agentId":"devashish@kommunicate.io","groupName":"Kommunicate Support","baseUrl":"https://apps-test.applozic.com"};
  //    let s = document.createElement("script");
  //    s.type = "text/javascript";
  //    s.async = true;
  //    s.src = "https://api-test.kommunicate.io/kommunicate.app";
  //    let h = document.getElementsByTagName("head")[0];
  //    h.appendChild(s);
  //    window.kommunicate = m;
  //    m._globals = o;
  //  })(document, window.kommunicate || {});
</script>

<!-- Start of HubSpot Embed Code -->
  <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/4025922.js"></script>
<!-- End of HubSpot Embed Code -->

</body>

</html>
