---
layout:
---
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Manage your email and chat conversations from one place. Collaborate with the team, bring in automation for better and personalized customer support.">
    <meta name="og:description" content="Manage your email and chat conversations from one place. Collaborate with the team, bring in automation for better and personalized customer support.">
    <meta name="author" content="">
    <meta http-equiv=”content-language” content=”en-us”>
    <meta property="og:title" content="Team Inbox for Customer Support Teams | Mailbox | Kommunicate" />
    <meta property="og:image" content="/assets/resources/images/Kommunicate.jpg" />

    <title>Team Inbox for Customer Support Teams | Mailbox | Kommunicate</title>
 
    {% include headtag.html %} {% include scripts.html %}
    <link rel="stylesheet" href="/assets/resources/css/homepage.css" type="text/css">

</head>

<body id="page-top">
    <div id="product-hunt-banner" class="product-hunt-banner hide">
      <div class="ph-logo-container">
        <img src="/assets/resources/images/ph-kitty-logo.png" alt="Product Hunt Kitty Logo">
      </div>
      <div class="ph-text-container">
        <p>Hey Product Hunters! Get first three months free on premium plans. Enter code <strong>"PRODUCTHUNT"</strong> at checkout.</p>
      </div>
    </div>
    <div id="product-hunt-nav-bar" class="show ">
      {% include nav-header.html %}
    </div>

    <main>
      {% include_relative /sections/mailbox-landing-page.html %}
      {% include customer-logos.html %}
      {% include_relative /sections/mailbox-conversations.html %}
      {% include_relative /sections/mailbox-support.html %}
      {% include_relative /sections/homepage-ab-integrate-section.html %}
      {% include footer-ab-section.html %}
    </main>
 

    

    

<!-- Start of HubSpot Embed Code -->
  <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/4025922.js"></script>
<!-- End of HubSpot Embed Code -->


</body>

</html>
