---
layout:
---
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Customer Support Software Pricing, Customer Engagement, Messaging software, Customer Experience , Dynamic FAQs, Customer Messaging, Chatbots, Knowledge Base, Customer Support Automation, Customer Service Software/Tool, Customer Care Software/ Tool, Customer Self Service, Chatbots for customer service, Customer Service Experience, Live chat, Message shortcuts, Chat Plugin, Chat Software	, Customer Feedback, Support Chat, Marketing automation, Live chat for sales	, Live chat for support	, Drift Pricing, Intercom Pricing, Freshchat Pricing, Livechat pricing">
    <meta name="description" content="Kommunicate is an affordable and modern customer communication software. Try for free and upgrade your plans to avail more benefits with as low as $10.">
    <meta name="author" content="">
    <meta http-equiv=”content-language” content=”en-us”>
    <meta property="og:image" content="/assets/resources/images/km-conversations.jpg" />

    <title>Pricing | Kommunicate</title>
    {% include headtag.html %}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="/assets/resources/css/pricing.css" type="text/css">


</head>

<body id="page-top">
    <div class="show">
      {% include nav-header.html %}
    </div>
    
    {% include_relative /sections/pricing-new-landing-page.html %}
    
    {% include footer-section.html %}

    <!-- <script type="text/javascript" src="/assets/resources/js/classie.js"> -->

<!-- Start of HubSpot Embed Code -->
  <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/4025922.js"></script>
<!-- End of HubSpot Embed Code -->

</body>

</html>
