---
layout:
title: SignUp
---
<html> 

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="android chat sdk, iOS chat sdk, android messaging sdk, iOS messaging sdk, query chat plugin, javascript chat plugin, real time communication, chat server, mqtt chat server, mqtt android library, mqtt iOS library, open source chat, Download and Integrate SDK, Retain more engaged and satisfied users, Messaging integration in android apps, Messaging SDK for Android and ios, IOS & Android Mobile Chat SDK, mobile and web messaging, IP mssaging, In-App messaging, messaging backend server">
    <meta name="description" content="Superpowers for customer support agents. Modern messaging software for real-time, proactive and personalised support.">
    <meta name="author" content="">
    <meta http-equiv=”content-language” content=”en-us”>

    <title>Setup - Integration | Kommunicate.io</title>
    
    {% include headtag.html %}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

    <link rel="stylesheet" href="/assets/resources/css/setup.css" type="text/css">

  </head>

  <body id="page-top">

    {% include_relative /sections/setup-integration-section.html %}

    <!-- <script type="text/javascript" src="/assets/resources/js/classie.js"></script> -->
    <script type="text/javascript" src="/assets/resources/js/prism.js"></script>
  </body>

</html>
