---
layout:
---
<html> 

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Customer Support, Website Chat, Customer Engagement, Messaging software, Chatbots, Customer Experience, Customer Messaging , Customer Service, Knowledge base, Customer Care, Customer Self Service, Chatbots for customer service, Customer Support Automation, Customer Service Experience, Customer Support Automation, Live chat, Chat Plugin, Chat Software	, Customer Feedback, Support Chat, Marketing automation, Live chat for sales	, Live chat for support	, Customer Engagement, Intercom, Intercom chat, Drift , Drift chat, Freshchat, Intercom alternatives, Drift alternatives">
    <meta name="description" content="Kommunicate is a customer communication software for growing businesses for building long-lasting customer relationships that drive growth.">
    <meta name="og:description" content="Kommunicate is a customer communication software for growing businesses for building long-lasting customer relationships that drive growth.">
    <meta name="author" content="">
    <meta http-equiv=”content-language” content=”en-us”>
    <meta property="og:title" content="Service Level Agreement | Kommunicate" />
    <meta property="og:image" content="/assets/resources/images/Kommunicate.jpg" />

    <title>Service Level Agreement | Kommunicate</title>
 
    {% include headtag.html %}
    <link rel="stylesheet" href="/assets/resources/css/sla-pp-tos.css" type="text/css">

</head>

<body id="page-top">

    {% include nav-header.html %}
    {% include_relative /sections/sla-section.html %}
    {% include footer-section.html %}

<!-- Start of HubSpot Embed Code -->
  <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/4025922.js"></script>
<!-- End of HubSpot Embed Code -->


</body>

</html>
