.km-integration-started-component {
    position: relative;
}

.km-integration-popup-container {
    position: fixed;
    transform: translate3d(70px, -15px, 0px);
    left: 0;
    bottom: 110px;
    border-radius: 4px;
    box-shadow: 2px 4px 10px 0 rgba(139, 137, 137, 0.5);
    background-color: #ffffff;
    padding: 25px 30px;
    text-align: center;
    cursor: default;
}
.km-popup-active svg {
    fill: #FFF;
}
.km-popup-inactive svg {
    fill: rgba(255, 255, 255, 0.5);
    margin-top: 5px;
}
.km-integration-popup-container p {
    font-size: 15px;
    line-height: 1.27;
    letter-spacing: 0.3px;
    color: #5c5959;
    margin: 20px 0 25px;
    max-width: 300px;
}

/* .km-pulse {
    animation: pulse 2s infinite;
} */
  
@-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(241, 41, 15, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(241, 41, 15, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(241, 41, 15, 0);
    }
}
@keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(241, 41, 15, 0.4);
      box-shadow: 0 0 0 0 rgba(241, 41, 15, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(241, 41, 15, 0);
        box-shadow: 0 0 0 10px rgba(241, 41, 15, 0);
    }
    100% { 
        -moz-box-shadow: 0 0 0 0 rgba(241, 41, 15, 0);
        box-shadow: 0 0 0 0 rgba(241, 41, 15, 0);
    }
}