<div id="mck-sidebox" class="mck-sidebox mck-box fade km-visibility-hidden" role="main" aria-live="polite">
	<div class="mck-box-dialog mck-box-sm mck-right mck-bg-white">
		<div id="mck-sidebox-content" class="mck-sidebox-content mck-box-content">
			<div id="mck-conversation-header" class="mck-conversation-header mck-truncate n-vis"></div>
			<div class="mck-box-top mck-title">
				<div class="km-header-container">
					<div class="km-conversation-header-title-container">
						<div id="mck-tab-individual" class="mck-row n-vis">
							<div class="mck-tab-link mck-back-btn-container">
								<button id="mck-conversation-back-btn" aria-label="Back" role="button" tabindex="0" class="mck-conversation-tab-link">
                                                                <svg width="30" height="30" class="mck-msg-list-icon"><use href="icons.svg#arrow-left"/></svg>

								</button>
							</div>
							<div class=" mck-name-status-container mck-box-title mck-truncate">
								<div>
									<div class="mck-agent-image-container">
										<div class="mck-agent-image-svg-container n-vis"></div>
										<img class="mck-agent-image n-vis" src="">
										<span class="mck-agent-status-indicator km-custom-widget-border-color n-vis"></span>
									</div>
								</div>
								<div>
									<div id="mck-tab-title" class="mck-tab-title mck-truncate mck-display-name">Conversations</div>
									<div id="mck-tab-status" class="mck-tab-status mck-truncate n-vis force-n-vis"></div>
									<div id="mck-agent-status-text" class="mck-agent-status-text  n-vis"></div>
									<div class="mck-typing-box mck-truncate n-vis">
										<span id="mck-typing-label">typing...</span>
									</div>
								</div>
								
							</div>
						</div>
						<div id="mck-tab-conversation" class="mck-row">
							<h4 id="mck-conversation-title" class="mck-box-title mck-truncate">Conversations</h4>
						</div>
					</div>

					<div class="km-faq-and-close-btn-container mck-flexi">
						<div class="km-kb-container n-vis">
							<button id="km-faq" class="km-faq n-vis" type="button" aria-label="FAQ" tabindex="0" role="button">FAQ</button>
							<button id="km-header-cta" class="km-header-cta n-vis" type="button"  tabindex="0" role="button">
								<span class="tooltip-text n-vis"></span>
							</button>
						</div>
						<div class="mck-dropdown n-vis" id="km-widget-options">
							<div class="mck-dropdown-toggle km-widget-options-button" id="options" data-toggle="mckdropdown"
								aria-expanded="false">
                                                                <svg width="16" height="16" class="bi bi-three-dots-vertical"><use href="icons.svg#dots-vertical"/></svg>
							</div>
							<ul class="mck-dropdown-menu menu-right stop-selection" aria-labelledby="options">
								<li>
									<div class="menu-item n-vis" id="km-csat-trigger">
										<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M7.99998 11.8467L12.12 14.3334L11.0266 9.64675L14.6666 6.49341L9.87331 6.08675L7.99998 1.66675L6.12665 6.08675L1.33331 6.49341L4.97331 9.64675L3.87998 14.3334L7.99998 11.8467Z" fill="#8F8F8F"/>
										</svg>											
										<span id="km-csat-trigger-text"></span>
									</div>
								</li>
								<li>
									<div class="menu-item n-vis" id="km-restart-conversation">
										<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M4.00002 8.85669C4.00002 7.75669 4.44669 6.75669 5.17335 6.03002L4.22669 5.08336C3.26669 6.05002 2.66669 7.38336 2.66669 8.85669C2.66669 11.5767 4.70002 13.8167 7.33335 14.1434V12.7967C5.44669 12.4767 4.00002 10.8367 4.00002 8.85669ZM13.3334 8.85669C13.3334 5.91002 10.9467 3.52336 8.00002 3.52336C7.96002 3.52336 7.92002 3.53002 7.88002 3.53002L8.60669 2.80336L7.66669 1.85669L5.33335 4.19002L7.66669 6.52336L8.60669 5.58336L7.88669 4.86336C7.92669 4.86336 7.96669 4.85669 8.00002 4.85669C10.2067 4.85669 12 6.65002 12 8.85669C12 10.8367 10.5534 12.4767 8.66669 12.7967V14.1434C11.3 13.8167 13.3334 11.5767 13.3334 8.85669Z" fill="#8F8F8F"/>
										</svg>											
										<span id="km-restart-conversation-text"></span>
									</div>
								</li>
								<li>
									<div class="menu-item n-vis" id="user-overide-voice-output">
										<div id="user-overide-voice-output-svg-on"><svg width="16px" height="16px" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M0.458984 4.66672V7.33339C0.458984 7.70006 0.76882 8.00006 1.14751 8.00006H3.21308L5.47833 10.1934C5.9121 10.6134 6.65571 10.3134 6.65571 9.72006V2.27339C6.65571 1.68006 5.9121 1.38006 5.47833 1.80006L3.21308 4.00006H1.14751C0.76882 4.00006 0.458984 4.30006 0.458984 4.66672ZM9.75407 6.00006C9.75407 4.82006 9.05177 3.80672 8.03275 3.31339V8.68006C9.05177 8.19339 9.75407 7.18006 9.75407 6.00006ZM8.03275 0.966723V1.10006C8.03275 1.35339 8.20489 1.57339 8.44587 1.66672C10.2223 2.35339 11.4754 4.04006 11.4754 6.00006C11.4754 7.96006 10.2223 9.64672 8.44587 10.3334C8.198 10.4267 8.03275 10.6467 8.03275 10.9001V11.0334C8.03275 11.4534 8.46653 11.7467 8.86587 11.6001C11.2 10.7401 12.8524 8.56006 12.8524 6.00006C12.8524 3.44006 11.2 1.26006 8.86587 0.400057C8.46653 0.246723 8.03275 0.546723 8.03275 0.966723Z" fill="#8F8F8F"/>
											</svg>
											</div>
											<div id="user-overide-voice-output-svg-off"><svg width="16px" height="16px" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M0.459229 3.66668V6.33335C0.459229 6.70001 0.769065 7.00001 1.14775 7.00001H3.21333L5.47857 9.19335C5.91234 9.61335 6.65595 9.31335 6.65595 8.72001V1.27334C6.65595 0.680012 5.91234 0.380012 5.47857 0.800012L3.21333 3.00001H1.14775C0.769065 3.00001 0.459229 3.30001 0.459229 3.66668Z" fill="#8F8F8F"/>
												</svg>
												
												</div>								
										<span id="user-overide-voice-output-text"></span>
									</div>
								</li>
								<li>
									<div class="menu-item n-vis" id="km-faq-option">
										<svg width="16" height="16" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path
												d="M8.99992 1.66667V6.33334H2.44659L1.66659 7.11334V1.66667H8.99992ZM9.66659 0.333336H0.999919C0.633252 0.333336 0.333252 0.633336 0.333252 1V10.3333L2.99992 7.66667H9.66659C10.0333 7.66667 10.3333 7.36667 10.3333 7V1C10.3333 0.633336 10.0333 0.333336 9.66659 0.333336ZM12.9999 3H11.6666V9H2.99992V10.3333C2.99992 10.7 3.29992 11 3.66659 11H10.9999L13.6666 13.6667V3.66667C13.6666 3.3 13.3666 3 12.9999 3Z"
												fill="#8F8F8F" />
										</svg>
										<span id="km-faq-option-text">FAQ</span>
									</div>
								</li>
								<li>
									<div class="menu-item km-option-talk-to-human n-vis" id="km-talk-to-human">
										<svg width="16" height="16" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path
												d="M15.6666 0.756661H2.34163C1.42496 0.756661 0.674959 1.50666 0.674959 2.42333L0.666626 15.4067C0.666626 16.1483 1.56663 16.5233 2.09163 15.9983L3.99996 14.09H15.6666C16.5833 14.09 17.3333 13.34 17.3333 12.4233V2.42333C17.3333 1.50666 16.5833 0.756661 15.6666 0.756661ZM8.99996 4.08999C9.91663 4.08999 10.6666 4.83999 10.6666 5.75666C10.6666 6.67333 9.91663 7.42333 8.99996 7.42333C8.08329 7.42333 7.33329 6.67333 7.33329 5.75666C7.33329 4.83999 8.08329 4.08999 8.99996 4.08999ZM12.3333 10.7567H5.66663V10.2817C5.66663 9.60666 6.06663 9.00666 6.68329 8.74C7.39163 8.43166 8.17496 8.25666 8.99996 8.25666C9.82496 8.25666 10.6083 8.43166 11.3166 8.74C11.9333 9.00666 12.3333 9.60666 12.3333 10.2817V10.7567Z"
												fill="#8F8F8F" />
										</svg>
										<span id="km-option-talk-to-human-text">Talk to human</span>
									</div>			
								</li>
								<li>
									<div class="menu-item km-option-faq n-vis" id="km-faq">
										<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path
												d="M9.99992 2.66667V7.33334H3.44659L2.66659 8.11334V2.66667H9.99992ZM10.6666 1.33334H1.99992C1.63325 1.33334 1.33325 1.63334 1.33325 2V11.3333L3.99992 8.66667H10.6666C11.0333 8.66667 11.3333 8.36667 11.3333 8V2C11.3333 1.63334 11.0333 1.33334 10.6666 1.33334ZM13.9999 4H12.6666V10H3.99992V11.3333C3.99992 11.7 4.29992 12 4.66659 12H11.9999L14.6666 14.6667V4.66667C14.6666 4.3 14.3666 4 13.9999 4Z"
												fill="#8F8F8F" />
										</svg>
									
										<span id="km-option-faq-text">FAQ</span>
									</div>
								</li>
							</ul>
						</div>
						<div class="blk-lg-2 mck-close-btn">
							<button type="button" class="mck-minimize-icon mck-box-close mck-close icon n-vis">
								<span aria-hidden="true">&minus;</span>
							</button>
                                                        <button type="button" id = "km-chat-widget-close-button" class="mck-box-close mck-close-sidebox move-right" data-dismiss="mckbox" aria-label="Close">
                                                                <svg width="24" height="24"><use href="icons.svg#close-white"/></svg>
                                                        </button>
						</div>
					</div>

				</div>
			</div>
			<div id="km-business-hour-box" class="n-vis">
			</div>
			<div id="km-internet-disconnect-msg" class="km-offline-msg n-vis">  </div>
			<div id="km-churn-customer" class="km-churn-banner n-vis">
				<img src="https://cdn.kommunicate.io/customer-churn.svg">
				<div class="km-churn-heading">
					Messaging via 
				<u><a id="deactivate-link" href="" target="_blank">Kommunicate chatbot</a></u>
				is disabled for this account. To enable, please contact the admin of the website.
				 If you are the admin, get in touch at support@kommunicate.io
				</div>
				
			</div>
            <div id="km-socket-disconnect-msg" class="km-offline-msg n-vis"> </div>
			<div id="km-local-file-system-warning" class="n-vis">
				<span id="km-local-file-system-warning-description">
					Conversation will not be updated in real-time as you are running the installation script from your local file system.
				</span>
				<div class="km-learn-more-container">
					<a href="https://docs.kommunicate.io/docs/web-troubleshooting" class="km-learn-more" target="_blank">					
						Learn more about this
					</a>
				</div>			
			</div>
			<div id="mck-product-group" class="mck-tab-panel mck-btn-group mck-product-group">
				<div id="mck-product-box" class="mck-product-box n-vis mck-dropdown-toggle" data-toggle="mckdropdown" aria-expanded="true">
					<div class="mck-row">
						<div class="blk-lg-10">
							<div class="mck-row">
								<div class="blk-lg-3 mck-product-icon"></div>
								<div class="blk-lg-9">
									<div class="mck-row">
										<div class="blk-lg-8 mck-product-title mck-truncate"></div>
										<div class="move-right mck-product-rt-up mck-truncate blk-lg-4">
											<strong class="mck-product-key"></strong>
											<span class="mck-product-value"></span>
										</div>
									</div>
									<div class="mck-row">
										<div class="blk-lg-8 mck-truncate mck-product-subtitle"></div>
										<div class="move-right mck-product-rt-down mck-truncate blk-lg-4">
											<strong class="mck-product-key"></strong>
											<span class="mck-product-value"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="blk-lg-2">
							<span class="mck-caret n-vis"></span>
						</div>
					</div>
				</div>
				<ul id="mck-conversation-list" class="mck-dropdown-menu menu-right mck-conversation-list n-vis" role="menu"></ul>
			</div>
			<div id="mck-tab-option-panel" class="mck-tab-panel mck-top-btn-panel n-vis">
				<div id="mck-tab-menu-box" class="mck-tab-menu-box vis">
					<div class="mck-row">
						<div class="blk-lg-2 move-right">
							<div class="mck-dropdown-toggle" data-toggle="mckdropdown" aria-expanded="true">
								<svg focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#fff">
									<path d="M0 0h24v24H0z" fill="none"/>
									<path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/>
								</svg>
							</div>
							<ul id="mck-tab-menu-list" class="mck-dropdown-menu mck-tab-menu-box menu-right" role="menu">
								<li class="mck-tab-message-option">
									<a href="#" id="mck-btn-clear-messages" class="mck-btn-clear-messages menu-item" title="Clear Messages">
										Clear Messages </a>
								</li>
								<li id="li-mck-block-user">
									<a href="#" id="mck-block-button" class="menu-item" title="Block User">
										Block User </a>
								</li>
								<li id="li-mck-group-info" class="mck-group-menu-options">
									<a href="#" id="mck-group-info-btn" class="menu-item" title="Group Info"> Group Info </a>
								</li>
								<li id="li-mck-leave-group" class="mck-group-menu-options">
									<a href="#" id="mck-btn-leave-group" class="menu-item" title="Exit Group"> Exit Group </a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="mck-box-body">
				<div id="mck-message-cell" class="mck-tab-cell mck-message-cell">
					<div id="mck-price-widget" class="mck-row mck-price-widget mck-top-widget n-vis">
						<div class="mck-widget-panel">
							<input type="text" id="mck-price-text-box" placeholder="Enter final agreed price">
							<button type="button" id="mck-price-submit" class="mck-btn mck-btn-green mck-price-submit" title="Submit">
								<span>Submit</span>
							</button>
						</div>
					</div>
					<div class="mck-conversation" tabindex="-1" role="presentation">
						<div class="mck-message-inner" tabindex="0" aria-live="assertive" aria-atomic="false" role="alert" ></div>
						<div id="mck-contacts-content" class="mck-contacts-content mck-text-center">
							<button type="button" id="mck-msg-new" class="mck-contact-search mck-btn km-custom-widget-background-color" title="Start New">
								<span>Start New</span>
							</button>
						</div>
					</div>
					<div id="faq-common">
							<div class="km-no-results-found-container n-vis">
									<div class="km-no-results-found">
										<svg focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
											<path d="M18.01 22H6a2 2 0 0 1-2-2V8l6-6h8a2 2 0 0 1 1.991 2l.01 16a2 2 0 0 1-1.991 2zM6.037 16v1.5h7V16zm0-3v1.5h10V13zM11 3.5L5.5 9H11V3.5z" data-name="Subtraction 1" fill="#c5c5c7"/>
											<path fill="none" d="M24 0H0v24h24z" data-name="Path 2"/>
										</svg>
										<p>NO RESULTS FOUND</p>
									</div>
								</div>
						<div id="km-faqdiv">
                            <div id="km-faq-category-list-container"></div>
							<ul id="km-faq-list-container" class="km-faq-list-container"></ul>
						</div>
						<div id="km-faqanswer" class="km-faqanswer"></div>
						<div id="km-contact-search-input-box" class="km-faqsearch blk-lg-12">
							<div class="km-talk-to-human-div n-vis">
								<p id= "mck-no-faq-found">Looking for something else?</p>
								<button class="talk-to-human-link" id="talk-to-human-link">Talk to an agent</button>
							</div>
							<div class="km-contact-input-container">
                                                                <span class="km-faqsearch-icon">
                                                                        <svg width="16" height="16"><use href="icons.svg#search"/></svg>
                                                                </span>
								<input id="km-faq-search-input" class="km-faqsearch-input" type="text" data-provide="typeahead" placeholder="Search in FAQs..." class="mck-typeahead" aria-label="Search in FAQs..." tabindex="0" autocomplete="off">
                                                                <span class="km-clear-faq-search-icon n-vis">
                                                                        <svg width="14" height="14"><use href="icons.svg#clear-search"/></svg>
                                                                </span>
							</div>
						</div>

					</div>

					<div id="mck-contact-loading" class="mck-loading">
                                                        <svg width="50" height="50" class="mck-circular-spinner" viewBox="25 25 50 50"><use href="icons.svg#spinner"/></svg>
					</div>
					<div id="mck-no-conversations" class="mck-no-data-text mck-text-muted n-vis">
						<h3>No conversations yet!</h3>
					</div>
					<div id="mck-no-messages" class="mck-no-data-text mck-text-muted n-vis">
						<h3>No messages yet!</h3>
					</div>
					<div id="mck-no-more-conversations" class="mck-show-more-icon n-vis">
						<h3>No more conversations!</h3>
					</div>
					<div id="mck-no-more-messages" class="mck-show-more-icon n-vis">
						<h3>No more messages!</h3>
					</div>
				</div>
			</div>
			<div id="mck-offline-message-box" class="mck-offline-message-box n-vis">SET DEFAULT OFFLINE MESSAGE!
			</div>

			<div id="mck-away-msg-box" class="n-vis">
				<hr>
				<p id="mck-away-msg" class="mck-away-msg"></p>
			</div>
			<div id="mck-email-collection-box" class="n-vis">
                                        <svg width="23" height="14"><use href="icons.svg#envelope-grey"/></svg>
				<div id="mck-collect-email" class="mck-collect-email">How may we reach you?</div>
			</div>
			<div id="mck-email-error-alert-box" class="n-vis">
                                        <svg width="23" height="14"><use href="icons.svg#envelope-red"/></svg>
				<div id="mck-email-error-alert" class="mck-email-error-alert">It seems you have entered an invalid email</div>
			</div>
			<div id="mck-form-field-error-alert-box" class="n-vis">
				<div id="mck-form-field-error-alert" class="mck-form-field-error-alert">You have entered an invalid Value</div>
			</div>
			
                        <div id="mck-sidebox-ft" class="mck-box-ft">
                                <!-- <div id="mck-away-msg-box" class="n-vis">
                                        <p id="mck-away-msg" class="mck-away-msg"></p>
                                </div> -->

                                <div class="mck-csat-wrapper n-vis" id="csat-1">
					<div class="mck-csat-title-wrapper">
						<span class="mck-csat-title"></span>
					</div>
					<div class="mck-ratings-smilies" >
						<div class="mck-smilies-inner vis ">
                                                        <div class="mck-rating-box mck-rating-box-bad" data-rating="1">
                                                                <svg width="20" height="21"><use href="icons.svg#rating-sad"/></svg>
                                                        </div>
                                                        <div class="mck-rating-box mck-rating-box-average" data-rating="5">
                                                                <svg width="20" height="21"><use href="icons.svg#rating-neutral"/></svg>
                                                        </div>
                                                        <div class="mck-rating-box mck-rating-box-great" data-rating="10">
                                                                <svg width="20" height="20"><use href="icons.svg#rating-happy"/></svg>
                                                        </div>
						</div>
						<div class="star-rating n-vis">
							<div class="rating-star"><input type="radio" id="star1" name="rating" value="1" class="mck-rating-box mck-rating-box-bad" data-rating="1"  />
							<label for="star1">
								<svg width="26" height="25"><use href="icons.svg#star"/></svg>
							</label></div>
							<div class="rating-star"><input type="radio" id="star2" name="rating" value="2" class="mck-rating-box mck-rating-box-poor" data-rating="2" />
							<label for="star2">
								<svg width="26" height="25"><use href="icons.svg#star"/></svg>
							</label></div>
							<div class="rating-star"><input type="radio" id="star3" name="rating" value="3" class="mck-rating-box mck-rating-box-average" data-rating="3"/>
							<label for="star3" id="star-3">
								<svg width="26" height="25"><use href="icons.svg#star"/></svg>									
							</label></div>
							<div class="rating-star"><input type="radio" id="star4" name="rating" value="4" class="mck-rating-box mck-rating-box-good" data-rating="4"/>
							<label for="star4">
								<svg width="26" height="25"><use href="icons.svg#star"/></svg>
							</label></div>
							<div class="rating-star"><input type="radio" id="star5" name="rating" value="5" class="mck-rating-box mck-rating-box-great" data-rating="5"/>
							<label for="star5">
								<svg width="26" height="25"><use href="icons.svg#star"/></svg>
							</label></div>
							
						</div>
						
                                        <div id="mck-csat-close">
                                                <button type="button" id="km-csat-close-button" class="mck-csat-close-button">
                                                        <svg width="20" height="20"><use href="icons.svg#close-dark"/></svg>
                                                </button>
                                        </div>
				</div>
                                <div id="mck-rate-error-wrapper" class="n-vis">
                                        <svg width="14" height="14"><use href="icons.svg#error"/></svg>
                                        <span id="mck-rate-error" class="mck-rate-error"></span>
                                </div>
				</div>		
				<div class="mck-csat-wrapper n-vis" id="csat-2">
				    <h3>Add feedback (optional)</h3>
					<div id="mck-feedback-text-wrapper" class="mck-feedback-text-wrapper ">
						<textarea name="feedback" cols="34" maxlength="90" id="mck-feedback-comment" placeholder="(optional)" aria-label="(optional)" tabindex="0" rows="4"></textarea>
						<button class="km-custom-widget-background-color mck-send-feedback" id="mck-submit-comment" aria-disabled="false" aria-label="Send feedback" tabindex="0">
							Submit your rating
						</button>
					</div>
				</div>

				<div id="mck-rated" class="n-vis">
					<span id="mck-resolved-text">This conversation was resolved</span>
					<br>
					<div id="separator">
						<span id='mck-rated-text'>You rated the conversation</span> 
						<span id="mck-rating-container">
							<svg focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 35 35">
								<g fill="none" fill-rule="evenodd">
									<circle cx="17.497" cy="17.497" r="17.497" fill="#FFCC4D"/>
									<g fill="#6F543A" transform="translate(8.089 8.713)">
										<circle cx="4.411" cy="2.787" r="2.5"/>
										<circle cx="14.411" cy="2.787" r="2.5"/>
										<path d="M1.499 15.287h16.825c.783 0 .783-1 0-1H1.499c-.783 0-.783 1 0 1z"/>
									</g>
								</g>
							</svg>
						</span>
					</div>
				</div>

				<div class="mck-conversation-comment n-vis" id="csat-3"></div>
				<div id = "mck-waiting-queue"  class="n-vis">
				   <span id="wq-msg-first-Part"></span> <span id="waiting-queue-number" > </span><span id="wq-msg-last-part" ></span>
				</div>
				<div class="mck-csat-text-1 n-vis">
					<span id="mck-other-queries">If you have any other queries, just</span> <a id="mck-restart-conversation" href="javaScript:void(0)">restart this conversation</a>
				</div>
				<div id = "mck-conversation-status-box" class= "n-vis mck-row"></div>
				<div id="mck-char-warning" class="km-custom-widget-background-color n-vis">	
					<div>	
						<p id="mck-char-warning-text"></p>	
				   </div>	
				</div>
				<div class="mck-box-form mck-row n-vis">
					<div class="blk-lg-12">
						<p id="mck-msg-error" class="mck-sidebox-error n-vis"></p>
					</div>
					<div id="mck-msg-response" class="blk-lg-12 mck-box-response n-vis">
						<div id="mck-response-text" class="response-text"></div>
					</div>
					<div class="blk-lg-12">
						<form id="mck-msg-form" class="vertical mck-msg-form">
                                                        <div class="mck-form-group n-vis">
                                                                <label class="sr-only placeholder-text control-label" for="mck-msg-to">To:</label>
                                                                <input class="mck-form-cntrl" id="mck-msg-to" name="mck-msg-to" placeholder="To" required>
                                                        </div>
							<div id="mck-reply-to-div" class="n-vis">
								<button type="button" id="close" class="mck-box-close mck-close-panel move-right">
									<span aria-hidden="true">&times;</span>
								</button>
								<div id="mck-reply-to" class=" mck-msgto "></div>
								<div id="mck-reply-msg"> </div>
							</div>
							<div class="mck-form-group last last-child">
								<div id="mck-textbox-container" class="mck-textbox-container">
									<div id="mck-btn-attach-box" class="mck-blk-2 mck-text-box-panel mck-mid-panel move-right mck-attach-menu-main-container vis">
										<div id="mck-location-sharing-box" class="mck-location-sharing-box">
											<button id="mck-btn-loc" class="menu-item mck-btn-loc" title="Share Location">
												<svg width="16" height="18"><use href="icons.svg#marker"/></svg>
											</button>
											<button id="mck-file-up" class="mck-file-upload menu-item" title="Upload Attachment" aria-disabled="false" aria-label="Upload Attachment" tabindex="0">
												<svg width="16" height="18"><use href="icons.svg#upload"/></svg>
											</button>
										</div>
										<div id="mck-attachfile-box" class="mck-blk-12 n-vis">
											<button id="mck-file-up2" type="button" class="mck-file-upload mck-file-attach-label mck-btn mck-btn-text-panel" title="Upload Attachment" aria-disabled="false" aria-label="Upload Attachment" tabindex="0">
												<svg width="16" height="18"><use href="icons.svg#upload"/></svg>
											</button>
										</div>
									</div>
									<div id="mck-attach-img-box" class="mck-blk-12 mck-attach-img-vid-box">
										<button id="mck-img-file-up" type="button" class="mck-img-file-up mck-file-attach-label mck-btn mck-btn-text-panel" title="Upload Attachment" aria-disabled="false" aria-label="Upload Image" tabindex="0">
											<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M11.8889 15.5556C13.3616 15.5556 14.5556 14.3616 14.5556 12.8889C14.5556 11.4161 13.3616 10.2222 11.8889 10.2222C10.4161 10.2222 9.22222 11.4161 9.22222 12.8889C9.22222 14.3616 10.4161 15.5556 11.8889 15.5556Z" fill="#787474"/>
												<path d="M19 5.77778H16.1822L15.08 4.57778C14.7511 4.21333 14.2711 4 13.7733 4H10.0044C9.50667 4 9.02667 4.21333 8.68889 4.57778L7.59556 5.77778H4.77778C3.8 5.77778 3 6.57778 3 7.55556V18.2222C3 19.2 3.8 20 4.77778 20H19C19.9778 20 20.7778 19.2 20.7778 18.2222V7.55556C20.7778 6.57778 19.9778 5.77778 19 5.77778ZM11.8889 17.3333C9.43556 17.3333 7.44444 15.3422 7.44444 12.8889C7.44444 10.4356 9.43556 8.44444 11.8889 8.44444C14.3422 8.44444 16.3333 10.4356 16.3333 12.8889C16.3333 15.3422 14.3422 17.3333 11.8889 17.3333Z" fill="#787474"/>
												</svg>												
										</button>
									</div>
									<div id="mck-attach-vid-box" class="mck-blk-12 mck-attach-img-vid-box">
										<button id="mck-vid-file-up" type="button" class="mck-img-vid-up mck-file-attach-label mck-btn mck-btn-text-panel" title="Upload Attachment" aria-disabled="false" aria-label="Upload Video" tabindex="0">
											<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24" fill="#787474">
												<path d="M17 10.5V7c0-.55-.45-1-1-1H4c-.55 0-1 .45-1 1v10c0 .55.45 1 1 1h12c.55 0 1-.45 1-1v-3.5l2.29 2.29c.63.63 1.71.18 1.71-.71V8.91c0-.89-1.08-1.34-1.71-.71L17 10.5z"/>
											</svg>												
										</button>
									</div>
									<div id ="mck-mic-animation-container" class="mck-mic-animation-container n-vis" aria-disabled="false" title="Voice Input" aria-label="Voice Input" tabindex="0">
										<div id ="mck-animation-outer" class="mck-animation-outer km-custom-widget-background-color n-vis"></div>
                                        <div id="mck-mic-btn-container" data-toggle="mckdropdown" aria-haspopup="true" aria-expanded="false" >
                                                                               <svg width="24" height="24" id="mck-mic-btn"><use href="icons.svg#mic"/></svg>
                                        </div>
                                        <ul id="mck-mic-options-dropup" class="n-vis mck-dropup-menu menu-right stop-selection" aria-labelledby="mic-options">
                                            <li>
                                                <div class="menu-item voiceNote">
                                                    <svg width="24" height="24"><use href="icons.svg#voice-note"/></svg>
                                                    &nbsp;
                                                    <span id="km-voice-note-trigger-text">Send voice message</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="menu-item voiceInput">
                                                    <svg width="24" height="24"><use href="icons.svg#voice-input"/></svg>
                                                        
                                                    &nbsp;
                                                    <span id="km-voice-input-trigger-text">Speech to text</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
									<div id="mck-quick-replies-box" class="mck-intent-box n-vis" >
										<div class="mck-dropdown-toggle mck-bot-icon" id="intent-option" data-toggle="mckdropdown"
											aria-expanded="false" title="Quick replies">
                                                                               <svg width="24" height="30"><use href="icons.svg#bot"/></svg>
										</div>
										<ul class="mck-dropdown-menu mck-intent-menu stop-selection" id="mck-intent-options" aria-labelledby="intent-option">
										</ul>
									</div>
									<div id="mck-btn-smiley-box" class="mck-blk-2 mck-text-box-panel move-right n-vis">
										<div class="mck-blk-12">
											<button type="button" id="mck-btn-smiley" class="mck-btn mck-btn-smiley mck-btn-text-panel" title="Emoji Picker" aria-disabled="false" aria-label="Emoji picker" tabindex="0"><svg width="24" height="24"><use href="icons.svg#emoji"/></svg>	
											</button>
										</div>
									</div>
									<div class="mck-blk-2 mck-text-box-panel move-right n-vis" id="send-button-wrapper"> 
										<div class="mck-blk-12">
											<button type="submit" id="mck-msg-sbmt" class="mck-btn mck-btn-text-panel" title="Send Message" aria-disabled="false" aria-label="Send Message" tabindex="0">
                                                                               <span class="mck-icon-send">
                                                                               <svg width="15" height="15"><use href="icons.svg#send"/></svg>
                                                                               </span>
											</button>
										</div>
									</div>

									<textarea id="mck-autosuggest-search-input" data-provide="typeahead" placeholder="" class="mck-blk-8 n-vis mck-text mck-typeahead km-auto-expand" autocomplete="off" rows='1' data-autoresize form="mck-msg-form" method="post" type="text" aria-label="Select option" tabindex="0"></textarea>
									<input id="mck-autosuggest-metadata" type="hidden" name="city-detail" />
									
									<div id="mck-text-box" contenteditable="true" class="mck-blk-8 mck-text-box mck-text required notranslate" data-text="Type your message..." aria-label="Type your message..." tabindex="0"></div>
									
									<input id="mck-file-input" class="mck-file-input n-vis" type="file" name="files[]">
									<input id="mck-image-input" class="mck-image-input n-vis" type="file" name="files[]" accept="image/*" capture="user">
									<input id="mck-video-input" class="n-vis" type="file" name="files[]" accept="video/*" capture>
									<div id="mck-file-box" class="n-vis"></div>
								</div>
                                <div id="km-voice-recorder" class="n-vis">
                                    <div id="recorder-left-btns">
                                        <div id="delete-recording" class='recorder-control delete-btn'>
                                            <svg width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M1.99998 19.1667C1.99998 20.45 3.04998 21.5 4.33331 21.5H13.6666C14.95 21.5 16 20.45 16 19.1667V7.5C16 6.21667 14.95 5.16667 13.6666 5.16667H4.33331C3.04998 5.16667 1.99998 6.21667 1.99998 7.5V19.1667ZM16 1.66667H13.0833L12.255 0.838333C12.045 0.628333 11.7416 0.5 11.4383 0.5H6.56165C6.25831 0.5 5.95498 0.628333 5.74498 0.838333L4.91665 1.66667H1.99998C1.35831 1.66667 0.833313 2.19167 0.833313 2.83333C0.833313 3.475 1.35831 4 1.99998 4H16C16.6416 4 17.1666 3.475 17.1666 2.83333C17.1666 2.19167 16.6416 1.66667 16 1.66667Z"
                                                    fill="#919EAD" />
                                            </svg>
                                        </div>
                                    </div>
                                    <div id="recorder-body">
                                        <div id="pause-btn" class='recorder-control'>
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M12 0C5.38306 0 0 5.38306 0 12C0 18.6169 5.38306 24 12 24C18.6169 24 24 18.6169 24 12C24 5.38306 18.6169 0 12 0ZM10.0466 16.186C10.0466 16.8025 9.54668 17.3022 8.93038 17.3022C8.31389 17.3022 7.8142 16.8023 7.8142 16.186L7.81401 7.81395C7.81401 7.19746 8.31389 6.69777 8.93019 6.69777C9.54668 6.69777 10.0464 7.19766 10.0464 7.81395L10.0466 16.186ZM16.1861 16.186C16.1861 16.8025 15.6862 17.3022 15.0699 17.3022C14.4534 17.3022 13.9537 16.8023 13.9537 16.186L13.9535 7.81395C13.9535 7.19746 14.4534 6.69777 15.0697 6.69777C15.6862 6.69777 16.1859 7.19766 16.1859 7.81395L16.1861 16.186Z" fill="#919EAD"/>
                                                </svg>
                                                
                                        </div>
                                        <div id="play-btn" class='recorder-control n-vis'>
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M12 0C5.38105 0 0 5.38105 0 12C0 18.6189 5.38105 24 12 24C18.6189 24 24 18.6189 24 12C24 5.38105 18.6189 0 12 0ZM15.8653 12.6063L10.2063 16.3704C9.72627 16.6989 9.06952 16.3452 9.06952 15.7641V8.23565C9.06952 7.65465 9.72632 7.30096 10.2063 7.62929L15.8653 11.3935C16.2947 11.6715 16.2947 12.3284 15.8653 12.6063Z" fill="#919EAD"/>
                                                </svg>   
                                        </div>
                                        <div id="km-audio-player">
                                            <div id="time-elapsed" class='km-audio-player-timer'>00:00</div>
                                            <div id="progressbar">
                                              </div>
                                            <div id="time-remaining" class='km-audio-player-timer'>00:00</div>
                                        </div>
                                        <div id="audiodiv" class="mck-mic-timer n-vis">
                                            <audio controls id="recorder-audio" preload="metadata" class="n-vis"></audio>
                                        </div>
                                    </div>
                                    <div id="recorder-right-btn">
                                        <div id='send-btn' class='n-vis recorder-control disabled' >
                                            <span class="mck-icon-send">
                                                <svg width="15" height="15"><use href="icons.svg#send"/></svg>
                                            </span>
                                        </div>
                                        <div id="mck-stop-recording" class='recorder-control'>
                                            <svg width="24" height="24"><use href="icons.svg#stop"/></svg>
                                        </div>
                                    </div>
                                </div>
							</div>
						</form>
					</div>
				</div>
                                <div class="mck-text-req-error n-vis">
                                        <svg width="14" height="14"><use href="icons.svg#error"/></svg>
                                        This is a required field
                                </div>
			</div>
			<div class="mck-running-on n-vis notranslate">
					Chatbot powered by
				<a class="mck-powered-by"  href="https://www.kommunicate.io" target="_blank">
					<span class="n-vis">Kommunicate AI Chatbot</span> Kommunicate.io
				</a>
			</div>
		</div>
		<div id="mck-sidebox-search" class="mck-sidebox-search mck-sidebox-content mck-box-content n-vis">
			<div class="mck-box-top">
				<div class="mck-tab-link blk-lg-4">
					<a href="#" target="_self" role="link" class="mck-conversation-tab-link">
						<span class="mck-icon-backward"></span>
					</a>
				</div>
				<div class="blk-lg-5">
					<div class="mck-box-title mck-truncate" title="Start New">Start New Conversation</div>
				</div>
				<div class="blk-lg-3 move-right mck-start-new-menu-item mck-tab-menu-box n-vis">
					<div class="mck-dropdown-toggle" data-toggle="mckdropdown" aria-expanded="true">
						<svg focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#fff">
							<path d="M0 0h24v24H0z" fill="none"/>
							<path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/>
						</svg>
					</div>
					<ul id="mck-start-new-menu-list" class="mck-dropdown-menu  menu-right" role="menu">
						<li>
							<a href="#" id="mck-new-group" class="mck-new-group-button menu-item" title="Create Group">Create Group
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div id="mck-search-tab-box" class="mck-search-tab-box mck-row">
				<div class="blk-lg-12 n-vis">
					<ul class="mck-nav mck-nav-panel">
						<li class="mck-nav-item mck-nav-divider">
							<a id="mck-contact-search-tab" class="mck-nav-link mck-contact-search active" href="#">
								<strong>Contacts</strong>
							</a>
						</li>
						<li class="mck-nav-item">
							<a id="mck-group-search-tab" class="mck-nav-link mck-group-search" href="#">
								<strong>Groups</strong>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="mck-box-top mck-search-box-top">
				<div id="mck-contact-search-input-box" class="mck-input-group blk-lg-12">
					<input id="mck-contact-search-input" type="text" data-provide="typeahead" placeholder="Search..." />
					<span class="mck-search-icon">
						<a href="#" role="link" class="mck-contact-search-link">
							<span class="mck-icon-search"></span>
						</a>
					</span>
				</div>
				<div id="mck-group-search-input-box" class="mck-input-group blk-lg-12 n-vis">
					<input id="mck-group-search-input" type="text" data-provide="typeahead" placeholder="Search..." />
					<span class="mck-search-icon">
						<a href="#" role="link" class="mck-group-search-link">
							<span class="mck-icon-search"></span>
						</a>
					</span>
				</div>
			</div>
			<div class="mck-box-body">

				<div id="mck-search-cell" class="mck-tab-cell">
					<div class="mck-message-inner">
						<ul id="mck-contact-search-list" class="mck-contact-search-list mck-contact-list mck-nav mck-nav-tabs mck-nav-stacked"></ul>
						<ul id="mck-group-search-list" class="mck-contact-list mck-group-search-list mck-nav mck-nav-tabs mck-nav-stacked n-vis"></ul>
						<div id="mck-no-search-groups" class="mck-no-data-text mck-text-muted n-vis">No groups yet!
						</div>
						<div id="mck-no-search-contacts" class="mck-no-data-text mck-text-mutedn n-vis">No contacts yet!
						</div>
						<div id="mck-search-loading" class="mck-loading n-vis">
                                                        <svg width="50" height="50" class="mck-circular-spinner" viewBox="25 25 50 50"><use href="icons.svg#spinner"/></svg>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="mck-group-info-tab" class="mck-group-info-tab mck-sidebox-content mck-box-content">
			<div class="mck-box-top">
				<div class="mck-tab-link blk-lg-4">
					<a id="mck-group-back-link" href="#" role="link" target="_self" class="mck-group-back-link">
						<span class="mck-icon-backward"></span>
					</a>
				</div>
				<div class="blk-lg-8">
					<div class="mck-box-title mck-truncate" title="Group Info">Group Info
					</div>
				</div>
			</div>
			<div id="mck-group-info-panel" class="mck-tab-panel mck-group-info-panel">
				<div class="mck-group-icon-sec">
					<div id="mck-group-info-icon-box" class="mck-group-icon-box mck-group-info-icon-box mck-hover-on">
						<div class="mck-group-icon"></div>
						<span class="mck-overlay-box n-vis">
							<div class="mck-overlay">
								<span class="mck-camera-icon"></span>
								<span id="mck-gi-overlay-label" class="mck-overlay-label">Change Group Icon</span>
							</div>
							<div id="mck-group-info-icon-loading" class="mck-loading vis">
                                                                <svg width="50" height="50" class="mck-circular-spinner" viewBox="25 25 50 50"><use href="icons.svg#spinner"/></svg>
							</div>
							<input id="mck-group-icon-change" class="mck-group-icon-change n-vis" type="file" name="file[]" />
						</span>
					</div>
					<div class="mck-text-center">
						<a id="mck-btn-group-icon-save" href="#" role="link" class="mck-btn-group-icon-save n-vis" title="Save">
							<svg focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
								<path fill="none" d="M0 0h24v24H0z"/>
								<path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/>
							</svg>
						</a>
					</div>
				</div>
				<div id="mck-group-name-sec" class="mck-group-name-sec">
					<div id="mck-group-name-box" class="mck-row mck-group-name-box">
						<div class="blk-lg-9">
							<div id="mck-group-title" class="mck-group-title" contenteditable="false">Group title</div>
						</div>
						<div class="blk-lg-3 mck-group-name-edit-icon">
							<a id="mck-group-name-edit" href="#" role="link" class="mck-group-name-edit vis" title="Edit">
								<svg focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
									<path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
									<path d="M0 0h24v24H0z" fill="none"/>
								</svg>
							</a>
							<a id="mck-group-name-save" href="#" role="link" class="mck-group-name-save n-vis" title="Save">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
									<path fill="none" d="M0 0h24v24H0z"/>
									<path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/>
								</svg>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div id="mck-group-member-panel" class="mck-tab-panel mck-group-member-panel vis">
				<div class="mck-group-md-sec">
					<div id="mck-group-member-title" class="mck-row mck-group-member-text">Members</div>
					<div id="mck-group-add-member-box" class="mck-row mck-group-admin-options mck-group-add-member-box n-vis">
						<a id="mck-group-add-member" class="mck-group-add-member" href="#">
							<div class="blk-lg-3">
								<svg focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
									<path d="M0 0h24v24H0z" fill="none"/>
									<path d="M15 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm-9-2V7H4v3H1v2h3v3h2v-3h3v-2H6zm9 4c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
								</svg>
							</div>
							<div class="blk-lg-9">Add Member</div>
						</a>
					</div>
				</div>
			</div>
			<div class="mck-box-body">
				<div class="mck-tab-cell">
					<div class="mck-group-member-inner">
						<ul id="mck-group-member-list" class="mck-group-member-list mck-contact-list mck-nav mck-nav-tabs mck-nav-stacked">
						</ul>
					</div>
				</div>
			</div>
			<div id="mck-group-update-panel" class="mck-tab-panel mck-group-update-panel n-vis">
				<div class="mck-group-bottom-sec">
					<div class="mck-row mck-group-update-sec">
						<button type="button" id="mck-btn-group-update" class="mck-btn mck-btn-green mck-btn-group-update" title="Update">Update</button>
					</div>
				</div>
			</div>
			<div id="mck-group-info-ft" class="mck-group-info-ft">
				<button type="button" id="mck-btn-group-exit" class="mck-btn mck-btn-blue mck-btn-group-exit" title="Exit Group">Exit Group
				</button>
			</div>
		</div>
	</div>
</div>
<div id="mck-loc-box" class="mck-box mck-loc-box fade km-visibility-hidden" aria-hidden="false">
	<div class="mck-box-dialog mck-box-md">
		<div class="mck-box-content">
			<div class="mck-box-top mck-row">
				<div class="blk-lg-10">
					<h4 class="mck-box-title">Share Location</h4>
				</div>
				<div class="blk-lg-2">
					<button type="button" class="mck-box-close" data-dismiss="mckbox" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			</div>
			<div class="mck-box-body">
				<div class="mck-form-group">
					<div class="blk-lg-12">
						<input id="mck-loc-address" type="text" class="mck-form-control" placeholder="Enter a location" autocomplete="off">
					</div>
				</div>
				<div id="mck-map-content" class="mck-loc-content"></div>
				<div class="n-vis">
					<label class="blk-sm-2 mck-control-label">Lat.:</label>
					<div class="blk-sm-3">
						<input type="text" id="mck-loc-lat" class="mck-form-control">
					</div>
					<label class="blk-sm-2 mck-control-label">Long.:</label>
					<div class="blk-sm-3">
						<input type="text" id="mck-loc-lon" class="mck-form-control">
					</div>
				</div>
			</div>
			<div class="mck-box-footer">
				<button id="mck-my-loc" type="button" class="mck-my-loc mck-btn mck-btn-green">My Location</button>
				<button id="mck-loc-submit" type="button" class="mck-btn mck-btn-blue mck-loc-submit move-right" aria-disabled="false" aria-label="Send Location" tabindex="0">Send</button>
				<button id="mck-btn-close-loc-box" type="button" class="mck-btn mck-btn-default move-right" data-dismiss="mckbox" aria-disabled="false" aria-label="Close" tabindex="0" role="button">Close</button>
			</div>
		</div>
	</div>
</div>
<div id="mck-gm-search-box" class="mck-box mck-gm-search-box fade km-visibility-hidden" aria-hidden="true">
	<div class="mck-box-dialog mck-box-sm">
		<div class="mck-box-content">
			<div class="mck-box-top mck-row">
				<div class="blk-lg-3">
					<svg focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
						<path d="M0 0h24v24H0z" fill="none"/>
						<path d="M15 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm-9-2V7H4v3H1v2h3v3h2v-3h3v-2H6zm9 4c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
					</svg>
				</div>
				<div class="blk-lg-7">
					<h4 class="mck-box-title">Add Member</h4>
				</div>
				<div class="blk-lg-2">
					<button type="button" class="mck-box-close" data-dismiss="mckbox" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			</div>
			<div class="mck-box-body">
				<div class="mck-form-group">
					<div class="mck-input-group blk-lg-12">
						<input id="mck-group-member-search" type="text" data-provide="typeahead" placeholder="Search..." />
						<span class="mck-search-icon">
							<a href="#" role="link" class="mck-group-member-search-link">
								<span class="mck-icon-search"></span>
							</a>
						</span>
					</div>
				</div>
				<div class="mck-tab-cell">
					<div class="mck-message-inner">
						<ul id="mck-group-member-search-list" class=" mck-contact-list mck-group-member-search-list mck-nav mck-nav-tabs mck-nav-stacked"></ul>
						<div id="mck-no-gsm-text" class="mck-no-data-text mck-text-muted n-vis">No contacts yet!
						</div>
					</div>
					<div id="mck-gms-loading" class="mck-loading n-vis">
                                                <svg width="50" height="50" class="mck-circular-spinner" viewBox="25 25 50 50"><use href="icons.svg#spinner"/></svg>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="km-chat-login-modal" class="km-sidemodal km-modal km-visibility-hidden" role="main" aria-live="polite">
	<div class="km-modal-dialog km-modal-sm">
		<div class="km-modal-content">
				<div class="km-sidemodal--modal-header km-custom-widget-background-color">
						<div class="blk-lg-7 mck-name-status-container mck-box-title km-modal-title mck-truncate">
							<div id="km-tab-title" class="mck-tab-title mck-truncate mck-display-name"></div>
					</div>
				<div class="blk-lg-2 mck-close-btn">
                                        <button type="button" id="km-modal-close" class="mck-box-close km-close-sidebox move-right" data-dismiss="mckbox" tabindex="0" aria-label="Close" aria-hidden="false" role="button">
                                                <svg width="24" height="24"><use href="icons.svg#close-white"/></svg>
                                        </button>
				</div>
			</div>
			<div class="km-modal-body">
				<div class="km-section-title">
					<p id="km-lead-collection-heading" class="km-modal-span" tabindex="0"></p>
				</div>
				<p id="km-error-chat-login" class="km-modal-error n-vis"></p>
				<div class="km-modal-form">
					<form id="km-form-chat-login" class="km-vertical">
						<div class="km-form-group km-form-group-container">
							<input class="km-form-control km-input-width n-vis" id="km-userId" name="km-userId"/>
						</div>
						<div class="km-form-group km-last mck-askuserdetail-inputdiv km-last-child km-text-center"></div>
						<div class="km-form-group km-text-center">
							<button type="submit" id="km-submit-chat-login" class="mck-btn btn-primary km-start-conversation km-custom-widget-background-color"  tabindex="0" role="button"></button>
						</div>
					</form> 
				</div>
					<h3>Or</h3>
				</div>
				  <div class="form-group last last-child text-center">
					<button type="button" id="guestLogin" class="btn btn-default">
			</div>
		</div>
	</div>
</div>
<div id="km-anonymous-chat-launcher" class="km-anonymous-chat-launcher km-hide-logo n-vis">
</div>

