.km-trial-days-left-container {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-53%);
    z-index: 100;
}
.km-trial-days-left p {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.2px;
    color: #a09b9b;
    text-transform: uppercase;
    margin-bottom: 0px;
    -webkit-backface-visibility: hidden;
}
.km-trial-days-left p>span {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.2px;
    color: #d64444;
    text-transform: uppercase;
    padding-bottom: 2px;
    border-bottom: 1.5px dashed;
    margin-bottom: 0px;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
}
.km-trial-days-left .trial-over>span {
    border: none;
}
.km-trial-days-left-popup-container {
    position: absolute;
    padding-top: 25px;
    top: 15px;
    right: 0;
    /* display: none; */
}
/* .km-trial-days-left-container:hover .km-trial-days-left-popup-container {
    display: block;
} */
.km-trial-days-left-popup-container .triangle-before {
    border-color: transparent;
    border-style: dashed dashed solid;
    border-width: 0 12px 12px;
    display: block;
    position: absolute;
    right: 45px;
    z-index: -1;
    height: 0;
    width: 0;
    border-bottom-color: #ccc;
    border-bottom-color: rgba(0, 0, 0, 0.14);
    top: 14px;
    -webkit-filter: blur(5px);
    filter: blur(5px);
}
.km-trial-days-left-popup-container .triangle-after {
    border-color: transparent;
    border-bottom-color: #fff;
    border-style: dashed dashed solid;
    border-width: 0 12px 12px;
    display: block;
    position: absolute;
    right: 45px;
    top: 14px;
    z-index: 1;
    height: 0;
    width: 0;
    -webkit-filter: blur(0px);
    filter: blur(0px);
}
.km-trial-days-left-popup-demo, .km-trial-days-left-popup-buy-plan {
    width: 400px;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    padding: 25px 15px;
    margin-bottom: 10px;
}
.km-trial-days-left-popup-demo img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.km-trial-days-left-popup-demo .km-person-name, .km-trial-days-left-popup-demo .km-person-designation {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: 0.3px;
    color: #4e4b4b;
    margin-bottom: 3px;
}
.km-trial-days-left-popup-demo .km-person-designation {
    font-weight: 300;
    color: #7f7b7b;
    margin-bottom: 20px;
}
.km-trial-days-left-popup-demo .km-quote {
    font-size: 20px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.55;
    letter-spacing: 0.4px;
    color: #474747;
    margin-bottom: 4px;
    border-radius: 1px;
    background-color: #e6e6e6;
    width: 90%;
    margin: 0px auto 4px;
}
.km-trial-days-left-popup-demo .km-quote.mid {
    margin: 0px auto 4px;
    max-width: 85%;
}
.km-trial-days-left-popup-demo .km-quote.last {
    margin: 0px auto 4px;
    max-width: 70%;
}
.km-trial-days-left-popup-demo .km-demo-btn, .km-trial-days-left-popup-buy-plan .km-demo-btn {
    display: block;
    line-height: 36px;
    text-decoration: none;
    font-weight: 500;
    max-width: 100px;
    margin: 25px auto 0px;
}
.km-trial-days-left-container .km-trial-days-left .trial-over {
    display: block;
    line-height: 36px;
    text-decoration: none;
    font-weight: 500;
    max-width: 100px;
    margin: 0px auto;
    min-width: 140px;
    text-transform: uppercase;
}

.km-trial-days-left-popup-buy-plan p {
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.55;
    letter-spacing: normal;
    color: #848383;
}

.km-trial-days-left-popup-container .km-trial-days-left-close-btn {
    position: absolute;
    top: 30px;
    right: 5px;
    cursor: pointer;
}

.hidden {
    display: none;
}
.shown {
    display: block;
}
