// if($condition, $value-if-true, $value-if-false)
@mixin flexMixin($alignItems: center, $justifyContent: center) {
    display: flex;
    align-items: if($alignItems, $alignItems, center);
    justify-content: if(
        $justifyContent,
        $justifyContent,
        center
    ); // center default
}

/**

$known-prefixes

 webkit - safari, chrome
 moz - firefox
 ms - microsoft browser ex- ie, edge
 o - opera browsers
**/

@mixin prefix($property, $value, $prefixes) {
    @each $prefix in $prefixes {
        @if not index($known-prefixes, $prefix) {
            // if we pass typo in prefix mixin then we got warning in terminal
            @warn "Unknown prefix #{$prefix}.";
        }

        -#{$prefix}-#{$property}: $value;
    }
    #{$property}: $value;
}

@mixin gap-supported($gapValue: 1px, $margin: 0, $child-element: '>*') {
    @supports (gap: $gapValue) {
        gap: $gapValue;
    }

    @supports not (gap: $gapValue) {
        #{$child-element} {
            margin: $margin;
        }
    }
}

@mixin errorText {
    font-size: 12px;
    color: $km-danger-color !important;
    margin: 0 0 2px;
    line-height: 1.7;
}
