// colors
$primary-color: #5f46f8;
$text-primary-color: #1c1c1c;
$text-tertiary-color: #6e6e6e;
$input-border-color: #dcdcdc;
$placeholder-color: #8f8f8f;
$km-white-bg: #f5f5f5;
$km-danger-color: #d64242;
$disable-input-color: #fafafa;
$outline-color: #7761f9;

//border
$form-btn-radius: 4px;

//typography
$heading-primary: 16px;
$heading-secondary: 14px;
$heading-tertiary: 12px;

//FONT FAMILY
$font-family-primary: 'Open Sans', sans-serif;
$font-family-secondary: 'Inter', sans-serif;
