body {
    font-family: 'Roboto', sans-serif;
}
.away-message-wrapper{
    margin-left: 25px;
}
.away-message-title {
    font-size: 18px;
    letter-spacing: 1.3px;
    text-align: left;
    color: #354052;
    font-weight: normal;
}
.away-message-description{
    font-size: 16px;
    letter-spacing: 0.8px;
    text-align: left;
    color: #a1a1a1;
}
.away-msg-text-area{
    width: 100%;
    border: 1px solid #eaeaea;
    border-radius: 2px;
    padding: 7px;

}
.away-card-header {
    width: 80%;
    border-radius: 2px;
    background-color: #f4f5f7;
    border: solid 1px #ddd7d7;
}
.away-message-known-customers-wrapper, .away-message-anonymous-customers-wrapper {
    margin-left: 15px;
}
.discard-btn{
    margin-left: 15px;
}
.customers-message-title{
    font-size: 16px;
    letter-spacing: 1.2px;
    text-align: left;
    color: #878585;
    margin-bottom: 15px;
    margin-top: 5px;
}
.slider-toggle {
    margin-left: 10px;
}
.away-text-area-wrapper{
    margin-right: 1px;
    margin-bottom: 3px;
}
.customer-type{
    color: #3d3b3b;
}
.btn-group {
    margin-top: 10px;
}
.anonymous-wrapper{
    margin-top: 45px;
    margin-bottom: 45px;
}
.fa-info-circle{
    color: #354052;
}
.info-icon{
    margin-left: 10px;
}
.checkbox-input[type='checkbox']{
    display: flex
}
textarea::-webkit-input-placeholder {
    color: rgb(202, 206, 207);
    }

    textarea:-moz-placeholder { /* Firefox 18- */
    color: rgb(202, 206, 207);
    }

    textarea::-moz-placeholder {  /* Firefox 19+ */
    color:rgb(202, 206, 207);
    }

    textarea:-ms-input-placeholder {
    color:rgb(202, 206, 207);
    }
