.liz-full-svg-1 {
    fill: #fdd8c2;
}

.liz-full-svg-2 {
    fill: #ee9d70;
}

.liz-full-svg-3 {
    fill: #8f4e21;
}

.liz-full-svg-4 {
    opacity: 0.5;
}

.liz-full-svg-5 {
    fill: #e89361;
}

.liz-full-svg-6 {
    fill: #bc6e38;
}

.liz-full-svg-7 {
    fill: #010101;
}

.liz-full-svg-8 {
    fill: #fbb03b;
}

.liz-full-svg-9 {
    fill: #98d0dd;
}

.liz-full-svg-10 {
    fill: #443662;
}

.liz-full-svg-11 {
    opacity: 0.4;
}

.liz-full-svg-12 {
    fill: #fff;
}

.liz-full-svg-13 {
    fill: #302649;
}

.liz-full-svg-14 {
    fill: #f6989a;
}

.liz-full-svg-15 {
    fill: #c14a4a;
}

.liz-full-svg-16 {
    fill: #d1d3d4;
}

.liz-full-svg-17 {
    fill: #58595b;
}

.liz-full-svg-18 {
    fill: #69cef0;
}

/* FAQ SVG code */

.faq-svg-liz-svg {
    margin-top: 30px;
}

.faq-svg-liz-1 {
    fill: #e8e4e4
}

.faq-svg-liz-17,
.faq-svg-liz-2 {
    fill: #fff
}

.faq-svg-liz-27,
.faq-svg-liz-3 {
    fill: #6353d8
}

.faq-svg-liz-27 {
    font-size: 14px;
    font-family: inherit
}

.faq-svg-liz-18,
.faq-svg-liz-19,
.faq-svg-liz-30 {
    stroke-miterlimit: 10
}

.faq-svg-liz-10 {
    fill: #fdd8c2
}

.faq-svg-liz-11 {
    fill: #98d0dd
}

.faq-svg-liz-12 {
    fill: #8f4e21
}

.faq-svg-liz-13 {
    fill: rgba(232, 147, 97, .5)
}

.faq-svg-liz-14 {
    fill: #bc6e38
}

.faq-svg-liz-15 {
    fill: #010101
}

.faq-svg-liz-16 {
    fill: #e76a48
}

.faq-svg-liz-17 {
    opacity: .4
}

.faq-svg-liz-18,
.faq-svg-liz-19,
.faq-svg-liz-30,
.faq-svg-liz-34 {
    fill: none
}

.faq-svg-liz-18,
.faq-svg-liz-19 {
    stroke: #010101
}

.faq-svg-liz-18 {
    stroke-width: .5px
}

.faq-svg-liz-20 {
    fill: #ee9d70
}

.faq-svg-liz-21 {
    fill: #fbb03b
}

.faq-svg-liz-22 {
    fill: #443662
}

.faq-svg-liz-23 {
    fill: #302649
}

.faq-svg-liz-24 {
    fill: #d1d3d4
}

.faq-svg-liz-25 {
    fill: #58595b
}

.faq-svg-liz-27 {
    letter-spacing: .044em
}

.faq-svg-liz-30 {
    stroke: #e2e2e2;
    stroke-linecap: square
}

.faq-svg-liz-33 {
    stroke: none
}

.faq-svg-liz-40 {
    font-family: inherit;
    font-size: 14px;
    letter-spacing: 0.037em
}

.faq-svg-liz-41 {
    font-size: 16px;
    letter-spacing: 0.048em;
    font-weight: 500
}

.faq-svg-liz-42 {
    font-size: 14px;
    letter-spacing: 0.048em;
}

.pseudo-name-image-svg-1 {
    fill: #d8d8d8
}

.pseudo-name-image-svg-2 {
    fill: #a1a4a7
}

.pseudo-name-image-svg-4 {
    fill: #5c5aa7
}

.pseudo-name-image-svg-5 {
    fill: #fff
}

.pseudo-name-image-svg-7 {
    fill: #f6f2f2
}

.pseudo-name-image-svg-9 {
    fill: #ededed
}

.pseudo-name-image-svg-11 {
    fill: #f8f8f8
}

.pseudo-name-image-svg-16 {
    fill: #3e3e40
}

.pseudo-name-image-svg-17 {
    fill: #42b9e8
}

.pseudo-name-image-svg-20 {
    fill: #e7e7e7
}