name: Playwright Tests
on:
  pull_request:
    branches: ['**']
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: lts/*
    - name: Install dependencies
      run: |
        cd playwright_test
        npm ci
    - name: Install Playwright Browsers
      run: |
        cd playwright_test
        npx playwright install --with-deps
    - name: Run Playwright tests
      run: |
        cd playwright_test
        npx playwright test
    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: playwright_test/playwright-report/
        retention-days: 30
